[2016-01-26 01:35] m4dcoder commented on #2425
@emedvedev: Can you take a look at this? There are more logs in support email. Thanks!

[2016-01-26 03:11] StuartWhelan opened #2426 "Feature request: Expose the hubot hipchat adapter settings 'rooms' and 'rooms_join_public'"
During my testing and development I would like to restrict hubot to only use a couple of hipchat rooms.

This can be controlled using the hubot hipchat adapter settings called 'rooms and 'rooms_join_public' as seen in the following docker logs hubot output:

[Tue Jan 26 2016 00:55:48 GMT+0000 (UTC)] DEBUG HipChat adapter options: {"jid":"1_1215@hipchat.mydomain.com","password":"****","token":null,

[2016-01-26 04:56] emedvedev commented on #2426
As a general rule we try to keep Hubot adapter-agnostic and avoid setting Slack-only or HipChat-only options. Room restrictions work differently in different adapters, so that's going to be tricky.
The best (and fastest) course of action, if you absolutely need this for testing and development, would be patching up your Hubot container manually, but if you have a more detailed proposal, we'll be h

[2016-01-26 06:00] manasdk commented on #2426
This is generally a good idea however in this case `Hubot` or the hipchat adapter itself has support for these so we would be a pass through. I guess since we started maintaining https://github.com/StackStorm/docker-hubot we sorta signed up to support this sort of adapter only pieces going forward.

My vote is to support :)

[2016-01-26 11:44] emedvedev commented on #2425
Fixed by https://github.com/StackStorm/hubot-stackstorm/pull/83

[2016-01-26 11:44] #2425 closed

[2016-01-27 20:12] emptywee opened #2430 "Jinja2 Custom Filters not supported in the format_execution_result action"
m4dcoder [2:09 PM]
@emptywee: the format_execution_result action does not currently support our custom jinja filters.  please raise the issue in the st2 repo and we'll figure it out in the next release.

_Background information:_
I get `jinja2.exceptions.TemplateAssertionError: no filter named 'regex_replace'` when I use it
`format_execution_result` traps with this error
I use this filter in resul

[2016-01-29 21:34] dzimine commented on #1717
We have fixed it several times over by now :) Should absolutely be fixed, along with tools to kill zombie history records.  Closing.

[2016-01-30 05:11] tonybaloney opened #2438 "Problem with packs.install in 1.3"
packs.install is not working in 1.3

{
  "traceback": "  File \"/usr/lib/python2.7/dist-packages/st2actions/container/base.py\", line 102, in _do_run\n    except:\n  File \"/usr/lib/python2.7/dist-packages/st2actions/runners/actionchainrunner.py\", line 248, in pre_run\n    except json_schema_exceptions.ValidationError as e:\n",
  "error": "Additional properties are not allowed ('parameters' was u

[2016-01-30 07:03] tonybaloney commented on #2438
[blerg.txt](https://github.com/StackStorm/st2/files/110702/blerg.txt)

[2016-01-30 07:25] manasdk commented on #2438
This basically means that new 1.3 code was present on disk but services were not restarted on the box by the installer.

`st2ctl restart` should fix the issue.

[2016-02-01 15:48] satyababu opened #2442 "Support for basic auth in core.http action"
Currently there is no way to pass credentials (username and password) either in the header or in the command instead of hard coded Authorization value?

Sample cmd:  current supported version
st2 run core.http url="https://downloads.stackstorm.net" headers='{"Authorization": "Basic C2F0eWIxMg=="}'

In curl it is possible to pass credentials:
curl -X GET -u 'username:password' http://server:51527/a

[2016-02-01 16:42] Kami commented on #2442
Thanks for the report / feature request.

I first thought we support it, but I glanced over code and it looks like we don't. We do support `auth` parameter, but the value can only be a string so I believe this won't work for traditional username and password basic / digest authentication.

@manasdk et al, please correct me if I'm wrong.

[2016-02-01 23:43] dhgwilliam opened #2443 "Rule creation in ST2 UI expects 'exists' and 'nexists' to have RHS"
In reality, `exists` should not require a RHS

[2016-02-02 18:00] lanthos opened #2446 "Changing system_user information in st2.conf requires restart"
A couple of times now I've run into an issue with troubleshooting my st2 setup due to my having gone and updated the system_user section of st2.conf and not having restarted.

Lakstorm on Slack has been helpful in troubleshooting this and suggested I open a bug for this as it's not optimal to have to restart st2 when you change the ssh key path in st2.conf.

[2016-02-02 18:13] manasdk commented on #2446
It is a quirk of how config is pre-loaded into memory and not always read from the filesystem. Perhaps we can use inotify to listen on config changes to and refresh the in-memory structures.

[2016-02-02 18:17] Kami commented on #2446
@lanthos Thanks for the report / suggesting.

@manasdk That would, imo, be a big overkill.

The system user change would be easy one, but a lot of other code is not designed to be reloadable / changeable without a restart. Designing everything for it is almost impossible and not to mention that we should embrace "everything should be restartable at any time" approach.

Imo, it's totally fine to re

[2016-02-02 18:22] lakshmi-kannan commented on #2446
I see the point in making people always restart. Let me edit SSH troubleshooting documentation to add info about restart on config changes.

[2016-02-03 20:39] jmound opened #2456 "Problem with chatops response formatting"
There is a problem with the chatops pack's formatting where some newlines are being converted to `@` characters.

For this action:
[code]
`runner.result` is:
[code]
However, the chatops response is:
[code]

It appears to be caused by this jinja2 macro: [chatops/actions/templates/default.j2#L6](https://github.com/StackStorm/st2/blob/master/contrib/chatops/actions/templates/default.j2#L6). Specifica

[2016-02-03 23:35] armab commented on #2409
Another catch https://gist.github.com/lakshmi-kannan/890933d2823b541701e7
when running `st2ctl` under the Docker.

[2016-02-03 23:36] lakshmi-kannan commented on #2409
:+1: on creating a tracking issue!

[2016-02-04 00:58] dhgwilliam opened #2460 "chatops pack not upgraded when ST2 is upgraded"
I have upgraded ST2 from 1.12 to 1.13 to 1.13.0.2 (I believe) but I'm still running have outdated code from the chatops pack present on my system. This probably should not be possible, since the `chatops` pack is part of the base release.

[2016-02-04 01:46] pixelrebel commented on #1704
I’m working on an action alias that wraps an `ansible.playbook` action.  I need to specify the playbook and inventory files in the alias yaml file.  I tried adding a `parameters` block as described here: https://docs.stackstorm.com/chatops/aliases.html#key-value-parameters , but this fails to load with error:
[code]
Is this the crux of this issue, or am I just doing it wrong?

[2016-02-04 01:48] manasdk commented on #1704
@pixelrebel What version of `stackstorm` are you using?

Please run `st2 --version`

[2016-02-04 01:48] pixelrebel commented on #1704
`1.0.2.8`

[2016-02-04 01:53] pixelrebel commented on #1704
Typo in my original comment, here's the version:

[code]

[2016-02-04 02:01] manasdk commented on #1704
@pixelrebel

Did you by any chance add `parameters` to one of you alias. In that case it may be some misleading docs.

What the doc say is the even if your format is `google {{query}}` and you type `google StackStorm limit=10` we will automatically assume `limit` is a parameter you would like your action to receive.

You do not have to define parameters anywhere explicitly.

[2016-02-04 02:16] pixelrebel commented on #1704
So how would I hardcode the `inventory_file` for an `ansible.playbook` alias?  I don't want to have to type the full path to this file in my chatops command.

Here's my alias for example:
[code]

[2016-02-04 04:10] pixelrebel commented on #1704
I was able to work around the issue by moving the parameters into the optional regex with a default values:
[code]

[2016-02-04 16:04] felin-arch commented on #1717
We will update to the latest version and create a new ticket if this still comes up. Thanks for the help.

[2016-02-04 16:04] #1717 closed

[2016-02-04 19:35] manasdk commented on #1704
Nice yeah jinja hackery to the max!

With this issue we are actually working out if `parameters` should be added to `ActionAlias`. Some of what is here can also be pushed down to `Action` definition. However, adding `parameters` to the alias definition might be the only option if there is no control over an existing action.

[2016-02-04 19:47] emedvedev commented on #1704
I'd just like to point out that this hackery relies on the current parser implementation which could change in the future, so it's not reliable.

That said, I'm using something similar myself. To make your parameters truly immutable you can do *OH MY GOD SUPER HACKY DANGER ZONE* something like `restart hubot( {{ cmd="sudo docker restart hubot" }}){0}(?=$)` to pass a parameter and forbid its modifi

[2016-02-04 19:50] pixelrebel commented on #1704
For an action like `ansible.playbook` it makes much more sense to set parameters in the action-alias.  Consider two playbooks: `show_arp.yml` and `show_vlans.yml`  These could be executed with separate action-aliases referencing the same action.  But the chatops command should be a simple `! show vlans` I shouldn't have to remember the full path to the playbooks when executing a chatops command.

[2016-02-04 19:53] pixelrebel commented on #1704
@emedvedev: Agreed,  I opened an issue https://github.com/StackStorm/st2/issues/2295 regarding flaws in the current approach.  These two issues are very much related.

Also, that's some nice regex-fu!

[2016-02-05 09:57] mt5225 opened #2472 "cannot trigger notification for tasks in Action Chain"
create a notify subsection for task in  actionchain:
https://gist.github.com/mt5225/f34632c409cdc5be6ddb

rules:
https://github.com/mt5225/st2incubator/blob/master/packs/lab/rules/socketio.yaml

no notify section on meta yaml

the notification never got fired.

[2016-02-05 12:29] Kami commented on #2456
That's for the report.

I believe we use some special markers / characters for advanced formatting functionality of Slack, but @emedvedev probably has more clue on what is going in and if this behavior is desired or not :)

[2016-02-05 12:44] emedvedev commented on #2456
No idea, actually. That's @enykeev's template, and I'm pretty sure there was a reason for this but I'm not seeing it. Let's wait for him before removing something that could be important. :)

[2016-02-06 10:13] dzimine commented on #2460
Thank you for reporting;
While we are looking at the bug, had you been helped to fix your problem? LMK if not and I'll walk you through the steps to get the updated chatops pack on your system.

[2016-02-08 21:15] rosskusler opened #2475 "Custom webhook response content"
Some webservices support outgoing webhooks that could be pointed to st2, however they expect certain fields to be contained in the response.  Feature request is to enable some way for st2 to return custom JSON payload in response to webhooks.  One possibility would be to mark (in the yaml) which action st2 should execute and take the stdout to use as the webhook response.  This would also require

[2016-02-09 05:47] enykeev opened #2476 "File content gets logged on GET to /packs/view/file"
We need to blacklist the related endpoints in https://github.com/StackStorm/st2/blob/33320e2e06882e58b83b92a94140a7eb3c7072f6/st2common/st2common/hooks.py#L49.

[2016-02-09 06:36] Kami commented on #2476
Does this also happen under INFO log level or only under DEBUG?

[2016-02-09 06:54] enykeev commented on #2476
Under INFO too, this is why I spotted it.

[2016-02-09 08:29] #2476 closed

[2016-02-09 13:27] #1715 closed

[2016-02-09 13:29] #1616 closed

[2016-02-09 13:30] estee-tew commented on #2456
https://stackstorm.slack.com/archives/stackstorm/p1455024630005908

[2016-02-09 13:31] #2438 closed

[2016-02-09 13:34] emedvedev commented on #2430
Fixed by https://github.com/StackStorm/st2/pull/2433

[2016-02-09 13:34] #2430 closed

[2016-02-09 13:36] emedvedev commented on #2378
Fixed by #2389

[2016-02-09 13:36] #2378 closed

[2016-02-09 13:37] #2292 closed

[2016-02-09 13:38] emedvedev commented on #2194
We have upgrade notes and KB articles now, so I'm closing this one.

[2016-02-09 13:38] #2194 closed

[2016-02-09 13:39] emedvedev commented on #1952
Fixed with the `hubot-help` patch.

[2016-02-09 13:39] #1952 closed

[2016-02-09 13:45] #2242 closed

[2016-02-09 15:56] emedvedev commented on #2456
Merged https://github.com/StackStorm/st2/issues/2479, closing.

[2016-02-09 15:56] #2456 closed

[2016-02-10 00:38] pixelrebel opened #2481 "Limit action-alias to chat channels/users."
A simple way to provide access control to chat commands would be to allow channel and/or user limits in the alias script.

[2016-02-10 11:32] jon-middleton commented on #2414
The second point has been addressed with #2465 being merged this morning.

[2016-02-10 18:07] lakshmi-kannan opened #2485 "Unclear decorate_log_method() implementaton in st2common/st2common/log.py"
https://stackstorm-community.slack.com/archives/community/p1455127437005176

Reported by: @andrew-regan on slack.

[2016-02-10 18:18] andrew-regan commented on #2485
The `decorate_log_method()` functionality causes all logging of filename/funcName to point at `log.py:func_wrapper:68` instead of the real source where the log message originated. Here's an example using the  `decorate_log_method()` functionality:
[code]
And with the call to `decorate_log_method()` removed in `getLogger(name)`:
[code]

[2016-02-10 18:29] andrew-regan commented on #2485
@Kami fyi...looks like this was introduced here: https://github.com/StackStorm/st2/commit/67bdf0eb1c1bc7631fcb5565b628e25150e3eccc#diff-3a646e64a13bdd3a8f4f8de510a5f682

[2016-02-11 05:09] Kami commented on #2481
Thanks for the report / feature request.

RBAC for ChatOps is indeed on our roadmap for this year, but we don't have an ETA for it yet.

Only listening for commands on a single channel could be a good short-term workaround since it should be easy to implement. I will discuss it with others and see how this fits into our roadmap, maybe we can do that first and deprecate this functionality once full

[2016-02-11 05:13] Kami commented on #2485
Thanks for the report.

I will look into it, hopefully we can do something about it, because we still want to keep the decorate functionality.

[2016-02-11 13:07] andrew-regan commented on #2485
How are you triaging issues when the logs don't have file and line number information? The wrapper looks to impact all logs other then Actions? Or do I have something wrong that's making this worse in our deployment?

Thanks!

[2016-02-11 13:11] Kami commented on #2485
We tend to just grep the code base for part of the log line string to find where it was logged (usually you only really care about that for exceptions and as mentioned below, exception related log messages usually already include a stack trace which additional info).

And for the log lines which correspond to exceptions - those tend to already include a stack trace which includes a line number of

[2016-02-11 18:04] jjm commented on #2370
I've just tried concurrency with the number hardcode to 1 and it looked like it work. Did you get any further debugging this?

[2016-02-11 18:06] emptywee commented on #2370
Yeah, basically concurrency set to 1 = no concurrency. It is the only way it works reliably.

[2016-02-11 18:08] emptywee commented on #2370
https://bugs.launchpad.net/mistral/+bug/1536415
I believe this has finally got fixed in mistral. Waiting for it to be included in the future versions of Stackstorm.

[2016-02-11 18:22] emptywee commented on #2370
@jjm @manasdk claims that 1.3.1.15 (the latest for now) has this patch included. I am going to update soon and verify.

[2016-02-12 16:09] jjm commented on #2370
Thanks, I was really wanting to run a workflow against one one host at a time.

I should upgrade next week.

[2016-02-12 18:40] pixelrebel commented on #2481
@kami where would the logic for this feature go?  Can you please point me to the file(s) so I can take a look?  Thanks!

[2016-02-12 21:28] armab commented on #2409
Closed by https://github.com/StackStorm/st2/pull/2490

[2016-02-12 21:28] #2409 closed

[2016-02-13 01:14] pixelrebel commented on #2481
I thought I'd get the ball rolling on this feature.

https://github.com/pixelrebel/st2/commit/1a557a546ccae30d872ee8dd71ac865209c78837

I have it working in Slack at the moment.  Now you can enter an optional action alias property:
[code]

Please let me know what you think. :)

[2016-02-13 01:29] pixelrebel commented on #2481
Fixed an oopsie:

https://github.com/pixelrebel/st2/commit/b8f0a476dfb04249d371c3f81e4496ca2d4c4dff

[2016-02-13 01:40] #2295 closed

[2016-02-13 01:46] pixelrebel commented on #2295
Well, that fun!  Thanks @emedvedev!

[2016-02-13 01:46] emedvedev commented on #2295
You're welcome :)

[2016-02-13 01:58] emedvedev commented on #2481
The PR is solid, but I'm -1 on merging it, and there are two main reasons behind the decision:

1. Ideally, you need to provide a way for people to see which commands are available for them and where. Hubot's `!help` is a standard plugin which doesn't allow for channel/user separation, so we also need to fork and rewrite it before this change is good from the UX standpoint.

2. We're likely launch

[2016-02-13 16:21] agaffney opened #2498 "Attempting to use auth on the API when it's disabled results in nasty errors"
I ran into this while trying to get Hubot working with Stackstorm (1.3.x and 1.4dev). Even though auth was working/required on the web frontend, it was disabled via st2.conf. When Hubot would auth and then try to use the API, it would get a HTTP 500 error.

For a request such as this (via nginx):

[code]

You'd see this in `st2api.log`:

[code]

Setting `enable = True` under the `auth` section mak

[2016-02-13 21:37] enykeev commented on #2498
It is a known problem and we even have a PR fixing it (see https://github.com/StackStorm/st2/pull/2102), although we were unable to reach an agreement internally on how it should be handled. May be your feedback can tip the scale.

[2016-02-13 21:59] agaffney commented on #2498
I'm on the fence in that debate, and I don't have strong feelings anyway, since this is no longer affecting me. Personally, I think that it should be done on the server-side (because there can be multiple client implementations, and it's silly to fix it in all of them), but I also agree that there should be *some* feedback to the client that auth is disabled.

[2016-02-13 22:49] manasdk commented on #2498
500 is bad but definitely the request needs to be rejected.

Allowing a request through when auth is disabled even though the client is passing in a token that is enabled is setting the wrong expectation for a client. Also, I wonder where this token comes from if auth is actually disabled.

[2016-02-14 19:27] lakshmi-kannan opened #2499 "Unable to specify a proper cron syntax with st2 time rule."
See https://stackstorm-community.slack.com/archives/community/p1455477919006080

Reported by: @BurtonR on slack

[2016-02-14 19:39] lakshmi-kannan commented on #2499
@BurtonR is looking into this.

[2016-02-14 22:23] tonybaloney opened #2500 "Reliability issues with docker-hubot service"
The docker-hubot service is still quite temperamental on 1.3.

There are 2 issues:
* The bot isn't connected to the slack room after an amount of time.
* The bot is connected but stops responding

In both cases restarting the docker-hubot service fixes the issue.

This happens maybe twice a week. The docker-hubot service internally needs a supervisord type watcher for it's status to make sure it's

[2016-02-14 23:07] dzimine commented on #2500
Thanks for noting. Any hubot logs prior to the "failure"? Is it known if hubot was up inside the container once it stop responding?

FWIW, in our internal infra, we have hubot dying at about the same period (no docker), and ended up doing sensu-> rule->restart_hubot auto-remediation.

Brings a philosophical discussion on "is it right to patch the problem" (and what is "right") :)

[2016-02-15 00:01] tonybaloney commented on #2500
how do you extract the hubot logs? I ran `docker logs hubot` which dumps the logs from the service. I've got hubot configured in debug mode so I get detailed accounts of everything.

[2016-02-15 13:39] BurtonR commented on #2499
The good news is APScheduler does support the ability to pass expressions (not just int) to the cron timer as noted in the api docs: http://apscheduler.readthedocs.org/en/v3.0.5/modules/triggers/cron.html#expression-types

Now, to figure out how to add that level of validation to the timer trigger registration....

[2016-02-16 21:50] agaffney opened #2504 "API returns 400 for some requests due to "bad" Content-type header"
It seems that *some* API endpoints will return a HTTP 400 when presented with a header such as:

[code]

but works fine with:

[code]

I ran into this with a POST to the URL `/webhooks/st2`. I'm currently running version `1.4dev-52`

[2016-02-16 22:15] pixelrebel commented on #2481
@emedvedev I certainly can respect your opinion.  And I understand how this could potentially conflict with RBAC.  As for issues with `!help` dialogues, it is possible to just concat the allowed channels to the action alias description. I know it's a cheap fix, but in my opinion, hubot's help is pretty broken and useless anyway.  I find myself having to implement man pages (even for simple command

[2016-02-16 23:03] manasdk commented on #2504
Thanks for the report. Seems fixable :)

[2016-02-16 23:05] manasdk commented on #2504
Should be a simple enough fix https://github.com/StackStorm/st2/blob/master/st2api/st2api/controllers/v1/webhooks.py#L119

Care to send a PR our way?

[2016-02-16 23:36] agaffney commented on #2504
Unfortunately, since the problem is no longer standing in my way, I lack the motivation to put together a PR (right now). You're lucky you got the bug report out of me :)

[2016-02-16 23:43] manasdk commented on #2504
We certainly appreciate the bug report.

[2016-02-17 03:51] emedvedev commented on #2481
@pixelrebel I agree with you. Help, auth implementation, confirmation and access tuning are all valid concerns, and while RBAC is an Enterprise-only feature, we won't leave Community users without means to control their ChatOps executions, of course. People are asking for this quite regularly, and we're doing our best to deliver the access control features as soon as possible. It will still take t

[2016-02-17 05:51] Kami commented on #2504
@agaffney Good catch and thanks for the report.

I will add a test case and push a fix later today.

[2016-02-17 08:01] #2504 closed

[2016-02-17 08:04] Kami commented on #2504
I've merged a fix (#2506) into master.

@agaffney You should be able to upgrade to the latest 1.4dev version which includes this fix once the packages are built.

[2016-02-17 13:01] Kami opened #2507 "linux.wait_for_ssh action improvements"
Currently `linux.wait_for_ssh` action (https://github.com/StackStorm/st2/blob/master/contrib/linux/actions/wait_for_ssh.yaml) only supports authenticating with RSA SSH key.

There are multiple ways we can improve this action and make it more generic.

- Support for other key types
- Support for password based authentication
- Refactor the action to utilize the new Paramiko SSH client
- Default to

[2016-02-17 18:59] manasdk opened #2509 "StackStorm should support LDAP groups for RBAC"
StackStorm RBAC roles should mirror LDAP roles when using ldap. At least it should be possible to do so with some configuration and mapping.

In general too it would be nice if StackStorm could "slurp" up roles from an external provider for RBAC purposes.

[2016-02-17 19:01] manasdk commented on #2509
Copying over message from slack since linking to the archive is not always possible -

[code]

[2016-02-17 19:30] #2507 closed

[2016-02-17 20:13] jjm commented on #2509
The way that elasticsearch handles this may be a good reference.

Basically you create a role_mapping.yaml that maps ldap groups to a local group.

[2016-02-18 06:03] Kami commented on #2509
@jjm Thanks for the suggestion.

I will look into, it indeed sounds like something similar to what we were thinking about doing :)

[2016-02-18 17:40] manasdk commented on #2370
@m4dcoder Looks like @emptywee is still seeing this issue even with 1.3.2

[2016-02-18 21:22] manasdk opened #2512 "linux.service"
Should fail if underlying action fails

[2016-02-19 02:03] manasdk commented on #2512
Confirmed this works as expected.

Note: `service x start/stop/restart` will exit with code 0 even if there is an underlying failure. I suspect it might due to the specific behavior of an init script.

per man page of service

[code]

StackStorm is relaying this exit_code back and treating 0 as success.

[2016-02-19 02:03] #2512 closed

[2016-02-19 19:00] jjm opened #2515 "How to handle muliple hubots on the same ST2 instance"
A question following AHH#11.

How should ST2 handle multiple instances of hubot? Our ST2 installation has two hubots attached (both using the same chatops user), our own hubot that pre-dates us installing ST2 and the docker container version. If we run a `chatops.post_message` to a user, they receive an message from both bots as a DM (in slack) and I would expect if both bots were in the same chan

[2016-02-19 19:06] jjm commented on #2481
I'm also interested in this feature, being able to limit some commands to certain channels (and have additional user control) would be really useful. For instance we don't want sales spinning up lab VM's....

I'll look forward to what you guys produce :-D Shout if you want someone to help test it out.

[2016-02-19 19:08] emedvedev commented on #2515
@jjm: yes, right now you can only have a single bot per stackstorm instance. `post_message` sends a `chatops` announcement which all bots are supposed to act upon. So the only legit solution that doesn't involve hacking is having multiple stackstorm instances.

We'll keep the issue open, because we can probably append hubot's user id to the announcement later, or do something similar to it, even i

[2016-02-19 19:09] emedvedev commented on #2481
@jjm: we definitely will!

Honestly, if you want to dig into the source code a little and need this feature yesterday, the easiest solution in terms of both time and complexity (although certainly not elegance) would be to insert a whitelist/blacklist of aliases/channels/users in `hubot-stackstorm`. Unfortunately, that would only give access control to people who have access to the bot files or th

[2016-02-19 19:10] jjm commented on #2515
Cheers, I'll deal with our issue by turning off the second bot and only turning it on for capturing blog images.

[2016-02-19 19:14] jjm commented on #2481
If I need to do per user limiting before you deliver sometime before you get there. I'll follow some of the examples and create an has_user_privs action in our pack against and drop it into the required workflows.

[2016-02-19 19:15] emedvedev commented on #2481
That would be a cleaner option, yes. :)

[2016-02-19 19:17] pixelrebel commented on #2481
@jjm Your welcome to try out [my solution](https://github.com/StackStorm/st2/compare/master...pixelrebel:issue2481) which allows you to add a `channels` parameter in your action alias (see above usage example).  You just need to replace 3 files in 2 python modules (st2common, st2api).

[2016-02-20 00:23] #2472 closed

[2016-02-20 01:54] manasdk opened #2516 "Accessing result of task in an action chain can get very ugly"
e.g. `format: "{{execution.result.tasks.1.result.result}}"`

Its obviously brittle, confusing and extremely error prone.

Perhaps a nice filter of the form `{{ execution.result | task_result(<task_name>) }}`

[2016-02-20 02:06] pixelrebel commented on #2516
In case it wasn't obvious in @manasdk's post, there needs to be a way to access the final task in an action chain.  When the tasks diverge based on `on-success` and `on-failure` conditionals, it becomes difficult to access the result from the final task in the chain.

[2016-02-20 09:00] Kami commented on #2516
I think something like `{{execution.result.tasks[-1].result.result}}` should work, but I'm not 100%.

In any case, I do think having some kind of more user-friendly way to access would be nice. And if nothing else, we also need some docs on the current approach.

[2016-02-22 14:13] andrew-regan commented on #2485
@Kami have you had a chance to look into this?

[2016-02-22 14:16] Kami commented on #2485
@andrew-regan I thought my comment above (matching log messages to code line numbers) was sufficient :)

In any case, I did look a bit into it and there are some possible work-arounds for this, but there are quite hacky so I haven't decided yet what to do. I will look some more into it later today and hopefully come up with some kind of solution which isn't too hacky :)

[2016-02-22 14:18] andrew-regan commented on #2485
We are grepping for now, but would really like to eliminate that step when triaging issues.

[2016-02-22 15:18] Kami commented on #2485
Yeah, I agree that fixing this would make debugging things easier so I will look into it (I actually planned to look into it either later today or tomorrow).

I think that any approach I will end up using will introduce some "hackiness" and performance overhead, but this should not be a big deal right now. If it eventually turns out that that the performance overhead is too bug, we can revert this

[2016-02-22 16:13] Kami commented on #2485
Alright, I managed to come up with something here - #2518

I'm not too happy with it since it's quite hacky (and some of the `find_caller` internals rely on CPython only functionality), but `find_caller` implementation is based on the method implementation from Python stdlib and I tried to make it fail safe by returning in case any of the underlying methods throw.

I also did more research and it

[2016-02-22 18:36] Kami commented on #2485
#2518 has been merged, closing.

Thanks again for the report!

[2016-02-22 18:36] #2485 closed

[2016-02-22 22:09] m4dcoder commented on #2370
@emptywee: i'm not able to reproduce the problem. are you running this workflow on a single system or multiple systems?  please go to /opt/openstack/mistral and check which branch of mistral is installed.  i provided the output of my execution for reference here.

[code]

[2016-02-22 22:16] manasdk commented on #2370
@m4dcoder - I confirmed that the mistral install was correct by asking @emptywee to provide me with the SHA for the HEAD commit on `/opt/openstack/mistral`

[2016-02-22 22:23] m4dcoder commented on #2370
@emptywee, then please ping me on slack at your convenience and we can troubleshoot further online.

[2016-02-22 23:56] #2446 closed

[2016-02-22 23:58] #2416 closed

[2016-02-23 00:00] lakshmi-kannan commented on #1390
With the new packages, this has been addressed by switching to dh_virtualenv. Feel free to reopen if needed.

[2016-02-23 00:01] #1390 closed

[2016-02-23 00:02] lakshmi-kannan commented on #1643
With new st2ctl, st2ctl outsources things to init systems.

[2016-02-23 00:02] #1643 closed

[2016-02-23 00:02] lakshmi-kannan commented on #1646
@skarmark ping! can you answer kami's question?

[2016-02-23 00:03] lakshmi-kannan commented on #2144
Closing! Looks like this was addressed by @lattwood

[2016-02-23 00:03] #2144 closed

[2016-02-23 00:05] lakshmi-kannan commented on #2143
I think this was addressed. https://github.com/StackStorm/st2/blob/master/st2common/tests/unit/test_shell_action_system_model.py#L140

Feel free to reopen if you still find an issue! cc: @jonico

[2016-02-23 00:05] #2143 closed

[2016-02-23 13:46] Kami opened #2522 "Code infrastructure and support for local and remote command runner action unit tests"
We now have an infrastructure and code in place for writing Python runner action unit tests, but we don't have such code infrastructure in place for other runners such as local and remote ones.

We should add some code infrastructure in-place which will make writing such tests easier. We can start simple by adding some code infrastructure for writing remote and local command runner action tests. I

[2016-02-23 16:51] Kami opened #2524 "Throw a more user-friendly exception when Mistral action task parameter type is of an invalid type"
Right now:

[code]

We should throw a more user-friendly error message since those cryptic error messages don't help much and just cause unnecessary confusion and additional support burden. We already do that for action chain in many cases.

https://gist.github.com/anonymous/f00a622bd8b041fd6667#file-error-L2

[2016-02-23 16:58] Kami commented on #2524
Slightly related (part of a bigger overall "Improving YAML validation / syntax errors" task) - https://github.com/StackStorm/st2/issues/2320

[2016-02-23 18:24] skarmark commented on #1646
Yes, it is clear. Sorry about the delay!  Somehow missed the update on this thread.

[2016-02-23 21:41] Kami commented on #1646
Thanks for letting us know.

Closing this issue.

[2016-02-23 21:41] #1646 closed

[2016-02-24 16:40] codyaray commented on #2509
It seems like the current LDAP auth/RBAC workflow is something like

1. having a user login via LDAP (which creates the user in st2)
2. the user now has an account and permission to do nothing
3. request that an admin create and sync an assignments file
4. now the user can refresh/re-login so they have the proper permissions.

Ideally, when a user logs in with LDAP (or other external auth with som

[2016-02-24 16:43] Kami commented on #2509
@codyaray Thanks for chiming in.

What you wrote is basically what we had in mind after discussing it with some of our existing users and what we plan to implement in the near future :)

[2016-02-24 16:45] jjm commented on #2509
The creating an local user in ST2 is not ideal, if we remove an user from AD his account should not need to be cleaned up from another platform.

Really the user should login and get her / his permissions from LDAP and it not create local copies of the accounts.And allow them to start working straight away.

[2016-02-24 16:52] Kami commented on #2509
@jjm With LDAP authentication backend you don't need to create any local user in StackStorm (besides system / stanley user that is, but that's not related to auth or RBAC).

Only thing which you need to create / define manually is role definitions and user role assignments. And once this issue is implemented, you will also need to define another file which maps StackStorm roles to AD / LDAP roles.

[2016-02-24 21:09] manasdk opened #2527 "Error message `Failed to find action [action_name=core.local]` in mistral workflow execution"
Workflow

[code]

metadata
[code]

result
[code]

workaround -
[code]
to
[code]
or
[code]
Issue reported by @codyaray

[2016-02-25 15:58] codyaray commented on #2499
+1

Our initial use case is all about converting cron jobs into centrally scheduled jobs. So we have lots of them (mostly using day_of_week: 1-5, etc). :(

[2016-02-25 18:36] jmound opened #2531 "Feature request: realtime output of actions"
It would be useful, especially for long running tasks, to see action output as it occurs. At it's simplest, something similar to the output of `st2 run`, just as it occurs.

[2016-02-25 18:37] jmound commented on #2531
There may be a similar feature request out there, but I couldn't find it.

[2016-02-25 18:55] murgurgula opened #2532 "Feature request: Timezones"
It would be really usefull to be able to change the timezone from UTC to something else, matching the local time (example: Montreal GMT-5)
In case of an investigation, it's not so convenient having stackstorm time in UTC, while the rest of the servers (monitoring, config management, web servers, db, etc) are in local time.

[2016-02-25 19:01] murgurgula commented on #2515
The multiclient feature would be usefull not only for hubot, but for stuff like ansible, puppet, chef and other.
In some cases due to politics/security/etc, a separation of environments "per customer" is done, so the company ends up having multiple saltstack servers (1 per client), which they want to plug to single stackstorm.

[2016-02-25 20:18] stevemuskiewicz opened #2533 "All-in-one installer does not properly configure the firewall in CentOS 7"
When using the latest (1.3) all-in-one installer on a CentOS 7(.2) system, it appears that it doesn't properly configure a permanent rule for access to the https port.  Everything initially works fine, but then once the system is rebooted, you can no longer access the web UI and things like the hubot container throw errors like :

`[Thu Feb 25 2016 18:14:28 GMT+0000 (UTC)] ERROR Failed to authenti

[2016-02-25 23:20] codyaray opened #2535 "Unable to write st2auth.uwsgi.log to different directory"
I'd like to write files to our standard logging directory which is attached to a different disk. I've updated the handler_fileHandler and handler_auditHandler blocks in /etc/st2auth/logging.conf and made sure this was the configured logging file in /etc/st2/st2.conf for st2auth. The st2auth.log and st2auth.audit.log file appear in the new directory, but the st2auth.uwsgi.log is still being writtei

[2016-02-26 15:09] Kami commented on #2531
Thanks for the feature report.

You are correct, there is already an issue for that - https://github.com/StackStorm/st2/issues/2175

One of the workarounds you could do in the mean time (I know some users did that) is to use `tee` and also redirect action / command output to a file and then you can tail this file.

I will close this issue and let's continue the discussion in #2175.

[2016-02-26 15:09] #2531 closed

[2016-02-26 15:14] Kami commented on #2532
First thanks for the feedback.

I do see some value in allowing users to configure default display timezone for the dates displayed in the CLI and web UI, but I think we should still default to UTC.

Non UTC might be OK if the whole team is located in the same timezone, but if you have people working in different timezones the best thing to do is to display everything in the timezone so there is n

[2016-02-26 15:21] codyaray commented on #2535
Okay, found that this is configured by `/etc/uwsgi.d/st2auth.ini`. Restarting the st2auth service picks up this change. Will my config changes get wiped out by puppet if I run `update-system` though? Is this still the recommended approach? I ask because the top of the file says

[code]

Thanks

[2016-02-26 16:02] murgurgula commented on #2532
I don't really care about the default being on UTC, I just want an option to configure the timezone to whatever I need

This is not the case everywhere. Most servers I had to manage were configured with GMT-5, since the whole team and the customer is located in montreal.

Having 1 server to be set to UTC may lead to confusion in case if an investigation is needed and also, add additional time to i

[2016-02-26 16:06] Kami commented on #2532
That's fair enough - I'm fine with making it a configuration option for the CLI and Web UI.

@enykeev how hard would be to do this in the web ui? Ideally, this would per client / user (and not global config option) so we would need to use cookie / local storage or similar.

[2016-02-26 16:12] manasdk commented on #2532
Yes. +1 on UI and CLI displaying in local timezones if configured.

@murgurgula Is the ask also for server logs and entries of timestamps in the DB to be in local timezones?

[2016-02-26 16:17] Kami commented on #2532
@manasdk For what is worth, I'm definitely -1 on storing non-UTC timestamps in the DB. Timestamps should always be stored in UTC and re-calculated to the requested / local timezone on display, if needed.

And not to mention that this doesn't really matter since in a lot of places we actually store timestamp as a unix epoch.

[2016-02-26 16:28] murgurgula commented on #2532
@manasdk
@Kami

I don't know about the timestamps in the DB. What I need is to be able to see which action happent on what time on the CLI  & interface with the local timezone.

For example, I want "st2 trigger-instance list" to display " Fri, 26 Feb 2016 11:25:17 GMT-5" in the "occurence_time" field.

I don't really see myself going to the DB to get data manually other than in a really strange de

[2016-02-26 16:29] Kami commented on #2532
@murgurgula Yep, thanks for clarifying it. That's CLI and Web UI and we are fine with adding a configuration option there.

[2016-02-26 19:29] lakshmi-kannan commented on #2535
@codyaray Sorry I couldn't get back to you on the logging thing and glad you figured it out yourself. Unfortunately, update-system will replace the file. So please back up your configuration. It's hard to fix the installer to not do this. We are migrating away to our new packaging story. So installer only gets minimal bug fixes.

[2016-02-26 20:10] jmound commented on #2531
:+1:

[2016-02-26 20:14] emptywee opened #2536 "mistral tasks get stuck in RUNNING state when using both 'wait-before:' and 'with-items:'"
@m4dcoder asked me to raise this issue here.
On the latest `1.3.2.16` st2 with the latest code from mistral branch `1.3.2`, database stamp `010` I encountered the problem when my workflows, which have subflows (also mistral), which in their turn used `on-complete:` before the last action wouldn't finish and instead they would get stuck in the `RUNNING` state.

A typical workflow would be:

[code]

[2016-02-26 22:06] emptywee commented on #2536
Update: just got it stuck without `on-complete:` :-( No idea then what's causing it.

[2016-02-26 22:07] emptywee commented on #2536
Once I clicked "cancel" button on the stuck subflow, mistral.log showed the following:
[code]

[2016-02-26 22:08] emptywee commented on #2536
And keeps fetching status for the main flow:

[code]

[code]

[2016-02-26 22:09] emptywee commented on #2536
Cancelling the main flow produces this:
[code]
And everything stops.

[2016-02-26 23:58] m4dcoder commented on #2536
@emptywee: please also run `mistral execution-list` to find the id for this specific top level workflow execution, then run `mistral task-list <execution-id>`, post the result here.  identify the task id for the show_diff task, run 'mistral action-execution-list <task-execution-id>` and post the result here.

[2016-02-27 01:05] emptywee commented on #2536
@m4dcoder
Let's start over. I have it getting stuck every time I run it. Top-level workflow is `st2-epsibot.patch`. Then it runs `epsilon.patch.main` as a task named `patch_all`, which in its turn has subflow `epsilon.patch.diff_workflow` as a task named `show_diff`.

Currently it's stuck in RUNNING. st2 keeps fetching it from mistral. I will not cancel it or interfere in it unless you ask to.

La

[2016-02-27 01:14] emptywee commented on #2536
Update. One more command relevant to the topic:
[code]

[2016-02-27 02:33] emptywee commented on #2536
Funny thing, once I get rid of `with-items` from this part of the `epsilon.patch` workflow:
[code]

it starts to finish with no problems.

[2016-02-27 02:36] emptywee commented on #2536
Noticed that going patching without reboot doesn't get the workflow stuck in RUNNING, so this is basically the only action that differs the way it goes with and without reboot. That's why I started to look into it and play with it (you can see it by commented out lines in it).

Thoughts?

[2016-02-27 20:20] Kami commented on #2532
Here is an initial, work in progress support for display timezones for the CLI - #2537.

[2016-02-28 07:55] lakshmi-kannan opened #2538 "st2 rule list --pack=foo filtering does not work!"
[code]

With filter:
[code]

[2016-02-28 13:22] Kami commented on #2538
That happens when `kwargs` is abused all over :P

[2016-02-29 20:55] emptywee commented on #2536
Okay, seems like I nailed it down to the following simple workflow:
[code]

This workflow get stuck in the RUNNING state for me and never finishes. Once you remove `wait-before` or `with-items` - it starts to work with no issues. But the combo of the two - and you are screwed :)

mistral -  branch `1.3.2`
st2 - `1.3.2.16`

[2016-02-29 21:15] m4dcoder commented on #2536
@emptywee: awesome. thanks for narrowing this down for us.

[2016-02-29 23:36] mosesschwartz opened #2541 "Trigger payloads containing _ref cause mysterious failures"
I was trying to use Sentry's (https://getsentry.com/welcome/) webhooks to send events to StackStorm and discovered that any trigger payload that includes a key named _ref seems to partially break StackStorm. The trigger instance does get created, but there is an error saying that it was not created (below), and rules for it don't get executed.

To reproduce, create a webhook and run:
$ curl -X POS

[2016-02-29 23:45] manasdk commented on #2541
Thanks for the report.

This is a tricky one since the failure comes from a library we use which attributes special meaning to `_ref`. The fix would likely be to ask the library to dereference only up to a specific depth or skip certain properties like payload of a trigger-instance.

[2016-02-29 23:48] mosesschwartz commented on #2541
Thanks for the quick response!

Does the Mongo library parse the payload before it is parsed somewhere in ST2? Seems like you might be able to do some sort of name mangling (and possibly un-mangle on the other side? Though I don't even care about that personally).

[2016-02-29 23:54] manasdk commented on #2541
Yes.

 I thought about name mangle and un-mangle. However, this pretty much means we need to do this recursively for all nested properties of the payload and to also know about all the special properties. Since what we really want is to make webhook payload opaque I feel that skipping the recursive check for payload will be better.

[2016-03-01 02:09] michaelansel commented on #2196
Does that mean you are effectively self-modifying the code directory? Ewwwww. If we are trying to improve configuration, I would much prefer a standard way of defining configs in "the config place" (wherever that is) and only including defaults/examples in the code directory (which also matches what is committed to the pack repo).

[2016-03-01 02:27] michaelansel opened #2542 "Separate pack config from code"
Scenario:
- You have an awesome pack that needs an API key

Options:
- You commit the API key in config.yaml in your pack repo (a fork if you aren't the maintainer)
  - Problem: You now need to keep up with the fork and continually merge upstream into your fork.
  - Problem: You are committing secrets into a system not designed for secrets (git ain't encrypted).
- The pack maintainer kindly wrote

[2016-03-01 02:31] manasdk commented on #2542
Few different points.

1. I believe that vault or some other secrets management will be a natural pattern to evolve with credentials and using in workflows

[2016-03-01 04:25] lakshmi-kannan opened #2543 "Paramiko SSH runner does not use bastion host correctly."
Reported by @emptywee on slack.

[2016-03-01 04:48] lakshmi-kannan opened #2544 "Paramiko should respect SSH configuration from ~$SYSTEM_USER/.ssh/config"
Feature requested by: @emptywee on slack.

Fabric supports it right now.

[2016-03-01 04:59] manasdk commented on #2544
For some weird reason I thought this was already done. I guess I remembered support from fabric base remote runner.

[2016-03-01 10:45] Kami commented on #2196
@michaelansel That's correct.

Most of us are not big fans of that approach either since we preach and try to follow "infrastructure as code" approach everywhere (everything should be version controlered, etc.), but some of our users and customers have specific needs (and not everyone has fully transitioned to infra as code yet) and that's why we are adding some of that functionality.

We will als

[2016-03-01 16:39] michaelansel commented on #2196
I'm pretty sure I understand the use case, but why not write the UI-managed configs to a dedicated location instead of modifying the actual pack directory? Then you don't need to deal with "don't overwrite the config" when you update a pack (which, for non-IaaC orgs is probably log in and git pull or pack.download, both of which would blow it away). Modifying the deployed code directory is what I'

[2016-03-01 19:55] pixelrebel commented on #2542
For those who prefer to use `config.yaml`, these values can't be referenced inside a rule, simple yaml action, or action chain.

For example, I have a slack channel that will be the hub for the pack’s communication.  So it's a common parameter I’m setting for many actions.

If this were set in the datastore, you could access this with `channel: "{{ system.mychannel }}"`.  But there is no equivalen

[2016-03-01 20:00] michaelansel commented on #2542
The evolving picture in my brain is something like [hiera](http://docs.puppetlabs.com/hiera/3.0/) - a config store that handles multiple backends and knows how to stack/prioritize duplicates across backends. That way, you could set defaults or "I'm just writing a simple pack. Shut up and let me hard code stuff." using config.yaml, use the web UI or API for customizing externally developed packs, a

[2016-03-01 20:01] pixelrebel commented on #2542
If we're working to simplify config access, the best solution from an end-user perspective would be:

`channel: "{{ mypack.mychannel }}"`

The engine should be smart enough to check the datastore and `config.yaml` and serve up the proper variable based on order of precedence.

Same goes for a script's config access:

`self.mychannel = config['mychannel']`

This should should also serve up the prop

[2016-03-01 20:03] michaelansel commented on #2542
That's a very interesting idea. That _could_ be a way to support injecting configs, but it feels kind of funky. Very much a container-style model, where you always wrap around someone else's image to build your own. Not necessarily wrong, but I don't see that as being the best way... :question: :question:

[2016-03-01 20:16] manasdk commented on #2542
I honestly think it is going to end up being varying degrees of all of the above. Really, at this point all of us are coming to this problem with different uses for config.

`partial pack` - I see cases where appending to a pack extends beyond config. The reason I find this idea useful is for source controlling the config as well. Pack is the way of delivering content to StackStorm and in some cas

[2016-03-02 21:17] tonybaloney opened #2552 "Make action responses declarative"
We have 2 issues with the current action system:
* You can't return an object, you must return a dict or a list of dicts otherwise the action runner doesn't deserialise the response correctly. So every action pack has it's own way of acheiving the same thing- mapping iteritems on an instance to a dictionary.
* When writing workflows in Mistral, there is no typeahead or checking for field names in

[2016-03-03 19:18] murgurgula opened #2555 "Feature request: Rule tester + full logs."
There's st2-rule-tester to see if a rule will be triggered or not on an event.

Sometimes a rule is triggered, but you see "ERROR: log [-] Failed kicking off execution for rule RuleDB [...]" in the logs.

The error is actually cut off and the full message is not shown, which makes the troubleshooting more difficult.

It would be really nice to have a similar tester that would show if the rule can

[2016-03-04 18:58] pixelrebel opened #2557 "Rule criteria needs more regex operators"
Need support for a case-insensitive `imatchregex` operator.

Additionally, the `matchregex` operator searches from the start of a string.  So support for `re.search` is also necessary.  I propose adding `searchregex` and `isearchregex` operators too.

[2016-03-04 19:01] pixelrebel commented on #2557
Here's the PR:  https://github.com/StackStorm/st2/pull/2558

[2016-03-07 17:24] rosskusler opened #2561 "Support webhooks via HTTP GET"
Any possibility of accepting webhooks via HTTP GET in addition to POST?  Things like the API key and webhook payload data could be encoded in the URL.  This would allow remediation workflows to be triggered from (legacy) web applications which allow users to configure a simple URL that gets called when a link gets clicked.  For instance I have a legacy monitoring system that allows me to define a

[2016-03-07 17:27] dzimine commented on #2561
Thanks for the report @rosskusler; it makes sense;
mean time to unblock yourself, consider building a standalone webhook sensor - here's an example: https://github.com/StackStorm/st2contrib/blob/master/packs/activecampaign/sensors/ac_webhook.py as you see you can handle POST/GET and content your way, and API key can be URL encoded based on the url pattern in conf.yaml.

[2016-03-07 17:36] rosskusler commented on #2561
Interesting. I thought sensors were for periodic polling only and didn't realize that they could be used to receive webhooks.  Thank you @dzimine !  I will give that a try.

[2016-03-07 17:41] estee-tew commented on #2561
https://stackstorm.slack.com/archives/stackstorm/p1457372500006749

[2016-03-07 18:12] dzimine commented on #2561
That is a big bug in our documentation. I just tried (by searching) and it is indeed not obvious from the docs. TODO: fix this in github.com/StackStorm/st2docs

[2016-03-07 22:22] Kami commented on #2532
I've merged #2537 into master so I will go ahead, close this ticket and open one in st2web.

[2016-03-07 22:22] #2532 closed

[2016-03-07 23:10] tombin opened #2562 "provide ssl functionality for rabbitmq"
There does not currently appear to be an implementation in the [messaging] section of /etc/st2/st2.conf to allow rabbitmq messages to flow over ssl.  Can you please add functionality so rabbitmq messages are not sent over clear-text.

[2016-03-07 23:20] tombin opened #2563 "provide ssl functionality for mongo db"
Please provide the ability to connect to our mongo db cluster over ssl.

[2016-03-07 23:23] manasdk commented on #2562
@tombin

The library we use support the `ssl` as query parameters. Therefore `amqp://guest:guest@127.0.0.1:5672//?ssl=1` should work as per http://docs.celeryproject.org/projects/kombu/en/latest/userguide/connections.html#urls.

If you need support for passing in a special CA bundle etc then that will require work.

[2016-03-08 17:54] emptywee opened #2564 "mistral speed between tasks"
Hello,

I am observing overall slowness of mistral workflows switching from task to task. It takes no less than 10 seconds when there's only one workflow running. The more simultaneously running workflows/tasks is there, the longer these pauses between the tasks are. It may even get up to minutes and tens of minutes.

[code]

I'd like to see no pause at all or maximum 1-3 seconds without harm from

[2016-03-08 19:10] dzimine commented on #2564
Thanks for the report. Let's investigate and possibly open a correspondent bug in mistral-upstream.

[2016-03-08 20:53] emptywee commented on #2564
Sure. Let me know if I can be of any help here. I've got a pretty neat VM with 16 cores, 16Gb RAM and fairly fast storage. If there are any steps necessary to investigate it further, let me know, I'd be glad to help.

[2016-03-08 22:04] pixelrebel commented on #2207
I think this is the problem I'm having.  I'm trying to pass an object from a mistral workflow to an action chain, the object gets mangled in the handoff.  I would love to pass the object as a JSON string, but it looks like that's not possible?

[2016-03-09 01:02] ilkirk opened #2566 "Aliases fail when first letter of format is a capital letter"
Over the weekend I spent several hours troubleshooting an newly created alias that was based on a template I worked up with @jfryman.  This alias had a format as follows:
  - "Get compliance results for {{ instanceid }}"

When running the action & workflow through the WebUI I could see that everything work as expected. However, when I switched over to my Hubot in HipChat and I issued the command,

[2016-03-09 01:07] ilkirk opened #2567 "st2ctl clean isn't really working because mongo not found"
Running st2ctl clean returns the following and ultimately does not clean the history.

This will drop the database and delete all logs.  Are you sure [y/n]?
y
st2actionrunner stop/waiting
st2api stop/waiting
st2auth stop/waiting
st2sensorcontainer stop/waiting
st2rulesengine stop/waiting
st2web stop/waiting
mistral stop/waiting
st2resultstracker stop/waiting
st2notifier stop/waiting
st2garbagecoll

[2016-03-09 01:18] manasdk commented on #2567
@ilkirk Are you on ubuntu 14.04? By any chance did you install StackStorm and its dependencies by hand or did you use one of our scripted installs?

If you are using ubuntu 14.04 you will also need `mongodb-clients` to be installed. Btw, we require mongodb 2.4 and running `apt-get install mongodb-server` should also pull `mongodb-clients` as a dependency on ubuntu.

[2016-03-09 01:25] ilkirk commented on #2567
@manasdk I used a scripted install on ubuntu 14.04.
https://docs.stackstorm.com/install/all_in_one.html

I ran the apt-get you mentioned and it looks good now!  Thanks for the quick response!!

[2016-03-09 01:35] manasdk commented on #2567
Cool. Yeah AIO did install the right packages and am unsure what happened. Btw, going forward we are recommending package-based installers https://docs.stackstorm.com/install/deb.html. Something to keep in mind going forward.

[2016-03-09 14:11] #2567 closed

[2016-03-09 14:48] andrew-regan commented on #2564
Is there a bug or blueprint in Mistral tracking this? Took a quick look, but didn't see one. Thanks!

[2016-03-10 14:42] emptywee commented on #2564
per @m4dcoder recommendations, I have taken a closer look at the logs and the database. No re-tries or anything suspicious have been found, though. I added my comments under key log entries and numbered them in the order so you could follow my line of thinking:

_actionrunner log:_
[code]

_mistral log:_
[code]

_postgress db data:_
[code]

So it's not clear what happens during the `17:57:27-17:57

[2016-03-10 15:02] emptywee commented on #2564
I have increased log verbosity level for mistral to DEBUG. Ran the workflow and noticed that it spent 5 seconds validating YAQL. And it looks like it's a bit too much of it:
[code]

[2016-03-10 15:12] emptywee commented on #2564
For test purposes I created a simple two-action mistral workflow with `core.noop` actions:
[code]

And the "pause" between the tasks went down to 5 seconds. Of course there still was that long running YAQL expression validation process:
[code]

Is it normal? I believe now that this is the most time consuming operation, and the more complex the workflow is, the longer it takes to go from one task t

[2016-03-10 16:31] emptywee commented on #2370
I think this issue can be safely closed as fixed.

[2016-03-10 16:31] #2370 closed

[2016-03-10 16:33] emptywee opened #2573 "Multiple chatops.notify actions triggered on canceling a workflow execution"
Hello,

I have noticed a few times that when I cancel a mistral workflow, I get multiple chatops.notify actions triggered:
![image](https://cloud.githubusercontent.com/assets/4997180/13676445/7972d4d4-e6ab-11e5-9bf1-e1cd8374f783.png)

I doubt that it is how it was intended :)

[2016-03-10 17:23] #2535 closed

[2016-03-10 17:42] codyaray opened #2574 "Make st2actions and st2tests packages available on PyPi"
My current development workflow is basically code in PyCharm, rsync to my stackstorm host, and test there. (There's probably a better workflow using st2workroom or something that I haven't tried.) But anyway, it'd be nice to be able to write (and run) my tests locally for development. But I can't easily install these dependencies.

### Workaround: Build st2tests From Source

git clone https://gith

[2016-03-10 22:16] codyaray opened #2575 "Action helper class has logging error"
Just tried writing an action with a helper class. While this works, curious why I'm seeing this logging error simply by adding the second class.

    stderr: 'No handlers could be found for logger "st2.st2common.util.loader"

Here's a simple example that produces the above error.

    from st2actions.runners.pythonrunner import Action

    class HelperAction(Action):
        def run(self):

[2016-03-10 22:45] codyaray commented on #2575
Just remembered that I can put helper classes in a `lib` directory inside `actions`. Still curious why we only see this issue in these conditions, but I guess I can close the issue since this isn't the recommended approach anyway. :)

[2016-03-10 22:45] #2575 closed

[2016-03-11 02:28] Kami commented on #2574
Currently you can do that by using a StackStorm development VM (st2workroom).

In any case, we do plan to push individual components to PyPi in the near future. We have started that work when starting to work on the new debian / rpm packages. We are quite close to that at this point (each component has setup.py file, etc.), we just need to polish it and add some automation (StackStorm! :)) around

[2016-03-11 04:36] Kami commented on #2573
Thanks for the bug report.

We will look into it, it could indeed be a bug in Mistral workflow / task cancellation.

Ideally you would also provide payload of all the related notify triggers so we can see what is going on (maybe one trigger is for the whole workflows and others are for standalone tasks or similar).

[2016-03-11 13:56] emptywee commented on #2573
@Kami
Do you mean trigger details? If yes, then the first chatops.notify had the following:
[code]
The next one is slightly different:
[code]

And the third (though, usually there is only two chatops.notify tasks created after cancelling a workflow) one looks identical to the second;
[code]

If you need something else related to this issue, let me know.

[2016-03-12 10:36] emedvedev commented on #2566
Hi! Sorry it took me a while to get back to you. I tried a few things to reproduce your issue and see what we can do about it to unblock you.

Firstly, `"Compliance {{ instanceid }}"` not being matched is a bug. I'm looking into it, and you can expect a patch soon.

Secondly, `"(get |show )?[Cc]ompliance\s+(for )?i-([a-zA-Z0-9]+)"` has a few errors:

* the slash in `\s+` should be escaped, otherwi

[2016-03-12 14:47] emedvedev commented on #2566
Will be fixed when https://github.com/StackStorm/hubot-stackstorm/pull/99 is merged. You'll have to update `hubot-stackstorm`.

[2016-03-12 16:36] #2566 closed

[2016-03-14 13:57] emptywee opened #2577 "mistral workflows: Connection aborted, BadStatusLine"
Hello,

Some of actions (which are run concurrently) of a workflow failed with the following output:
[code]

What could it possibly be? Was it trying to connect to Mistral API but couldn't?

[2016-03-15 20:09] Kami commented on #2499
I believe this PR should resolve this issue - #2579

We now allow user to specify strings for CronTimer trigger parameter values and use expressions such as `a-b`, `*/a`, `a,b,c`, etc.

[2016-03-15 20:15] Kami commented on #2577
It's hard to say, it could be some weird concurrency related issue.

To clarify it - we do retry those requests so I assume this was just an intermediates error and the request eventually succeed?

[2016-03-16 12:19] codyaray commented on #2499
Hurray!

[2016-03-16 19:28] Kami commented on #2499
@codyaray Let me know when you had a chance to test those changes.

[2016-03-16 22:36] pixelrebel commented on #2557
Merged, Thanks!

[2016-03-16 22:36] #2557 closed

[2016-03-16 22:54] Kami commented on #2557
Thank you :)

[2016-03-17 16:06] codyaray opened #2582 "Unable to cancel ActionChain action from UI"
If I setup a simple ActionChain workflow with a long-running action in it, I'm unable to cancel the workflow or the individual long-running action from the UI.

I'm running `st2 ('1.3.2.16',)` installed using the debian packages on Tuesday. Here's a simple definition with which I've been able to reproduce:

[code]

[code]

From the UI, when I click "Cancel" on the workflow or expand the workflow a

[2016-03-17 16:49] codyaray opened #2583 "Unable to "uncheck" default: True bool param when re-running from UI"
This is a minor UI usability bug. I have an action with a `default: True` boolean parameter. The rule which normally triggers this action doesn't override the parameter. When I try to re-run the action-triggered-by-the-rule from the UI, the boolean checkbox isn't checked (`True`) even though that was the value used when the action ran. Which means that I can't uncheck it to re-run the rule with a

[2016-03-17 18:53] Kami commented on #2583
Thanks for the report.

This seems like a bug in st2web.

/cc @enykeev

[2016-03-17 18:57] Kami commented on #2582
Thanks for the report.

As far as canceling a top-level execution of an action chain workflow goes - this will cancel the workflow, but it won't kill the currently running task (we don't have a good and consistent mechanism for this right now). It will wait for the currently running task to complete, but it won't proceed with the next one.

[2016-03-17 19:12] Kami commented on #2582
As far as canceling a workflow in WebUI goes, this seems like a bug in st2web, but I would need to dig in and try to reproduce it.

I believe we use the same even stream for cancel event notifications so not exactly sure what could go wrong without digging in. I believe that at the very least, the status of the top-level execution should change to canceled, but as mentioned above, the currently ru

[2016-03-18 05:38] enykeev commented on #2582
@codyaray I'm sorry you're having trouble with st2web.

Kami's correct, it is indeed a bug in st2web. We've shipped 1.3 package with an old API client that doesn't support execution cancelling. The problem has been fixed in https://github.com/StackStorm/st2web/pull/293 and should appear in our package repos as `st2web_1.3.2-4` in mere minutes.

[2016-03-18 05:51] enykeev commented on #2583
Yes, it is a known bug. The rerun functionality was introduced pretty late in development cycle and invalidated a lot of our initial UX assumptions. To fix problems like that, we would need to completely rework the component responsible for form generation. We would also need to work on UX solution for indicating a default state, previous state and a new state for every parameter type. We have it

[2016-03-22 20:37] codyaray opened #2593 "Nginx config error"
The latest Nginx config doesn't work on older nginx versions.

[code]

I'm using Ubuntu 14.04 (LTS) which [packages nginx 1.4.6](http://packages.ubuntu.com/trusty/nginx) but the `always` keyword was added to the nginx `add_header` directive in [1.7.5](http://nginx.org/en/docs/http/ngx_http_headers_module.html).

This bug was introduced as part of a [recent change](https://github.com/StackStorm/st2

[2016-03-22 21:20] alexei-znamensky-movile commented on #2564
Hi guys, we are having a similar problem. Any update from Openstack regarding this?

[2016-03-23 17:50] #2527 closed

[2016-03-23 18:32] m4dcoder commented on #2564
I ran some tests. I am not seeing the delays that are being reported here and the list of YAQL validations when DEBUG is turned on in the logs.  I'm going to post my results here.

This is the workflow definition which is similar to one posted by @emptywee.

[code]

The execution took a few seconds to complete. It's not too terrible IMO.
[code]

Going to mistral, the break down is as follows. It t

[2016-03-23 18:36] m4dcoder commented on #2577
This error means st2 is not able to communicate with the mistral API.  How are you launching the mistral API?  We typically run it under gunicorn or nginx.

[2016-03-23 18:41] emptywee commented on #2564
This is weird then. Where do all these YAQL validations come from? It's obvious I could not personally cause them to appear in the logs. There must be a reason for them to appear in the logs and cause the delays.

@m4dcoder Thanks for looking into it!

[2016-03-23 19:35] emptywee commented on #2564
Also, I removed validations from the mistral code by commenting them out, and for some reason it made it even worse, the delay between tasks increased :\ What else can affect the time it takes to switch tasks?

[2016-03-23 19:43] m4dcoder commented on #2564
@emptywee Not sure why commenting out the validations in the code would lead to increased delay. It will most likely lead to unexpected behavior. So that's not recommended and most definitely not supported.

[2016-03-23 19:55] emptywee commented on #2564
I reverted it back, of course. On the second look it might not have been relevant. With disabled validation I am seeing that some delays between tasks were about 20 seconds, some were just 5-6.
It was only one workflow running at the time. So we can't blame unavailability of free action runners here. Something is taking too long to request/callback/process in between of tasks. And what's the worst

[2016-03-23 20:18] emptywee commented on #2564
Queried postgresql the same way:
[code]

Now even that it shows very little time between `updated_at` and `created_at` of the next task, it doesn't mean that it there was no delay. Delays were accounted for and added to the time between `created_at` and `updated_at` of the same task.

`prep_hostlist` shows that it was created at `51:16` and updated at `51:33`, meaning that it took `17` seconds. In

[2016-03-23 20:22] emptywee commented on #2564
Logs from `mistral.log` in the time frame in question:
[code]

[2016-03-23 20:26] emptywee commented on #2577
@m4dcoder I don't really know, it runs as:
[code]

I think that st2 AIO creates the service and starts it. I just use `systemctl start/stop/restart mistral`

[2016-03-23 20:31] m4dcoder commented on #2577
The AIO is not a production setup and is really there for demo/trial purposes.  It runs mistral API using the built in API server which is not scalable and so you'll see this connection related error under load.  You'll have to run the API separately with gunicorn.

[2016-03-23 20:40] m4dcoder commented on #2577
You can also setup st2 with our new packages. It's currently in beta.  The package sets up the mistral API to run separately under gunicorn.  https://docs.stackstorm.com/install/deb.html

[2016-03-23 20:43] m4dcoder commented on #2564
@emptywee, you'll have to post your WF definition that correspond to this latest set of logs in order for us to troubleshoot.

[2016-03-23 20:48] m4dcoder commented on #2564
@emptywee please also post the result for the task prep_hostlist.

[2016-03-24 13:16] codyaray commented on #2509
Made any progress on this?

[2016-03-24 14:03] emptywee opened #2599 "[Errno 7] Argument list too long"
Hello,

Getting this when passing huge results from one task to another. Any way to work around it?

[code]

[2016-03-24 17:33] emptywee opened #2600 "Rule criteria: comparison with zero is broken"
Hi, I was working on the Icinga2 integration pack, and ran into the following issue:

[code]

So when the Icinga2 API returns check results it uses float for numbers. For some reason rule engine doesn't match it correctly. I can work around it by stripping the fraction part in the sensor, but I think the problem is generally with the type conversions made in the stackstorm internally.

Here's the

[2016-03-24 19:43] Kami commented on #2509
We've been busy with other things so we haven't made any progress on this yet (we also don't have an ETA yet atm).

[2016-03-25 14:41] emptywee commented on #2564
@m4dcoder the problem is it doesn't really matter what exactly is in a workflow. What seems to matter is the number of tasks and overall size of a workflow. For example, this workflow showed 8 to 19 seconds delays between tasks being the only one running in the system:
[code]

From WebUI:

task1:
Started: Fri, 25 Mar 2016 14:31:16 UTC
Finished: Fri, 25 Mar 2016 14:31:17 UTC

- 8 seconds delay -

t

[2016-03-25 16:58] emptywee commented on #2600
Turns out it was not related to floating points. Quoting the pattern in the rule definition converts numbers into strings and thus comparison doesn't work. Removing the quotes seems to help. However, 0 (without quotes) in the pattern is translated into `None` type and breaks the comparison.

[code]
criteria:
[code]

Dirty workaround is placing `0.0001` in the pattern. Might need to get inspected a

[2016-03-25 19:25] Kami commented on #2600
Good catch.

I need to dig in, but I believe it's probably related to something in our code (we don't do a strict check for false values or similar) and not the actual YAML handling.

[2016-03-25 19:38] Kami commented on #2600
Yeah, I just managed to track down the bug with rule test tool :)

I will work on and push a fix later today.

[2016-03-25 20:55] Kami commented on #2600
I merged fix into master - #2602.

Thanks again for the report and a good catch!

[2016-03-25 20:55] #2600 closed

[2016-03-25 20:57] Kami commented on #2599
This is a known limitation on Linux - there is an upper limit for a total size (in KB) of arguments you can pass to a process via the command line.

Work around for this is to save really large results in a datastore.

[2016-03-25 20:59] Kami commented on #2599
Sorry, I accidentally closed the issue.

One of the possible long term solutions for us would be to pass parameters / arguments to the Python runner action process via stdin instead of via command line arguments, but this has some other issues / limitations (it makes it more opaque and harder to debug actions manually, etc.).

In the short term, we will probably document this behavior and intercep

[2016-03-25 21:55] emptywee commented on #2599
I know about the limitation on a command line argument in Linux. However, it's a large field to discuss. Can you use some sort of IPC, or perhaps a message broker, or Redis for example. With proper logging it should be not a big issue to debug/troubleshoot.

[2016-03-25 22:26] m4dcoder commented on #2564
Here's the result on my end. There's a second delay between tasks but that's about it...

[code]
[code]

[2016-03-25 22:36] emptywee commented on #2564
Thanks. Just to leave a note for myself here:
[code]
postgresql is set up with 500 max concurrent connections.

I'll try to set up a separate box with mistral and postgresql and configure st2 to use it. If that doesn't help, I'll try a brand new st2 setup on a new box.

[2016-03-26 00:22] Kami commented on #2599
Yeah, there are many possible approaches to solving this, but the idea behind command lines arguments was to make it transparent and easier to debug in ,the standalone mode.

You lose a lot of direct visibility if you use some kind of message queue so if anything, I would prefer to go with stdin approach.

[2016-03-26 00:26] Kami commented on #2564
If it's an issue with a lack of free database connections, it would be work to investigate using some kind of connection pooling daemon like pgbouncer (I know at some point in the past we bumped default to a very high limit but that's almost always not such a good idea).

In fact, using some kind of connection pooling daemon like pgbouncer is almost always a good idea in scenarios like that (=wher

[2016-03-26 00:28] manasdk commented on #2564
Yes. The current mistral connection mechanism is a mess. Need to have a daemon that pools connections.

[2016-03-30 20:28] Kami opened #2605 "Code infrastructure and conventions for testing action aliases"
We should make it easy for pack authors to be able to write tests and test the action aliases.

Basic functionality should be allowing the pack author to select / provide an alias format string and a list of strings with parsed values which should match that format string.

[2016-03-31 20:45] emptywee commented on #2564
Installed st2 and mistral on a freshly booted VM running Ubuntu, updated Ubuntu to the latest and ran the workflow. Here are the results:
[code]

~125s. Which is not even close to 22s shown by @m4dcoder

`mistral.conf` has:
[code]
postgresql.conf:
[code]
Everything else is default. Could you test on the latest 1.3 packages of st2/mistral? I know it'll take some time, but I don't know where to look

[2016-04-06 00:26] kiyology opened #2608 "Incorrect JSON format"
Hi,

I'm experiencing this issue when using stackstorm:
Here's my action config:
[code]

Here's my workflow config:
[code]

Here's my rule config:
[code]

Basically I'm having a webhook and sends the payload received by the webhook to a mistral workflow action, which takes the payload as the third parameter.
Everything works fine except that when it's executing, the double quotes inside payload JS

[2016-04-07 00:41] m4dcoder commented on #2564
I was able to reproduce the problem in v1.3.  This problem doesn't seem to exist in v1.4, which is where I initially did all the testing.  v1.4 will be released soon. If you want to just try it out, you can follow the docs at https://docs.stackstorm.com/install/deb.html#setup-repositories and replace the repository in the URL from staging-stable to staging-unstable to get v1.4dev.

[2016-04-07 00:41] #2564 closed

[2016-04-07 16:43] paul-mulvihill opened #2611 "yaml override of timeout parameter not being picked up"
Trying to override the default "timeout" parameter for an action via the yaml file. Although my yaml values are not being collected.
I have tried adding
[code]
As well as 1200. Although when the action runs it remains fixed at the 600 default timeout value.

Manually setting these valuse via the webui work just not via the relevant actions yaml file.

re running register has been done after each y

[2016-04-07 16:44] Kami commented on #2611
Thanks for the report.

This sounds like a bug in the way we merge runner and action parameters. We will dig in.

[2016-04-07 16:48] Kami commented on #2611
I just had a look and wasn't able to reproduced it.

I tried overriding `timeout` runner parameter in the `core.local` action and it worked just fine.

[code]

[code]

Can you please provide more context - which runner and ideally the whole action definition (you can mask private / sensitive parts).

[2016-04-07 17:00] paul-mulvihill commented on #2611
here is my yaml content
[code]

[2016-04-07 17:04] Kami commented on #2611
I also tried and couldn't reproduce it with Python runner - it works just fine.

[2016-04-07 17:09] paul-mulvihill commented on #2611
Looks like a muppet mistake on my part.. syntax was off and now tracked it down.

[2016-04-07 17:09] #2611 closed

[2016-04-11 20:15] Kami opened #2614 "Upgrade to paramiko 1.16"
Among other things, it includes support for SHA-2 based key exchange and ECDSA keys.

http://www.paramiko.org/changelog.html

Reported by @jfryman.

[2016-04-11 21:20] Kami commented on #2614
@lakshmi-kannan is taking this over so re-assigning it to him.

We plan to test those changes on our build server for a couple of days and if there are no regressions, merge them into master and include in v1.4.

[2016-04-12 16:43] #2614 closed

[2016-04-12 17:59] lakshmi-kannan commented on #2608
Sounds like an awful confusion regarding JSON representation. Do you parse the input as JSON string inside the yamas2-action.js file? Would you be able to show the code for that? I'll try to repro the situation locally and suggest an approach. Hang tight.

[2016-04-12 18:05] kiyology commented on #2608
Thanks for the reply!
Yes, I'm parsing the input as JSON string inside yamas2-action.js file.
The way I'm parsing it is `payload = JSON.parse(process.argv[2]),`

I printed it out the whole command through st2 execution get, the json string was being passed as an argument like `{u''recovery_alerts'':` .  With single quotes and the charater 'u', the script was unable to parse it.

[2016-04-12 18:38] lakshmi-kannan commented on #2608
I reproed the issue on my box. It looks like things are working per design but don't work well for your use case. Let me explain.

trigger.body is sent as an object correctly to the workflow. So type of payload in the workflow is indeed an object. The problem is in the following line:

action: core.local cmd="node /opt/stackstorm/packs/examples/actions/yamas2-action/yamas2-action.js <% $.payload %

[2016-04-12 23:49] kiyology commented on #2608
Thanks for the detailed explanation! So if I want to use the whole json to the script (because I need many fields and passing them one by one through `<% $.payload.get('param1') %>` might not be efficient), I assume there's no proper way of doing this, right?

[2016-04-13 04:33] lakshmi-kannan commented on #2608
@kiyology I am not sure about proper but you could add another step in the mistral workflow that translates an object to a JSON string and then passes the string to next step in the workflow as input. LMK if this isn't clear and I can whip up an example. We talked a bit about supporting JSON transformations as first class YAQL function. We might add this in future releases but no promises there.

[2016-04-13 11:37] #2605 closed

[2016-04-13 19:15] lakshmi-kannan commented on #2608
@kiyology Can I close this issue?

[2016-04-13 21:56] kiyology commented on #2608
Yes, thank you so much for your help! :)

[2016-04-13 21:59] #2608 closed

[2016-04-15 14:06] Kami opened #2621 "Issue with casting None (null type) parameters in the rules when invoking actions"
This was originally reported by @jjm on Slack.

Right now there is an issue when you want to pass parameter which value is `None` (null) to an action via the rule.

Let's say we have the following trigger payload (JSON):

[code]

And the following rule:

[code]

Since every value in Jinja is a string, this parameter will incorrectly be cast to string `None` instead of the actual `None` type.

The

[2016-04-15 14:35] emedvedev commented on #2621
I'm fine with either 3 or 4, with 4 being slightly more desirable. :)

[2016-04-15 14:43] Kami commented on #2621
To clarify, approach 4) also has issues. Jinja renderer is not context aware, so it doesn't know in what context that value is being serialized.

If, for example, user does something like that inside the rule:

[code]

The `None` value would still get serialized to a magic string which would make up for a weird result.

In that sense, 1) really is the most correct solution, but not something we sh

[2016-04-15 14:46] emedvedev commented on #2621
We could do the magic string thing only if the full string is `None`, otherwise (like in your case above) cast `None` to an empty string. Also not ideal, just thinking out loud

[2016-04-15 14:48] Kami commented on #2621
Then it would be a lot more complicated and I don't think we would be able to do this in the Jinja renderer directly anymore...

[2016-04-15 15:33] manasdk commented on #2621
For JSON

[code]

And the following rule:

[code]

The `use_none` filter could generate a magic string `__NONE__` of something weird enough which we can interpret specially at render time.

This was user call out what could be `None` and we can provide a way to deal with the issue.

The real answer is to use something like YAQL which is type preserving.

[2016-04-15 17:16] Kami commented on #2621
@manasdk Yeah, that's one of the approaches I thought about, but the thing is you really want to use the same None behavior everywhere so user would probably just end up sprinkling this filter all over the place which is not ideal.

In any case, it's a trade off and if others are OK with it, I'm fine with it as well.

[2016-04-15 17:36] jjm commented on #2621
For my use case of needing to pick one of two options for a webhook I think use_none will work fine.

However it being something like YAQL which will perverse type in the long term would be very nice.

[2016-04-16 01:46] manasdk commented on #2563
Started work in https://github.com/StackStorm/st2/pull/2622

[2016-04-19 17:12] saahn opened #2629 "Python actions not seeing environment variables"
After confirming that my action runners run as the st2 user, I did the following:

1. Log in as the st2 user (first had to modify create its home dir and modify /etc/passwd, as its shell is set to /bin/false by default)
2. Source an file with the environment variable exports.
3. Confirmed environment variables had been declared with `export`
4. Added `import os` and `print os.environ` in my action

[2016-04-19 22:34] lakshmi-kannan commented on #2629
``export`` just applies that variable to that particular login shell. If you need the variables to be available system wide, then you need to set them in /etc/environment for st2 user. Using config.yml to set these as config parameters as opposed to using env vairables is a better approach. Alternatively, you could pass the file name containing env variables to the action and use os.environ.set()

[2016-04-19 22:35] lakshmi-kannan commented on #2629
Closing as per offline discussion with saahn.

[2016-04-19 22:35] #2629 closed

[2016-04-20 18:53] lakshmi-kannan opened #2636 "Allow user to specify a list of mongo db addresses to connect for HA reasons"
Reported by: @jsjeannotte

[2016-04-20 19:02] manasdk commented on #2636
Let's talk about this as mongo itself suggest using mongos and a proxy or load balancer fronting mongos

[2016-04-20 19:10] manasdk commented on #2636
I am on board with supporting connections to replicasets http://docs.mongoengine.org/guide/connecting.html#replicasets

[2016-04-20 19:12] lakshmi-kannan opened #2637 "Expose a way to get list of all in flights events in st2."
Requested by: @jsjeannotte

[2016-04-20 23:50] jsjeannotte opened #2639 "Use same approach for launching the different st2 components (st2sensorcontainer, st2actionrunner, ...) in Trusty"
st2sensorcontainer uses 'exec' to launch the st2sensorcontainer binary, but st2actionrunner uses 'start' to launch the st2actionrunner-worker's. Would it be possible to use 'exec' here?

The issue is that 'start' doesn't pass the environment, so if a user adds custom environment variables in /etc/default/st2actionrunner, they are not passed down to the action runner.

[2016-04-21 00:20] manasdk commented on #2639
Yup. We just noticed as well :)

[2016-04-21 15:41] stevemuskiewicz opened #2640 "st2api service fails to restart after adding configuration for backend redis service"
Using the Stackstorm 1.3 package-based install, I went in and configured redis in `/etc/st2/st2.conf` per the [policies docs](https://docs.stackstorm.com/policies.html).  This _seemed_ to be fine initially but eventually something must have happened to cause the st2api service to restart and then (according to `systemctl -l status st2api.service` output) it looks like it got into some kind of rest

[2016-04-21 19:54] lakshmi-kannan opened #2641 "httpclient module in st2client abuses kwargs"
I have a use case where I need to pass a query param to final API call and the only way I can do it right now is something like

kwargs['params'] = {}
kwargs['params']['decrypt'] = true

This is sad. We should fix this by not abusing kwargs.
https://github.com/StackStorm/st2/blob/master/st2client/st2client/utils/httpclient.py#L68

[2016-04-22 15:40] murgurgula opened #2646 "apt-get install st2"
I've upgraded from 1.3.2 to 1.4.
It worked perfectly and everything is working.
However, I've found a little bug, which is not critical, but confusing.
The package is updated, but while running "st2 --version", the old number shows.

root@stackstorm01:~# dpkg -l | egrep -i 'st2|st2mistral|st2web'
ii  st2                                  1.4.0-7                          amd64        StackStorm Even

[2016-04-27 18:49] lakshmi-kannan commented on #2646
Most probably you have an old st2client. Can you do a

[code]
?

[2016-04-27 18:54] lakshmi-kannan commented on #2637
I think this is being addressed as part of this PR: https://github.com/StackStorm/st2/pull/2643

[2016-04-27 19:15] lakshmi-kannan commented on #2640
There isn't much we can do other than document it. We don't want to ship all the libraries by default. That seems a little less optimal. Thanks for the steps :).

Maybe we can build some tooling around this? I am going to brainstorm internally to see how we can improve this but meanwhile here is a docs PR https://github.com/StackStorm/st2docs/pull/131

[2016-04-27 19:20] stevemuskiewicz commented on #2640
Works for me, thanks!

[2016-04-27 19:25] murgurgula commented on #2646
did a pip install st2client --upgrade
`/opt/stackstorm/packs/dd/actions# pip install st2client --upgrade
Requirement already up-to-date: st2client in /usr/local/lib/python2.7/dist-packages
Requirement already up-to-date: jsonpath-rw>=1.3.0 in /usr/local/lib/python2.7/dist-packages (from st2client)
Requirement already up-to-date: prettytable in /usr/lib/python2.7/dist-packages (from st2client)
Down

[2016-04-27 20:21] jsjeannotte opened #2650 "Cannot create action with a name that collides with a Python library"
We created an action called "elasticsearch.py" (with the appropriate yaml). When we try to run it we get an ST2 exception. We are able to reproduce with another action called "test.py". Our hypothesis is that if the action name is the same as a Python library, it fails to run it. This happens after migrating to 1.4.0 from 0.13.2 (it works fine in 0.13.2).

Here's the stacktrace:

	$ st2 run netfli

[2016-04-27 20:37] murgurgula commented on #2650
Same issue with  pack names
Example: can't have a pack named datadog if did "pip install datadog"

[2016-04-27 20:39] manasdk commented on #2650
@jsjeannotte Can you share contents of `test.py` and `test.yaml` where you see this issue?

[2016-04-27 20:41] lakshmi-kannan commented on #2650
https://github.com/StackStorm/st2/blob/master/st2common/st2common/util/loader.py#L55

This is because of how we use some python module loading  hackery to import classes with actions in them. I can point you to the code but fixing it would require us to move to stevedore like entry_point approach which then makes the whole pack story horrendous IMO.

[2016-04-27 22:06] manasdk commented on #2650
Suspect it might originate https://github.com/StackStorm/st2/blob/master/st2common/st2common/util/loader.py#L130.

We might need to pass in the pack_name as per https://docs.python.org/2/library/importlib.html#importlib.import_module although there is no guarantee of a package being present from the python perspective. This might be in @Kami wheelhouse.

[2016-04-28 07:32] tenyearslater opened #2652 "st2 command return auth failed in CLI when auth backend is ldap"
If I set the auth backend = ldap, then I can't run `st2 action list` in the CLI.

[code]
How to solve this problem ?

[2016-04-28 07:41] Kami commented on #2652
I would recommend you to do the following.

1. Make sure enterprise bits are install (st2enterprise package) so ldap backend is available
2. Make sure ldap backend is correctly configured - https://docs.stackstorm.com/authentication.html?highlight=ldap#ldap-enterprise-edition (also see https://github.com/StackStorm/st2/blob/master/CHANGELOG.rst)
3. Make sure you are using right credentials

I woul

[2016-04-28 08:12] tenyearslater commented on #2652
I think that my LDAP config is OK, because I can log in on the web ui.
I use the st2-auth-backend-ldap ( https://github.com/StackStorm/st2-auth-backend-ldap ).

It seems that st2 uses LDAP to authenticate.
But when I run command on the CLI, it uses the local user "root_cli" to authenticate.
The "root_cli" is not exist on the AD.
So it failed.

Is there a way to run st2 command on the CLI with user

[2016-04-28 15:11] etern4ever opened #2654 "Split off rule criteria"
It would be nice to split off the rule criteria so we can code our own and return a true/false back into the rule engine.  This would allow more advanced checking that could be included in packs.

Example.  Check to see if an open ticket already exists in your ticketing system.

I know I can do this in either a custom sensor or action, but it makes more sense to be in the criteria section of the r

[2016-04-29 15:36] jmound opened #2655 "Allow specifying of a tag to packs.install"
From [download.yaml](https://github.com/StackStorm/st2/blob/master/contrib/packs/actions/download.yaml), it appears that you can not specify a git tag to `packs.install`

[2016-04-29 20:44] lmarty opened #2656 "Allow multiple evaluations of the same field in a rule"
When writing rules, gui or CLI, if I try to evaluate {{ trigger.body }} with a contains and an additional ncontains, only one of the criteria is saved.  It would be VERY handy to be able to do 2 or more criteria evals on the same field.

[2016-04-29 20:45] lakshmi-kannan commented on #2656
@lmarty You can achieve by writing another rule. This is intentionally designed that way so rules are simple to grok. Nevertheless, good feedback.

[2016-04-29 21:10] lakshmi-kannan commented on #2652
https://github.com/StackStorm/st2-auth-backend-ldap is unsupported and SLAs are not same as enterprise LDAP. Would appreciate if you could dig into the code and try fix it.

[2016-04-29 21:52] lakshmi-kannan opened #2657 "Windows runner complains winexe is not found even though it is installed and exists in path."
I think the import level detection is what is causing the problem. If st2 is already up and then you install winexe, st2 won't detect winexe until there is a restart. Moving the detection to inside the container of BaseWindowsRunner class will fix it.
https://github.com/StackStorm/st2/blob/master/st2actions/st2actions/runners/windows_runner.py#L30

Reported by: Tracy Teague on community. (Also off

[2016-04-30 07:32] Kami commented on #2652
@tenyearslater ah, yeah, so it sounds like it's using `root_cli` user specified in the CLI config (`~/.st2/config`) - that's the default user account and credentials generated by the installer.

If you want CLI to use a different credentials to authenticate (the new ones you use with the WebUI), you should update the CLI config (`~/.st2/config`).

If it still doesn't work after you have done that,

[2016-04-30 07:37] Kami commented on #2656
@lmarty do you mean something like `OR` operator (by default, if you have multiple conditions, it behaves as `AND`).

If you indeed mean `OR`, you can achieve that, as @lakshmi-kannan has pointed out, by using multiple rules.

If that behavior is not documented yet, or documented poorly, we should make it more explicit in the documentation.

[2016-04-30 07:39] Kami commented on #2657
Yeah, you are correct.

Since we shell out, we could indeed perform the check during action run time. This would save user a restart. I personally don't think restart is a big deal, but I'm also fine with moving the check to action run time (it doesn't add much overhead and should work fine) so PR for that is fine.

[2016-04-30 07:52] Kami commented on #2654
Thanks for the feedback.

That's indeed an interesting idea (allowing user to provide a callable / path to the module with a callable) and something we have already briefly discussed in the past.

As you have pointed out, you can already achieve that inside the action (workflow), but yes, having it inside the rule could make more sense in some situations.

In general, I would be OK with supporting

[2016-05-02 13:35] jjm opened #2660 "Mistral task changes for accessing result breaks packs.deploy workflow"
Today, I spotted that my pack auto-deployment was no working following my upgrade to ST2 1.4. The workflow was failing with the following error:

[code]

I remembered something about a breaking change being mentioned on the slack community. And the following sort of change is needed:

[code]

I'll be doing a PR very shortly.

[2016-05-02 13:41] Kami commented on #2660
Yep, need to use `task` function with the new version of Mistral which ships with StackStorm v1.4.

And thanks for the future PR :)

[2016-05-02 13:42] jjm commented on #2660
You should have a PR shortly ;-) just finished my testing ;-)

[2016-05-02 13:49] jjm commented on #2660
There you go, PR opened and tests are currently running. I'll keep and eye on them.

[2016-05-02 16:26] lmarty commented on #2656
So I need to create a workflow if I want to evaluate message bodies for multiple criteria?  That seems off to me, with the way the GUI is laid out.  We can click to add AND criteria, no mention of limits there or in the docs.
  @Kami, I am not looking for an OR, definitely an AND. For example, an Amazon SQS message triggers an event.  I first want to evaluate trigger.body of that event and make su

[2016-05-02 22:13] murgurgula opened #2662 "Feature request: SSH keys in rules = path or output of command."
It would be nice to be able to write the path or be a result of a command like $(cat /path/to/file) in the StackStorm Rules instead of writing the actual key
Reason:
- Make the config more readable.
It would be easier to see if the proper key is used.

- Reason for "result of a command"
Plug stackstorm to Vault or another system destinated to manage credentials.

[2016-05-03 03:05] Kami commented on #2656
@lmarty Looks like I misunderstood you then.

If you are looking for AND, this should work out of the box just fine - you simple need to add multiple criteria expressions.

In your case, it would look something like that:

[code]

You can also add more criteria expressions if needed.

[2016-05-03 07:21] jjm commented on #2660
The fix has been merged, so I'll just close.

[2016-05-03 07:21] #2660 closed

[2016-05-03 10:06] Kami commented on #2662
Thanks for the feedback.

The reason why we have decided to go with the actual key content and not path is because action runner which executes actions can be deployed on many different servers. If we went with the path approach, you would need to ensure the key file is located in the same location on every server where action runner component is running.

One option for you would be to save the r

[2016-05-03 14:41] murgurgula commented on #2662
I understand, but having the private key in a rule is a security issue.
Rules, custom packs, etc most likely are stored in git. In a company, where infra is split (you do windows, I do linux, bobby takes care of the mail servers, Teddy is the network guy, etc), git may be in the control of someone else and having the keys in there may not be that suitable.

If it was a path the sysadmin would have

[2016-05-03 14:43] Kami commented on #2662
@murgurgula Yes I agree that this approach is not ideal.

We could support both (also support path to the key file and document limitations of that approach - key needs to be deployed on all the servers, etc.), but I'm not too sure this will still be needed once support for encrypted datastore values is in place.

[2016-05-03 14:48] murgurgula commented on #2662
Not for someone who wants security, I would prefer encrypted datastore.

[2016-05-03 17:07] lmarty commented on #2656
Thanks Kami!  Unfortunately, when I do as described above, via the GUI or the CLI, it only takes and displays the last criteria element.  So in the above case, the "contains" criteria would be dropped and the "ncontains" would be the only active element.  I'm on st2 1.4, and I've rebuilt the box fresh to validate the behavior.

[2016-05-03 19:43] murgurgula opened #2665 "st2 client ignoring timezones."
When doing execution list or other commands, UTC timezone is used instead America/Montreal from the config file.

Also, are the timezones implemented in the UI?
Thanx.

Config:
=================================
[general]
base_url = http://127.0.0.1
api_version = v1
cacert =
timezone = America/Montreal

[cli]
debug = True
cache_token = True
timezone = America/Montreal

[credentials]
username = some

[2016-05-03 20:29] m4dcoder commented on #2665
Unable to reproduce problem.

[2016-05-03 20:29] #2665 closed

[2016-05-03 20:31] murgurgula commented on #2665
are there any requirements for this to work?
PS: my installation is an upgrade from 1.3, not a fresh install.

[2016-05-04 05:08] Kami commented on #2656
@lmarty You are welcome.

This actually sounds like a WebUI bug. It should work just fine if you create rule using the CLI (st2 rule create path/to/rule/file.yaml and then st2 rule get <rule id> to verify the criteria).

/cc @enykeev

[2016-05-04 05:09] Kami commented on #2665
As @m4dcoder has said, this should work fine.

Only requirement is you are using StackStorm v1.4 and the latest version of st2client which is part of StackStorm v1.4.

[2016-05-04 05:25] Kami commented on #2656
@lmarty Actually, sorry, I was wrong (I just noticed it now).

Now I see why the example I posted above won't work - `criteria` is a dictionary which means you can't reference the same key / field (in this case `trigger.body`) twice.

That's an unfortunate limitation and one of the workarounds you can probably use is a regex operator and regular expression which fits your criteria.

/cc @lakshmi-k

[2016-05-04 07:13] tenyearslater commented on #2652
I modified `~/.st2/config` and it worked.
Thank you.

[2016-05-04 07:13] #2652 closed

[2016-05-04 17:45] lakshmi-kannan commented on #2656
This is indeed a limitation.

[2016-05-05 01:06] saahn opened #2670 "support for multi-tenant mongo"
It looks like mongoengine requires connection registration with aliases in order to switch between multiple databases.

Our custom pack also uses mongo as a backend database, and it took us a while to figure out why our code was defaulting to the `st2` database even though we were explicitly specifying our own database in our code where we establish mongoengine connection (e.g. `me_client = me.con

[2016-05-05 03:56] #2160 closed

[2016-05-05 06:08] manasdk commented on #2670
Hmm, this seems very reasonable. Let me investigate and figure this out further.

Thanks for the report!

[2016-05-05 20:08] mt5225 opened #2672 "show "paused" status of mistal workflow correctly in st2 command"
mistal workflow is in "paused" state, while st3 execution command still shows workflow in  "running" state.

note: workflow is in paused state if includes  "pause-before: true" in a task.
reference:  http://docs.openstack.org/developer/mistral/dsl/dsl_v2.html#workflows

[2016-05-06 14:04] codyaray opened #2675 "Alias names should be scoped to pack"
I've written some aliases for `github` (still testing, that's why I haven't pushed back yet). Since I'm hitting some issues, I decided to try with the JIRA pack to see if its pack-specific or maybe my setup. So I tried writing a `jira.get_issue` however the name `get_issue` apparently conflicts with the one from `github` that already exists. I would expect the alias name to be scoped to the pack.

[2016-05-06 15:49] Kami commented on #2675
Thanks for the report.

This seems like a bug indeed (we probably don't correctly create a compound index on the pack and the name).

I will look into it. Index fix is easy, but I also need to confirm that hubot and all the rest of the code (API endpoint, etc.) correctly uses full reference (pack name + alias name) when referring to an alias. If that's not the case, the fix will be a bit more invo

[2016-05-06 16:13] lmarty commented on #2656
I knew I wasn't crazy.   Bummer guys! This would be a _very_ handy feature to have for us.  Keep me in the loop as you move forward.  I'll try and find a way around this with other sources of unique in my event stream in the meantime.

[2016-05-06 16:34] manasdk commented on #2656
My guess is that this would need some sort of schema change to do this the right way.

[2016-05-06 16:41] manasdk commented on #2675
Bummer. This looks like a bad miss.

[2016-05-06 23:44] saahn opened #2676 "st2api and st2auth always binds to 127.0.0.1"
I've set the `host` param in st2.conf for auth and api to `0.0.0.0`, but the config is ignored and the gunicorn process binds to 127.0.0.1:

[code]

I've tried modifying the hard-coded local addresses in both `https://github.com/StackStorm/st2/blob/master/st2api/st2api/gunicorn_config.py#L29` and `https://github.com/StackStorm/st2/blob/master/st2auth/st2auth/gunicorn_config.py#L29`

as well as the

[2016-05-07 04:24] Kami commented on #2676
Which distribution you are running?

If you are running Ubuntu, you also need to edit upstart job files, since upstart is used on Ubuntu (IIRC, those files are in `/etc/init/*.conf`).

It's also worth noting that we explicitly bind those services to localhost since they are running behind a proxy (nginx) and aren't directly exposed to the internet.

[2016-05-07 04:27] Kami commented on #2676
@manasdk @lakshmi-kannan We discussed this before but we need to decide what to do with those listen directives in the config when using packages and gunicorn.

One option is to utilize those values instead of the CLI arguments which are passed to gunicorn process (then we need to be careful we ship a correct default config with the packages). Another one is to simply document this behavior and le

[2016-05-09 17:22] saahn commented on #2676
@Kami I'm using Ubuntu 14.04.
Thanks, updating the upstart job files did the trick.

[2016-05-09 17:50] lakshmi-kannan commented on #2676
Yeah, I think we should make config work with gunicorn. It might get nasty because of ordering issues. Anyways, that seems like the ideal solution.

[2016-05-11 21:41] lakshmi-kannan opened #2678 "Passing user context around to rules, sensors and actions"
## Pre-requisites

https://github.com/StackStorm/discussions/issues/167
https://github.com/StackStorm/st2/pull/2669

## What?

The problem is pretty simple - User scoped variables cannot be used anywhere in content if the event entering the StackStorm system is not kicked off manually by the user (CLI or UI command to run an action/workflow). Rules is a good example. There is no notion of "user" w

[2016-05-11 22:30] manasdk commented on #2678
I do not understand how a TriggerInstance can have a user context. If the TriggerInstance has a user property then that is part of the opaque schema of the TriggerInstance however StackStorm itself should not provide any semantic meaning to this concept. Point being any property coming from the payload of a TriggerInstance could be designated by the Rule author as a user making StackStorm unaware

[2016-05-12 12:47] Kami commented on #2678
We have been going back on forth on this many, many times. I thought we all agreed on this in the past - that's a feature (of the infrastructure as code approach) and not a bug.

We have two ways to manipulate the system - via on disk content (infrastructure as code approach) and via API (breaks infrastructure as code approach in some situations when using operations which mutate state, but some u

[2016-05-12 17:39] codyaray opened #2681 "Document Best Practices for Monitoring your StackStorm Cluster"
Follow-up to our Slack discussion:

https://stackstorm-community.slack.com/archives/community/p1463072370004154
- Are any actions repeatedly executing?
- Do I have too many long-running executions?
- Are my executions requested/pending for too long?
- When do I need to scale out the number of action runners?
- Which executions are killing my CPU/memory/etc?
- How do I know that all the executions

[2016-05-12 19:49] codyaray commented on #2499
Just realized this issue was still open. Tested more fully today for you. The new formats all look great!

I think we've discussed this before, but I still expect the `day_of_week` numbering to cause issues. The `day_of_week` numbers used by [apscheduler](http://apscheduler.readthedocs.io/en/latest/modules/triggers/cron.html#apscheduler.triggers.cron.CronTrigger) are all off by one from what most

[2016-05-12 20:00] codyaray opened #2682 "Process the triggers folder like actions and sensors"
Follow-up issue to StackStorm/st2contrib#475.

We should support registering triggers which don't belong to the any sensor. Creating webhooks means creating standalone triggers. The most obvious convention would be to process YAML files in each pack's `<pack name>/triggers/` directory like we do with sensors, actions, rules, etc.

Acceptance Criteria:
* `st2ctl reload --register-triggers` new comm

[2016-05-13 01:31] stevemuskiewicz commented on #2397
Is there a way to view the Slack discussion at all, Slack says "Some older messages won't be shown because your team has over 10,000 messages"

I just hit this issue on a VM that was installed clean from RPM...never had the AIO installer used in it.  This is a little disconcerting that this could happen on a running system!

[2016-05-13 01:32] stevemuskiewicz commented on #2397
S.5....T.  c /etc/st2/htpasswd
S.5....T.  c /etc/st2/st2.conf
missing     /opt/stackstorm/st2/bin/st2actionrunner
..5....T.    /opt/stackstorm/st2/pip-selfcheck.json
missing     /usr/lib/systemd/system/st2actionrunner.service
missing     /usr/lib/systemd/system/st2actionrunner@.service
missing     /var/run/st2

[2016-05-13 01:45] stevemuskiewicz commented on #2397
And now I'm stuck...

I did a "yum reinstall st2" and that put the files back but st2ctl restart doesn't work and I can't trace what the problem is:

Failed to stop st2actionrunner.service: Unit st2actionrunner.service not loaded.
Failed to start st2actionrunner.service: Unit st2actionrunner.service failed to load: No such file or directory.
##### st2 components status #####
st2actionrunner is not

[2016-05-13 06:21] Kami commented on #2682
Thanks for opening this ticket.

We've briefly talked about this in the past and I'm +1 on that change (this way we can stop "abusing" the API in some scenarios like sensu pack, etc.).

[2016-05-13 07:18] Kami commented on #2397
@stevemuskiewicz Which installation method did you use, new packages?

In any case, it looks like installations some how failed half-way through so I would recommend you to try a re-installing using new packages on a fresh server.

[2016-05-13 07:49] Kami commented on #2499
You are welcome.

Both implementation seem to use `0-`6, but it seems like appscheduler starts with Monday and cron (at least what's described on Wikipedia) with Sunday. Is this correct and that's the inconsistency you don't like?

If so, I would need to do a bit more research to verify that most of the cron implementation indeed start with Saturday. If most implementations indeed start with Sunda

[2016-05-13 13:45] codyaray commented on #2499
That sounds about right. Specifically, people tend to think `1-5` means all weekdays, Monday to Friday. I'm sure that we're going to see folks set `1-5` and accidentally get Tuesday through Saturday. Of course, I'll try to get them to just do `mon-fri` which avoids this whole mess. :)

[2016-05-13 13:46] stevemuskiewicz commented on #2397
@Kami I used the RPM package install (CentOS 7).  However this wasn't a failure *during* the install, the VM has been running with Stackstorm 1.3 successfully for over a month now.

I did have to reboot the VM yesterday due to some unrelated network problems, when it came back up was when I noticed that st2actionrunner had the problem.  (However I had successfully rebooted several times over the c

[2016-05-13 14:10] manasdk commented on #2397
@stevemuskiewicz Lets do this over slack?

[2016-05-13 15:07] stevemuskiewicz commented on #2397
@manasdk Sure I'm on Slack now, though I think I may have an idea of what went wrong.  The VM (ESXi) uses a shared/iSCSI datastore that became inaccessible yesterday.  This morning we did a network upgrade which also briefly interrupted the connection and afterward my ssh session to the st2 VM was complaining about "I/O error" for any command I attempted to run.  Also the vmtools were reporting "c

[2016-05-17 10:20] Kami commented on #2499
@codyaray We could do a code change, but that change would be backward-incompatible so I decided to go with a documentation change to begin with - https://github.com/StackStorm/st2docs/pull/154

In case more people complain, we can revisit this decision and potentially change our `CronTrigger` `day_of_week` behavior to fully match the cron one.

I will go ahead and close this ticket, but as mentio

[2016-05-17 10:20] #2499 closed

[2016-05-17 12:10] Kami opened #2686 "[RFC] [PROPOSAL] API version 2"
## Background

From the end-user perspective, API v1 is not too bad (there are definitely worse RESTful APIs out there), but from developer and maintainability perspective, API v1 is quite horrible (it has been causing us a lot of pain).

A lot of that is related to our (ab)use of Pecan. We use Pecan in ways it was never really meant to be used. This results in a lot of hacks (jsexpose is a terrib

[2016-05-17 12:32] codyaray commented on #2499
Sounds good. Thanks for updating the docs at least.

Actually had my first "customer" run into this issue over the weekend. I'll wait before I open to see how much push-back I get and if I can just push everyone to use `mon-fri` instead. :)

Thanks Kami!

[2016-05-17 14:11] Kami commented on #2499
You are welcome and keep us posted :)

[2016-05-17 16:11] manasdk commented on #2686
I like swagger. Good community around it, I would also encourage us to look at RAML

[2016-05-18 13:12] ericcitaire opened #2689 "Missing dependency pytz in requirements.txt"
Here's the trace after a fresh install of `st2client` using `pip` :

[code]

`pytz` should be added to `dependencies.txt`.

[2016-05-18 14:02] Kami commented on #2689
Thanks for the report.

I believe one of our dependencies is depending on `pytz` so we in-directly depended on `pytz`. It's possible though that this dependency is used by some other component of st2 and not st2client. In this case it would break if you manually install `st2client` from PyPi or similar.

I will dig in and update `st2client` requirements.txt if needed.

[2016-05-18 14:14] Kami commented on #2689
Fix in #2690 - good catch & thanks!

[2016-05-18 14:42] Kami commented on #2689
@ericcitaire I've merged PR into master.

The issue will be resolved once we publish new client to PyPi (this will happen when we release StackStorm v1.4.1 or v1.5.0).

[2016-05-18 14:55] ericcitaire commented on #2689
Thanks guys! That was fast!! :)

[2016-05-18 18:03] sixth opened #2692 "Request: Ability to migrate api keys to new installs"
Hi there,

As stackstorm is going through updating its installation and upgrade processes, I've been having to create fresh new st2 instances as a fix for different issues i've encountered.

My production stackstorm instance is mostly used via its webhook and accessed through an api key. Since at most times the api key is hardcoded to my developer's code, It would be a nice feature to have a way t

[2016-05-18 23:42] lakshmi-kannan opened #2693 "ST2_AUTH_TOKEN env variable set in sensor container but not in action leading to issues"
User was following this doc to access key value items instead of datastore services but it looks like we don't set the ST2_AUTH_TOKEN env variable in action runners. This means the same code works in sensor but fails in action complaining about auth.

[code]
Also related: https://github.com/StackStorm/st2docs/issues/156

[2016-05-18 23:46] lakshmi-kannan opened #2694 "Inconsistency in self._sensor_service and self.action_service"

[2016-05-19 08:26] Kami commented on #2694
Yep, there is a same thing with config (`self.config` and `self._config` - it's inconsistency between actions and sensors).

Since they are "public attributes" we should get rid of `_` for consistency (well, we should leave it there as a @property for backward  compatibility, but that's it).

What do others think?

[2016-05-19 08:40] Kami commented on #2693
We do set it for actions, it's called `ST2_ACTION_AUTH_TOKEN`. All the public variables StackStorm sets and which are available to actions are prefixed with `ST2_ACTION_` (that's documented in actions section of the documentation).

The `ST2_AUTH_TOKEN` variable you are talking about is actually a "private" variable set for the st2client so SensorWrapper can access the datastore via API.

(And yes

[2016-05-19 08:43] Kami commented on #2693
Actually, please ignore my comment above (I need to stop responding to comments before I have my coffee :P)

Looks like the issue you are talking about is accessing the datastore via the new `action_service` and not directly. In that case, we need to set that environment variable, yeah (or ideally, make client work with a token which is provided via constructor, but this would require bigger clien

[2016-05-19 22:05] lakshmi-kannan opened #2702 "st2 execution get -j and st2 execution get -dj differences make it hard for people to debug a loop in workflow"
See this gist from codyaray https://gist.github.com/codyaray/4be049203d9036954f0caa547ede4836

[2016-05-19 23:11] #2694 closed

[2016-05-20 01:35] lakshmi-kannan opened #2704 "Rule enforcement get returns empty rule_ref"
[code]

[2016-05-20 01:36] lakshmi-kannan commented on #2702
@Kami Mind looking into whether this is an actual issue?

[2016-05-20 01:40] manasdk commented on #2704
Good part is its in the DB

[code]

[2016-05-20 02:16] manasdk commented on #2704
Looks like it works ok on v1.4

[code]

[2016-05-20 07:44] tenyearslater commented on #2676
I am using v1.4 on CentOS7.1.
When I run mistral-v2 workflow, the mistral-server log shows that `Failed to establish a new connection` to the server ip and 9101 port. Because the st2api bind to 127.0.0.1:9101 so it refused the connection to <server ip>:9101.
How to config the st2api to bind to 0.0.0.0:9101 ?
How to config the st2api to run with nginx  ?
[code]

[2016-05-20 12:10] Kami opened #2705 "Refactor ResourceRegistrar classes (reduce duplicated code)"
We should refactor all the common resource registrar code and move it to the base class. Actual resource-specific classes should just contain a small amount of meta-data (which API model to use, which persistence class to use, etc).

I've already done a pass in the past, but there is still way too much of duplicated code and by refactoring it, we can get rid of substantial amount of duplicated cod

[2016-05-20 18:24] Kami opened #2706 "Add another "timestamp" attribute to the execution object when represents a time execution has been started"
Right now we have `start_timestamp` which is set when an execution is scheduled (aka requested by the API or other service) and `stop_timestamp` which is set by the runner container when execution finishes.

There could be a delay (for whatever reason) between when execution is scheduled (`start_timestamp`) and when it actually starts being executed by the runner. We should add another timestamp a

[2016-05-20 18:53] lakshmi-kannan opened #2707 "Need at least few examples of configuring chatops aliases in examples folder"

[2016-05-20 19:43] #2693 closed

[2016-05-23 19:28] lakshmi-kannan opened #2709 "Document how to supply RSA key in YAML (multi-line syntax)"
Salvage from https://docs.stackstorm.com/1.3/install/all_in_one.html#how-do-i-specify-st2-ssl-public-key-and-st2-ssl-private-key-in-answers-yaml-file

[2016-05-23 19:42] lakshmi-kannan commented on #2704
Thanks for validating! Closing as not reproducible.

[2016-05-23 19:42] #2704 closed

[2016-05-23 21:41] #2675 closed

[2016-05-23 21:54] manasdk commented on #2702
I suspect the `tasks` section was removed from the `-dj` output.  I am not quite certain if there is anything for us to fix in this case.

[2016-05-23 22:20] manasdk commented on #2692
### Extract API keys
`st2 apikey list -dj/-dy`

### Upload API keys
`st2 apikey create -f apikeys.json/apikeys.yaml`

[2016-05-23 22:20] lakshmi-kannan commented on #2692
@manasdk Can you document this in st2docs?

[2016-05-23 22:21] manasdk commented on #2692
Sure, once I implement it :)

[2016-05-23 22:22] manasdk commented on #2689
Fixed.

[2016-05-23 22:22] #2689 closed

[2016-05-24 18:50] manasdk commented on #2692
Done.

[2016-05-24 18:50] #2692 closed

[2016-05-24 19:09] manasdk commented on #2706
I cannot help but agree with @enykeev. We need some sort of audit-trail of activities on a single execution.

[2016-05-24 21:48] manasdk commented on #2670
@saahn I looked at the code and tried to see if willing mongoengine to do this part is possible. As a one time thing I discovered that changing the code should be possible however going forward it will become a bit of a maintenance nightmare for us since everytime a new model is added we would need to make sure that `meta = {"db_alias": "st2"}` would have to be properly assigned. We could build ou

[2016-05-25 08:32] Kami commented on #2706
I agree, ideally we would log all the state transitions and events related to executions.

We already kinda do that in the logs, but it's not really in a consistent and structured format and that makes it hard to use and query.

In any case, I think this additional timestamp would still be beneficial, even if we had this even stream, or whatever we want to call it.

[2016-05-25 12:04] enykeev commented on #2686
I wonder if we need REST framework at all. At its core, API service is very simple: each request goes through a multiple levels of middlewares that translates incoming data into user-friendly api (check cache headers and return proper code if data haven't changed, validate request body and respond with error if it's malformed, parse cookies into list) then gets routed to the particular controller,

[2016-05-25 20:56] enykeev commented on #2686
I went ahead and compared the version we're using with current pecan master (https://github.com/StackStorm/pecan/compare/st2-patched...pecan:master). Only a couple of things have really changed:
 - pecan's own expose decorator now has `route` argument that potentially allows to build custom routing scheme [[1]](https://github.com/StackStorm/pecan/compare/st2-patched...pecan:master#diff-0941f1659f0

[2016-05-25 23:34] manasdk commented on #2656
Took a closer look at this today and the only reasonable approach would require a schema change of the criteria field in rules; move it from `dictionary` to `list`. This ofcourse has right upto what we save in the DB so would require migration scripts etc.

[2016-05-26 05:41] enykeev commented on #2686
It seems to me that in python world, [simplerouter](https://bitbucket.org/rschoon/simplerouter/src/d6c7346d4878208515806f18ec6a1a8247b82d4d/simplerouter.py?fileviewer=file-view-default) is pretty close to a minimum viable implementation of http service. You can probably throw away WebOb too if you fine working with environ directly, though it's likely a level of convenience we want to keep. Redire

[2016-05-26 06:20] enykeev commented on #2686
As far as Swagger-compatible frameworks go, [connexion](https://github.com/zalando/connexion/) seems  to be the only option. It pulls Flask with it, although mostly it only uses its Request\Response objects (same thing WebOb provides). It also only works with gevent and not eventlet (as far as I can tell, they are mostly compatible, but the particular degree is something we would need to investiga

[2016-05-26 08:02] enykeev commented on #2706
Note that we change status to `running` when we dispatch it to MQ [[1]](https://github.com/StackStorm/st2/blob/b74067d4afd9f871f42876e93c633883fa38af68/st2actions/st2actions/worker.py#L107-L107) and there is really no limit on how long it might be there before it gets picked up by the worker. Also note that the way st2 is designed, worker has a pretty decent chance to be running on the different m

[2016-05-26 19:28] lakshmi-kannan commented on #2706
We can punt it but I am pretty sure we won't work on event log in next few months. I'd rather have a timestamp now and build event log later. As far as where you should start ticking the time for running, it looks like we actually have a bug that we set status to ``running`` even before dispatching. So I think we need a new state ``dispatched``. This is anyways needed and the right thing to do. We

[2016-05-26 21:05] codyaray opened #2715 "Cron timer triggers not found this morning"
Issue from https://stackstorm-community.slack.com/archives/community/p1464270424007061

Looks like none of our cron rules ran last night. Found these in the st2rulesengine.log file

stackstorm blueprint node 1:
[code]

stackstorm blueprint node 2:
[code]

Trying to figure out ​why the cron triggers don't exist anymore.

Doesn't look like these types of triggers show up in `st2 trigger list` but I

[2016-05-26 22:11] lakshmi-kannan commented on #2533
All in one is now deprecated. Closing.

[2016-05-26 22:11] #2533 closed

[2016-05-26 22:12] lakshmi-kannan commented on #2460
Closing. We've switched to using native packages and upgrades should now work.

[2016-05-26 22:12] #2460 closed

[2016-05-26 22:16] lakshmi-kannan commented on #2599
Related: https://github.com/StackStorm/st2/issues/1598

[2016-05-26 22:16] m4dcoder commented on #2222
https://github.com/openstack/mistral/commit/433d8e7e994744a38ffe515b4d19095eeaa215ac

[2016-05-26 22:17] #2222 closed

[2016-05-26 22:21] lakshmi-kannan commented on #2410
In hindsight, I am ok with this. Closing.

[2016-05-26 22:21] #2410 closed

[2016-05-26 22:29] #2538 closed

[2016-05-27 10:26] enykeev commented on #2686
Since no one is biting, I'll continue in a form of monologue =)

Thing is, for all the issues in this thread, only "Nicer and more "RESTful" paths" is a breaking change to the API, the rest is just refactoring that would be good to do either before or during v2 implementation. I'd like us to discuss other types of breaking changes that are desperately needed:

- Separate data structure and API for

[2016-05-28 00:42] bri365 commented on #2220
@Kami any idea if this proposal is moving forward?  Its beginning to account for a vast number of TODOs in our code :-)

[2016-05-28 10:08] Kami commented on #2220
@bri365 Hey, sorry, we still didn't get a change to look into this yet.

I will try to look into it and come up with some easy and simple 80% solution (e.g. maybe ignore remote runner to begin with and only solve it for python runner actions) once I'm done with improved pack configuration (probably some time next week).

In the mean time - another potential solution would be to distribute common c

[2016-05-28 18:08] bri365 commented on #2220
Thanks, @Kami, much appreciated!
We do package up some of our shared code (mainly code shared between packs at this point).

[2016-05-30 15:26] lbogardi opened #2721 "Verification of user's group fails in LDAP backend."
Hi Folks, @m4dcoder

after setting up LDAP auth backend, I found, that ldap binding works fine, it finds the user to be authenticated, but, when it comes to the group validation, it fails. After some debugging,
I get the following result:

`2016-05-30 17:09:24,507 41870672 INFO app [-] st2auth.app app created.
2016-05-30 17:09:39,828 56682928 ERROR ldap_backend [-] Query"(|(&(objectClass=*)(|(memb

[2016-05-30 16:08] jjm opened #2722 "Feature Request - Standard way to handle Text formatting with Templates"
Should we have a story in ST2 for handling formatting of text for use in workflows using Jinga2 templates over and above action aliases?

My thoughts on this come from us requiring a scalable manner (i.e. a single action instead of many actions) to handle formatting of troubleshooting information that can be sent to our ticket system while at the same time being able to keep data that's returned b

[2016-05-31 09:24] Kami commented on #2721
Thanks for the report.

I'm not exactly sure why it's not working (it looks like a invalid query, but I would need to dig in), but @m4dcoder might have more clue :)

For one, we need to add more debug logging to the backend so it will make things easier to debug:

1. Log actual connection URL (that's important to see if SSL / TLS is used)
2. Log information which was retrieved by the server (user

[2016-05-31 09:51] Kami commented on #2715
(We've already debugged this on Slack a bit and it seemed like a weird race during trigger creation).

Does this issue still exists or is it fine now? (When we checked the DB it looks like trigger was there and that's what made it looked like a race aka trigger didn't exist at some point back in time).

[2016-05-31 12:14] lbogardi commented on #2721
Hey @Kami,

here is what you've asked for:

`2016-05-31 14:08:10,965 41907536 INFO __init__ [-] Connecting to database "st2" @ "0.0.0.0:27017" as user "None".
2016-05-31 14:08:11,020 41907536 INFO app [-] st2auth.app app created.
2016-05-31 14:08:19,620 56826288 ERROR ldap_backend [-] Endpoint: "ldaps://ldap.ams-ix.net:636"
None
2016-05-31 14:08:19,620 56826288 ERROR ldap_backend [-] Group DNs: "[

[2016-05-31 12:31] sbakker commented on #2721
Sorry for butting in.

I've fixed this before for CheckMk, see http://lists.mathias-kettner.de/pipermail/omd-devel/2013-July/000450.html.

It looks like the code is expecting group membership to be implemented in objects with parent classes `groupOfNames` or `groupOfUniqueNames`, using attributes `member` or `uniqueMember`. We use `posixGroup` with the `memberUid` attribute. The `memberUid` attrib

[2016-05-31 13:09] Kami commented on #2721
@lbogardi Thanks for providing additional details.

@sbakker Thanks for the pointers - we will look into it (and also amend and improve our tests :)).

/cc @m4dcoder

[2016-05-31 14:46] lbogardi commented on #2721
Hi @m4dcoder, @Kami

a possible (working in our case) solution for the problem:

[code]

as it was pointed out by @sbakker, the uniqueMember filter might be unneccessary, too.

Hope it helps,
Cheers

[2016-06-02 01:18] codyaray commented on #2715
It looks like my cron triggers are firing right now, but I've been traveling the last few days and might not have been as observant as normal.

[2016-06-02 09:33] Kami commented on #2715
Thanks for the clarification.

This could indeed indicate a race (trigger was first missing so it failed, but it was created later at some point so new cron timers are succeeding).

I will look into it some more when I get a chance.

[2016-06-03 20:29] codyaray opened #2730 "Creating a rule with month: "*" fails"
Specifying the month in a CronTimer rule results in an Internal Server Error. The below rule code works fine without the `month: "*"` line.

[code]

Try to load it

[code]

We can see what happens in the logs here:

[code]

[2016-06-05 14:17] Kami commented on #2730
Thanks for reporting this, I will look into it tomorrow.

From the error it actually seems related to a bad state in DB and not "*" value for month per say, but I could be wrong and I will see when I look into it and try to reproduce it,

[2016-06-06 10:42] Kami commented on #2730
Just a heads up - I was able to reproduce it and I'm looking into it.

[2016-06-06 11:14] Kami commented on #2730
Looks like it's some weird issue when querying and Python types are unicode (and it doesn't always happen :/)

[code]

[2016-06-06 11:36] codyaray commented on #2730
Thanks!

[2016-06-06 11:37] Kami commented on #2730
After more digging it looks like a bug lies inside pymongo. I'm trying to come up with a work-around but it turns out it's quite hard - there also appears to be a bug with query set cache so even if I disable it I get an exception back :/

[2016-06-07 11:56] Kami commented on #2730
@codyaray I just merged #2732 (as noted in that PR, the work-around / hack is terrible, but that's the only option we have right now).

I did confirm it myself, but can you please also confirm that this change fixes the issue for you as well (you will also need to delete "bad rules" aka ones without corresponding TriggerDB objects from the database, you might need to do that use `mongo` shell / re

[2016-06-07 13:07] codyaray commented on #2730
This was discovered on my prod cluster, so I'm unlikely to update to an unstable version since I have a workaround (i.e., my rules don't actually _have_ to specify the month). However, I'll try to test/reproduce in my dev environment.

[2016-06-07 14:14] Kami commented on #2542
Alright everyone.

Feature, which among other things also solves this problem (separates pack configs from code) is now finally in a usable enough state so it can be tested end to end by the users (this feature will released in next stable release - StackStorm v1.5).

Initial documentation for new pack configuration feature is available at https://docs.stackstorm.com/latest/pack_configs.html (your

[2016-06-07 14:32] codyaray commented on #2730
@Kami Most of my cron triggers didn't fire again this morning. Is this related? From the logs:

[code]

[2016-06-07 14:34] Kami commented on #2730
@codyaray Yeah, I forgot to say that this bug is (as far as I know) causing this issue as well since it follows the same code-path and utilizes the same function.

In short - it should fix this issue as well.

[2016-06-07 14:35] codyaray commented on #2730
Well. In that case, I think I might just upgrade. Can't have failing jobs in my prod cluster. :)

[2016-06-07 15:37] codyaray commented on #2730
Upgraded to 1.5dev-92 and confirmed that this fixed the reported issue with `month: "*"`. Can I just delete all the rules using the CLI and re-sync them to effectively removed the bad ones from the DB?

[2016-06-07 16:12] Kami commented on #2730
If it works, you can, yes. If it doesn't you will need to resort to Mongo shell / repl.

[2016-06-07 22:19] lakshmi-kannan commented on #2722
This is something we were thinking about as well. Aside from text formatting, there are other functions that could be applied to action output such as data transformations etc. So a common platform feature to tie a data mangler to a runner would be useful IMO. That goal is slightly more lofty. I'll bring this up internally and see if we can agree on a common set of use cases we can tackle. I'll al

[2016-06-08 17:21] codyaray commented on #2730
@Kami deleting and re-adding apparently did not fix. Got "Trigger not found" again this morning.

Just ran `db.trigger_d_b.remove()` on mongo master, `sudo st2ctl restart` on each node, and then ran `st2ctl reload --register-all` (and cleaned up errors until it finished successfully; still need to finish #2701]). I guess we'll see how tomorrow morning goes. :)

[2016-06-08 17:24] codyaray commented on #2715
A fix for #2730 was pushed that should also fix this issue.

[2016-06-08 17:26] codyaray commented on #2730
Closing this issue and moving back to #2715 where the existing problem may or may not still exist.

[2016-06-08 17:26] #2730 closed

[2016-06-08 17:29] codyaray commented on #2593
Nginx 1.7.5+ is now a requirement. Since this isn't available in the default Ubuntu repos at the time, I did something like this:

[code]

Closing.

[2016-06-08 17:29] #2593 closed

[2016-06-08 23:23] JohnWelborn opened #2737 "Mistral workflow hangs when calling a task that uses another workflow but references just the workbook"
In workflows/workbook-hangs.yaml below, when the task calls "workflow: ec.workflow-noop" without the ".main" at the end it will cause the workflow to stay in the running state while only showing the first_task_required as completed.

If I remove the task "first_task_required", I get the error I would expect to have seen before:
"state_info": "Failed to find workflow [name=ec.workflow-noop]"

Ubunt

[2016-06-09 08:38] Kami commented on #2737
Thanks for the report. We will look into it.

/cc @m4dcoder

[2016-06-09 09:22] Kami commented on #2715
@codyaray Yeah, please let me know how it goes :)

[2016-06-09 13:55] codyaray commented on #2715
Woo, my rules ran again this morning.

For the record (from the other issue), here's what I did yesterday:

[2016-06-09 14:39] Kami commented on #2715
Awesome, glad to hear that!

And yeah, I do believe that this workaround fixes this completely. The workaround is kinda hacky though, so in the near future we will also look into upgrading pymongo and mongoengine and hope that this bug is fixed in latest release.

[2016-06-10 08:47] Kami commented on #2706
This has been resolved by #2718, closing.

[2016-06-10 08:47] #2706 closed

[2016-06-10 08:48] Kami commented on #2662
This has been resolved by #2668 and it will be included in the next stable release. Closing.

[2016-06-10 08:48] #2662 closed

[2016-06-10 08:50] Kami commented on #2621
This has been resolved (worked-around) with `use_none` filter in #2623. Closing.

[2016-06-10 08:50] #2621 closed

[2016-06-10 09:07] Kami commented on #2293
This is an old issue and a lot of things with regards to alias parsing have changed (and been improved) so I will close this issue.

If the issue still exists with the latest version, please open a new ticket and we will have a look.

[2016-06-10 09:07] #2293 closed

[2016-06-10 09:09] Kami commented on #2008
This has been done in most places already by the use of `retrying` library. Closing.

[2016-06-10 09:09] #2008 closed

[2016-06-10 19:20] codyaray commented on #2721
Fwiw, I'm in favor of not _requiring_ but _supporting_ group membership restriction. When I first got started with St2 Enterprise, we didn't yet have an A/D group for it created. Since I had to specify a group, I ended up just piggybacking on another group for a while.

PS hi @sbakker! surprised to see a fellow check_mk user here! I've got a super-basic [check_mk PR](https://github.com/StackStorm/

[2016-06-10 20:10] sbakker commented on #2721
Ooh, check_mk to St2, nice! But yeah, we went from a badly maintained Nagios setup to Zabbix (*shudder*), before giving check_mk a try. It's pretty cool and it's not too difficult to write custom checks.

[2016-06-13 15:23] codyaray opened #2740 "Bug in `st2 execution list -a all`"
Was looking at the `st2 execution list` help and was curious about all the available attributes.

[code]

But when I tried with "all" as documented, I hit a bug.

[code]

It works fine with known attrs (like action.ref) and with nonexistent attrs (like 'asdsf') it outputs one blank field per row which is fine.

I'm on a pretty recent dev version of st2.

[code]

[2016-06-13 15:39] Kami commented on #2740
Good catch, thanks for the report.

We will look into it.

[2016-06-13 18:19] manasdk opened #2742 "python action should be allowed to return status"
Reporting back an error status along with the some data is useful for a python action.

[code]

This would allow extra data to be returned even if there were a failure in the action.

[2016-06-13 19:10] aniruddhamonker opened #2743 "Help for 'st2 run <pack-name>' should include an example on how to use the command"
trying to figure out the exact command syntax for command:

st2 run linux.dig -h

the output do not show any help on exact syntax to execute the command

[2016-06-13 19:20] manasdk commented on #2743
@aniruddhamonker If you are specifically interested in `linux.dig` you can add more information https://github.com/StackStorm/st2/blob/master/contrib/linux/actions/dig.yaml.

Typically we do not capture usage in descriptions. Specifically, this boils down to the fact that usage cannot be capture in a way that would make sense simultaneously in WebUI, CLI and ChatOps.

[2016-06-14 16:55] acm1 opened #2746 "Fabric SSH runner hangs when using `use_ssh_config = True` and ProxyCommand"
If you are using the Fabric SSH runner with your user ssh config, and if your ssh config file uses `ProxyCommand` lines to connect through bastions, st2actionrunner will hang indefinitely, eventually using 100% CPU. This looks to be caused by calling `eventlet.monkey_patch()` too late. See https://github.com/paramiko/paramiko/issues/389 for discussion of a similar problem. Monkey patching earlier

[2016-06-14 20:15] geovanisouza92 opened #2749 "Docker installation"
Hello, this seems to be a nice project.

There is any plan or WIP to create a Docker installation (maybe with Docker Compose)?

[2016-06-14 20:49] manasdk commented on #2749
We do have plans for this stuff for sure.  One such QIP example is https://github.com/enykeev/st2box/blob/master/docker-compose.yaml and https://github.com/StackStorm/st2-dockerfiles/blob/master/docker-compose.yml

We really have not spent time in supporting any of these but plan is to eventually have full-fledged docker support.

[2016-06-14 21:24] geovanisouza92 commented on #2749
Ok, I'll take a look at this. Thanks for now.

[2016-06-15 07:44] jjm opened #2751 "st2stream traceback's with TokenExpiredError: Token has expired."
This morning one of our hubot's has been disconnected from StackStorm due to a traceback and associated restart of st2stream.

[code]

This seems to be the most common cause of hubot not sending relies to commands back to Slack.

[2016-06-15 07:50] jjm commented on #2751
About the same time hubot logged the following in it's log:

[code]

Ideally hubot should also reconnect (or exit and restart) when getting this error.

[2016-06-15 16:46] #2646 closed

[2016-06-15 22:20] manasdk commented on #2676
@tenyearslater The right way to do this is to update the URL for mistral to communicate with StackStorm A PI. In `/etc/st2/st2.conf` add -

[code]

After updating the StackStorm config file restart StackStorm services by `sudo st2ctl restart`

[2016-06-15 22:34] #2543 closed

[2016-06-16 07:59] jjm commented on #2751
This happened again this morning with our other StackStorm installation.

[2016-06-16 20:48] manasdk commented on #2751
@jjm Enabled support for api key for hubot-stackstorm. This way you can use an API key instead of using username/password.

https://github.com/StackStorm/hubot-stackstorm/pull/115. Also, new package has been published to npm https://www.npmjs.com/package/hubot-stackstorm.

st2chatops for v1.5 should have the new package but if you want it earlier you can run `npm update hubot-stackstorm` in `/opt/

[2016-06-17 22:23] cbrenton opened #2756 "Service files for st2actionrunner are deleted on restart"
When I restart my machine, I am unable to start the st2actionrunner service. Further investigation reveals that the files in `/usr/lib/systemd/system/st2actionrunner*.service` are missing. Fixing this requires running `yum reinstall st2`. This happens consistently when restarting this machine (CentOS 7).

[2016-06-18 15:42] Kami commented on #2756
Thanks for the report.

How did you install StackStorm (AIO or packages)?

IIRC, similar issue was reported recently when installing packages on top of deprecated AIO based installation. AIO based installation has been deprecated and packages should always be used on a clear / fresh server.

If you experienced this issue when using package based installation on a fresh server, let us know and prov

[2016-06-20 11:56] Kami commented on #2682
This has been addressed by #2752.

Closing & thanks!

[2016-06-20 11:56] #2682 closed

[2016-06-21 21:15] DoriftoShoes commented on #2756
I've been unable to repro this issue.  @cbrenton What installation method did you use?  Was this a fresh install with the new packages?

[2016-06-22 05:46] Kami commented on #2756
To clarify it again - user reported the same issue in the past when they installed new packages over AIO installation.

That's a expected since we don't support that use case (AIO has been deprecated you need to migrate content and install packages on a new server). The problem is that with AIO puppet will periodically run and remove files, etc.

[2016-06-22 15:36] codyaray commented on #2715
This happened again. :(

[code]

I'm currently running version 1.5dev-98.

[2016-06-22 15:52] codyaray commented on #2715
Actually, looks like this failed at a different spot this time.

[code]

instead of

[code]

Closing issue and creating new one.

[2016-06-22 15:52] #2715 closed

[2016-06-22 16:39] codyaray opened #2765 "Cron timers not found - StagedQueueConsumer failed to process message"
This looks similar to #2715 but could have a different cause.

[code]

It looks like this failed at a different spot this time than it did in #2715 .

[code]

instead of

[code]

I'm currently running an [HA setup](https://docs.stackstorm.com/latest/reference/ha.html) with version 1.5dev-98 on both nodes:

[code]

My controller node doesn't run any st2 workers:

[code]

For what its worth, I haven

[2016-06-22 16:56] #2746 closed

[2016-06-22 17:05] codyaray commented on #2765
For the record (from the other issue), here's what I did just now to hopefully clear things up:

Got an error on reload: `A simple trigger should have been created when registering triggertype. Cannot create trigger`. Had to manually re-add some other stuff:

[code]

Then the reload worked as expected.

Here's hoping it works *fingers crossed*

[2016-06-23 16:53] codyaray commented on #2681
https://stackstorm-community.slack.com/archives/community/p1466700736001489

RabbitMQ lengths:
* `st2.actionrunner.req` for Requested actions
* `st2.actionrunner.work` for Scheduled actions
* `st2.actionrunner.canel` [sic] for Canceling actions

[2016-06-23 17:40] codyaray opened #2776 "Broker connection error should be ERROR not WARNING"
These broker connection errors should probably be logged at ERROR level rather than WARNING level currently.

![Uploading Screen Shot 2016-06-23 at 12.36.16 PM 1.png…](https://s32.postimg.org/wzggpn6ph/Screen_Shot_2016_06_23_at_12_36_16_PM_1.png)

Not high priority.

[2016-06-23 19:32] Kami commented on #2681
Thanks for opening this issue.

I totally agree that we should provide more operational metrics directly from StackStorm. Some of the things you have described are not really responsibility of StackStorm, but we should definitely provide some kind of health endpoint with high-level app specific metrics (how many pending executions, etc.).

[2016-06-23 22:56] cbrenton commented on #2756
I believe this instance was installed using the AIO installer. I will update our install process accordingly.

[2016-06-23 23:23] codyaray commented on #2681
This was more of a "tell me what to monitor" than a "make a monitoring solution for me". Of course, I do really like apps that have monitoring endpoints that spit out a bunch of operational metrics as JSON over HTTP. (Of course, this only tells you how its performing _if_ its performing; only the absence of data tells you of downtime.) There's definitely room for both.

[2016-06-24 00:41] LindsayHill commented on #2681
This is a good topic @codyaray (and near to my heart, since I've spent a lot of time with monitoring systems over the years). I think it's a combination thing. We need to:
* Make sure that ST2 makes it easy to get access to key operational status/metrics
* Publish guidelines on what to monitor & how to get access to that data
* (Possibly) Create a template/plugin for some monitoring toolset that m

[2016-06-24 02:28] codyaray commented on #2681
Likewise - I'm putting together some logstash configs for parsing all the st2 logs right now. These are likely going to stay "community" but even having them is a big help.

[2016-06-24 02:58] LindsayHill commented on #2681
Good stuff. There's some existing logstash stuff here https://github.com/StackStorm/st2contrib/tree/master/extra/logstash, but it looks like it could do with an update.

[2016-06-26 11:41] nzlosh opened #2778 "st2actionrunner upstart script fails to stop all running instances"
The current st2actionrunner upstart script starts X number of st2actionrunner processes, where X is based on the number of processors available on the system.

For systems with more than 10 processors available, `service st2actionrunner stop` doesn't iterate over all of the started st2actionrunner processes.

[2016-06-26 11:44] Kami commented on #2778
Good catch and thanks for reporting it.

I believe you mentioned on Slack that you have a fix, if you do, it would be great if you can submit PR with it :)

[2016-06-27 14:27] Kami commented on #2778
#315 has been merged, thanks!

[2016-06-27 14:27] #2778 closed

[2016-06-27 17:53] codyaray commented on #2765
This happened again this morning.

![](https://s32.postimg.org/hu7ipm4w5/Screen_Shot_2016_06_27_at_12_51_05_PM.png)

[2016-06-27 17:56] Kami commented on #2765
@codyaray Thanks for the great and extensive (bug) report.

As mentioned the other day, it might take a while till we go to it so please hold tight.

I will also make sure one of our next tasks also is mongoengine and pymongone upgrade, this should hopefully resolve some of those not found looked related issues.

[2016-06-28 00:00] #2740 closed

[2016-06-28 00:01] #2637 closed

[2016-06-28 04:45] LindsayHill opened #2779 "`st2ctl status` reports st2chatops is not running"
Using v1.5 packages on Ubuntu 14.04:
[code]

`st2ctl status` reports that st2chatops is not running:
[code]

But it is running:
[code]

Looks like this is the problem lines are this: https://github.com/StackStorm/st2/blob/master/st2common/bin/st2ctl#L5 in conjunction with https://github.com/StackStorm/st2/blob/master/st2common/bin/st2ctl#L162

It's searching the process list for `st2chatops` but i

[2016-06-28 17:17] codyaray opened #2782 "Feature Request: Highly-Available Timer Actions"
Thought I'd put a placeholder feature request out here for further discussions.

I'd like to execute Cron Timer jobs in a highly-available, fault-tolerant manner. I've discussed this with @Kami, @manasdk and others pretty extensively in slack in the past.

##### Option 1. Concurrency Policy should support Fail option in addition to Queue/Postpone

It seems to me that the simplest solution is to ad

[2016-06-28 17:38] Kami commented on #2782
Thanks for opening this issue.

I do agree that something like this would be very useful. As you have pointed out, there are multiple possible solutions / approaches so it's something we still need to discuss quite a bit (feedback is welcome of course).

Ideally, the approach would be generic (e.g. something with the policies like you have mentioned), but like it or not, timers are a but special s

[2016-06-28 21:32] stevemuskiewicz commented on #2756
I also just saw this same issue (also on CentOS 7.x) and originally installed from packages, not AIO.  So I don't think that is the root cause of the problem.

(Note that I previously saw something similar when running a VM which was using networked storage that had timed out.  However this instance of the VM is using local storage on my ESXi server and the problem is still happening which makes m

[2016-06-29 21:38] cbrenton commented on #2756
On further investigation, I realized that the box where this issue is happening was not using the AIO installer - it was using a slightly modified version of the [st2bootstrap script](https://github.com/StackStorm/st2-packages/blob/master/scripts/st2bootstrap-el7.sh). The box with the issue doesn't have puppet installed at all. This is likely unrelated to the AIO installer.

[2016-06-30 02:45] #2751 closed

[2016-06-30 02:47] #2582 closed

[2016-06-30 02:48] lakshmi-kannan commented on #2500
We are no longer using docker-hubot. Closing.

[2016-06-30 02:48] #2500 closed

[2016-07-01 14:10] codyaray commented on #2765
Bad news guys. This just hit our second StackStorm cluster as well. All 200+ scheduled jobs silently failed to run. Also running 1.5dev-98. This cluster has been through fewer unstable upgrades and hadn't seen this issue at all until last night. The only thing that changed was I switched the mongodb connection string and was testing mongodb failover with ya'll yesterday. There definitely seem to b

[2016-07-05 03:44] tenyearslater opened #2789 "High availability architecture"
I deploy stackstorm on two servers behind the load balance.
And deploy mongodb and rabbitmq on another server.
The stackstorm on the two servers connect to the mongodb and rabbitmq on the third server.
The mistral on the two servers connect to the rabbitmq on their own server.
The two servers behind the load balance share the storage where /opt/stackstorm/packs and /opt/stackstorm/virtualenvs are

[2016-07-05 07:14] #2789 closed

[2016-07-05 07:41] LindsayHill commented on #2789
Answered on #community, but following up here in case someone else is looking. Docs are here: https://docs.stackstorm.com/reference/ha.html

[2016-07-05 19:34] chris-hailstorm opened #2793 "Doco referencing old component name"
This doc page:
    https://docs.stackstorm.com/0.5.1/packs.html

Currently says:
    st2 run packs.restart_component servicename=**sensor_container**

Should say:
    st2 run packs.restart_component servicename=**st2sensorcontainer**

[2016-07-05 19:36] Kami commented on #2793
@chris-hailstorm

Thanks for the report.

Those are docs for a very old version of StackStorm (v0.5.1) and they represent state for that version.

For the latest stable version, please see https://docs.stackstorm.com/ / https://docs.stackstorm.com/1.5/

[2016-07-05 19:39] chris-hailstorm commented on #2793
Understood.  It would be helpful if the older doco included a warning / pointer to the latest doco -- 0.5.1 is the version that came up via  Google search.  Thank you for the quick response.

[2016-07-05 19:40] Kami commented on #2793
Agreed - we will be looking into adding some banner which says "You are not viewing the latest version" or similar.

Sadly this means we need to re-built all the old docs and this might be a bit painful.

[2016-07-05 21:07] estee-tew commented on #2370
https://stackstorm.slack.com/archives/community/p1467752816003473

[2016-07-05 22:01] JohnWelborn opened #2794 "Feature Request: action.concurrency.attr that will cancel instead of delay"
There are situations when I want to cancel a duplicate action instead of just delaying it.

This could be in the form of an optional parameter for the policy that would let me pick delay or cancel as the action to perform.

A workaround is to have an initial task that will see if the workflow is needed before running.

Examples:

Two users requests the same thing, but the workflow is already runni

[2016-07-07 08:54] #2235 closed

[2016-07-07 17:58] knowledgewarrior opened #2796 "html5lib missing from virtual-env"
Error:
"bs4.FeatureNotFound: Couldn't find a tree builder with the features you requested: html5lib. Do you need to install a parser library?"

Default fresh installation following instructions for both RHEL7 and Ubuntu.  Add Google Pack.  Perform google search in Chatops (Slack).

Resolution:
sudo source /opt/stackstorm/st2/bin/activate
sudo pip install html5lib

[2016-07-07 20:07] bri365 opened #2797 "Delayed actions processed in wrong order"
When actions are delayed for policy concurrency (and concurrency.attr), they appear to be retried in newest to oldest order, rather than oldest to newest.  The file attached is a trimmed down actionrunner log showing delayed actions and their subsequent dispatch.  When multiple actions are delayed, they appear to be dispatched in the opposite order intended.

[2600.txt](https://github.com/StackSto

[2016-07-07 20:52] #2301 closed

[2016-07-07 22:30] cbrenton opened #2798 "Make datastore templates work in sensor config"
In an action, workflow, or rule config file, I can reference a datastore value with "{{system.key_name}}". However, when I use this template format in a sensor config file, it doesn't get evaluated. It would be helpful to be able to use this template format in sensors as well.

[2016-07-08 07:48] Kami commented on #2797
Thanks for the report.

We don't officially say that we process delayed executions in the FIFO order, but I agree with you that LIFO behavior is confusing and making it FIFO would indeed be better and make more sense.

As far as the actual code / implementation goes - I believe the default mongoengine order (unless explicitly specified) is to sort in ascending order so there must be something else

[2016-07-08 08:11] Kami commented on #2797
I quickly looked at the code and the concurrency stuff looks correct - we don't explicitly specify ASC order, but that's the default behavior (so doing `+start_timestamp` is optional).

There might be an issue with the way requested and scheduled are processed, but looking at the code nothing stands out. By default RabbitMQ messages are processes in FIFO order, but there are many edge-cases (in a

[2016-07-08 09:42] Kami commented on #2798
We just recently in StackStorm v1.5, introduced support for improved pack configuration.

With this new configuration you can now reference datastore items inside the config. For more information, please see https://stackstorm.com/2016/06/30/improved-pack-configuration-user-scoped-datastore-items-secure-secrets-store/ and https://docs.stackstorm.com/pack_configs.html.

If you have any specific que

[2016-07-08 09:42] #2798 closed

[2016-07-08 09:48] Kami commented on #2796
Thanks for the report.

Looks like bs4 declares this package in `extra_require` section it's not installed by default and looks like the behavior in the google library we use has change to require this package.

I will update requirements.txt in google pack to also install this package.

[2016-07-08 09:51] Kami commented on #2796
Actually, I just installed google pack from scratch and I couldn't reproduce this issue.

Are you sure that the libxml and other system-level package dependency were installed on the system when you installed that pack?

If they weren't, this would most likely cause those issues...

[2016-07-08 14:16] moritz opened #2799 "Systemd service file missingst2actionrunner@.service is missing in Debian package"
On Debian Jessie, with st2 version 1.5.0-7 from https://packagecloud.io/StackStorm/staging-stable/debian/ and installed via the `mrlesmithjr.stackstorm` ansible role, I get this behavior:

[code]

And indeed, there is no `st2actionrunner@.service` file installed that would allow loading of these services.

[code]

[2016-07-08 15:03] bri365 commented on #2797
Thanks, Kami.  I'll try to see if we can reproduce this issue.  Also, our system is defaulting to a single action runner (I think four cores or less yields a single one) - any known concerns?  Would we be better/safer with two?

[2016-07-08 16:25] knowledgewarrior commented on #2796
I followed the Ubuntu instructions exactly.  I used Ubuntu 14.04 on AWS.

On Fri, Jul 8, 2016 at 2:51 AM, Tomaz Muraus <notifications@github.com>
wrote:

[2016-07-08 16:46] Kami commented on #2796
@knowledgewarrior Yeah, the installer and system packages only include component-level dependencies.

Packs are standalone and only include pack-level (Python dependencies), so it's up to the user to install any system-level package dependencies required by the pack.

In any case, I will update the documentation and make this more explicit and clear in the ChatOps documentation.

[2016-07-08 16:48] Kami commented on #2797
No, it should be fine with a single action runner - if anything it should be better with regards to the race conditions (but there shouldn't be any, more runners simply means more actions will be executed in parallel).

And yeah, if you can come up with a simple workflow with reproduces a problem, please gist it here and I will have a look.

[2016-07-08 16:54] Kami commented on #2796
In any case, I also pushed this change to st2contrib - https://github.com/StackStorm/st2contrib/commit/63b2094fdaf587656a345afc8db4d7832effcc4c (it might help).

Thanks again for reporting this.

[2016-07-08 17:39] armab commented on #2799
Thanks for the report!

The correct `stable` repo is https://packagecloud.io/StackStorm/stable/ without `staging`, where debian wheezy/jessie packages absent.
It means for the moment between .deb packages `ubuntu trusty` is only officially supported.

Making this more productive, possible options:
* we assume that `systemd` uses `systemV` scripts for backwards compatibility at `debian jessie`. You

[2016-07-09 16:23] #2779 closed

[2016-07-10 12:22] Kami commented on #2796
I'm going to close that since I believe the commit in st2contrib should resolve this issue.

If you experience similar issues again in the future, please open a new ticket.

Thanks again for reporting this.

[2016-07-10 12:22] #2796 closed

[2016-07-10 12:24] Kami commented on #2794
Thanks for this feature request.

I think this is quite a reasonable request. We could add `operation` attribute to the policy with a valid options of `delay,cancel` and for backward compatibility, default it to `delay`.

The code change should also be relatively easy.

[2016-07-11 15:38] codyaray commented on #2509
We're still watching this issue. :)

[2016-07-11 15:42] codyaray opened #2804 "Feature: watch progress of long-running actions"
I've heard this asked about a number of times in #community but these conversations keep rolling off the archives. Creating a Feature Request for tracking.

When I have a long-running action, we don't know what's going on until the action has completely finished executing. Ideally, I'd be able to watch the stdout/stderr in (near) real time or have other visibility into what's going on with the act

[2016-07-11 15:51] codyaray commented on #2765
We've had one rule hit this issue since the patch. Not sure if this should still be expected or not.

[code]

[2016-07-11 15:54] Kami commented on #2765
This shouldn't happen anymore unless there is something else going on. The object contains the id and uid so it should be looked up by it.

[2016-07-11 18:09] lakshmi-kannan commented on #2793
@Kami Or we can actively purge those buckets so people can't even read old docs :)

[2016-07-11 18:39] m4dcoder commented on #2737
@JohnWelborn, please define ec.workflow-noop as an action in the other workflow that is referencing it.

In the context of StackStorm, mistral workflows defined in another workbook cannot be reused by another workbook. User will have to define the workflow as another action in StackStorm in order for it to be reusable. If another workflow is defined as an action in StackStorm, it can only be refer

[2016-07-11 18:40] m4dcoder commented on #2797
@Kami, nope, will have to define one to test this.

[2016-07-11 18:44] armab commented on #2804
Original Proposal is described in this Issue: https://github.com/StackStorm/st2/issues/2175

[2016-07-11 19:52] #2721 closed

[2016-07-11 23:49] codyaray commented on #2804
Ah thanks. Didn't find that one before. Closing this as a duplicate. :)

[2016-07-11 23:49] #2804 closed

[2016-07-12 08:38] johandahlberg opened #2806 "Inconsistent behavior from st2 execution list with -n flag"
Setting `-n 0` does not list all executions. See discussion in: https://github.com/StackStorm/st2/pull/2803

[code]

[2016-07-12 19:02] bri365 commented on #2797
I'm working on a simple set of repro steps for this and encountered another issue. I can't disable a policy!  I set 'enabled' to false and reload and the policy is still enforced.  I remove the file, st2ctl stop/start, reboot, and the policy is still being applied!  I feel a little silly asking, but is there extra special policy persistence somewhere?

[2016-07-13 10:16] lbogardi opened #2809 "Flow does not make use of default values in parameter list, after a change in parameters setup"
Hi All,

I noticed, that using the Flow, to create a workflow, and setting up parameter list is fine, but when I change any of the parameters, and try to execute the workflow, I have to refill all the values, however default values are already filled in.
![screenshot from 2016-07-13 12-12-00](https://cloud.githubusercontent.com/assets/8155496/16800020/8326e588-48f3-11e6-8f69-cb96093fbfb3.png)
![sc

[2016-07-13 12:15] Kami commented on #2797
@bri365 It could be a bug - I will look into it.

[2016-07-13 12:20] Kami commented on #2797
@bri365 Yeah - it looks like a bug in the code.

I'm working on a fix as we speak.

[2016-07-13 14:32] bri365 commented on #2797
@Kami @m4dcoder after developing and verifying repro steps for my issue, I have isolated why items appeared "out of order" to me and in the process found another one or two issues, which I will file separately.

In this case, my clean-up script to delete stuck actions included iterating through the list of 'scheduled', 'delayed', and 'running' actions and canceling them.  The iteration was based o

[2016-07-13 16:00] bri365 opened #2813 "Deleted policies continue to be evaluated"
Deleting a policy from a pack does not remove it from the database (mongo st2.policy_d_b).  Even with PR #2812, if an enabled policy is removed from a pack, and the pack is reloaded, the policy remains in the database and continues to be evaluated.

[deleted-policies-remain.txt](https://github.com/StackStorm/st2/files/361878/deleted-policies-remain.txt)

[2016-07-13 16:06] codyaray commented on #2813
This is actually a larger problem with "content management" in stackstorm. Deleting anything from disk and then reloading doesn't actually remove it from mongo. This applies not only to policies but also to actions, triggers, etc. The StackStorm team is working on a larger "content management" story to address this and other issues. I'll let them chime in here now. ;)

[2016-07-13 16:09] lakshmi-kannan commented on #2813
@codyaray is right. Content management is being though through for next milestone. We are planning to make progress on this issue and agree current state is nasty :).

[2016-07-13 16:13] bri365 commented on #2813
is it [relatively] safe to manually remove them from mongo in the short term?  Beats the heck out of a fresh reinstall...

[2016-07-13 16:14] lakshmi-kannan commented on #2813
@bri365 should be fine. You can also write a script along the lines of https://github.com/StackStorm/st2/blob/master/st2common/bin/st2-purge-executions. Might just be easier to use mongo CLI and do it.

[2016-07-13 16:22] bri365 opened #2814 "Workflows with action policies can deadlock"
Given the attached pack (useful for meditation), the system deadlocks when the action _dispatcher_pool (50 entries) gets filled with workflows, and all workflow actions are subsequently held in the _work_buffer queue indefinitely.

One possible solution would be to limit the number of workflows in the _dispatcher_pool to one less than half the total entries, in order to leave room for action execu

[2016-07-13 18:46] bri365 commented on #2814
Another, potentially better, solution would be to have separate queues for workflows and actions, so actions can be protected from a queue full of workflows.  Even better, three queues - workflows, workflow actions, and regular actions; now workflow actions are not subjected to the average queue depth of the entire action list.

[2016-07-13 19:19] moritz commented on #2799
@armab basing the st2 packages on systemd files would make them incompatible with wheezy/oldstable. Is that an acceptable tradeoff?

[2016-07-13 20:05] andrew-regan commented on #2794
👍 Have some uses for this functionality as well!

[2016-07-13 21:47] armab commented on #2799
@moritz Got you. I think there should be some conditional `.deb` magic to avoid incompatibilities, like in `.rpm` example: https://github.com/StackStorm/st2-packages/blob/03b1d151dd1af3d94a3773490ed69d29475a8932/packages/st2/rpm/st2.spec#L79-L101
Needs more researching.

cc @enykeev to keep in mind, since he's working on https://github.com/StackStorm/st2-packages/issues/296 and probably has in pla

[2016-07-13 22:53] codyaray opened #2815 "API_KEY not consistently recognized by CLI"
ST2_API_KEY and --api-key only work for some of the CLI operations.

tl;dr -
* not supported: execution, rule, trace, trigger-instance, rule-enforcement
* supported: action, action-alias, apikey, key, policy, policy-type, run, runner, sensor, trigger, webhook

[code]

[2016-07-14 03:53] enykeev commented on #2809
Thanks for the report!

I believe @emedvedev already explained it so I just put it here for the reference.

Right now, if parameter is required, web UI won't allow you to send the form unless the field has a valid value. In a practical sense it means that your parameter should either be required or have a default value and in case it has both, `required` would have a precedence.

Although, seeing

[2016-07-14 03:54] #2809 closed

[2016-07-14 20:28] Kami commented on #2814
Thanks for including he pack which helps to reproduce the issue - this should help us a lot tracking down the root cause.

I will have a look when I get a chance.

I do think that having multiple internal queues / pools sounds like a good idea, but I need to dig in and think about it some more :)

[2016-07-15 18:16] Kami commented on #2813
What @lakshmi-kannan said, usually the pattern also is to use CLI to delete the resource one definition has been removed from disk.

[2016-07-15 18:16] #2813 closed

[2016-07-16 12:43] Kami commented on #2794
Here we go - #2817

[2016-07-17 10:58] Kami commented on #2814
I personally couldn't reproduce the deadlock issue with the provided code (even with a smaller pool with a size of 2 so we hit the issue earlier).

I used a single action runner and didn't register `delay2test` policy (with multiple action runners it should be even less of an issue because we have a pool per action runner so `50 * number of action runners` should be a maximum concurrent throughput

[2016-07-17 11:27] Kami commented on #2814
In any case, I'm also looking into having multiple Dispatchers per different message type (as suggested above).

[2016-07-17 12:03] Kami commented on #2814
@lakshmi-kannan Please check the discussion above and my comment below and let me know what you think.

I propose the following change:

1. Introduce a new QueueConsumer class for action runner.
2. This QueueConsumer uses multiple `BufferedDispatcher` green thread pools - one for regular actions and one for workflows.
3. Default to 50, but allow operator to configure / tweak maximum pool size for

[2016-07-18 04:41] bri365 commented on #2814
@Kami - sorry, you have to delete the policy delay2test.yaml before registering the pack; I used it to work around the issue.  it regulates the workflows and doesn't let them fill the work buffer

[2016-07-18 04:48] bri365 commented on #2814
I like the three proposals above; they should do the trick.
+1 for adding a workflow flag to LiveActionDB objects.

[2016-07-18 08:18] Kami commented on #2814
@bri365 Thanks for the feedback.

I will also wait on @lakshmi-kannan and others to chime in and if they agree with my proposed approach, I will go ahead and implement it :)

[2016-07-18 21:55] lakshmi-kannan commented on #2814
So far we've tried hard to make sure we don't differentiate actions from workflows and we've been successful. I still don't see a clear need for separating actions from workflows in terms of execution. I am fine with a configurable parameter for the dispatcher pool and this is something we've discussed in the past but I definitely don't see a need for two different queues. I'll hold off on impleme

[2016-07-18 21:58] Kami commented on #2814
@lakshmi-kannan Probably best way for you to understand it is to check the code and play with the example @bri365 provided.

[2016-07-18 22:02] Kami commented on #2814
Also, I would be OK to begin with by just making the pool size operator configurable.

Having said that, we already differentiate actions and workflows internally and this change would be internal as well (it wouldn't be user exposed, it's an implementation detail aka performance optimization and usually when you do optimizations like that you can't keep them 100% "generic" and need some additiona

[2016-07-18 22:54] lakshmi-kannan commented on #2814
To clarify, I think I see the problem - the dispatcher queue size can be outrun by the number of workflows and actions. This means you are essentially hitting the scaling limit. The two queue solution kami is proposing only partly alleviates the problem but you can construct a case there where you can hit capacity given enough number of workflows and actions. So I don't necessarily think having tw

[2016-07-19 08:00] Kami commented on #2814
Yes, as discussed offline, this won't fully resolve the issue (nothing will, we need hard limits anyway), but it will increase the safety margin and will make hitting this issue less likely.

It's also worth noting that the actual setting is very workload / use-case and hardware specific. In some cases, a pool size of 50 might be too much already and in other scenarios it might be way too low. In

[2016-07-19 14:46] #2794 closed

[2016-07-19 15:22] codyaray commented on #2794
@Kami I really like this change. This is what I've been asking about for cron jobs too. :)

Wonder if we could simplify the cron hacks we have right now to use it instead. (All our crons are currently workflows which first acquire a zookeeper lease to determine which node in an HA setup "wins" the action execution).

Let's role play a couple scenarios here.

Scenario 1: concurrent policy is cancel

[2016-07-19 21:20] daniilyar-confyrm opened #2818 "curl | bash installer doesn't work on Ubuntu 14.04 LTS"
St2 oneliner installer doesn't configure Mongo properly, so st2 can't connect to Mongo during installation:
[code]

How to reproduce:
[code]

OR spin up a clean AWS EC2 instance with latest Ubuntu 14.04 AMI onboard and execute the following command there:
[code]

[2016-07-19 21:54] daniilyar-confyrm opened #2819 "'maximum recursion depth exceeded' when st2auth is called (while login to webui)"
I've set up an st2 stack on clean Ubuntu 14.04 LTS using this doc: https://docs.stackstorm.com/install/deb.html. All st2 components are deployed on same AWS EC2 instance.
But I am getting the 'maximum recursion depth exceeded' error when I try to login into webui.

What exactly is happening for me:
1). I open webui, put login and password, then hit the 'Login' button.
2). Webui does the POST reque

[2016-07-19 22:14] daniilyar-confyrm commented on #2819
Update: I am getting the same error if I install st2 via official Ansible playbook (https://github.com/StackStorm/ansible-st2) at clean Ubuntu 14.04 EC2 instance.

Playbook is failing with following error on 'run smoke tests' step:
[code]

[2016-07-20 14:01] jjm commented on #2681
I'm also rather interested in how to monitor ST2, I'll have a look at the logstash stuff and think some about how we should monitoring our platform.

[2016-07-20 14:53] johandahlberg opened #2821 "Mistral workflows hanging in running status in st2 while ok in mistral"
I've observed that some of our mistral workflows get stuck with a running status in st2, but when I check  the corresponding workflow in mistral it has reached some end state, success/error/etc.

Here is an example:

[code]

Looking for this id in `st2resultstracker.log` I found the following:

[code]

We could then confirm that we did indeed have to approximately 100 connections to postgres, with

[2016-07-20 16:11] armab commented on #2818
I couldn't reproduce it on `AWS EC2`, official `ami-ed82e39e: Ubuntu Server 14.04 LTS (HVM), SSD Volume Type`. Everything worked with the bootstrap script. You can also try [`st2vagrant`](https://github.com/stackstorm/st2vagrant).

Apart of that, provided Docker example can't be used to reproduce the problem. You can't install full `st2` with all services, including `mongo`, `rabbitmq` services in

[2016-07-20 20:45] JohnWelborn commented on #2737
Since I posted this I am now using 1.5.0-3 and I now get the following error which is correct:
    "state_info": "Failed to find workflow [name=ec.test_workflow_noop]"
The reported problem is fixed.

@m4dcoder I see how a st2 action is required to cause a workflow to be loaded into mistral, which is fine, but I have a need to have a mistral workflow reference a workflow in a different workbook eve

[2016-07-20 20:45] #2737 closed

[2016-07-20 21:06] JohnWelborn commented on #2794
I've applied this as a patch to 1.5 and its working, Thanks!

Now I'm wanting to have a concurrency delay across all workflows that share the same attr. (Only one running workflow per server) :)

[2016-07-21 02:36] bri365 commented on #2814
Reconfirmed issue with action chains on a two core 8GB system (defaults to two actionrunners):
root@stackstorm:~# history
    1  apt-get update
    2  apt-get upgrade
    3  curl -sSL https://stackstorm.com/packages/install.sh | bash -s -- --user=st2admin --password=password
    4  cd /opt/stackstorm/packs/
    5  tar -xvzf /home/brian/deadlock4.tar.gz
    6  st2 run packs.setup_virtualenv packs=d

[2016-07-21 02:51] Kami commented on #2814
@bri365 Thanks for the report.

I'm working on the change mentioned above - should be ready for review by end of this week :)

[2016-07-21 02:59] bri365 commented on #2814
@Kami Thanks!  Mistral workflows, by the way, seem to be unaffected - I queued up 400 on the same system and they are dutifully chunking through, one per action runner, 20 seconds at a time.

[2016-07-21 12:36] Kami commented on #2814
@bri365 You are welcome.

And yeah, Mistral runner is mostly just "fire and forget" (when scheduling / running an execution, it just sends an HTTP request to the Mistral API).

[2016-07-21 13:47] Kami commented on #2814
Here we go - #2823

[2016-07-21 18:42] lakshmi-kannan commented on #2821
@johandahlberg Thanks for the report!

Please include information about

1. st2 version
2. st2mistral version
3. OS

[2016-07-21 18:46] lakshmi-kannan commented on #2819
@daniilyar-confyrm Interesting report and one we haven't seen so far. Please answer the following questions:

1. What is the version of st2 that is installed? st2 --version or sudo apt-cache policy st2.
2. Is ufw running on box? Did you try disabling it?
3. Is st2auth process running on the st2 box? ps auxww | grep st2auth
4. Have you tailed /var/log/st2/st2auth.log to see if there are any errors?

[2016-07-21 23:51] JohnWelborn commented on #2815
We are finding that run also fails.

[2016-07-22 07:17] johandahlberg commented on #2821
Sorry for missing to include the info. Here it is:

`st2 version: 1.4.0-8`
`st2 mistral version: 0.1.2`
`OS: Ubuntu 14.04.4 LTS`

I'll edit the top issue as well to make it easier to find in the future.

[2016-07-22 18:01] m4dcoder commented on #2821
As always, we recommend users to run the latest version which is v1.5.1 at time of writing.

The error here means available connections on postgresql are consumed. There are a number of things that can be done to alleviate.

Increase the number of postgresql connections on server side and configure the client side configuration for SqlAlchemy appropriately. As your workload on StackStorm/Mistral i

[2016-07-22 20:14] evguenig opened #2825 "Can not verify existing webhook"
Created custom webhook:

# curl -H "St2-Api-Key: MDQ2Y2FmOGExNWU1NTA3YTRmZDIwNTMxYmE2M2NkNWI3ZTcwZTMwODBkMDJmYzAwZDg5NzNiNTdiNDEwMzdiZg" https://localhost/api/v1/webhooks/st2-trigger-build -k
{"uid": "trigger:core:d7c0dde6-272d-4230-80e6-29eb1b5c2950:37a1b5f1d879c35beee4cbf61b555819", "parameters": {"url": "st2-trigger-build"}, "ref_count": 1, "name": "d7c0dde6-272d-4230-80e6-29eb1b5c2950", "pack"

[2016-07-22 20:28] LindsayHill commented on #2825
You have a space between "St2-Api-Key" and ":" - wonder if that is causing the problem?

[2016-07-22 20:32] evguenig commented on #2825
Ye that was an issue user error.

[2016-07-22 20:32] evguenig commented on #2825
Closing issue

[2016-07-22 20:32] #2825 closed

[2016-07-23 15:57] Kami commented on #2814
@bri365 Alright, #2823 has been merged into master. Thanks again for reporting this issue and including code to reproduce it.

If you feel a bit adventurous, you can try v1.6dev packages once they are built (IIRC, there are no backward incompatible changes in v1.6 so it should be fine).

[2016-07-25 07:13] johandahlberg commented on #2821
@m4dcoder We are looking at upgrading StackStorm as quickly as possible, however we have not yet been able to find a window to do so on our production systems.

Thank you for providing some input on what a typical st2/mistral configuration would look like in this regard - since we increased `max_connections` on postgres we have not seen this problem - so maybe this will solve it.

A question on th

[2016-07-25 09:48] daniilyar-confyrm commented on #2819
1. St2 version 1.5.1
2. ufw 0.34~rc-0ubuntu2 version is running on the host, disabling it doesn't help.
3. st2auth is running on the same box, as st2:
[code]
4. `/var/log/st2/st2auth.log` contains only INFO messages like below:
[code]

[2016-07-25 09:51] daniilyar-confyrm commented on #2819
After I dockerized Nginx, Rabbit, Mongo and Postgres, and refactored the st2 Ansible playbook to match our needs, I was able to spin up a working st2 1.5.1, which doesn't show the same issue on the same box. Not sure what was the difference which helped in my case. But I will try to find the exact reason of this error and share my thoughts on that this week.

[2016-07-25 09:58] Kami commented on #2819
Like @lakshmi-kannan has said, this is really a weird issue and we haven't seen one like it before.

It almost looks like it's using some 3rd party `logging` package or some other `logging` package is in st2 `PYTHONPATH` which is causing issues. This shouldn't happen thought since all the `st2` components are installed inside a purpose built virtual environment.

Anyway, glad to hear that it's wor

[2016-07-25 12:32] Kami commented on #2821
@m4dcoder Can you please make sure those two things get documented and added to st2docs (I couldn't find any existing documentation on it, but if they are already documented, please ignore my comment)?

1. How to set expiration policy for Mistral (also some background on how it works, why it's needed, etc.).

We already have a section on this for StackStorm, but AFAIK, there isn't one yet for Mist

[2016-07-25 18:48] lakshmi-kannan opened #2827 "st2-register-content fails with unclear error messages if --config-file is not supplied."
Reported by: @code-ape

Currently, st2-register-content uses oslo and we require --config-file for things like logging config, db location etc. If --config-file option is not supplied, we try to go with the defaults and this pretty much blows up when people use custom installations.

1. We should fail fast on --config-file option not being set. (We have to find a way to introduce a logging config

[2016-07-25 18:49] Kami commented on #2827
To clarify - same / similar issue exists with other components.

It's because of the way logging works right now and it's a bit of a mess to fix it (I already partially fixed some of it in the past, but some of the stuff still requires more work).

[2016-07-25 18:50] Kami commented on #2827
On a related note - I also think register content script should fail on failure by default.

That's a backward incompatible change, but a good one. I will open a new issue for it.

[2016-07-25 18:51] Kami opened #2828 "st2-register-content should fail on failure (exit with non zero) by default"
Right now it doesn't which means it easy to miss some (important) errors.

The change is not backward compatible, but it's a good one (imo). We can also add ``--register-no-failure-on-failure`` flag for users which desire old behavior.

See https://github.com/StackStorm/st2/issues/2827#issuecomment-235047780.

[2016-07-25 19:38] code-ape commented on #2827
Just as a though, would it make sense for st2-register-content to default to the `/etc/st2` config files instead of a vanilla deployment configuration? Perhaps then it could error if it didn't couldn't find the config? I don't know if I would want it to run it couldn't.

[2016-07-26 09:21] Kami commented on #2815
Thanks again for the report and good catch.

Fix in #2831.

[2016-07-26 10:11] #2815 closed

[2016-07-26 13:38] Kami commented on #2765
@codyaray How is this thing looking? Can this issue be closed now?

[2016-07-26 13:44] Kami commented on #2806
To get back to the comment in https://github.com/StackStorm/st2/pull/2803#issuecomment-231974048.

I just had a look and if you don't provide a limit or provide a value which is > 100, you will get back a maximum of 100 items since this is the value for the max limit.

Same goes if you specify 0 for limit - you get back last `100` executions

As discussed in the other ticket, I will make this valu

[2016-07-26 14:09] Kami commented on #2806
@johandahlberg #2832 should work for your use case, right?

And of course updating the argument comment (removing "list all if 0").

[2016-07-26 14:41] johandahlberg commented on #2806
@Kami It looks like it should work for us. Thanks!

[2016-07-26 14:53] kestrel5 commented on #2814
@kami will do; thanks!

[2016-07-26 20:42] puneetk opened #2833 "st2ctl restart should reload nginx"
please

[2016-07-26 20:43] bri365 commented on #2814
@Kami works like a charm - thanks!  I do see some unexpected order of operations, though:
(virtualenv)brian@ubuntu1404:~/st2$ st2 execution list -n 0 --status succeeded
+----------------------------+------------------------+--------------+--------------------------+-------------------------------+-------------------------------+
| id                         | action.ref             | context.user

[2016-07-26 20:53] armab commented on #2833
I'm not sure if that's a good idea for `st2ctl` to reload nginx.

As noted in #community, that's because instead of `nginx` there could be ​_any_​ other replacement like apache or whatever proxy.
Brings more freedom on user's side.

[2016-07-26 21:13] armab commented on #2833
Apart of that, this issue reminds me discussions about including `nginx` as a dependency for `st2web` package.

We had pretty hot discussions about that. I remember @enykeev and @emedvedev wanted to do this. While it wasn't good time to do that before (too early), maybe it's good time to reconsider it.

Nowadays `nginx` feels like pretty much native part of the system, however bringing it to packa

[2016-07-27 07:24] Kami commented on #2814
Awesome, glad to hear it.

And yes, they should be executed in order as requested. Is the ordering issue the same as one described in #2797?

If so, let's continue there and if not, it's probably the best to open a new issue and we will have a look :)

[2016-07-27 08:53] Kami commented on #2806
You are welcome and glad to hear it.

(#2832 has been merged into master)

[2016-07-27 08:53] #2806 closed

[2016-07-27 11:25] #2828 closed

[2016-07-27 14:40] bri365 commented on #2797
Closing this as not an issue and opening a feature request for execution list sort order.

[2016-07-27 14:40] #2797 closed

[2016-07-27 14:47] bri365 opened #2837 "Request for sort ordering execution list results"
Allow users to specify sort order when requesting a list of executions.

When troubleshooting slow/overloaded systems, getting the oldest action/workflow in a given state is very helpful, especially as the API will only return a limited number of executions, so finding the oldest running action can required going directly to mongo.

Perhaps '-r' or '--reverse' for oldest to newest?

[2016-07-27 15:03] Kami commented on #2837
I believe API already supports that. In case it doesn't, it should be easy to add support for it (just need to update a class variable on the API controller class).

Same goes for CLI - should be quite easy to add support for a new flag. Do you want to take a stab? :)

In any case, I'm fine with "-r" flag (if it's not already used for something else). Otherwise perhaps `--sort desc/asc`.

[2016-07-27 15:25] bri365 opened #2838 "Running workflow cannot be canceled after system reboot"
We have a repeatable situation where running action-chain workflows cannot be canceled after hard system reset.
- 'st2 execution list' shows workflows as running
- children actions are either 'succeeded' or 'canceled'
- 'st2 execution cancel' command returns: Action cannot be canceled. State = succeeded.

Currently running 1.3.2

[cannot-cancel-workflow.txt](https://github.com/StackStorm/st2/files

[2016-07-27 15:40] bri365 commented on #2837
I'll drop it in my queue :-)

[2016-07-27 23:24] codyaray commented on #2765
I think we can close it.  I haven't ran into a case where *all* my jobs
have failed since then (*knock on wood*) but I have seen this message at
least once more. I'll let you know if it comes back up. Thanks!

[2016-07-28 08:34] Kami commented on #2765
Great to hear that and thanks again for reporting and following up on this :)

I also hope we can get rid of the nasty mongoengine caching related work-around I added a while back in v1.6 where we use newer version of mongoengine.

[2016-07-28 08:34] #2765 closed

[2016-08-01 21:53] JohnWelborn opened #2843 "Concurrency lock is stuck and I am unable to remove it."
I created a concurrency.attr policy that cancels the workflow if more than one request is made for the same server. Even though nothing is running, it is still killing executions with the same workflow and attr. I have not found a way to clear it from this state.

Also, the default zookeeper does not work with nodes that have spaces in the name.

This situation may have started when a workflow bec

[2016-08-02 12:55] anpodila opened #2845 "Error while building docker image"
Hi,

I am trying to build docker image using the command:
`st2 run docker.build_image dockerfile_path=/home/stanley`

Getting below error where are same Dockerfile is working if I try from docker build command. Anyone has tried this?  Can you help me in resolving?

[code]

[2016-08-02 13:05] armab commented on #2833
Closing, as said `nginx` is just a proxy and could be replaced with any other service.
Because of that, at the moment there is no reason to hardcode it in `st2ctl`.

[2016-08-02 13:05] #2833 closed

[2016-08-02 13:31] armab commented on #1988
This works with the [new packages](https://github.com/StackStorm/st2-packages/tree/master/packages/st2) now.

As it should be with accordance to Linux practices:
- [`/etc/sysconfig/st2actionrunner`](https://github.com/StackStorm/st2-packages/blob/0cedcc2046f5b3d05175265a70d7f9b84713512b/packages/st2/rpm/st2actionrunner%40.service#L12) - sourced by init in redhat family systems
- [`/etc/default/st2

[2016-08-02 13:31] #1988 closed

[2016-08-02 13:37] armab commented on #1652
Obsolete.
`st2ctl` is now a wrapper over real/normal linux services and doesn't control/kill processes directly.

No problems with existing `sysV`, `upstart`, `systemd` startup scripts at the moment.

[2016-08-02 13:37] #1652 closed

[2016-08-02 13:43] armab commented on #2542
This cool :tada: feature was released with `1.5.1` and described in:
https://stackstorm.com/2016/06/30/improved-pack-configuration-user-scoped-datastore-items-secure-secrets-store/

[2016-08-02 13:43] #2542 closed

[2016-08-02 13:49] armab commented on #2818
Closing until more info from the reporter.

For now I assume it's related to Docker design ideas, shipping without init system (1 process per container).

[2016-08-02 13:49] #2818 closed

[2016-08-03 10:34] daniilyar-confyrm commented on #2818
After some investigation:

@armab, you are right about Docker. This was caused by the lack of the init system inside Docker container. So, Mongo just didn't start.

As for st2 installation at clean AWS EC2 instance - I tried running st2 `curl | bash` installation command on t2.medium instance, launched from fresh Ubuntu 14.04 LTS EBS AMI (ami-962fedf6).

This time installation failed with locale e

[2016-08-03 11:21] daniilyar-confyrm commented on #2818
Let me put some lyric here.

I think, in case of such a modular platform, as StackStorm is, the biggest problem for users is platform installation ;) And, IMO, neither Dockerization, nor massive scripting won't help if the platform itself is too fat.

Look at how ppl install Jenkins. One `apt-get install` command and you are ready to: authenticate, run jobs, use REST API, install plugins and use u

[2016-08-03 11:27] anpodila opened #2846 "How to make use of the commands of docker or openstack packs installed in st2 on remote hosts?"
How to make use of the commands of docker or openstack packs installed in st2 on remote hosts?

[2016-08-03 11:28] anpodila commented on #2846
How to make use of the commands of docker or openstack packs installed in st2 on remote hosts?  I believe it is not required to install packages like Docker or Openstack on st2 server.

[2016-08-03 15:50] armab commented on #2818
@daniilyar-confyrm Yeah. In fact, I have the same feeling.
But you don't know how that installation process looked before without current "bundled" packages :smile:
There is kind of post-mortem about the topic: https://stackstorm.com/2016/05/03/road-to-packages/

So StackStorm is improving, thanks to feedbacks like this :+1:

[2016-08-04 17:09] tim-ireland opened #2848 "Policy names can collide across packs."
We have a situation where there are 2 custom packs, each of which have concurrency policies in place.  One pack has a concurrency policy on a workflow, the other on an action.  In addition, we happen to have given the policies the same name.

This error was found in the logs.,

[code]

 It was not immediately apparent that the second policy was not being loaded.  Upon further inspection, it was no

[2016-08-04 18:34] Kami commented on #2848
Thanks for the report.

I believe, this is a feature - you can only have one `concurrency` policy for each action (primary key is policy type + resource), but would be good for @m4dcoder to confirm it.

As far as not noticing it - we changed the `st2-register-content` script behavior on master so it will fail on failure by default. This should make errors like this more obvious and harder to miss

[2016-08-04 18:43] m4dcoder commented on #2848
That's right.  It's by design that we enforce uniqueness on policy by type and the resource (i.e. <pack>.<action>).  Otherwise, there could be multiple conflicting policies on a given resource.

[2016-08-04 20:53] lakshmi-kannan commented on #2838
I think this is fixed in 1.4. FYI, here are the related PRs

https://github.com/StackStorm/st2/pull/1937
https://github.com/StackStorm/st2/pull/2273
https://github.com/StackStorm/st2/pull/2369
https://github.com/StackStorm/st2/pull/2371
https://github.com/StackStorm/st2/pull/2383

[2016-08-04 20:56] lakshmi-kannan commented on #2838
As per our slack conversation, please verify if issue still persists in 1.5.1. We can look into it if you still see the issue. I am closing this issue now.

[2016-08-04 20:58] lakshmi-kannan commented on #2848
I am closing this issue as this is feature and confirmed by two engineers. If you want a different behavior, please re-open the issue.

[2016-08-04 20:58] andrew-regan commented on #2848
If resource is modeled as <pack>.<action> then I don't think we would have seen this since @tim-ireland is reporting that the conflict was a result of a policy across two different packs?

[2016-08-04 20:58] andrew-regan commented on #2848
Closed literally as I replying. :-)

[2016-08-04 21:01] lakshmi-kannan commented on #2846
What exactly are you trying to achieve as an outcome? Perhaps if you give us more info, we can guide you through it.

[2016-08-04 21:02] #2837 closed

[2016-08-04 21:02] lakshmi-kannan commented on #2707
I added one now. Closing.

[2016-08-04 21:02] #2707 closed

[2016-08-04 21:04] andrew-regan commented on #2848
Is this expected to be supported.
PackA has a policy called MyPolicy that protects a workflow called RunSync in PackA.
PackB also has a policy called MyPolicy that protects a action called RunSync in PackB.

@tim-ireland is reporting this doesn't work because both policies are named MyPolicy even though they are working on separate actions/workflows in different packs.

[2016-08-04 21:04] lakshmi-kannan commented on #2670
https://github.com/StackStorm/st2docs/pull/208

[2016-08-04 21:04] #2670 closed

[2016-08-04 21:06] m4dcoder commented on #2848
I recommend posting the two policies here.

[2016-08-04 21:07] lakshmi-kannan commented on #2573
I think this is fixed with this PR https://github.com/StackStorm/st2/pull/2369. Please re-open if it isn't.

[2016-08-04 21:07] #2573 closed

[2016-08-04 21:08] andrew-regan commented on #2848
[code]

[2016-08-04 21:08] #2195 closed

[2016-08-04 21:13] m4dcoder commented on #2848
can you do a st2 policy list?  what's the fully qualified name for sync_vsphere_domain_model.concurrency?  want to see if it's registered as default.sync_vsphere_domain_model.concurrency.

[2016-08-04 21:15] andrew-regan commented on #2848
@tim-ireland still have that output handy?

[2016-08-05 04:50] anpodila commented on #2846
Hi Lakshmi,

Thank you for the response.

I have docker installed on different server and want to execute the
commands from st2 which are included in docker pack.

These docker commands are executed locally.  Want to execute same on remote
server actually they are working if I mention " st2 run core.remote
hosts='chatops1' -- 'docker images'" but this is making use of the
core.remote pack not the

[2016-08-05 07:53] Kami commented on #2848
Sorry, it looks like I misread / misunderstood the original question.

In any case, will wait for the output - thanks!

[2016-08-05 14:19] andrew-regan commented on #2848
Sorry for the delay:
[code]

[2016-08-05 15:03] Kami commented on #2848
Thanks for posting this information.

I checked at the code and indexes seem to be set up correctly so I am a bit confused.

Can you please again run `st2-register-content --register-policies --verbose` and gist the whole output?

[2016-08-05 15:51] andrew-regan commented on #2848
https://gist.github.com/andrew-regan/fa4a93db550c1910874f8aac6847eeae

We're still running 1.3.1 so maybe this has been fixed? We're in the process of moving to 1.5.1.

[2016-08-05 16:22] Kami commented on #2848
Yes, some policy related changes were fixed in last releases so, yes, please make sure you are running the latest release :)

[2016-08-07 21:02] #2742 closed

[2016-08-08 20:37] vaishalipavashe opened #2855 "St2 trace list gives incorrect result"
Reference: https://docs.stackstorm.com/traces.html
Steps with Screen Shots:
-	Executed st2 action with trace-tag ‘tracetest-08Aug-01’
![image](https://cloud.githubusercontent.com/assets/10110869/17495194/17ca039a-5d86-11e6-8272-a73ed0347fe4.png)

-	Trace list o/p:
![image](https://cloud.githubusercontent.com/assets/10110869/17495206/2ec675ec-5d86-11e6-8a50-ac59b31dcd69.png)

-	Executed same comman

[2016-08-08 23:07] krainevsky opened #2857 "Unable to edit rule"
Just installed version 1.5 using this: https://docs.stackstorm.com/install/rhel7.html
Created first Rule from UI. Now I'm unable to Edit it. When I press "Edit" button I get redirect to <url>#/history

[2016-08-09 14:09] vaishalipavashe opened #2858 "CLI: `--attr` couldn't retrieve result attributes"
Reference: https://docs.stackstorm.com/cli.html
Steps with Screenshots:
- Execute local action
![image](https://cloud.githubusercontent.com/assets/10110869/17518893/b5646370-5e17-11e6-837f-e7648a9bdf6b.png)

- Use `-k` to retrieve result attribute, which works without any issues:
![image](https://cloud.githubusercontent.com/assets/10110869/17518932/e0804542-5e17-11e6-8407-731bec68bec4.png)

- As p

[2016-08-10 17:26] vaishalipavashe opened #2861 "Rule - `st2ctl reload` Reloads all except rules"
- Intervaltimer rule was created and tested. Tried disabling it by updating rule yaml file and reloaded st2ctl as `st2ctl reload` but still rule is enabled:

![image](https://cloud.githubusercontent.com/assets/10110869/17563463/7e2da484-5efd-11e6-9e4e-d3015a31c859.png)

- From `st2ctl reload` output found that it reloads all except rules. Performed `st2ctl reload --register-rules` to reload rules

[2016-08-10 18:17] armab commented on #2861
Yeah, you have to `reload` with `--register-rules` manually.

This is something that Manas described previously in https://github.com/StackStorm/st2/issues/1619#issuecomment-111215415

The reason is that different `packs` can contain default rules and it's safer for administrator not to load them.
If all rules are registered - then you have many triggers enabled, running different actions (which m

[2016-08-10 18:19] armab commented on #2861
I think there is definitely a user & usability problem here, since it's something that raised many times.

The good approach for me feels like:
- pack install should load all content within a pack (and not load everything else, out of current pack scope)
- there should be ability to (re)load files for specific pack (isolated)
- make the interaction interface easy for users/predictable/obvious