[2017-03-03 05:08] emptywee commented on #3253
@nzlosh nope, my workflows typically just get stuck randomly. I provided the only evidence of something abnormal. Waiting for the stackstorm guys to look into traceback and give me a clue which component failed and because of what possible reason.

[2017-03-03 07:08] nzlosh commented on #3253
@lakshmi-kannan if st2 is show the task as failed, that seems like the correct behaviour, this would suggest that task doesn't remain in a stuck state.  I've just upgraded production to 2.2 so run the test case against 2.2 and let you know.

[2017-03-03 13:09] pietervogelaar opened #3267 "Execution user can't be retrieved and hangs a Mistral workflow"
In an action chain I can use {{ action_context.parent.user }} as action parameter value.

If I try to use this in a mistral workflow, it will hang the corresponding action. The workflow just won't finish.

I'm running the latest StackStorm version 2.2.0.

[2017-03-03 20:04] rehmanzile commented on #3096
👍 Need it!

[2017-03-04 16:43] andrew-regan commented on #3225
@bigmstone is the fix in a dev branch somewhere? Didn't see a PR. Thanks!

[2017-03-04 21:04] LindsayHill commented on #3225
@andrew-regan I think that what he is saying is that "to be verified" means someone needs to check through this and verify that yes, this is indeed a bug, it is related to those initial thoughts from Winson, and is reproducible.

It doesn't mean "there is a fix that needs to be tested and here is some code." If there was a PR, it would be tagged with this issue, and the comments would read somethi

[2017-03-04 22:29] andrew-regan commented on #3225
Gotcha...just wasn't sure what the label implied. I'm upgrading to 2.2. Will let you know if it reproduces there as well.

[2017-03-06 19:23] scanterog opened #3272 "Failed rendering payload value into pattern"
Hi,

Following is a rule's example. In this snippet, I would like to compare two elements from payload. In this specific case, **host** and **master**. Log shows `UndefinedError: 'trigger' is undefined`. It looks like trigger is not being rendered.

[code]

Thanks!

[2017-03-06 20:05] bigmstone commented on #3272
@scanterog thanks again for the request. I have a PR out to fix - #3273

[2017-03-07 02:22] LindsayHill commented on #3134
See #3271

[2017-03-07 02:23] LindsayHill commented on #3216
See #3134 - that addresses the use-case where `:` is used. The issue here with `$` is almost certainly related to shell escaping

[2017-03-07 02:28] LindsayHill commented on #3243
Addressed in #3244

[2017-03-07 02:28] #3243 closed

[2017-03-07 10:31] knagy opened #3274 "remote-shell-cmd does not close ssh connections"
Hi,

If I run a `core.remote` action an ssh connection opens and it does not close after the action finishes successfully. Running the same action again and again opens new connections until the remote server refuses to accept more.

A simple bash one-liner to reproduce this:

[code]

And the result:

[code]

I tried it on a fresh Ubuntu 16.04 machine with a fresh install of StackStorm 2.2.0.

BR,

[2017-03-07 11:35] Kami commented on #3274
Thanks for reporting this.

Can you please post more details - which version of StackStorm you are running and which version of paramiko library is used (`/opt/stackstorm/bin/st2/pip show paramiko`).

We haven't noticed anything like this in the past, but we recently upgraded to latest version of paramiko so it's possible some default behavior is changed or maybe it's related to some setting in th

[2017-03-07 12:07] Kami commented on #3274
I was able to reproduce the issue - I'm looking into a fix.

Thanks again for reporting this.

[2017-03-07 12:26] Kami commented on #3274
Fix in #3275.

Thanks again for reporting this.

[2017-03-07 12:39] knagy commented on #3274
Thanks for the quick response. I tried it out on my test environment and works perfectly.

[2017-03-07 12:45] Kami commented on #3274
Thanks for confirming.

I will wait for @lakshmi-kannan on his review and if everything looks OK, I will go ahead and merge it.

This change will then be available in v2.2.1 or v2.3.0 (we are still not decided if we will do v2.2.1 before v2.3.0 or not).

[2017-03-07 14:23] Kami opened #3276 "Add better support for references ($ref) to config schemas and action parameter definition JSON schemas"
We should add better support for JSON schema references (`$ref`) inside JSON schemas used for config schemas and action parameter definition.

Right now this works (https://gist.github.com/Kami/098e9b1b364d6fb0b2aa1008135e0d18), but it's a hacky since `host` is only used as a reference definition, but because of the way it works right now user could also specify it as a top-level `host` attribute

[2017-03-07 14:34] jjm commented on #3276
👍

There's a couple of packs I've written (and some one's by @paul-mulvihill) that this would be really in useful.

[2017-03-07 15:30] paul-mulvihill commented on #3276
👍 Definintely need this for the packs i've been working on.

[2017-03-07 15:50] Kami commented on #3276
Also, to clarify, the "hacky" approach mentioned above will work for now and it's also forward compatible.

In case we implement better and less hacky support for it in the near future, old / existing config schemas will still work, but you will have an option to port / update them to the new format (and it doesn't affect actual configs per say so no migration or similar will be needed).

[2017-03-08 13:39] Kami commented on #2509
Just a quick update and heads up - I finally started to work on this feature.

When this feature is implemented, operator will be able to write YAML files which contain definition on how to map remote LDAP groups to StackStorm role(s) (those files will most likely live somewhere in `/opt/stackstorm/rbac`, perhaps `/opt/stackstorm/rbac/role_maps` or similar).

Here is an example of such definition

[2017-03-08 18:30] LindsayHill commented on #3216
Addressed with #3271

[2017-03-08 18:30] #3216 closed

[2017-03-09 17:58] scanterog commented on #3272
Thanks for working on it @bigmstone!

[2017-03-09 21:52] tim-ireland opened #3282 "Allow concurrency.attr policies to use set arithmetic over a set of items"
## Feature proposal

I would like to extend the `concurrency.attr` [policy](https://docs.stackstorm.com/reference/policies.html#action-concurrency-attr) to support simple collections.   Set arithmetic could be used to allow for 2 actions to collide if there is a set intersection, causing the subsequent action to be delayed.

I would like to be able to express this policy in a manner similar to:

[

[2017-03-10 00:45] LindsayHill opened #3283 "Default RBAC configuration does not allow use of st2 pack config"
Steps to reproduce:

1. Install new BWC system using one-line install. Note that RBAC is now enabled by default
2. Authenticate as st2admin
3. Install a pack - e.g. `st2 pack install zendesk` - this will succeed
4. Attempt to configure the pack with `st2 pack config zendesk`. Result: 500 Server error.

Output:
[code]

This is an example of typical st2api.log output https://gist.github.com/anonymou

[2017-03-10 03:44] mack7121 commented on #3249
Hey is anyone working on this issue?  I would like to work it.

[2017-03-10 08:18] Kami commented on #3283
Yeah #3235 should have fixed that.

Are they using v2.2.0?

[2017-03-10 12:10] Kami commented on #3276
Here is another example for using `$ref` for more complex configs which contain an object with an arbitrary number of items - https://gist.github.com/Kami/32111a90bbc6e3df8f79150bce418d3e

Right now, none of the existing pack config schemas utilize this advance functionality (in the past, we didn't support nested objects inside the configs and that's part of the reason for it) and more complex con

[2017-03-10 12:49] armab commented on #3249
@mack7121 No one currently working on this issue, but if you'd like to contribute the fix, - it's very welcome! :+1:

[2017-03-10 12:55] Kami commented on #3249
To add some context - in the past we supported both (`*.yml` and `*.yaml`), but a while ago we decided that going forward we want consistently and only support one way of doing that (that is, only support `*.yaml` files).

That's also the reason why that and some of the new code doesn't support it. If anything, we should deprecate and drop support for `*.yml` files :)

@mack7121 You are also welco

[2017-03-10 14:08] nzlosh commented on #3253
I upgraded st2 and now get and error instead of the task remaining in RUNNING.
[code]
However the error, isn't related to the index out of range, like your gist output 287bb6dcdf0316e913ba72d49f42587d.

I get the following error
[code]

[2017-03-10 14:17] efenian commented on #3283
Yes, v2.2.0, from what it looked like to me pack_config in API checks for PACK_CREATE permissions.  However, that permission is not in the resolver assert list:

https://github.com/StackStorm/st2/blob/master/st2api/st2api/controllers/v1/pack_configs.py#L82
https://github.com/StackStorm/st2/blob/master/st2common/st2common/rbac/resolvers.py#L339

If I change the line in pack_config.py to PACK_INSTAL

[2017-03-10 17:39] Kami commented on #3283
@efenian Thanks again for confirming.

I just checked the code and I see the issue (similar to #3235, but a different issue). Will work on a fix shortly.

[2017-03-10 18:02] #3274 closed

[2017-03-11 17:43] codyaray commented on #2509
Awesome, glad to see it!

On Wed, Mar 8, 2017 at 7:39 AM, Tomaz Muraus <notifications@github.com>
wrote:

[2017-03-11 19:41] #3283 closed

[2017-03-12 11:53] pietervogelaar opened #3289 "How to get core.remote stdout in a mistral workflow?"
I have a mistral workflow and one task called “cleanup”:

Task definition:
[code]

The execution history:

[code]

Because the core.remote action can execute a command on several hosts, there is no result.stdout like core.local, but a stdout per host.

This  {{ task(cleanup).values()[0]['stdout'] }} works in an action chain to get the stdout of the first host, but I can’t figure out what the corre

[2017-03-12 15:28] LindsayHill commented on #3289
I think the syntax is something like this https://github.com/StackStorm/st2cd/blob/master/actions/workflows/st2_get_installed_version.yaml#L24

[2017-03-15 17:02] armab opened #3290 "[Xenial] Execution stuck in 'requested' state on a fresh RabbitMQ"
When executing any st2 action for the first time on a fresh & clean `RabbitMQ` immediately after st2 startup, - it runs forewer and stuck in `requested` state:

[code]

[code]

I can only guess that at early point st2 is busy with RabbitMQ bootstrapping and for some reason can't trigger an action (since topic/queue is not yet created/message is lost or something like that ?) when running things fo

[2017-03-15 21:19] nmaludy opened #3291 "Feature Request - SSH Connection Caching/Multiplexing"
It would be great for the performance of SSH heavy workflows if the SSH connections were cached and could be re-used. Theoretically even across action runs.

https://en.wikibooks.org/wiki/OpenSSH/Cookbook/Multiplexing

I use this myself in terminal sessions by having the following in my ~/.ssh/config
[code]

When i ssh into a server a socket file is created in ~/.ssh/controlmasters . This socket i

[2017-03-16 00:09] lakshmi-kannan commented on #3290
I'll look into this. cc: @Kami, @m4dcoder

[2017-03-16 01:00] emptywee opened #3292 "Mistral: 2 bugs in one: workflow timeout/cancellation and wait-before"
Hi,

Discovered two bugs while I was trying to reproduce only one :-)

Running latest st2 v2.2.0.

1. Something is off with cancellation and timed out tasks when nested tasks are mistral workflows. You cancel the parent one, it doesn't affect children. Also, sometimes cancelling them causes all sorts of unexpected results, like indefinite chatops notifications being triggered. In my example the pa

[2017-03-16 11:55] Kami commented on #3227
Yeah this shouldn't be a blocker for v2.2.1, especially since it's not tied to a specific StackStorm release and we can work on it at any time :)

[2017-03-16 13:43] nmaludy commented on #2175
+1

[2017-03-18 21:05] nmaludy commented on #3064
Looks like this is a bug in the argparse module: https://bugs.python.org/issue18920

Fixed in Python 3.4.

[2017-03-20 22:23] silverbp commented on #2175
+1

[2017-03-21 08:10] warrenvw opened #3295 "Auth token not successfully propagated..."
cc @Kami

Context: ST2 2.2.0 without `$ST2_AUTH_TOKEN` environment variable set, but after successfully running `st2 login`.

[code]

**`st2-self-check` fails execution. It appears the auth token is not propagated successfully.**

Here's the output from the first failed command run by `st2-self-check` (run manually: `st2 --debug run tests.test_packs_pack`):

[code]

Note the last curl request cont

[2017-03-21 08:33] Kami commented on #3295
Thanks for reporting this.

AFAIK, `st2-self-check` was never really tested with CLI auth token caching since it was always designed to run using an explicit auth token specified as `ST2_AUTH_TOKEN` environment variable.

In any case, still something we should check out when we get a chance and I would also be OK with making it work with existing cached auth token (if it's not too complicated and

[2017-03-21 08:41] warrenvw commented on #3295
Yes, it's true that `st2-self-check` does explicitly use the `ST2_AUTH_TOKEN` env variable when calling `st2 run ...`. However, it's also true that the `--debug` output shows that it's properly reading and using the token from `~/.ssh/token-st2admin`. It's clear something isn't working right server-side.

For the time being, I'll explicitly set `ST2_AUTH_TOKEN` when running `st2-self-check`.

[2017-03-21 08:50] Kami commented on #3295
OK, I just checked the st2-self-check to confirm and `ST2_AUTH_TOKEN` environment variable is mandatory when auth is enabled - https://github.com/StackStorm/st2/blob/master/st2common/bin/st2-self-check#L118.

The reason for that is that this token is passed to the tests as `token` parameter. So in short, it works as designed.

So yeah, it's slightly confusing, but the same token is used by st2 CLI

[2017-03-21 16:01] bigmstone commented on #3291
@nmaludy This is a difficult problem to solve for us since a lot of state needs to be shared between multiple `actionrunners` - which could exist on multiple servers. We also use paramiko for ssh connections so we'd have to build that atop the existing structure.

Given the complexity I would imagine the "easiest" thing to do would be to create a different ssh runner to handle persistent connectio

[2017-03-21 16:21] nmaludy commented on #3291
Throwing out some ideas here...

1) Delegate these commands to an Ansible playbook with properly configured openssh ControlPath. Then, Ansible would handle the connection caching.

2) Create another runner type, as you suggested, that utilizes the native ssh command on the host with properly configured connection cache settings passed in on the command line or in a stackstorm controlled config fil

[2017-03-21 16:27] bigmstone commented on #3291
@nmaludy Both of those would work for single systems installs (at least single system for action-runner). I was trying to think of a system that wouldn't break the scale model ST2 has.

It's possible this could be tied in with #3096 where sessions can persist on the originating action-runner and we route to that action-runner via some metadata. Needs some more thinking.

[2017-03-22 01:01] warrenvw opened #3296 "/usr/bin/st2-run-pack-tests: line 243: nosetests: command not found"
Used to be that the `run_pack_tests_without_creating_virtualenv` test passed successfully. It has not passed for a couple weeks now.

[code]

[2017-03-22 02:44] efenian opened #3297 "st2-purge-executions script not working"
$ st2 --version
st2 2.2.0

$ mongo -version
MongoDB shell version: 3.2.12

$ cat /etc/lsb-release
DISTRIB_ID=Ubuntu
DISTRIB_RELEASE=14.04
DISTRIB_CODENAME=trusty
DISTRIB_DESCRIPTION="Ubuntu 14.04.5 LTS"

$ /opt/stackstorm/st2/bin/st2-purge-executions --timestamp="2017-03-20T00:00:00.000000Z"
2017-03-22 02:42:46,594 INFO [-] Connecting to database "st2" @ "0.0.0.0:27017" as user "None".
Traceback (

[2017-03-22 03:22] LindsayHill commented on #3297
The problem is that since v2.2 we set a random password for MongoDB & PostgreSQL. Previously MongoDB had no authentication.

These values are stored in `/etc/st2/st2.conf`. By default, `st2-purge-executions` does *not* read this file, but you can pass it in as an option. This is a known problem, and we'd like to address it in v2.2.2. See https://github.com/StackStorm/st2/issues/3203

The short-ter

[2017-03-22 03:22] #3297 closed

[2017-03-22 03:37] bigmstone opened #3298 "Pack Install Doesn't Honor System user"
If you attempt to perform a pack install from a git repo it uses root ssh keys.

From docs:
```For SSH (URLs starting with git@) auth you have to create a deploy key, and require the system user running the command (stanley or root, depending on your configuration) to have a private key. Deploy keys are more secure than personal access tokens and can be configured on the per-repo basis.```

Howeve

[2017-03-22 05:23] userlocalhost commented on #3107
This issue has already been fixed in v2.1.1. So I close it.
Thank you.

[2017-03-22 05:23] #3107 closed

[2017-03-22 10:01] pietervogelaar opened #3299 "Version 2.2.0 is very unstable"
I upgraded StackStorm a few weeks ago from version 2.1.1 to version 2.2.0, but I'm at the point of reverting back to version 2.1.1.

StackStorm seems very unstable. CPU usage can suddenly be very high when StackStorm is doing no executions. Since yesterday commands from Slack executed an action in StackStorm, but chatops.post_result wasn't triggered, so chatops is broken. And today a rule that mus

[2017-03-22 12:54] bjwschaap commented on #3233
+1

[2017-03-22 14:14] Kami commented on #3299
Thanks for reporting this.

From top of my head, I can't think of any direct change we made which could have an effect on this.

The only thing I could think of is an issue because of the dependencies upgrade - we upgraded some libraries we depend on (and the only one being potentially problematic is paramiko used for remote runner actions, but this would potentially only affect remote runner acti

[2017-03-22 20:29] warrenvw commented on #3296
[code]

[2017-03-22 21:59] m4dcoder commented on #3292
To be clear, the parent workflow in this examples calls another workflow action in StackStorm. The parent workflow is not from a mistral workbook calling other sub workflows defined within the workbook.

When a mistral workflow is cancelled in StackStorm and if there's a task that is still running, the workflow will be marked cancelled but the task will not be affected. StackStorm and Mistral will

[2017-03-22 22:07] m4dcoder commented on #3292
The behavior of timeout is similar to a cancel.  Currently if a task times out, the parent workflow will fail but the task is allowed to complete gracefully. This is by design as Mistral do not know what is being run in the task and it may cause unintended consequences if forcefully cancelled or terminated. This is left to the user to manage. As for why the child task keeps running and running and

[2017-03-22 22:10] m4dcoder commented on #3292
So in summary, this does not look like a bug to me. If you feel otherwise, please reopen the issue and present more details.

[2017-03-22 22:20] warrenvw commented on #3296
[code]

[2017-03-22 22:58] warrenvw commented on #3296
In a fresh `st2-upstart` container based on 2.2.0 release, with the latest version of `st2-run-pack-tests` from `master` branch, and after running `st2ctl reload`, `. ~/st2.vars` and `st2-self-check`... the `tests.test_run_pack_tests_tool` test fails:

[code]

After the above failed test, I manually executed the failed `st2-run-pack-tests`, adding the `-v` option for more verbose output:

[code]

[2017-03-23 00:12] bigmstone commented on #3298
Noticed some strange behavior today that made me add the `to be verified` tag. On scripted install I'm seeing it operate under `stanley` user but using `id_rsa` instead of `stanley_rsa`. So this might be different than originally reported as well as cause for opening up a bug on StackStorm/ansible-st2

[2017-03-23 03:51] emptywee commented on #3292
Could you show what is being printed by the `core.local` echo command if you keep `wait-before` parameter in the task? I can post my results of running those workflows.

[2017-03-23 03:57] emptywee commented on #3292
![image](https://cloud.githubusercontent.com/assets/4997180/24231475/e833f97c-0f52-11e7-8182-f270b4025c76.png)

[2017-03-23 04:06] emptywee commented on #3292
If this is not a bug, I can't even think what is a bug and how it can be handled by end user.

As to handling cancellation of parent tasks, could you give a short example how this can be handled by users? Let's say I want to gracefully stop my mistral workflow if parent workflow is cancelled, provided that I don't know how many levels the workflow is nested. I mean, the workflow can be started by

[2017-03-23 10:32] Kami commented on #3296
For those tests to pass you need to be using latest development st2 packages (so staging unstable or what is to become v2.2.1).

That's also the reason why those tests were initially only merged into st2tests master and not v2.2 branch (because at that time, that change was only in st2 and st2-packages master).

[2017-03-23 19:17] warrenvw commented on #3296
[code]

[2017-03-23 19:25] Kami commented on #3296
Thanks :+1:

Closing.

And to wrap up - yes, latest `st2-run-pack-tests` script from st2 master will only work correctly out of the box with StackStorm >= v2.2.1.

[2017-03-23 19:25] #3296 closed

[2017-03-23 21:28] LindsayHill opened #3301 "'make requirements' fails for versions < 2.0."
Running `make requirements` fails for ST2 versions < 2.0.

I am trying to make an update to some older st2docs branches, e.g. https://github.com/StackStorm/st2docs/pull/427. This works for v2.0, v2.1, v2.2. It fails for v1.2, v1.4, v1.5, v1.6.

With no changes to the Makefile, installing st2docs requirements or st2 requirements will fail with this:
[code]

If I modify the st2docs/Makefile to insta

[2017-03-24 02:34] userlocalhost commented on #3053
If the config data that `st2api` received can store to the datastore, and load it in order. This problem can be resolved.

There is a [PR](https://github.com/MongoEngine/mongoengine/pull/1497) to let `mongoengine` to store object data (e.g. the fields which are defined in 'st2common/model/db/*') to the datastore in order.
If this feature is merged, this problem could be solved with small changes o

[2017-03-24 10:02] pietervogelaar commented on #3191
In discovered that when a rule, trigger, action or workflow is removed from a git repository and is no longer on the disk of a stackstorm server, the command `sudo st2ctl reload --register-setup-virtualenvs --register-all` does not purge these items from StackStorm. I have to manually delete them with st2 commands.

It would be very nice if there was a purge flag or something. Is there something a

[2017-03-24 13:49] pietervogelaar commented on #3299
It seems it's just isolated to Mistral. With strace I was able to figure out that a core.remote action was trying to connect with SSH to a Solaris server. But the SSH connection didn't gave a timeout. It completely hanged the mistral task into running state and I was not be able to cancel it. Even with all the instructions on this page https://stackstorm.reamaze.com/kb/mistral/mistral-workflow-stu

[2017-03-24 13:50] pietervogelaar commented on #3299
I converted the mistral workflows to action chains which seem much more robust.

[2017-03-24 15:22] LindsayHill commented on #3299
@pietervogelaar Could you provide some more stats on what you were seeing? memory usage, CPU, which processes were consuming resources, etc?

[2017-03-24 20:30] LindsayHill commented on #3191
No, I don't think there are any out of the box commands for this, apart from `st2 pack remove` if you're removing the whole pack. Otherwise you have to manually remove each action/rule with commands like `st2 action delete`, etc.

[2017-03-24 21:54] Mierdin opened #3307 "Erroneously trying to parse blank pack configs"
When a pack contains a configuration schema, but that file is blank (has no contents), st2 will still try to parse it, which causes a traceback for the pack.

The workaround right now is simply to have the user delete the schema file - but we should consider implementing some exception handling here.

[2017-03-27 07:00] pietervogelaar commented on #3299
![stackstorm-crash](https://cloud.githubusercontent.com/assets/1067483/24344447/dc20e56a-12cb-11e7-8fb4-76b713f9bd74.gif)

[2017-03-27 13:52] Kami opened #3310 "Update RBAC syncer code to re-use and update existing database objects instead of using "delete all and re-create" approach"
Right now all the RBAC syncer code always creates latest state by deleting all the current assignments and (re)creating new ones based on the definitions on disk.

This was done intentionally for the sake of code simplicity and readability.

This works fine, but it creates a lot of unnecessary database object churn because objects are deleted from the database and new ones created even if nothing

[2017-03-27 13:52] Kami commented on #3310
I plan to work on this after #3294 is merged.

[2017-03-27 19:14] #3307 closed

[2017-03-27 20:01] bigmstone commented on #3299
@pietervogelaar Do you have a good way to reproduce this? You mentioned ssh to a non-existent or down box - is that how you're able to reproduce it?

[2017-03-27 20:53] m4dcoder commented on #3292
@emptywee regarding the publish and wait-before issue you're reporting...

##### Sample Wait-Before Workflow

[code]

##### Result
var1 published after task1 is being echo'd correctly in task2 after wait-before. Please look at the list of "vars" in the result for confirmation.

[code]

[2017-03-27 20:55] m4dcoder commented on #3292
@emptywee I think the problem you're having is this YAQL expression `<% ($.get('attempt') or 0) + 1 %>`.  It's always returning `0`.

[2017-03-27 21:22] m4dcoder commented on #3292
@emptywee so for the workflow below, i did find the workflow to go into infinite loop.  the published var is not incremented in this case as you've found.  Not sure why but we'll track this as an issue. Thanks for your persistence.

[code]

[2017-03-27 21:24] m4dcoder commented on #3292
As for the cascading cancellation of children workflow execution, we'll revisit this and look for options. Next time, it'll be more helpful if these are tracked as separate issues.

[2017-03-27 21:26] m4dcoder commented on #3292
@emptywee If they're not worth looking, we will not be having this conversation. I'm very disappointed in this comment since we've been providing you w/ responsive and excellent support.

[2017-03-27 22:09] emptywee commented on #3292
Now we are both upset :( Sorry about that, didn't mean it.

Still, I don't understand why you ask for sample workflows, but try to reproduce with a "slightly" different case.

Again, I apologize if it sounded wrong, offensive or in anyway inappropriate. I did not really mean anything, just got a bit upset.

[2017-03-28 07:52] pietervogelaar opened #3313 "The st2ctl reload command is missing a purge option"
I discovered that when a rule, trigger, action or workflow is removed from a git repository and is no longer on the disk of a stackstorm server, the command sudo st2ctl reload --register-setup-virtualenvs --register-all does not purge these items from StackStorm. I have to manually delete them with st2 commands.

It would be very nice if there was a purge flag or something.

[2017-03-28 07:53] pietervogelaar commented on #3191
For now I will go with st2 pack remove, but this obviously has the downside that actions are not available for a short time. I created an issue for this https://github.com/StackStorm/st2/issues/3313

[2017-03-28 08:06] Kami commented on #3191
I think one a good mid-term solution would be to add "--purge" or similar flag to `st2-register-content`.

This way it can be used in distributed / HA environment with the existing `--register-setup-virtualenvs` flag.

What do other people think?

[2017-03-28 08:52] Kami commented on #2509
Just a quick heads up everyone - feature is now (mostly) implemented and working end to end - https://github.com/StackStorm/st2/issues/2509 (docs at https://github.com/StackStorm/st2docs/pull/430).

If you feel a bit adventurous you can check out those changes and test it out.

If you don't want to deal with manually checking out the changes and / or building the packages you can wait a couple of

[2017-03-28 08:59] pietervogelaar commented on #3299
The core.remote action was used as task in a Mistral workflow. It connected to a Solaris server that runs Oracle. They said they fased out the this server, but when everything hang I tried SSH manually. What I found was that the server was not yet destroyed, but was still pingable. However when I tried to login with SSH, my prompt was just busy/waiting. I didn't get a fail, but I also didn't get l

[2017-03-28 09:07] jiang-wei opened #3314 "st2sensor default create a token with ttl = 1 day"
when update the ttl of the token in st2.conf to 600 seconds, the sensor container complains failed to create token with expiry of 86400 for the sensor.

[code]

I check the code and found at /opt/stackstorm/st2/lib/python2.7/site-packages/st2reactor/container/process_container.py + 449

[code]

create_token is about to create a token with ttl=86400 but failed.

[2017-03-28 10:50] Kami commented on #3314
@jiang-wei Thanks for reporting this.

This is a good call, yes.

For end user stuff, we need some kind of protection and reasonable max TTL for tokens, but for system tokens (one used by the sensor container, actions, etc.) it sometimes makes sense to allow larger TTLs.

[2017-03-28 10:51] Kami commented on #3314
In short - I would propose a code change.

Adding `system` argument to `create_token` method and when `system=True` we would skip TTL check all together. And we would of course update places where system tokens are generated to pass in `system=True`.

[2017-03-28 11:44] pietervogelaar commented on #3191
I found out that the "st2 pack remove" workaround is not really an option. It removes the pack from the database but also from disk. So the code below will result in a removed pack instead of a replaced pack:

[code]

[2017-03-28 11:53] Kami commented on #3314
Proposed change in #3315.

[2017-03-28 12:28] pietervogelaar opened #3316 "How can I validate if redis is used to enforce policies?"
I have an action-chain and the following policy:

[code]

As documented at https://docs.stackstorm.com/reference/policies.html I had to add Redis or ZooKeeper to the Stack. I chose Redis. I configured a coordinator_url and when I execute two deploy_vm workflows at the same time the second one gets the status "delayed" and start running as soon as the first one is finished. So that works perfectly.

[2017-03-28 12:41] pietervogelaar commented on #3316
I powered off the Redis server and I still get the same behaviour, that the second workflow execution gets the status delayed until the first is finished. So is the note from the documentation not correct (anymore)?

"The concurrency policy type is not enabled by default and requires a backend service such as ZooKeeper or Redis to work."

[2017-03-28 13:16] armab commented on #3313
Yeah, sounds like a good feature request.
I remember we got several reports like that before and I believe we have to put everything together and reconsider, keeping in mind infrastructure as a code principles.

Similar Issues:
- [BUG: Rules that are renamed/removed not removed on reload #924](https://github.com/StackStorm/st2/issues/924)
- [pack install does not unload pack pre-flight (2.1) #3143

[2017-03-28 22:06] LindsayHill opened #3317 "Action registration does not enforce unique position parameters in metadata"
ST2 allows actions to be registered when they have non-unique `position` values.

For example, this action metadata will get successfully registered:
[code]

This is the output when registering the action:
[code]

It appears to be stored with overlapping positional values:
[code]

Expected behavior: If using the `position` parameter, users should have to use unique values. This should fail validat

[2017-03-30 13:51] pietervogelaar opened #3320 "Action status stays "Scheduled""
I have StackStorm running fine in a production environment. The same setup runs in the test environment. However, every time I execute an action in the test environment the action status stays "Scheduled". All the processes seem to run normally, no strange things in the logging.

Wat could be the problem that the action is not picked up? I do see action runner processes running.

As example, core.

[2017-03-30 18:04] #2509 closed

[2017-03-30 19:41] hagay3 commented on #3313
+1

[2017-03-30 23:11] lakshmi-kannan opened #3322 "Include sample roles and assignments in contrib/rbac"
We should also ship this in /usr/share/docs/st2/ so people can copy those and use them as reference.

Also, see https://github.com/StackStorm/ipfabric-docs/issues/77

[2017-03-30 23:13] lakshmi-kannan opened #3323 "st2-apply-rbac-definitions --debug does nothing special."
[code]

I had an issue with one of the YAMLs where I had enabled: False. I couldn't figure out why my roles weren't getting synced. I tried using --debug and it wasn't helpful. `--verbose` helped though.

[2017-03-31 07:23] Kami commented on #3322
I thought we already did this, sample roles should already be somewhere in st2 repo.

But I can't recall the details, could just be in `st2tests/` fixtures directory.

[2017-03-31 08:07] Kami commented on #3323
Yeah, if it makes sense we should make ``--debug`` and alias for ``--verbose`` (or vice-versa).

[2017-03-31 09:03] Kami commented on #3314
@jiang-wei Change in #3315 has been merged and will be included in v2.3.0 release.

Thanks again for reporting this.

[2017-03-31 09:03] #3314 closed

[2017-03-31 19:15] bigmstone commented on #3320
Is the action actually executing and displaying "scheduled" or is it not running at all? Can you give me the output of your `actionrunner` logs as well as `st2api` logs in a gist?

I'm particularly interested in the `actionrunner` logs. If you can do a `tail -f /var/log/st2/st2actionrunner.*.log` and let it settle out tailing all the files then execute your action while nothing else is being reque

[2017-04-03 11:35] fabriziotorelli-wipro opened #3327 "Request for improvement"
I need to apply an automation to vagrant for RancherOS. If you need some more material about I can send you some materials, else-way I am requiring if you have any plan for pull requests.

Thanks,

Fabrizio Torelli
(https://github.com/fabriziotorelli-wipro)

[2017-04-03 14:23] LindsayHill commented on #3327
It would be helpful if you described what improvement you want. It's unclear what ST2 components you're referring to.

Pull requests are always welcome.

[2017-04-03 23:51] dzimine commented on #3253
Just hit the same condition, good news is "I can reproduce it now". Will keep researching. cc @m4dcoder

[2017-04-04 02:45] samirsss commented on #3253
Just want to mention that Ron from SQA here also ran into this issue.

[2017-04-04 05:28] Mierdin opened #3329 "Unhelpful error message when Jinja key doesn't exist"
I came across this error when running some release workflows. The cause of this was that our build infrastructure is currently running an older version of StackStorm (which will very soon be remedied via the new ops work), so the `st2kv` implemented in https://github.com/StackStorm/st2cd/pull/266 was not a thing. However, this error message didn't help me in any way to come to this conclusion - wo

[2017-04-05 08:39] Kami opened #3332 "Include example HTTP request payload and response for each API endpoint in the API documentation"
We should update API docs code generation code to include example request payload and example response for each API endpoint.

API docs without examples are nice, but not all that useful. With examples in place it's much faster and easier to get started (it's the same with regular code docs - just API reference documentation is not that useful, you need actual code samples, etc.).

To make the who

[2017-04-05 09:17] enykeev commented on #3332
So yeah, just to point out. Examples are easy to add on API docs side. The main problem is to gather them inside openapi.yaml, which as Kami points out, should be done somewhat automatically. I personally have no idea how are we going to do that.

[2017-04-06 11:23] sidkrishna opened #3336 "Dependent pack installation with "st2 pack install <pack>""
**Enhancement Request:**

It would be good to if `st2 pack install <pack1>` could check for other pack dependencies for pack1 - say pack2, pack3 and implicitly also install them.

**Example:**  If I create a custom pack eg. vslx and then pack uses actions from ansible pack (available in stackstorm exchange), then as part of the pack installation process for vslx, ansible pack can also be installed

[2017-04-06 11:49] sidkrishna opened #3337 "Dynamically updating action parameters on ST2 UI"
In some cases, while calling workflows/actions from the UI, the action parameters (type) might be depend upon another previous action parameter input. For simpler configuration and user experience, and **if feasible**, it would be good to have capability to accommodate dynamic updating action parameter options based on input values of other parameters.

**Example use case:**
vSLX chassis type: F4/

[2017-04-06 15:21] pietervogelaar commented on #3320
Today I had time to look at this again. But actions just run normally now.

However I saw that the actions that had the status "Scheduled" were eventually finished with the status "Succeeded". But the action below core.local with the command "date" took about 30 minutes.

[code]

So that's still very strange...

[2017-04-06 16:51] sidkrishna opened #3339 "Action re-run fails when action contains a secret parameter"
**Re-runs** for actions that contain a secret param eg. password fail both from CLI and UI. This is happening most probably because the parameter gets passed as `******` instead of the actual value.
If one changes the param from `****` to actual text, it works.

Logs:
[code]
Here, I am re-running the first action which completed successfully earlier but the re-run fails with `authentication failur

[2017-04-06 23:11] armab commented on #3336
+:100:

[2017-04-07 03:43] enykeev commented on #3339
I can confirm the issue and in some cases it might lead to truly awful consequences. This is the action I was using for testing:

[code]

and this is log of running the action

[code]

Now imagine it's not `echo`, but `rm -Rf`.

[2017-04-07 08:58] sidkrishna opened #3340 "Capability of marking some actions as hidden"
**Enhancement Request:**

It would be good to have capability of marking _some_ actions in an integration pack as hidden so that they exist (and are used in action chains or mistral workflow tasks) but are not shown in the action list for the pack from the CLI or UI. Intention behind this is to avoid the end user directly calling these actions as their usage primarily confined from inside the work

[2017-04-07 21:03] Mierdin opened #3342 "Changing nested "result" attribute in action reporting"
In building a custom response for an action alias, I realized that actions report their results via a nested set of `result` keys:

[code]

So, in my alias response, I had to use `execution.result.result` to refer to values returned by the action.

I'm fully acknowledging that I expect that the ratio of value to effort for changing this is probably skewed towards the "not worth it" direction, but

[2017-04-07 22:06] armab commented on #3342
I like the `execution.result.values` naming

[2017-04-08 00:42] Mierdin opened #3343 "New regex filter for Jinja2 expressions"
In https://github.com/StackStorm/st2/blob/master/st2common/st2common/jinja/filters/regex.py, there are 3 possible filters that can be used in a Jinja2 expression in a rule. Unfortunately, the only function that returns a string is `regex_replace`. A user in the slack community wanted to be able to filter some text from a trigger through a filter, and use the resulting value - sort of like `regex_s

[2017-04-08 06:18] Kami commented on #3342
Yeah, I agree, `result.result` is quite confusing.

The problem with that change is that it's breaking so we need to figure out a best way to make it backward compatible.

[2017-04-08 18:10] armab commented on #3343
:+1: for more useful filters. That's one of the advantages that makes Ansible so useful, [for example](http://docs.ansible.com/ansible/playbooks_filters.html).

[2017-04-09 15:19] nmaludy commented on #2956
+1

[2017-04-10 17:27] lakshmi-kannan opened #3345 "Searching for a string with `:` in it in YAQL does not work"
For example, this snippet:

[code]

complains `mapping values are not allowed here`.

Escaping the `:` does not work as in both these variables evaluate to True.
[code]
when
[code]

Regex works according to john.welborn on slack

[code]

[2017-04-10 18:17] Mierdin commented on #3181
Sorry for the delayed response. And just FYI, 2.2.1 is out, and 2.2 includes a lot of changes to Jinja2, especially in Mistral workflows.

Anyways, all that said, I was able to replicate what you saw on 2.2.1. The reason this is happening is so that we can reference variables when passing parameters into actions - for instance, `st2kv` , for referring to stored K/V pairs in StackStorm.

So, if you

[2017-04-10 18:21] Mierdin commented on #3188
Thanks. This could be considered a feature request, but FYI you could use the `{{}}` notation in the action parameters to pass these variables into an action. E.g.:

[code]

[2017-04-10 19:33] m4dcoder commented on #3345
The colon is being interpreted by YAML safe load as part of the YAML text.  If you put a double quote around the YAQL expression, YAML will load this correctly. The correction is posted below.

[code]

If this problem persists for you, please reopen this issue.

[2017-04-10 19:33] #3345 closed

[2017-04-10 19:49] estee-tew commented on #3345
https://stackstorm.slack.com/archives/community/p1491853765137460

[2017-04-10 20:27] m4dcoder commented on #3292
Bug report registered in OpenStack @ https://bugs.launchpad.net/mistral/+bug/1681562

[2017-04-10 21:59] nmaludy opened #3346 "st2 --debug outputs URLs that are not accessible from remote hosts"
When trying to determine what the CLI command `st2` is doing behind the scenes (and also help learn the API) i often use the --debug flag. However, the URLs shown in this output are only accessible when running commands on the stackstorm host and NOT from an external host:

Example output from an st2 command:
[code]

If you try to copy and paste those `curl` commands to an external host they fail

[2017-04-10 22:07] nmaludy commented on #3346
Looks like the code that's outputting these URLs is here: https://github.com/StackStorm/st2/blob/master/st2client/st2client/utils/httpclient.py#L143-L165

[2017-04-10 22:53] m4dcoder commented on #3292
The source of the wait-before bug has been identified at https://bugs.launchpad.net/mistral/+bug/1681562. Please follow the link to review comments. We will need to wait for the rest of the Mistral core team to provide feedback on the use of the cache and how to workaround this issue.

[2017-04-10 23:17] Ben-Cirrus commented on #3188
Thanks, Matt - This is the workaround I am currently using :)

[2017-04-11 02:23] emptywee commented on #3292
Awesome. Let's hope for quick resolution.

[2017-04-11 13:29] pietervogelaar commented on #3320
When I redeploy one of the two puppetized StackStorm servers, I get similar behaviour again. This time the status stays "Requested". When I execute on both servers `tail -f /var/log/st2/st2actionrunner.*.log` and then execute an action no new information is logged.

[2017-04-11 13:33] pietervogelaar commented on #3320
Also no logging when debug is set to `True` in `/etc/st2/st2.conf`:

[code]

[2017-04-11 13:43] armab commented on #3320
@pietervogelaar Any specifiic conditions when you're getting this state?
What OS is that?
RabbitMQ version?
Memory/CPU resources on the machine?

For example if you experiencing this issue immediately after st2 startup on Ubuntu Xenial, it could be related to https://github.com/StackStorm/st2/issues/3290

[2017-04-11 13:46] pietervogelaar commented on #3320
OS: RHEL 7.3
RabbitMQ: 3.6.2
Erlang 18.3
Memory: 4GB
CPU: 2
Average load (from top): 0.10

[2017-04-11 20:27] sidkrishna commented on #3289
This syntax works.. :+1:  I just verified it with one of my mistral workflows where I was trying to do that same.

[2017-04-12 00:35] humblearner opened #3348 "With RBAC enabled, trigger get gives 500:Internal server error"
[code]

st2api.log:
--------------

[code]

[2017-04-12 05:42] Kami commented on #3348
Thanks for reporting this.

It's possible a regression in new API changes - either @enykeev or I should have a look shortly.

[2017-04-12 05:42] Kami commented on #3348
Never mind, I see you already pushed a fix #3349 - thanks :)

[2017-04-12 14:43] armab commented on #3346
You can adjust both api and auth URLs used by `st2` cli via environment variables or via `~/.st2/config` file. This way CLI with debug enabled will show updated URLs.

See https://docs.stackstorm.com/reference/cli.html for more info.

Example with `~/.st2/config`:
[code]

Example with `env` variables:

[code]

You can find/configure remote endpoints in [nginx config](https://github.com/StackStorm/

[2017-04-12 14:43] #3346 closed

[2017-04-12 14:55] nmaludy commented on #3346
It would be great to have those documented in https://docs.stackstorm.com/reference/cli.html as you described.

Currently the documentation simply points to server:9100 and the like.

[2017-04-12 15:10] armab commented on #3346
`~/.st2/config` options like `[api] url` and `[auth] url` as well as environment variable like `ST2_API_URL` are included in https://docs.stackstorm.com/reference/cli.html
Those are actual StackStorm API endpoints which CLI client `st2` tries to access.

But yeah, if you see an improvement, - feel free to open a Pull Request in https://github.com//StackStorm/st2docs/blob/master/docs/source/referen

[2017-04-12 15:12] nmaludy commented on #3346
Perfect, i didn't realize there was another repo that controlled the documentation!

I'll create a PR tonight.

Thanks!

[2017-04-12 17:43] estee-tew commented on #2973
https://stackstorm.slack.com/archives/community/p1492018976099518

[2017-04-12 20:25] estee-tew commented on #3111
https://stackstorm.slack.com/archives/community/p1492028690236579

[2017-04-13 03:40] joeyjy opened #3352 "Didn't receive notification after chatops.post_result succeeded"
Hi guys,

I followed [official tutorial](https://docs.stackstorm.com/chatops/chatops.html)  and successfully setup st2chatops service in stackstorm.

I created a pack named mychatops and created an alias
mychatops/aliases/remote.yaml:
[code]

reload the service:
**st2 run packs.setup_virtualenv packs=mychatops && st2ctl reload --register-all
service st2chatops restart**

then go to my rocketChat r

[2017-04-13 20:44] lakshmi-kannan commented on #3181
@jthunt Can you verify and get back to us?

[2017-04-13 21:11] estee-tew commented on #3240
https://stackstorm.slack.com/archives/community/p1492117899815875

[2017-04-13 21:16] xydinesh commented on #3240
+1 this is very helpful for debugging workflows.

[2017-04-14 13:41] stevemuskiewicz opened #3354 "rule create using existing rule name gives 500 server error with no details"
While attempting to add a new rule with `st2 rule create <yamlfile>` I inadvertently used a rule name that was already in st2.

Instead of telling me this was a duplicate, st2 responded with:

    st2 rule create nightly_build.yaml
    ERROR: 500 Server Error: Internal Server Error
    MESSAGE: Internal Server Error for url: http://127.0.0.1:9101/v1/rules

Exception trace in `st2api.log` is equall

[2017-04-14 13:52] lakshmi-kannan commented on #3354
@stevemuskiewicz This seems like a regression for sure. What version of st2 were you using?

[2017-04-14 13:56] stevemuskiewicz commented on #3354
@lakshmi-kannan wups sorry forgot to mention version, I'm still on st2 2.1.1

[2017-04-14 14:38] martinbeentjes opened #3355 "Rule is not matched by rule engine, but it is matched by ruletester"
Hello,

I am working on a prototype which has to receive a message from queue `hello` and trigger an action which sends a message to `hello2`. RabbitMQ is used as a messaging service. A trigger instance is generated by stackstorm each time my test application (Java app sending a AMQP message each ten seconds) sends a message.

I installed the RabbitMQ pack. I made a rule in the default folder: `/o

[2017-04-15 21:00] armab commented on #3352
From the list of chat adapters (https://github.com/StackStorm/st2chatops/blob/master/st2chatops.env#L42) it looks that `rocketChat` is not yet officially supported.
Not sure if that's related to this failure or not.

To isolate the problem and move forward with debugging, I would suggest to test in Slack chat first:

- If the same Action Alias works in `Slack` and doesn't work in `RocketChat`, - i

[2017-04-16 11:10] hagay3 opened #3356 "Ports for api and authentication services can't be changed"
Hi,
I'm trying to change the port for authentication module with no luck, the port remains on '9100' .
After the change I did also st2ctl restart.

I tried to edit this section, with new port 9109
[code]

Stackstrom process still listens on 9100 port
[code]

I checked also the api and it's the same issue.

[2017-04-16 11:34] Kami commented on #3356
To change listening ports on production installation (where installed using packages and services are managed by service manager and not running in a standalone mode), you need to change ports in the service manager files.

For example, for Ubuntu, that is in the upstart file - https://github.com/StackStorm/st2-packages/blob/master/packages/st2/debian/st2.st2api.upstart

Note to us: We should eith

[2017-04-16 11:43] hagay3 commented on #3356
I'm not sure what you meant by saying
"services are managed by service manager and not running in a standalone mode".
What is exactly standalone mode?

[2017-04-16 12:01] hagay3 commented on #3356
I still cant get how to change the port.
OS is Ubuntu 14.04

[2017-04-16 12:42] armab commented on #3356
@hagay3 For Ubuntu14, edit the upstart init file located at: `/etc/init/st2auth.conf`.
You'll find the port definition there.

When you're done with modifying, don't forget to reload upstart configuration: `sudo initctl reload-configuration` and restart your service.

Hope that answers your question.

[2017-04-16 12:43] estee-tew commented on #3356
https://stackstorm.slack.com/archives/community/p1492346619722875

[2017-04-17 13:23] hagay3 commented on #3356
Thanks @armab it did the magic.
I still think the one conf file should utilize the port as it does in many other products (mysql, cassandra etc..)

[2017-04-17 18:09] estee-tew commented on #2888
https://stackstorm.slack.com/archives/community/p1492452560239740

[2017-04-17 18:49] humblearner opened #3359 "Don't forget to remove the old web hook URL"
web hook URL for new build node: https://github.com/StackStorm/st2/pull/3358

[2017-04-17 23:14] bigmstone commented on #3225
@andrew-regan and update on if you could reproduce in 2.2?

[2017-04-17 23:17] andrew-regan commented on #3225
Still waiting on some test results from QA. We're at 2.2.1 so will let you know if we see it there.

[2017-04-17 23:21] bigmstone commented on #3225
@andrew-regan thanks. I'm tracking this issue, so I'll help you get it closed.

[2017-04-18 16:51] AndyMoore111 opened #3362 "unable to have array of objects in a parameter"
when using the aws.autoscaling_create_launch_configuration action the BlockDeviceMappings parameter requires an array of objects (list of dictionaries) as its argument

however in the st2 web interface if you try to add a dictionary it splits on ',' and throws errors:

[code]

Entered:
[code]

If I change the type to an object:

[code]

the validation says 'value is not an object'

[2017-04-18 17:37] #3355 closed

[2017-04-18 21:54] #3272 closed

[2017-04-19 02:22] lakshmi-kannan commented on #3354
@stevemuskiewicz https://gist.github.com/lakshmi-kannan/fe5ac9d083076d40aa5f7a23a62433d1 I cannot repro this in master (2.3dev). If it were a regression in 2.1.1, this seems fixed :).

[2017-04-19 03:04] lakshmi-kannan commented on #3362
@AndyMoore111 This seems like a bug in st2web. I opened a bug there https://github.com/StackStorm/st2web/issues/352. Closing this.

[2017-04-19 03:06] #3354 closed

[2017-04-19 03:06] #3348 closed

[2017-04-19 03:10] lakshmi-kannan commented on #3301
I'd actively remove documentation for those versions because we only support current stable and previous version for the product itself.

[2017-04-19 16:43] hagay3 opened #3365 "MongoDB can only handle up to 8-byte ints"
Hi,
I have an issue with stackstorm.
I configured a webhook and http request should trigger StackStorm action, but there is some parse error.
Seems like its not mongo error, maybe some internal client error.

* I replaced some names and ips with "*"

**From the log: st2rulesengine.log**

2017-04-19 09:41:38,818 140175459950832 ERROR consumers [-] StagedQueueConsumer failed to process message: {'tr

[2017-04-19 17:07] hagay3 commented on #3365
I'm not sure it's where the error comes from but overflow definition is in here
[code]

[code]

[2017-04-19 20:22] m4dcoder opened #3366 "API key can be created for a nonexistent user"
An API key can be created for a user that doesn't exists (i.e. `st2 apikey create -u foobar` where foobar is a nonexistent user). The API key created for this nonexistent user `foobar` can be used to execute an action and the execution is listed under `foobar` in context.user. The API key should not have been created in the first place if the user does not exist. Also, since API key doesn't have e

[2017-04-19 20:58] lakshmi-kannan commented on #3362
Re-opening.

@AndyMoore111 says he cannot pass array of objects even via CLI.

[2017-04-19 21:10] Kami commented on #3366
My response from Slack:

In short, it would be first good to figure out why it's done the way it's currently done.

Like I said on Slack, I didn't see any negative security implications or similar from that behavior while looking at it a couple of days ago (please correct me if I missed something), but if we don't come up with a particular reason / use-case why it was done that way, I'm also fine

[2017-04-19 21:48] jwomack opened #3367 "st2client missing python dependencies"
I needed to go through stack traces to find the following dependencies:
pytz
editor
jsonschema
prompt_toolkit

Fixed by:
sudo pip install pytz
sudo pip install editor
sudo pip install jsonschema
sudo pip install prompt_toolkit

[2017-04-19 23:06] m4dcoder opened #3368 "/api/v1/apikeys not found return 500 instead of 404"
`st2 apikey get foobar` return 500. Should it return 404 instead?

[2017-04-19 23:09] m4dcoder opened #3369 "/api/v1/apikeys list does not have total in result"
Can /api/v1/apikeys paginate?

[2017-04-20 05:09] enykeev commented on #3368
I'll dig into it, but it would be helpful if you provide a traceback when you encounter similar issue next time.

[2017-04-20 05:35] estee-tew commented on #3365
https://stackstorm.slack.com/archives/community/p1492666517957427

[2017-04-20 05:36] estee-tew commented on #3365
https://stackstorm.slack.com/archives/community/p1492666563963757

[2017-04-20 19:07] m4dcoder commented on #3368
Here's the client side error.  ```vagrant@arkham:~/st2$ st2 apikey get foobar
Traceback (most recent call last):
  File "/home/vagrant/projects/stackstorm/st2/st2client/st2client/commands/resource.py", line 162, in get_resource_by_pk
    instance = self.manager.get_by_id(pk, **kwargs)
  File "/home/vagrant/projects/stackstorm/st2/st2client/st2client/models/core.py", line 39, in decorate
    return

[2017-04-20 19:09] m4dcoder commented on #3368
and here's what the st2api.log says...

[code]

[2017-04-21 15:30] estee-tew commented on #3272
https://stackstorm.slack.com/archives/community/p1492788642468856

[2017-04-21 18:39] LindsayHill commented on #3367
How did you install st2client? Some of those dependencies - e.g. pytz - are covered in https://github.com/StackStorm/st2/blob/master/st2client/requirements.txt

[2017-04-22 01:30] estee-tew commented on #2676
https://stackstorm.slack.com/archives/community/p1492824598789091

[2017-04-22 17:00] emptywee commented on #2676
Not sure why it doesn't work for the author, but updating DAEMON_ARGS via /etc/sysconfig/st2api worked very well for me:

[code]

[code]
This way I don't have to update the original init.d script, which can be updated during upgrade.

[2017-04-22 17:41] mbrannigan commented on #3356
I was having this issue with CentOS 7 and fixed it this way:

1. Edit `/usr/lib/systemd/system/st2api.socket`
Change `ListenStream=127.0.0.1:9101` to `ListenStream=0.0.0.0:9101`

2. Reload systemd
`systemctl daemon-reload`

3. Reload st2api
`st2ctl restart-component st2api`

4. Check to see if it's re-bound
[code]

[2017-04-22 20:58] armab commented on #3356
Cross-linking related issue: https://github.com/StackStorm/st2/issues/2676

[2017-04-24 12:45] nmaludy opened #3373 "Improve st2ctl status"
Couple of times now on Slack people have come in with problems with either mongodb or rabbitmq that are not immediately obvious when running st2ctl status.

I have a couple ideas of how to improve this output

- Show rabbitmq PID/status
- Show mongdb PID/status
- Provide a --verbose option that prints out `systemctl status <service>`  for each component

I'm willing to make these improvements and

[2017-04-24 12:51] pietervogelaar opened #3374 "Is a conditional on-success possible?"
Is a conditional on-success possible? It doesn't seem to work. I think it would be a nice feature.

[code]

[2017-04-24 13:10] estee-tew commented on #1704
https://stackstorm.slack.com/archives/community/p1493039417041051

[2017-04-24 13:11] armab commented on #3373
Thanks for raising an issue before creating the PR.
We've considered before something like this.

Showing rabbitmq, mongodb, nginx and postgresql statuses in `st2ctl` is not what we want, since they're different services and StackStorm could be configured in HA way with DB/MQ as external clusters, running outside of the machine.

Talking about the `verbose` flag, - keep in mind that we officially

[2017-04-24 13:12] nmaludy commented on #3373
OK i'll close this for now, thanks for the feedback.

[2017-04-24 13:12] #3373 closed

[2017-04-24 14:57] sidkrishna commented on #3374
Gave this a quick try to verify and looks like it does not work for task progressions e.g. `on-success`.

Getting the following error:
[code]
Although they are supported with parameters: https://docs.stackstorm.com/actionchain.html#variables

Yes, will be good to have.

[2017-04-24 20:03] estee-tew commented on #3191
https://stackstorm.slack.com/archives/community/p1493064170943011

[2017-04-24 21:34] estee-tew commented on #2888
https://stackstorm.slack.com/archives/community/p1493069677024278

[2017-04-25 00:45] m4dcoder commented on #3292
Improvement on 2nd issue w/ canceling subworkflows @ https://github.com/StackStorm/st2/pull/3375

[2017-04-25 00:46] m4dcoder commented on #3292
Again, please separate issues in different post next time.

[2017-04-25 07:17] estee-tew commented on #2018
https://stackstorm.slack.com/archives/community/p1493104625518864

[2017-04-25 13:32] hagay3 commented on #3365
Eventually ended up adding LUA script to nginx for removing the key.

[2017-04-25 22:58] armab commented on #3122
Implemented in https://github.com/StackStorm/st2-packages/pull/458, thanks tot @enykeev  for finding the `JoinsNamespaceOf` systemd option and will be available in next stable release (you can test unstable now).

[2017-04-25 22:58] #3122 closed

[2017-04-26 00:06] #3323 closed

[2017-04-26 00:32] lakshmi-kannan opened #3377 "st2 pack show in master is broken"
[code]

with --debug

[code]

[2017-04-26 19:59] estee-tew commented on #3203
https://stackstorm.slack.com/archives/community/p1493236758167201

[2017-04-27 14:56] pidah opened #3378 "Support multiple auth backends in tandem"
use case: I would like to use the default flat_file auth backend for authenticating the st2admin user and use another auth backend (ldap, keystone etc) for authenticating all other users. Currently only a single auth-backend is supported per stackstorm installation.

[2017-04-27 19:03] nmaludy opened #3379 "Auto-load k/v pairs during pack install"
We are developing a hierarchical code structure where we have a "base" pack that contains common workflows, actions and scripts. Workflows and actions in this pack reference keys in the k/v store for various parameters.

Next in our hierarchy are "customer" packs that mainly contain unique values for the various keys in our "base" pack.

We would like to be able to automatically load the k/v pairs

[2017-04-28 08:59] maxim-s-barabash opened #3380 "NOT masked secret parameters in "liveaction""
st2 version 2.2.1.

This applies to logs and st2api.

/st2/v1/executions/id

[code]

[2017-04-28 09:14] Kami commented on #3380
Thanks for reporting this.

This issue has been fixed recently as part of https://github.com/StackStorm/st2/pull/3341 and the fix will be included in the next release (v2.3.0) which should be out some time in the next couple of weeks.

In addition to that, I would encourage you to review new "Secrets Masking" document which describes how it works and spells out the limitations of relying just on s

[2017-04-28 09:28] maxim-s-barabash commented on #3380
Thanks!

[2017-04-28 09:28] #3380 closed

[2017-05-02 16:45] nmaludy commented on #3336
+1

[2017-05-02 18:26] brezus opened #3384 "Add an option to hide certain action executions from st2web ui"
We have a few heartbeat/status check actions that run frequently and don't give us any useful information unless they fail. They largely just make it hard to see the useful parts of our action history. Other systems we've used in the past have had "only show on failure" flags that can be used to denote a recurring low-importance action. Something like that would be very useful for us, since what w

[2017-05-02 21:42] Mierdin opened #3385 "Config option system.validate_trigger_payload not being honored"
https://github.com/StackStorm/st2/pull/3142 introduced a new option to disable validation for trigger payloads, among other things. The advertised default behavior is that validation is disabled by default, but can be explicitly enabled with [this option](https://github.com/StackStorm/st2/blob/master/conf/st2.conf.sample#L265).

However, several users have reported that [validation is still being

[2017-05-02 23:57] Mierdin opened #3386 "WebUI generates invalid rule YAML"
This was a follow-up to a user-reported issue in #community. The WebUI seems to be able to create rules just fine, but the YAML shown in the code pane doesn't appear to be a valid rule.

Here's a sample rule I created:

![screen shot 2017-05-02 at 4 48 31 pm](https://cloud.githubusercontent.com/assets/4230395/25643950/8cb7bd48-2f57-11e7-93aa-0494e80993ae.png)

I then pasted exactly the YAML shown

[2017-05-03 01:12] andrew-regan commented on #3225
Just an update. Testing with StackStorm 2.2.1 is starting on our side. Will let you know if we see this reproduce again.

[2017-05-03 06:47] Kami commented on #3385
Good catch - this should totally be `BoolOpt` :)

And yeah, would need to dig in why the existing tests didn't catch this (we probably have no tests which directly use default value from the config).

[2017-05-03 06:50] Kami commented on #3384
Shouldn't existing "status" filter do the trick (you should be able to filter on status = failure)?

Or you mean a different kind of filter?

[2017-05-03 07:00] Kami commented on #3386
Good catch :+1:

/cc @enykeev

[2017-05-03 11:35] diellenne opened #3388 "Config values from workflows"
Would be really handy being able to read the values defined in a pack configuration file directly from a workflow definition; at the moment the only way I found to use configuration values in a workflow is to add the needed values in the output of an actions and then publish them in the workflow' in this way works but is not really a clean solution.

[2017-05-03 15:01] LindsayHill commented on #3388
@diellenne you should keep an eye on this PR https://github.com/StackStorm/st2/pull/3183 - I think that will address your requirements?

[2017-05-03 19:59] nmaludy opened #3389 "Update runner_types from "run-python" to "python-script" in Exchange packs"
In several packs in the Exchange there are actions using the legacy `runner_type` of `run-python`. According to the upgrade notes: https://docs.stackstorm.com/upgrade_notes.html#st2-v0-9 this has been renamed to `python-script`.

We should update the actions to use the new `runner_type`

[2017-05-03 20:08] Mierdin commented on #3389
:+1: and this should apply to all "deprecated" runners. There are a number of other runners that have been "deprecated" for a long time, and we should make efforts to remove these, and enforce that all actions use the currently valid ones

[2017-05-04 03:31] cyberious commented on #3367
I too am unable to get st2client installed, have tried both Python 2.7 or Python 3.6 using pip install and falling down a rabbit whole of dependency. Installing a OS X.

[code]
Finally got working after manually running `sudo pip install python-editor`

[2017-05-04 03:46] enykeev commented on #3367
The dependency is [there](https://github.com/StackStorm/st2/blob/master/st2client/requirements.txt#L7) though. I would also like to know how you're installing st2client, it might that we missed something during, say, packaging....

[2017-05-04 11:41] pietervogelaar opened #3391 "How can I retrieve the user who executed an action inside that action?"
So I have an action with runner_type: ‘python-script’.

[code]

[2017-05-04 12:24] jjm commented on #3391
I don't believe this is possible, if you look at #2912 you can see some ways of dealing with not being able to access the actions context in an action as part of requesting this feature.

[2017-05-04 13:11] pietervogelaar commented on #3391
In this case I don't want to add a parameter to use {{action_context.user}}, because that can be overridden. So it would be very nice if I can retrieve the actual user who executed the action.

[2017-05-04 13:35] jjm commented on #3391
You could possibility mark it as `immutable` to prevent anyone changing it. I _may_ have talked to @Kami or @emedvedev about this on Slack before raising the issue for the feature request, but it was last year.

[2017-05-04 13:40] pietervogelaar commented on #3391
I'm not aware that StackStorm parameter could be marked immutable, but that would also be sufficient indeed.

[2017-05-04 13:41] pietervogelaar commented on #3391
Cool, that seems possible https://docs.stackstorm.com/actions.html, `immutable: true`. I'm going to try it out.

[2017-05-04 14:39] pietervogelaar commented on #3391
Yes, this works very nice. Thanks!

[code]

It also works when this action is used in a workflow:

[code]

[2017-05-04 15:15] arthurlogilab opened #3392 "online install fails when locales are not configured properly"
The oneliner install from https://docs.stackstorm.com/install/index.html fails when locales are not properly configured.

[code]

```apt-get install locales-all``` seems to fix the problem

[2017-05-04 15:27] cyberious commented on #3367
Just using `pip install st2client`

[2017-05-04 15:29] armab commented on #3392
Thanks for the report!
Looks like it appears when installing the `mongodb-org` package.

If you feel motivated, you can contribute the fix via Pull Request in: https://github.com/StackStorm/st2-packages/blob/master/scripts/st2bootstrap-deb.sh#L214

[2017-05-04 21:14] armab commented on #3392
As said in https://github.com/StackStorm/st2-packages/pull/459#issuecomment-299310589

[2017-05-04 21:14] #3392 closed

[2017-05-05 04:43] smw commented on #3261
My instance of this seems to have been caused by returning a json string as the results of my action using single quotes:

[code]

[code]

These are caused by stdout formatted like this, respectively:

[code]

[code]

The first throws the exception, the second doesn't.

[2017-05-05 04:47] smw commented on #3261
I wonder if the parsing of stdout into an object shouldn't be more controlled?  Actions should take a config variable pointing to the desired parser?

[2017-05-05 09:55] arthurlogilab commented on #3392
ok. Thanks for the info.

[2017-05-05 12:28] andrew-regan opened #3393 "Trigger dispatched from sensor not reaching rulesengine"
**Release:** StackStorm 2.2.1
**Issue:** A trigger that is dispatched in the first polling cycle of a polling sensor intermittently is never processed by the st2rulesengine.
**Gist:** https://gist.github.com/andrew-regan/dbaf5d2d18731ab316887ad2a0650071

[2017-05-05 12:28] andrew-regan commented on #3393
Let me know if you want me to attach the full logs from the Gist above?

[2017-05-07 09:28] dzimine opened #3396 "Feature request: Add "enforce once" option to the rule"
There are cases where the rule only need to be run once.

Add `enforce_once` boolean to rule definition, and turn rule to "disabled" after it is enforced once.

[2017-05-08 15:02] jthunt commented on #3181
Sorry..   I coded around it.  Since I was using a custom sensor, I parsed out the fields in the sensor itself.

[2017-05-08 15:03] #3181 closed

[2017-05-09 09:08] Kami opened #3399 "Update rules engine so it knows how to handle triggers with parameters"
Just an issue for the missing feature described here in https://github.com/StackStorm/st2/pull/3398.

See:

* https://github.com/StackStorm/st2/pull/3398#issuecomment-300087815
* https://github.com/StackStorm/st2/pull/3398#issuecomment-300105396

Notably the second comment for the proposed solution.

[2017-05-09 21:00] LindsayHill commented on #3233
I wonder if this is something we can do use the pluggable runners framework? Initially write a separate runner that people can install if they wish, which will use python3. Have to figure out all the virtualenv bits, but might be a way to start distributing an experimental runner?

[2017-05-10 13:10] pietervogelaar opened #3401 "How to get action output while action is running?"
Is it possible to see action output while the action has the status "running"?

In the st2 web ui, I see:

[code]

And only after the status is "succeeded" or "failed" all the output is displayed. Is it also possible to display information as soon as the python action does a print statement?

[2017-05-10 14:44] LindsayHill commented on #3401
Not currently, but it's something we've wanted for a while, and it's bubbled up towards the top of the backlog now. See https://github.com/StackStorm/st2/issues/2175

[2017-05-10 14:46] pietervogelaar commented on #2175
+1

[2017-05-10 20:37] hagay3 opened #3403 "Can't access action.stdout in 'notify' scope"
I'm trying to build action-chain workflow and I have a desire to use action.stdout within notify scope.
notify scope is the way to notify other systems (slack/hipchat) about action that just happened.
The thing is that apparently the variable is not accessible inside the notify scope, I just get {{some-variable}} name and not the variable content.

Example:
[code]

When trying to get access to var

[2017-05-10 21:48] #3385 closed

[2017-05-11 13:13] dzimine opened #3405 "st2 trigger list doesn’t respect —pack"
It says it all.

`st2 trigger list --pack=mypack` doesn't filter packs.

Version 2.3dev

[2017-05-12 02:20] LindsayHill commented on #3301
Have found some nasty hacks to get old docs building. Will keep those workarounds in the st2docs tree, not try to port them into here

[2017-05-12 02:20] #3301 closed

[2017-05-12 04:07] dzimine opened #3407 "st2kv does not resolve in Jinja cast expression"
In the rule:
` {{ "2" | int }} - 2` Dah
`{{ trigger.count | int }} -> 2` OK
`{{ st2kv.system.count | int }} -> 0` Wrong.

[2017-05-12 05:02] enykeev commented on #3407
Can confirm.

[code]

[2017-05-12 10:09] #3405 closed

[2017-05-15 06:07] #3407 closed

[2017-05-17 05:44] estee-tew commented on #3403
https://stackstorm.slack.com/archives/community/p1494999864478724

[2017-05-17 06:12] scutojr opened #3415 "error happened while generating RPM"
I want to make RPM and I run 'make rpms' under project root directory and then it will run 'make rpm' under each subproject. When it tries to copy a directory called packaging, it failed:
[code]
Finally, I only got one rpm ~/rpmbuild/RPMS/noarch/st2client-2.2.1-1.noarch.rpm. Is this error normal and what is right way to generate RPM?

[2017-05-17 13:53] armab commented on #3415
Yeah, we have a dedicated repository for packaging https://github.com/StackStorm/st2-packages/ (with Docker or Vagrant environment) to build + generate `deb` or `rpm` packages for StackStorm.

Please take a look and if you have any problems with the process, - open an issue in `st2-packages`. So I'm closing this.

[2017-05-17 13:53] #3415 closed

[2017-05-17 16:45] hagay3 commented on #3403
I have another issue with the notify scope, rule is defined with parameters that generated out of the webhook trigger payload. Then I cant access to those parameters inside notify scope.

Rule:
[code]

Action chain meta:
[code]

And there is no way inside notify scope to access "alertname" variable.

Action Chain :
[code]

[2017-05-17 20:27] estee-tew commented on #3403
https://stackstorm.slack.com/archives/community/p1495052818792965

[2017-05-18 06:34] sujuanliu opened #3417 "Cannot run salt module using st2"
I got an issue when running saltstack modules in ST2 web console, it seems all of saltstack modules cannot be run successfully.
St version: st2 2.2.1
St2client:Version: 2.2.1
![screenshot](https://cloud.githubusercontent.com/assets/20679929/26189385/094cf7f2-3bd7-11e7-95f9-d8591bc2627d.PNG)
Python version: Python 2.7.6
OS:4.4.0-63-generic #84~14.04.2-Ubuntu SMP Mon Feb 13 11:04:58 UTC 2017 x86_64

[2017-05-18 16:12] hagay3 opened #3419 "unexpected token while trying to pass json content inside a variable"
Hi,
I'm trying to pass json variable to a script , tried to use string and object types with no luck.
Ended up with a failure on the json variable and stackstorm mentioned the content.
Tried also to write the variable in few ways (no luck on this one also):
'{{ var }}'
'{{var}}'
"{{ var }}"
"{{var}}"

Error while the var type is object:
```746: unexpected token at '{u'commonLabels': {u'service': u

[2017-05-18 21:19] emedvedev commented on #3391
That's what we do internally for this purpose as well. Glad it's working for you!
Closing the issue.

[2017-05-18 21:19] #3391 closed

[2017-05-18 22:43] emedvedev commented on #3261
@pietervogelaar
[code]

When you use `host search`, the `query` parameter is not specified, and when you try to access it in `result.format`, it results in an error because it doesn't exist. Just speculating here, but almost sure.

[code]

This might help you.

[2017-05-18 22:50] #3049 closed

[2017-05-18 22:51] #3029 closed

[2017-05-18 22:52] #2922 closed

[2017-05-18 22:55] emedvedev commented on #2599
Closing in favor of #1598

[2017-05-18 22:55] #2599 closed

[2017-05-18 22:57] emedvedev commented on #2426
Env variables are supported through `st2chatops.env` now, closing.

[2017-05-18 22:57] #2426 closed

[2017-05-18 23:05] #2179 closed

[2017-05-18 23:05] #2309 closed

[2017-05-18 23:05] #2310 closed

[2017-05-18 23:07] #3327 closed

[2017-05-18 23:09] emedvedev commented on #3374
It's possible in Mistral workflows, but not in actionchains. Normally, if you find yourself in need of a conditional on-success, it's probably time to convert your chain to Mistral anyway :)

[2017-05-18 23:09] #3374 closed

[2017-05-18 23:12] emedvedev commented on #3352
If you get an ack message for your command, but not a reply, it means the st2chatops service can't connect to the StackStorm event stream. Check your settings in `st2chatops.env` — your URL to stackstorm API might be incorrect.

[2017-05-18 23:14] #3289 closed

[2017-05-18 23:15] #3172 closed

[2017-05-18 23:17] emedvedev commented on #3064
That's how Python itself does it prior to 3.4, so argparse is just following the convention, pretty much. While `stdout` would be better, I don't think hacking on argparse is worth it.

[2017-05-18 23:17] #3064 closed

[2017-05-19 11:52] maxim-s-barabash opened #3421 "action render_values UnicodeEncodeError"
Error occurred when executing an action. if the variable value of the variable can not be converted to a string.

[code]

[code]

[2017-05-19 12:56] pietervogelaar opened #3422 "Wildcard support for execution list action filter"
It would be very nice to have a wildcard support for execution list action filter.

Something like:

[code]

At the moment it's only possible to specify a specific action. I want to build JSON output, that is useable for the Jenkins Job Monitor frontend. Without the wildcard I have to executed a lot of API calls every time the dashboard refreshes, which is every 5 seconds.

![image](https://cloud.

[2017-05-19 13:03] Kami commented on #3421
Thanks for reporting this, will look into a fix shortly.

[2017-05-19 13:34] Kami commented on #3421
#3423 should fix this.

[2017-05-19 14:47] Kami opened #3424 "Remove support for old style pack configs"
They have been deprecated for quite a long time now and they are just causing confusion and pain since they are not user friendly.

## TODO

- [x] Code changes - https://github.com/StackStorm/st2/pull/3434
- [x] Update code to throw a friendly error message if `<pack root>/config.yaml` file is found which tells user old-style configs are not supported anymore and links to the appropriate documenta

[2017-05-19 14:48] Kami commented on #3424
@LindsayHill You can help me with the last task if you get a chance :)

[2017-05-19 15:33] LindsayHill commented on #3424
Yeah, I guess I will. I did a lot of them last year, but there's a couple left.

Wonder if we should add tests that reject all new PRs that include `config.yaml`?

[2017-05-19 18:08] Kami commented on #3424
Yeah, adding a lint / build check would be good.

[2017-05-19 18:14] LindsayHill commented on #3424
Looks like this is our list to work through:

- [ ] github.com/StackStorm-Exchange/stackstorm-aws/tree/master/config.yaml
- [ ] github.com/StackStorm-Exchange/stackstorm-libcloud/tree/master/config.yaml
- [ ] github.com/StackStorm-Exchange/stackstorm-rabbitmq/tree/master/config.yaml
- [ ] github.com/StackStorm-Exchange/stackstorm-azure/tree/master/config.yaml
- [ ] github.com/StackStorm-Exchange/s

[2017-05-22 02:33] sujuanliu commented on #3417
actually this issue is similar as https://github.com/StackStorm-Exchange/stackstorm-salt/issues/2.

i installed ST2, salt with the same version and configs in two vms, even os version is the same, but got two different errors when running saltstack modules.

it has blocked me a lot, hope this issue can be resolved soon.

[2017-05-22 06:10] Kami commented on #3421
#3423 has been merged, fix will be included in v2.3.0.

Thanks again for reporting this.

[2017-05-22 08:29] hagay3 commented on #3403
I fought this one for a while.
Eventually used the key value store, first stored the json as string:
```/usr/bin/st2 key set alert "{'alert' : 'test1'}" ```

Then in action definition passed in default the value:
[code]

[2017-05-22 08:40] pietervogelaar opened #3426 "Job monitor dashboard would be nice"
It would be nice if StackStorm offered a Job monitor dashboard for periodically scheduled jobs.

Maybe some integration with the Jenkins Build Monitor plugin, but then only used as standalone frontend? It opted something here: https://github.com/jan-molak/jenkins-build-monitor-plugin/issues/312

[2017-05-22 08:55] Kami commented on #3403
Sorry for the delay.

Notifications and notify section are processed by a different service (notifier) then the one where the action chain workflows run (action runner).

They are also processed separately of when the workflow is executed. This means that workflow context and parameters are not available there.

As far as if it is possible and how hard would it be to make the context and parameter

[2017-05-22 18:35] hagay3 commented on #3419
Apparently jinja template turns double quotes ```"``` to single quote ```'``` , didn't found a way to work around that, my script always got paramter without quotes: {'var': 'test1'}, I wanted it to be with quotes " {'var': 'test1'}". Tried the [safe filter](http://jinja.pocoo.org/docs/2.9/templates/#working-with-automatic-escaping) with no luck.

What I did at the end is create a sub-action that

[2017-05-22 18:35] #3419 closed

[2017-05-22 20:25] cognifloyd commented on #3367
The problem occurs when installing via pypi:
```pip install st2client --user```

The reason is that the requirements in [st2client/setup.py](https://github.com/StackStorm/st2/blob/v2.2.1/st2client/setup.py#L54-L61) do not match with [st2client/requirements.txt](https://github.com/StackStorm/st2/blob/v2.2.1/st2client/requirements.txt).

These are in requirements.txt, but not setup.py

- `argcomplet

[2017-05-22 20:37] cognifloyd commented on #3367
To avoid setup.py and requirements.txt getting out of sync, requirements.txt could be replaced with something simpler, as described here: https://caremad.io/posts/2013/07/setup-vs-requirement/

Would that be acceptable? If not, what's st2's preferred method for keeping requirements.txt and setup.py in sync?

[2017-05-23 08:33] #3421 closed

[2017-05-23 19:26] tim-ireland opened #3429 "Mistral backend concurrency question"
Mistral backend question.  I have some st2 workflows using mistral-v2 runner which all use `with-items` to process a collection in mistral by calling an action repeately.  The execution queue seems to have backed up to the point where mistral api calls to POST executions are returning 500 after a 60 sec timeout.

[code]

I am using:
	mistral 2.2.1
	st2 2.2.1

My actions which run as workflows unde

[2017-05-23 23:38] cognifloyd opened #3430 "st2client feature: st2 pack init <pack_name> <dest_dir>"
I would like something like ansible's `ansible-galaxy init <role_name>`[1] for st2 packs.

Something like `st2 pack init` or `st2 pack create` would be great.

I would imagine that init would, like ansible-galaxy, create the pack folder in the current directory, unless another directory is specified.

[1] http://docs.ansible.com/ansible/galaxy.html#create-roles

[2017-05-24 03:27] bigmstone opened #3431 "ST2 Client Stream URL"
ST2 Client does not have the option to configure the stream URL which breaks some commands (I.E. `st2 pack install`) when using ST2 Client remotely. ST2 Client should allow for configurable stream URL so that commands that subscribe to the stream can update properly and not throw a traceback.

[2017-05-24 09:28] Kami commented on #3430
Right now this functionality is part of `st2sdk` - https://github.com/stackstorm/st2sdk#usage.

You can install st2sdk from pip - `pip install st2sdk`.

[2017-05-25 03:13] #3417 closed

[2017-05-25 20:54] LindsayHill commented on #3424
Docs PR: https://github.com/StackStorm/st2docs/pull/507

Not sure if I've got all the references, but must be close

[2017-05-25 23:15] Mierdin opened #3435 "Predictive error message when config hasn't been loaded"
I've done support a few times now and one of the most common problems arises from the fact that someone has changed a pack config file but haven't reloaded it.

The error message that usually pops up is a `KeyError`, since the action or sensor will likely be looking up some key in the config that may not exist in the config stored in the database. However, for some packs, where the default configu

[2017-05-25 23:46] LindsayHill commented on #3435
Some packs catch errors like this, and provide half-useful error messages, but it's inconsistent (e.g. see https://github.com/StackStorm-Exchange/stackstorm-vsphere/blob/master/actions/vmwarelib/actions.py#L35)

Plus those tend to pick up errors where the config has not been loaded the first time, they don't pick up when it's a wrong/outdated config.

We probably need to update docs to make the re

[2017-05-27 23:19] faustolendeborg commented on #3366
This is a problem when you are creating an entry in the datastore, if the API-KEY of the specific user is not created, then the scope won't work when when you use {{st2kv.user...}} in any config file, making it impossible for multi-tenancy (e,g multiple credentials).

In order for this to work user and API key users must be created.

[2017-05-30 08:53] userindia77 commented on #2654
Hi,
I also ran into similar requirement. Can you comment on availability of this feature ?
Additionally, I also wanted to know that if I want to dynamically re-schedule a workflow execution using the same rule. I do not want to use another static rule to schedule this event. Think of a situation where we have mutliple rules which need to be scheduled after some time. To have a static trigger for e

[2017-05-30 08:58] diellenne commented on #3388
If it's also supporting Mistral, yes! :)

[2017-05-30 09:11] userindia77 opened #3437 "Dynamic general rules.."
Hey

We have a urgent requirement of having set of dynamic rules for all workflows which needs to be executed first. And the rules would be given input params and need to fetch some external data viz.., {ls,date} or postgresql data, apply rules and if matched intsead of triggering the action now schedule the whole rule to specified timing using cron job.

Plz, Let me know if it's already supported

[2017-05-30 14:22] leevs commented on #3313
+1
I didn't get it why my aliases would still be present when we reload it.

[2017-05-30 16:30] cognifloyd opened #3438 "Feature Request: support multiple, independently configured, sensor instances."
Please add the ability to have one sensor running more than once with separate configuration. Others have already worked on this feature as (See PR #1739), but the PR was closed due to (I think) inactivity of the @manasdk the initial author.

I am writing a PollingSensor where it would be very nice to have separate configuration for multiple instances of the same sensor. For instance, I have some

[2017-05-30 17:58] tim-ireland opened #3439 "Mistral API slowdown and timeouts in st2 v2.2.0 and beyond"
### Environment:
[code]

I have a sensor which dispatches triggers for various events.  Those triggers then match rules which call mistral workflows to process each event.

The python code in the individual actions that are called in the workflow run on the order of 3-4 ms.  The REST calls against the mistral API seem to slow down significantly.  In local experiments it's takes on the order of 250

[2017-05-31 08:57] koenbud commented on #3438
This feature is exactly what I am looking for too. I have sensors that do statistical analysis and I need to run multiple similar sensors, but with a different set of parameters. I want to avoid repeating code in multiple sensors.

I am new to StackStorm, so I am not fully familiar with the design principles, but one of the solutions that came to mind is to allow configuration parameters in the se

[2017-05-31 12:36] andrew-regan commented on #3439
Some more data:
* we rolled back to StackStorm/Mistral v2.1.1 and do not see this issue with the same event load
* we cherry picked the following PR's on top of v2.2.1 and the issue still reproduces: #3412, #3413, and #3420

[2017-05-31 17:21] AndyMoore111 opened #3440 "workflows fail when calling mistral from action-chain"
when calling a mistral workflow from an action-chain workflow stackstorm misinterprets the variables as jinja and fails

this happens on 2.2.1 and 2.1.1

steps to reproduce:

[code]

[2017-06-01 01:38] lakshmi-kannan opened #3441 "Killing/Stopping action runner processes while executing mistral workflow causes workflow to be stuck in "running" state."
https://github.com/StackStorm/st2/pull/3412/files doesn't appear to fix the issue.

Repro instructions and logs here
https://gist.github.com/lakshmi-kannan/e5f60c3125dfb01251a6fc305a6d8ea5

[2017-06-01 01:51] m4dcoder commented on #3441
What's the corresponding workflow execution status in mistral? What's the status of st2resultstracker?

[2017-06-01 01:58] m4dcoder commented on #3441
Also, please drill down into the st2 action execution and report back if any children is abandoned?  The fix from PR 3412 is triggered when a child action execution is being abandoned on worker shutdown.

[2017-06-01 02:27] lakshmi-kannan opened #3442 "Mistral cancel to parent workflow doesn't ripple down to individual tasks."
https://github.com/StackStorm/st2/pull/3375/files doesn't appear to have fixed the issue.

Repro and logs
https://gist.github.com/lakshmi-kannan/493ce616a3c2f1278eaec0736fba5f2b

[2017-06-01 10:11] sujuanliu opened #3443 "pillar args cannot be set more than 1?"
When running a custom salt state via st2 CLI, i got the following errors. If running the follow st2 CLI with one pillar args,  it will execute sucessfully.  It looks pillar data cannot be greater than 1 argument.

**Successful:**
st2 run salt.local module=state.apply args=adduser,pillar='{"uname": "test"}'

[code]

**Not Successful:**
st2 run salt.local module=state.apply args=adduser,pillar='{"un

[2017-06-01 16:24] m4dcoder commented on #3442
@lakshmi-kannan When a mistral workflow is cancelled, it doesn't cancel tasks that is non-workflow. It allows tasks such as shell and python actions to reach completion. This is by design since action runner doesn't truly kill those actions on cancel. So the behavior you reported is expected. Also, PR 3375 which you reference here handles tasks that is sub workflow. So if a workflow A has a task t

[2017-06-01 16:24] #3442 closed

[2017-06-01 16:52] bigmstone opened #3444 "st2-apply-rbac-definitons requires --config-file option"
When using RBAC from a fresh install you must provide the `--config-file` option and the location of the config file otherwise it will attempt to use default database credentials and fail to apply.

[2017-06-01 16:53] LindsayHill commented on #3444
Related to this broader issue? https://github.com/StackStorm/st2/issues/3203

[2017-06-01 18:06] armab opened #3445 "Inconsistency in Pack register content"
### 1) st2 pack install
When installing a pack `st2 pack install` the following content is registered by default: [`actions,aliases,sensors,triggers`](https://github.com/StackStorm/st2/blob/master/contrib/packs/actions/install.meta.yaml#L19) for a specific pack.

### 2) st2 pack register
When registering a pack with `st2 pack register` we pick up everything that's possible in this pack by default:

[2017-06-01 18:48] m4dcoder commented on #3441
I'm not able to reproduce this. I assumed you waited at least 20s for st2resultstracker to pick up the result.

[code]

[2017-06-01 19:40] bigmstone commented on #3444
Yep. Exact same problem. Closing.

[2017-06-01 19:40] #3444 closed

[2017-06-01 20:47] LindsayHill commented on #3443
I suspect the issue is related to this one https://github.com/StackStorm/st2/issues/3362

From the above, it looks like the arguments are being split into multiple params, splitting on `,`

Wonder if it can be escaped?

[2017-06-01 23:58] m4dcoder commented on #3439
I try to reproduce this issue on our upcoming v2.3, installed on a single VM. I'm running ```for i in `seq 500`; do st2 run examples.mistral-basic timeout=600 cmd="sleep 60; date" -a; done```. This basically schedules 500 workflow execution. Each workflow will sleep for a minute. All action executions completed fine. They do take some time to complete as it's limited by the number of action runner

[2017-06-02 00:03] andrew-regan commented on #3439
Single node.

[2017-06-02 00:04] m4dcoder commented on #3439
Can you try the for loop I used to test?  Can you show us a sample workflow of yours?

[2017-06-02 00:13] andrew-regan commented on #3439
https://gist.github.com/andrew-regan/823a813a85febf05e6c7f9043b65ee7f

[2017-06-02 00:44] lakshmi-kannan commented on #3441
https://gist.github.com/lakshmi-kannan/d749d96e72a70bee45ce6ea6800693c4. The core.local action task shows status as failed and parent workflow also shows as failed. I was expecting core.local to be abandoned but it seems like the task status is failed.

Here is logs for a standalone core.local task
[code]

[2017-06-02 01:31] LindsayHill commented on #3443
@sujuanliu what happens if you try using `kwargs` instead for pillar?

You'll have to play around with the syntax, but I think it will be something along these lines:
`st2 run salt.local module=state.apply args=adduser kwargs='{"pillar": '{"uname": "test", "ugroup": "test"}}'`

From looking through the code, I don't see any easy way for it to handle splitting up the args array when it has mixed co

[2017-06-02 01:41] sujuanliu commented on #3443
[cid:image001.png@01D2DB84.56628970]

ERROR: Expecting property name: line 1 column 13 (char 12)
[cid:image002.png@01D2DB84.56628970]

Regards,
/*********************************************
*  百纳（武汉）信息技术有限公司
*　TEL：18602752452
*　ADD：武汉市光谷大道77号光谷金融港A2栋3楼
**********************************************/

发件人: Lindsay Hill [mailto:notifications@github.com]
发送时间: 2017年6月2日 9:32
收件人: StackStorm/st2
抄送:

[2017-06-02 01:47] sujuanliu commented on #3443
st2 run salt.local module=state.apply args=adduser kwargs='{"pillar": '{"uname": "test", "ugroup": "test"}}'

[code]

[2017-06-02 06:18] enykeev commented on #3445
Frankly, I don't remember why we leave it that way during Pack API PR. Most likely we just deemed the change to be outside of PR scope. We also had plans to make `st2 pack register` the only way of registering new content.

From the top of my head, the only reason I see not to register everything on `packs.install` is that it could take too much time and potentially exceed default action timeout.

[2017-06-02 16:59] cognifloyd opened #3446 "Feature request: Make PollingSensor's poll_interval configurable (dynamically)"
Currently, if I have a pack with a sensor in two different StackStorm instances, the only ways to set a different poll_interval for the PollingSensor is to override `/opt/stackstorm/packs/<pack>/sensors/<sensor>.yaml` or make change the sensor's `setup()` or `__init__()` to retrieve the poll_interval from somewhere in `self._config`.

Please make some kind of sensor configuration mechanism to chan

[2017-06-02 18:41] armab opened #3447 "Add 'json_escape' custom Jinja filter"
Add `json_escape` custom Jinja filter, similar to https://www.freeformatter.com/json-escape.html

Useful when passing data between the actions which can accept JSON.

Real example with [`slack.chat.postMessage`](https://github.com/StackStorm-Exchange/stackstorm-slack/blob/5e161c45076c0219922c41a3b59e97883c3b0ae7/actions/chat.postMessage.yaml#L9)
[code]
which gets `attachments` as JSON-formatted st

[2017-06-02 19:14] lakshmi-kannan opened #3448 "Bug in book keeping running actions in action runner"
[code]

[2017-06-02 19:51] bigmstone commented on #3441
Can't reproduce. Closing.

[2017-06-02 19:51] #3441 closed

[2017-06-02 20:18] lakshmi-kannan opened #3449 "Killing action runner process should set running actions state to "abandoned" and not "failed""
In systemd hosts like U16 and EL7, running something like

```st2 run core.local cmd="sleep 180; echo covfefe" timeout=300 -a; sleep 30; sudo systemctl stop st2actionrunner; sleep 10; st2 execution list```

shows action status as ```failed`` and not ``abandoned``.

NOTE: This does not happen always. So I believe there is a race of some sort in U16.

[2017-06-02 20:36] m4dcoder commented on #3449
The liveaction has already failed as a result of shutdown by the time the abandon process runs.

[2017-06-02 20:51] m4dcoder commented on #3449
The logic here https://github.com/StackStorm/st2/blob/master/contrib/runners/local_runner/local_runner.py#L177 for the local runner was  triggered on u16 before the parent worker process it as abandoned.

[2017-06-02 23:02] m4dcoder commented on #3439
I retest w/ the following workflow, which is a mock up of your example. Still, I'm not able to reproduce any MessagingTimeout error.

[code]

[2017-06-05 06:41] rakhmerov commented on #3429
@tim-ireland Hi, yes, your interpretation is partially true. "Partially" because Mistral engine processes RPC messages in single-threaded mode. Although other components, Api and executor are multi-threaded. So, for example, Mistral actions can be run in parallel.
One thing that is easy to do now is to run more engines, then they will be processing workflows in parallel and hence polling MQ more f

[2017-06-05 18:02] m4dcoder commented on #3439
Additional info on related issue at https://github.com/StackStorm/st2/issues/3429

[2017-06-05 20:46] m4dcoder commented on #3449
So, on u16, looks like SIGTERM is sent to the subprocess first and the local runner is treating it as failed status. Maybe the fix would be to set the state to ABANDONED at https://github.com/StackStorm/st2/blob/master/contrib/runners/local_runner/local_runner.py#L177 when SIGTERM is the exit code (or -15 per https://docs.python.org/2/library/subprocess.html?highlight=returncode#subprocess.Popen.r

[2017-06-06 00:30] m4dcoder commented on #3448
@lakshmi-kannan Ok I figured out why. So basically, the action is still running, and it's in the _running_liveactions set. But on shutdown, the running action gets remove at https://github.com/StackStorm/st2/blob/ed6fdb4043647b766551c25f365782a58abce019/st2actions/st2actions/worker.py#L102. After the action is abandoned, the _run_action that originally runs the action tries to remove it from the s

[2017-06-06 20:31] nmaludy opened #3450 "st2common/st2-validate-pack-config takes a long time"
When running the CI pipeline against some of our packs i noticed that performing the example config validation takes a long time (example build: https://circleci.com/gh/EncoreTechnologies/stackstorm-activedirectory/7).

It takes much longer to perform this check than to run unit tests or even install dependencies.

Are we doing something wrong in our pack, or is there some way to speed this up?

[2017-06-07 00:34] m4dcoder commented on #3448
https://github.com/StackStorm/st2/pull/3451

[2017-06-07 15:13] Mierdin commented on #3377
Seems like this is because `core` isn't in the index (naturally, it's installed with stackstorm) and this functionality works by searching the index only. Wondering if right approach is to maintain a list of preinstalled packs in the API controller and if requests come in for one of them, don't look at the index, rather pull metadata from filesystem. Thoughts?

[2017-06-07 16:15] lakshmi-kannan opened #3453 "No validation performed to check parameters for a trigger type match what is defined by user"
See https://github.com/StackStorm/st2/pull/3398/files#r120671893.

To repro:

Declare a trigger type in sensor YAML like so

[code]

Now try to register a rule which doesn't confirm to the schema for parameters we defined in sensor YAML like so

[code]

You'll see that a trigger is created and rule will register successfully both of which shouldn't happen.

[2017-06-07 16:26] lakshmi-kannan opened #3454 "Validation of trigger payload for a complex trigger is broken."
A complex trigger is a trigger type with parameters.

Logs

[code]

[2017-06-07 17:11] nmaludy opened #3455 "st2 pack config <pack_name> does not handle object references"
When running `st2 pack config vsphere` .... if you look at the example config (https://github.com/StackStorm-Exchange/stackstorm-vsphere/blob/master/vsphere.yaml.example) and the schema (https://github.com/StackStorm-Exchange/stackstorm-vsphere/blob/master/config.schema.yaml) it does not seem to be generating a config that matches the example:

[code]
[root@stackstorm ~]# cat /opt/stackstorm/confi

[2017-06-07 17:19] lampwins opened #3456 "Mintral+Jinja ContextView object errors not reported"
st2: 2.2.1
mistral: 2.2.1
python: 2.7.12

When using jinja to access a published var that does not exist, `UndefinedError: 'mistral.workflow.data_flow.ContextView object' has no attribute '<var_name>'` is not reported back to ST2 and the mistral action gets stuck in an RUNNING state. Switching the statement to YAQL reports an error and the task fails within ST2. Below is the error output discovere

[2017-06-07 19:03] lakshmi-kannan commented on #3454
Apparently, this is per "design". The sensors are not allowed to use "type" and "parameters" but only use "ref" to dispatch a payload. If they did use "type" and "parameters" to refer to a trigger in sensor code, the validation code pukes. This is probably fine because I am with @Kami that dict lookups in mongo are error prone and therefore ref/id/uid lookups are better. I adapted my sensor code a

[2017-06-07 19:03] #3454 closed

[2017-06-08 03:32] bigmstone commented on #3377
@Mierdin I believe the bug is the traceback/unfriendly error handing and not the need to add pre-installed packs to the index (which I'm -1 on, if that's what we're thinking).

[2017-06-08 14:07] tim-ireland commented on #3439
Ok, quick update.  We were running mistral as a monolithic process (launch args 'all').  Breaking mistral out into an api service under gunicorn, and a separate server service (running engine and executor) seems to have improved performance.

However, given the new info in #3429, I'm interested in possibly breaking out the engine_server and executor_server into separate services and running multip

[2017-06-08 15:35] lakshmi-kannan commented on #3453
Looks like st2.dev.conf was missing

[code]

was missing in st2.dev.conf. I enabled that in https://github.com/StackStorm/st2/pull/3398/commits/0096682fa1a1fe3fea47b3b9a3f21b2e69537332.

After I did that, rule registration fails as expected.

[code]

[2017-06-08 15:35] #3453 closed

[2017-06-08 19:02] m4dcoder commented on #3449
Partial fix at https://github.com/StackStorm/st2/pull/3457

[2017-06-08 19:07] bigmstone opened #3459 "ST2API doesn't parse percent encoded URIs"
Tracking StackStorm/st2web#357 here.

[2017-06-08 19:08] m4dcoder commented on #3439
Yeah, the built in WSGI server in mistral is not scalable. That's why I asked how you installed StackStorm and Mistral at https://github.com/StackStorm/st2/issues/3439#issuecomment-305652320. We typically break out Mistral API and run it with gunicorn. Most of the work is done by StackStorm action runners. Mistral engine/executor is mostly coordinating the workflows. You can scale out Mistral API,

[2017-06-08 19:23] andrew-regan commented on #3439
Sorry....I missed this earlier: _Using our install script? Installing individual components manually on your own?_  🤦‍♂️

[2017-06-08 19:37] m4dcoder commented on #3439
@andrew-regan So I'm going to close this issue. If you find other problems, feel free to reach us on Slack or open new issues here.

[2017-06-08 19:40] #3439 closed

[2017-06-08 19:41] m4dcoder commented on #3429
I'm going to close this issue. There's a workaround for now. The Mistral team has taken note and will look at this further on their side.

[2017-06-08 19:41] #3429 closed

[2017-06-08 19:54] #3448 closed

[2017-06-08 19:59] m4dcoder commented on #3440
This is a bug. The issue is caused by https://github.com/StackStorm/st2/blob/master/contrib/runners/mistral_v2/mistral_v2.py#L165. The context contains the Jinja expression which gets passed into Mistral as environment variables. Subsequently, Mistral tries to evaluate it as a valid Jinja expression but fails because the variable is out of scope.

[2017-06-09 13:10] Mierdin commented on #3377
The error message on the client was obfuscated when that OperationFailureException - when you raise the original exception, this is what you get:

[code]

I changed the API to return an empty list instead of `None` and that seems to work. (See https://github.com/StackStorm/st2/pull/3458/commits/37b63900750967968617ef727a28f45ebe6d5a55)

[2017-06-09 16:31] #3459 closed

[2017-06-11 17:45] descrepes commented on #3421
Hi,

I just upgraded to v2.2 and the same issue appear on Mistral workflow.
Here is the mistral server logs:

I never seen this kind of unicode error on v2.1.

I fix the code as in #3423 but applied to the file mistral/utils/\_\_init\_\_.py and everything seems ok so far :)

Regards

[2017-06-12 07:40] Kami commented on #3450
I don't even see validate-pack-config step here - https://circleci.com/gh/EncoreTechnologies/stackstorm-activedirectory/7

Am I missing something (I do see other config checks, but not st2-validate-pack-config one).

As far as why it might be slow - all those various lint and config checks work on per-file basis which means some of them might take a bit longer if you have a lot of YAML files in yo

[2017-06-12 15:20] lakshmi-kannan commented on #3437
@userindia77 It seems like you still want a workflow. A workflow can have any number of tasks. So the initial few tasks could get postgresql data and do all the matching inside a python action and then let the data flow into rest of the workflow.

Have you actually had a look at the docs? It seems all the basic pieces are documented. If you want us to tell you exactly how to build workflows for yo

[2017-06-12 15:20] #3437 closed

[2017-06-12 15:20] #3445 closed

[2017-06-12 20:50] LindsayHill commented on #3424
Closed since #3434 is now merged

[2017-06-12 20:50] #3424 closed

[2017-06-13 00:01] nmaludy commented on #3450
@Kami I've modified our makefile to print timestamps at the beginning and end of each target.

You can see this by clicking on the "make all" section of this build
https://circleci.com/gh/EncoreTechnologies/stackstorm-activedirectory/14

If you notice:
[code]

Takes a total of almost 2 minutes to complete.

Looking at the `st2-check-validate-pack-example-config` i notice this line:
[code]

Guessin

[2017-06-13 00:51] #3377 closed

[2017-06-13 03:08] bigmstone commented on #3362
The CLI handles this properly. If you set type to `object` you cannot feed it an `array`. Use type `array` for that. You can set the `array` content type to `object` using something similar to:
[code]

The bug; however, does exist in st2web and is fixed in st2web#360.

My assumption is you attempted to change the input to `object` and then feed it an `array` which is will get rejected when it hits

[2017-06-13 03:08] #3362 closed

[2017-06-13 12:54] nmaludy opened #3468 "Default values in pack config schema not being honored"
If a pack has a schema that declares a default value for a specific property and the property is absent in the config instance (`/opt/stackstorm/configs/<pack>.yaml`), then a python runner attempts to read this value from the config a `KeyError` is thrown instead of the default value being returned.

# Steps to reproduce
I've created a test pack that demonstrates this: https://github.com/nmaludy/s

[2017-06-13 13:13] Kami commented on #3468
Which version of StackStorm are you running?

I believe it's related to an issue which has been fixed in v2.2.1 - https://github.com/StackStorm/st2/pull/3260

[2017-06-13 13:15] nmaludy commented on #3468
[code]

I'll try upgrading

[2017-06-13 13:39] nmaludy commented on #3468
Same error with 2.2.1

[code]

[2017-06-13 13:51] Kami commented on #3468
Thanks for testing with v2.2.1.

I was able to reproduce the issue. It's related to the config item not being required (`required: false`). We only set default values for items which are required.

I believe we had a special reason to do go with this behavior in the past (something with Mistral workflow and default parameter values, IIRC).

Simple solution is to change config item required attribu

[2017-06-13 13:55] nmaludy commented on #3468
@Kami that did work, thanks for the workaround and thanks for looking into this!

[2017-06-13 14:39] Kami commented on #3468
After some more thinking about it, I don't think it should have any negative and breaking impact and #3468 should do the trick.

[2017-06-13 14:43] nmaludy commented on #3052
+1

[2017-06-13 15:50] lakshmi-kannan opened #3470 "st2 pack * commands should work on "system" packs too."
@nmaludy on slack:

i tried writing a small script to update all of the installed packs :
[code]
However, most of the installed packs can't be downloaded so it errors out... think i need to filter out the "built-in" packs

Also, I don't know where they came from!

@Kami

yep, one think you could do is like git ls contrib/

[11:00]
and exclude those

[11:00]
one solution would be for us to add some

[2017-06-13 16:13] #3468 closed

[2017-06-13 16:34] nmaludy commented on #3470
I had also thought about adding some metadata to the `st2 pack list` printout of potentially another column with "origin" information.

"system" = packs installed by the st2 system itself, these packs cannot be used with `st2 pack install`
"exchange" = packs installed from the exchange, they can be used with `st2 pack install`
"git@xxx.git" = pack was installed from the given git url and can be us

[2017-06-13 18:18] nmaludy commented on #3342
+1 (`result.result` just bit me)

[2017-06-14 08:56] Kami opened #3476 "st2 execution run should display result for Mistral workflows on completion"
We should display workflow result (result from the last completed task / action) on workflow completion when using `st2 execution run` command.

We already do that for action chain workflows and, IIRC, we also already did it for Mistral workflows.

Not displaying a result means user needs to type another command (`st2 execution get <last task execution id>`) which is rather annoying.

See https://

[2017-06-14 09:30] jaf-jaf commented on #3476
I agree, it would be helpfull

[2017-06-14 16:42] lakshmi-kannan commented on #3339
@enykeev @sidkrishna I tried to repro and I fail to repro. Looking at the new API controller code for re-run, I don't see that this bug can happen.

[code]

Closing issue. If you guys think there is still a problem, reopen please. st2 version should be >= 2.3.0. This is the current unstable release which is going to become stable soon.

[2017-06-14 17:44] lakshmi-kannan opened #3477 "pack install fails with git > 1.9.0"
[code]

[2017-06-14 17:47] Kami commented on #3477
I wonder if that's specific to your environment - e.g. shell or similar.

It works fine for me using `git version 1.9.1`.

[2017-06-14 19:04] lakshmi-kannan commented on #3455
@lhill and @nmaludy: I looked into this and it appears we aren't strictly following JSONSchema standards which makes this hard to implement with standard jsonschema ref resolvers.

For example, https://spacetelescope.github.io/understanding-json-schema/structuring.html. jsonschema wants people to group inline refs into a "definitions"group. This is super critical. I could actually look for "ref" k

[2017-06-14 20:30] humblearner commented on #3368
Not able to reproduce:

**st2 2.2.1**

[code]
[code]

**st2 2.3dev**

[code]
[code]

[2017-06-14 21:40] LindsayHill commented on #3455
I am shocked, _shocked_ to hear that this is complicated.

I suspect that a short-term workaround will be to drop into an editor with the example config

[2017-06-15 02:06] humblearner commented on #3369
@m4dcoder: Are you looking for something similar to: https://github.com/StackStorm/st2/blob/master/st2common/st2common/openapi.yaml#L234, adding limit to number of keys that can be viewed?

[2017-06-15 05:36] Mierdin opened #3479 "Improving developer experience or docs for adding Jinja filters"
The UX around testing new custom Jinja filters isn’t great. Part of this is that the [documentation](https://docs.stackstorm.com/reference/jinja.html#jinja-jinja-filters) doesn't seem to have a section (if this is discussed elsewhere, please let me know) that addresses how filters are installed and loaded.

At first I tried my usual dev setup based on `launchdev.sh` - which works, but TMK mistral

[2017-06-15 08:23] Kami commented on #3455
@lakshmi-kannan Yeah, the ref thing I did was a bit of a hack / work-around.

The reason for that is that we don't expose full raw JSON schema functionality for parameters. We basically takes stuff from parameters and put it into "definitions".

See https://github.com/StackStorm/st2/issues/3276 for more details (so we could do some "magic" and put things under special attribute under definitions o

[2017-06-15 09:31] Kami commented on #3476
It turns out we also didn't do it for action chain workflows - #3481.

[2017-06-15 10:38] sidkrishna commented on #3339
@lakstorm I am still facing the issue on the latest unstable version:
[code]

[2017-06-15 16:21] sidkrishna commented on #3339
@lakshmi-kannan I tried this out using the UI so that might have implications vs how the CLI behaves.

[2017-06-15 16:26] lakshmi-kannan commented on #3339
@sidkrishna Can you try the simple example @enykeev posted on your box and report what happens with that? I have a feeling this might be a problem with the vlsx actions. Can you also point me to that pack?

[2017-06-15 20:47] lakshmi-kannan commented on #3403
I looked at the code and the jinja context to render is restricted to 1. action parameters 2. execution result and 3. action context of the "Task" in an action where notify is called. You are absolutely right that the context of the action chain is not available here. I looked at the code to see if I can add this but it turns out this is not a simple change. I have to basically keep a track of the

[2017-06-16 10:32] sidkrishna commented on #3339
@lakshmi-kannan Tried it with the action as defined by @enykeev above. I issue seems to only happen when execution is re-run via the UI. Re-run from CLI is working fine:

CLI Re-run:
[code]
UI Re-run:
[code]

[2017-06-16 14:34] DavidJohnGee opened #3485 "Discrepancy between 'st2 action get core.http' and GUI metadata display"
At user level, on st2 2.2.1, in order to retrieve the fields from st2 required to run the core.http action, you have to return both the metadata from the action and the http-request runner. If you however open the GUI up and inspect the action and it's input fields, they are different and appear to be a combination of both runner and action.

Is this a bug with the CLI Client not taking the fields

[2017-06-16 14:39] #2793 closed

[2017-06-16 15:18] LindsayHill commented on #2793
We have added warning banners to older versions going back to 1.4.

We also made a bunch of other changes to our canonical_url settings and added some redirects, so almost all Google searches should now return the current docs.

Agreed with above that we should purge the older buckets.

[2017-06-16 19:48] cwkatzmann opened #3487 "Jinja templating broken in action notify section"
When I run an action and try to reference any of its output values in jinja template format, the literal string of the template itself is used. For example, the message output is `"@channel: Action run by {{action_context.user}} succeeded. Cmd run was {{cmd}}."`

The documentation demonstrates this feature here: https://docs.stackstorm.com/chatops/notifications.html#jinja-templating-in-message-and

[2017-06-16 19:59] lakshmi-kannan commented on #3487
@cwkatzmann When referring to the output and parameters, are you using {{ action_parameters.cmd }} and {{ action_parameters.output }}. The context "action_parameters" is required.

[2017-06-16 20:00] lakshmi-kannan commented on #3487
Related: https://github.com/StackStorm/st2/issues/3403

[2017-06-16 20:35] nmaludy commented on #3487
@lakshmi-kannan i've been doing some digging on this and noticed the same thing.

@cwkatzmann original problem came from the following action yaml:

[code]

I did some digging and printed out the Jinja context before rendering the message and noticed that `action_results` is empty:
[code]

[2017-06-16 20:42] nmaludy commented on #3487
https://github.com/StackStorm/st2/blob/3a615564218323be52d6a541a4eb249b7a0590cd/st2actions/st2actions/notifier/notifier.py#L210

It looks like execution.result is being used to populate the `action_result` context and, in my case, that result is empty in the `execution` object on the line of code i linked to above.

[code]

[2017-06-16 20:58] nmaludy commented on #3487
@lakshmi-kannan this appears to be related to a race-condition on startup.

About 50% of the time if i `st2ctl restart` the action's result is populated, the other 50% of the time it is not.

During the failure mode the only way i can get it to recover is to `st2ctl restart` and hope that it initializes correctly.

Example of the result being populated in the context properly:
[code]

Then after a

[2017-06-16 21:17] nmaludy commented on #3487
Another interesting note (thanks to @Mierdin )

The `st2 trigger-instance` command shows the result's stdout properly, even though the context given to jinja is empty:

[code]

[code]

[2017-06-17 14:08] armab opened #3488 "'st2 rule list' is limited to 50 results"
By default `st2` cli command like `st2 rule list` displays only the first `50` records.
This is so error-prone when you can't find desired content in output and there is no mention that command result is limited.

Ideally is to list all results in CLI (if possible). If not, display in the table output and `--help` a note that only first 50 records are showed up.

For example `st2 action list` outp

[2017-06-19 13:29] nmaludy opened #3490 "packs - ability to share code between actions/ and sensors/"
There has been some discussion on Slack about the following so i decided to create an issue to track requirements and investigations.

**Use Case:**
- There is a pack deployed that has some code in `actions/lib/common.py` that implements some common functionality
- Within this pack an action exists `actions/example_action.py` that utilizes the common code in `actions/lib/common.py`
- Within the sa

[2017-06-19 13:42] cognifloyd commented on #3490
Here's what I'm doing right now:

[2017-06-19 13:43] cognifloyd commented on #3490
Here's what I'm doing right now:
[code]

[2017-06-19 13:45] #3476 closed

[2017-06-19 13:52] andrew-regan commented on #3490
Also see https://github.com/StackStorm/st2/issues/2220

[2017-06-19 13:55] cognifloyd commented on #3490
I looked into using relative links in requirements.txt to grab some lib folder in a different directory, but pip doesn't support relative links in any sane fashion right now (see pypa/pip#328 which is fixed partially by pypa/pip#4208, but is not in any released version yet).
It looks like, if the `common_lib` dir (or whatever you choose to call it) is included in requirements.txt as `./common_lib`

[2017-06-19 14:38] lakshmi-kannan commented on #3339
Thanks for confirming @sidkrishna. I'll move this to st2web.

[2017-06-19 14:38] #3339 closed

[2017-06-19 14:59] lakshmi-kannan commented on #3487
@nmaludy Thanks for digging in and posting a simple action to repro. From your logs here https://github.com/StackStorm/st2/issues/3487#issuecomment-309129240, it looks like the action execution status is pending and we shouldn't even hit the code to build the jinja context etc. See https://github.com/StackStorm/st2/blob/3a615564218323be52d6a541a4eb249b7a0590cd/st2actions/st2actions/notifier/notifi

[2017-06-19 15:04] LindsayHill commented on #2845
What does your Docker pack configuration look like? (`/opt/stackstorm/configs/docker.yaml`)

[2017-06-19 15:12] LindsayHill commented on #3450
@nmaludy yep, the `pip install` line can take a while - there's quite a few requirements that get installed there. I know with st2docs checks that most of the total elapsed time taken for checks is with installing requirements.

[2017-06-19 15:15] LindsayHill commented on #3042
Now that we've released 2.3, with v2 APIs, might be time to test/revisit this?

[2017-06-19 15:21] nmaludy commented on #3450
@LindsayHill it looks like those requirements are installed in the dependency phase of the build into the virtualenv directory: https://github.com/StackStorm-Exchange/ci/blob/master/.circle/dependencies#L33

However, it doesn't appear that the virtualenv directory is cached. Is the virtualenv directory supposed to be cached?

Probably only need to update/refresh cache when `requirements.txt` chang

[2017-06-19 16:00] LindsayHill commented on #3430
Looks like maybe this just needs a pointer added to the docs?

[2017-06-19 16:01] LindsayHill commented on #3401
Will close this in favor of #2175

[2017-06-19 16:01] #3401 closed

[2017-06-19 16:39] LindsayHill commented on #3389
Well, this is depressing. I have a directory containing a local clone of all Exchange repos:

[code]

So we currently have 71 packs, containing a total of 2378 actions, that use `run-python`, and need updating to use `python-script`.

All easy enough to do, just a bit tedious work. Looks like there's a few of the packs with auto-generated actions that blow out the total numbers a bit.

Here's the

[2017-06-19 17:08] LindsayHill commented on #3393
I think this is right, but just to check: Any future triggers that get dispatched will be processed by st2rulesengine? It's just an issue related to a trigger that gets dispatched with the first polling cycle?

[2017-06-19 17:09] #3359 closed

[2017-06-19 17:27] lakshmi-kannan commented on #3487
I reproed the issue and I figured out the root cause. We have two data models - LiveAction and Execution. When an action goes through various stages, LiveAction and Execution both get updated. LiveAction is a shorter "control" data model and "Execution" pretty much contains more information about the trigger and other contextual information. The commits to the models are async. Whenever a model ge

[2017-06-19 17:58] LindsayHill commented on #3174
It looks like this is not entirely consistent. When testing with st2 `2.3.0-1`, and the Slack pack, I see this:

[code]

Note that `action_token` **is** obfuscated in the output, but `sensor.token` and `admin.admin_token` are not. Something to do with the object hierarchy?

Related to our Secrets Masking configuration probably? https://docs.stackstorm.com/reference/secrets_masking.html

[2017-06-19 18:08] LindsayHill commented on #3156
Probably worth verifying that this behavior is unchanged with 2.3, since we've got lots of RBAC-related changes there?

I guess we also need to review: Is this how we want it to work? Maybe we do? The CLI client does things like checking runner types, before executing. Presumably if you just made a call to the executions API, it would execute the action with those permissions?

[2017-06-19 18:11] LindsayHill commented on #3234
Closing this since we updated the web hooks doc a while pack to include note on running action via executions API https://github.com/StackStorm/st2docs/pull/442

[2017-06-19 18:11] #3234 closed

[2017-06-19 18:20] LindsayHill commented on #3310
@kami is this still needed?

[2017-06-19 18:34] LindsayHill commented on #3299
In version 2.3 we've made some changes to the Mistral workflow querier processes, in https://github.com/StackStorm/st2/pull/3413 and https://github.com/StackStorm/st2/pull/3420

I suspect that some of the issues you were seeing are related to those. Will be interesting to see if problems persist with v2.3.

[2017-06-19 18:55] LindsayHill commented on #3220
What's your thoughts on how to handle this? Still raise a 500, but change the fault string to something like "Writing workflow to disk failed: Check permissions" ?

[2017-06-19 19:06] LindsayHill commented on #3443
@warrenvw can you dig into this a bit when you get a chance?

[2017-06-19 20:24] humblearner commented on #3488
rule-enforcemnent has default set to 50 as well: https://github.com/StackStorm/st2/blob/master/st2common/st2common/openapi.yaml#L2859 and the CLI has `Get the list of the 50 most recent rule enforcements.` in the `--help` too. It definitely makes sense to have default limit of 50 in rule-enforcement.

[2017-06-19 22:21] armab commented on #3488
I think it's not enough for a good UX. What I mean to show a hint in CLI.

### Less than 50 results:
[code]

### If there are more than 50 results:
[code]

We can even output that `Note` to stderr for convenience.

[2017-06-20 00:59] LindsayHill commented on #3365
@hagay3 are you able to provide an example of a webhook & rule that triggers this?

[2017-06-20 01:37] nmaludy commented on #3389
I think i got them all:

stackstorm-activecampaign
https://github.com/StackStorm-Exchange/stackstorm-activecampaign/pull/2

stackstorm-astral
https://github.com/StackStorm-Exchange/stackstorm-astral/pull/1

stackstorm-aws
https://github.com/StackStorm-Exchange/stackstorm-aws/pull/33

stackstorm-azure
https://github.com/StackStorm-Exchange/stackstorm-azure/pull/4

stackstorm-bitbucket
https://githu

[2017-06-20 01:56] leoxhj opened #3495 "How do we implement async way in workflow"
Hi dear,

No sure if this is right place to ask support.
We're using st2 as our workflow engine, there should be a very common for the scenario to implement async way to external tools.
a specific user case for instance as described below:

1. action to create a ticket in remedy
2. workflow should hold up until remedy close/approved ticket
3. remedy inform workflow
4. workflow continue

I tried to

[2017-06-20 02:55] LindsayHill commented on #3495
Here's one design pattern:

1/ Action creates a ticket in remedy

2/ Some sort of approval/close ticket takes place in Remedy. If it is approved in Remedy, configure Remedy to send a webhook to StackStorm

3/ StackStorm then uses that webhook with a rule to kick off whatever workflow it is that you want.

So the initial action that creates a ticket does not have to be part of the same workflow tha

[2017-06-20 03:01] LindsayHill commented on #3389
Well that was quick, and I'm pretty sure will rocket you to the top of the contributor standings for Exchange packs.

@warrenvw can you please review & merge those PRs? Most should be fine. But watch out for any that have automatic action generators. They may need updates to ensure that the action generators don't later over-write these changes

[2017-06-20 03:41] LindsayHill commented on #2289
@emptywee any idea if this is still a problem with recent versions? I'm guessing there's been few changes in there since v1.2

[2017-06-20 03:51] LindsayHill commented on #2338
@alghanmi I'm cleaning up a few old issues. Is this still a problem/reproducible for you?

And looking back at the initial report, I think @Kami was referring to this section of `~/.ssh/config` as looking wrong:
[code]

Looks like it should be either `Host 100.73.114.*` or `Host 100.73.114.0`?

Don't think it's relevant to the issue though.

[2017-06-20 04:20] leoxhj commented on #3495
Dear LindsayHill,

Thank you very much for the prompt reply, would it possible for you to give an example code.

I attached my workflow for your reference.
In my workflow,  there's a  task"approval" which invoke subtask(sub-workflow) "approval", and it does approval in remedy.
[pool-decommission.txt](https://github.com/StackStorm/st2/files/1087004/pool-decommission.txt)

Leo

[2017-06-20 07:41] Kami commented on #3488
Yeah, great idea - if we can't display all the results we should at least display something along the lines that there are more results.

[2017-06-20 10:05] hagay3 commented on #3365
I don't have it all, you can try to submit payload with a very big integer and then you get the above exception.
integer for example:
```10355138598665546921```

[2017-06-20 10:09] Kami commented on #3310
Some of this has been improved recently, but not all of it, IIRC, so still relevant.

[2017-06-20 10:10] Kami commented on #2686
I'll close this since a lot of it has been resolved in #2727 and more will be once we introduce new v2 API endpoints without the legacy pecan code and paths.

[2017-06-20 10:10] #2686 closed

[2017-06-20 10:11] Kami commented on #1236
Resolved by #3335 #3463

[2017-06-20 10:11] #1236 closed

[2017-06-20 10:12] Kami commented on #3399
I believe this has been resolved by #3398.

@lakshmi-kannan can you please confirm?

[2017-06-20 14:24] emptywee commented on #2289
Yeah, need to verify. I can hardly remember what it is all about! :)

[2017-06-20 14:46] LindsayHill commented on #3495
I can't give you example code, because it's not a specific, contained example. Your overall workflow could contain any number of steps, specific to your organization.

But your overall workflow would look like what I described above:
1/ Your first workflow creates an ticket in remedy
2/ Approval happens in remedy, and it sends a webhook to StackStorm.
3/ StackStorm has a rule that matches that web

[2017-06-20 14:48] LindsayHill commented on #2289
I'm doing some archaeology here with old issues :)

If it is still a problem, we can pick it up. If it has been fixed somewhere along the line, we can close the issue. Just let us know

[2017-06-20 14:49] LindsayHill commented on #3310
Cool. Just doing a bit of cleanup. Happy to leave it open

[2017-06-20 16:58] humblearner commented on #3368
Closing for now, please open if reproducible.

[2017-06-20 16:58] #3368 closed

[2017-06-20 22:22] JohnWelborn opened #3497 "selectively enable timer rule on prod vs dev st2 instance"
I would like to create a rule yaml (using IntervalTimer) in a pack that gets deployed to two different stackstorm instances. The yaml file would be deployed the same on both servers. One server would be used as prod and the other as dev. But I would only want the rule to execute on the prod instance.

If I create the yaml with "enabled: true" it gets enabled on both prod and dev. This is not good

[2017-06-21 01:18] LindsayHill commented on #3365
OK, here's a way to reproduce it:
`cat /opt/stackstorm/packs/examples/rules/sample_rule_with_webhook.yaml`

[code]

`curl -k https://localhost/api/v1/webhooks/sample -d '{"foo": 10355138598665546921, "name": "st2"}' -H 'Content-Type: application/json' -H 'X-Auth-Token: ma-token'

Results in errors like this in st2rulesengine.log:

[code]

[2017-06-21 01:51] LindsayHill commented on #3365
Possible workaround is to cast as string, e.g. this works:

`curl -k https://localhost/api/v1/webhooks/sample -d '{"foo": "10355138598665546921", "name": "st2"}' -H 'Content-Type: application/json' -H 'X-Auth-Token: 602d83b6f5864071812a0f6992c67ff2'`

Not sure if we can deal with this with standard webhook sensor or not. Probably requires custom sensor.

[2017-06-21 03:29] tonybaloney opened #3498 "TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'"
I see this issue in the st2sensorcontainer log.
[code]

[2017-06-21 04:13] leoxhj commented on #3495
Thanks LindsayHill,

We will consider about this way, for now, we will use long time timeout in the workflow and let action take the waiting things.

Leo

[2017-06-21 04:16] leoxhj opened #3499 "Unicode issue occurs from webhook invoke"
Dear support,

Seems if we put some Chinese characters, and the action execution will end up with following errors:

[code]

Body in webhook:
`{"pool_id": "9300", "assigned_group": "上海-OPS-APP", "assignee": "cjie2"}`

[2017-06-21 05:48] hagay3 commented on #3365
@LindsayHill , you are right this is how to reproduce the bug.
The big integer coming from an automated system so I can't change it before it comes to stackstorm.
I added a LUA script for nginx and removed the key to workaround that.

Back in the days I look on the code and there is a place where you parse the payload values, if you will parse correctly the value issue should be fixed .

And mongo

[2017-06-21 14:37] LindsayHill commented on #3498
Which sensors are you running there?

[2017-06-21 14:40] LindsayHill commented on #3495
You can do that pattern if you like, although I would not want to have large numbers of long-running actions hanging around.

[2017-06-21 14:40] #3495 closed

[2017-06-21 14:42] LindsayHill commented on #3499
Which version of ST2 are you running? There were several Unicode-related fixes in version 2.3, which has just been released.

Also, what does your action look like? From the traceback, the error is occurring when running the action, not at the webhook stage.

[2017-06-21 15:04] leoxhj commented on #3499
ST2 version is 2.2.1, I remembered last time, I input some Chinese characters in the payload body via Webhook, the action was print the trigger.body to local file, and the whole body result is not as expected, means Chinese characters were transfered as strange characters like "-----OPS-APP" from its original which should be "上海-OPS-APP", anyway maybe you can test it out at your side. Just copy th

[2017-06-21 15:26] LindsayHill commented on #3499
If I use a simple rule like the one in the examples pack, that writes the body to file using `core.local`, I get this written to file:
`{u'foo': u'\u4e0a\u6d77-OPS-APP', u'name': u'st2'}`

That is with 2.3.0.

You would need to test it with your full action though.

[2017-06-21 15:54] leoxhj commented on #3499
Yes, this seems correct. I will test our tomorrow on  both 2.2.1 and 2.3, will come back once tested, thanks Lindsay.

[2017-06-21 16:15] LindsayHill commented on #3499
Thanks @leoxhj - I don't know if we've fixed *all* of the Unicode issues, but it is something we want to do.

[2017-06-21 18:22] lakshmi-kannan opened #3500 "Config now has resultstracker and results_tracker groups."
https://github.com/StackStorm/st2/blob/master/st2actions/st2actions/resultstracker/config.py#L47

and

https://github.com/StackStorm/st2/blob/master/st2common/st2common/config.py#L279

[2017-06-21 18:27] lakshmi-kannan opened #3501 "Jinja filters supported in st2 are not supported in mistral."

[2017-06-21 18:43] andrew-regan commented on #3393
We've only seen this once in the first polling cycle..

[2017-06-21 19:23] LindsayHill commented on #3501
Duplicate of https://github.com/StackStorm/st2/issues/3241?

[2017-06-21 20:16] LindsayHill commented on #3393
Odd. Must be a timing thing, related to initialization.

[2017-06-21 20:30] #3501 closed

[2017-06-21 22:33] LindsayHill commented on #3389
Thanks for the super work @nmaludy - all merged now, and I think that should put you well in the lead for commits to the Exchange repo!

[2017-06-21 22:33] #3389 closed

[2017-06-21 22:47] LindsayHill commented on #3485
@DavidJohnGee can you add a screenshot & CLI output to this issue, to show this?

[2017-06-22 02:24] leoxhj commented on #3499
@LindsayHill I have tested on 2.2.1, same result as yours:

root@1eabe73d2837:/opt/stackstorm/packs/examples/rules# cat /home/st*/st2*out
{'foo': 'bar', 'name': 'st2'}
{'you': 'too', 'name': 'st2'}
{'you': 'too', 'name': 'st2'}
{'you': 'too', 'name': 'st2'}
{'you': u'\u4e0a\u6d77-OPS-APP', 'name': 'st2'}

[2017-06-22 03:20] LindsayHill opened #3502 "st2 action-alias delete <pack.alias> broken with v2.3"
`st2 action-alias delete <pack.alias>`is broken with 2.3. Worked in 2.2.1, breaks in 2.3.0.

NB: Doesn't matter if you try it with an alias reference or ID - it returns the same error:

[code]

This is *not* a duplicate pack name. This has been verified with looking into MongoDB. Similar result seen when deleting by ID. Again, there are no duplicate IDs in Mongo.

Drilling into the API calls with

[2017-06-22 12:55] LindsayHill commented on #3499
@leoxhj can you please provide a rule + workflow/action that reproduces the problem, since using a simple core.local action works?

[2017-06-22 13:37] andrew-regan commented on #3225
@bigmstone, sorry for the delay...we are no longer seeing this issue with 2.2.1.

[2017-06-22 15:04] LindsayHill commented on #3225
Thanks for the update @andrew-regan. Let's close it for now, re-open if it occurs in a current release

[2017-06-22 15:04] #3225 closed

[2017-06-22 18:20] nmaludy commented on #3438
+1

Semi-related is the "multi-tenant" / "multi-credential" issue in packs. Many integrations need to talk to multiple endpoints. This has been accomplished in the following packs (that i know of):

- [vsphere](https://github.com/StackStorm-Exchange/stackstorm-vsphere) supports multiple credentials in the configuration
- [activedirectory](https://github.com/StackStorm-Exchange/stackstorm-activedir

[2017-06-22 18:52] metalgear386 commented on #3499
```UnicodeEncodeError: 'ascii' codec can't encode character u'\\\\xb7' in position 791: ordinal not in range(128)```
I have a 3rd party that is sending a webhook with the middle dot character
```https://en.wikipedia.org/wiki/Interpunct```
and I can receive the webhook just fine, but stackstorm/mistral seems to crash when processing the middle dot. Is there a reasonable workaround for this? Or some

[2017-06-22 19:37] bigmstone commented on #3499
Would need to investigate further, but based on what I'm seeing it looks like the mistral runner's handling Unicode characters is the culprit.

[2017-06-22 19:47] metalgear386 commented on #3499
I think you are 100% correct. I'm working on a change to just find and replace those characters within the JSON before the resp object gets created here:
/opt/stackstorm/st2/local/lib/python2.7/site-packages/mistralclient/api/base.py

[code]

[2017-06-22 20:05] LindsayHill commented on #3502
Fixed in https://github.com/StackStorm/st2/pull/3503, will be published with 2.3.1

[2017-06-22 20:05] #3502 closed

[2017-06-22 22:23] lakshmi-kannan opened #3506 "Tracking issue: st2rulesengine and st2notifier are at 100% CPU"
st2 version: 2.2.1

Mick McGrath on support will provide us logs to troubleshoot.

[2017-06-23 00:11] mickmcgrath13 commented on #3506
So, the CPU being too high was taken care of by deleting some unused & problematic triggers from `db.trigger_d_b`.

Now, we still have an enormous delay in chatops, and the `st2.notifiers.work` queue in rabbitmq is still growing a lot faster than I'd expect it to (and not really getting cleared)...

Here is a snippet of the DEBUG logs for `/var/log/st2/st2notifier.log`:
[code]

The context is that

[2017-06-23 00:32] bradym commented on #3298
I ran into this today attempting to install a pack from a private github repo. I'm posting the below in case it helps to verify/provide more detail about the issue.

The following snippet from the output when it failed indicates that it's attempting to clone it as root:

[code]

Looking at the traceback:
[code]

The following lines from /opt/stackstorm/packs/packs/actions/pack_mgmt/download.py see

[2017-06-23 01:35] nmaludy commented on #3450
Closing this, not an issue

[2017-06-23 01:35] #3450 closed

[2017-06-23 05:07] leoxhj opened #3509 "Install pack dependencies failed due to - Failed to install requirement "six>=1.9.0,<2.0": Collecting six<2.0,>=1.9.0"
Dear support,

I tried install a pack we built in our gitlab, and it fails at 3rd step, detail error shown as follows:
the pack dependency: six version seems already exist, not sure why it failed.

Please help!

root@a474eb9015f2:~/.pip# st2 pack install http://git.dev.sh.ctripcorp.com/st2/cms.git=dev

	[ succeeded ] download pack
	[ succeeded ] make a prerun
	[  failed   ] install pack dependenci

[2017-06-23 05:14] leoxhj commented on #3509
I finally figured problem, since our production has no internet connection, and we use our pip source repos.

 after we add below line to pip.conf, the problem solved.:
trusted-host=repo.matrix.ctripcorp.com

root@a474eb9015f2:~/.pip# cat pip.conf
[global]
index-url = http://repo.matrix.ctripcorp.com/pypi/simple/
trusted-host=repo.matrix.ctripcorp.com

[2017-06-23 05:17] leoxhj opened #3510 "'st2 action list' broken with unicode"
Dear support,

After we installed a customized pack, it fails to run command "st2 action list":

[code]

attached packs for your reference.

[2017-06-23 05:19] leoxhj commented on #3510
[cms.zip](https://github.com/StackStorm/st2/files/1096815/cms.zip)

[2017-06-23 05:38] leoxhj commented on #3510
ok, I also figured out this issue, it's due to Chinese character in action metadata files.
so, seems version 2.2.1 is not support unicode like Chinese character?

[2017-06-23 07:27] leoxhj commented on #3499
@LindsayHill

the output should be fine, and this can be handled decode in python script:
{'you': u'\u4e0a\u6d77-OPS-APP', 'name': 'st2'}, you can close this issue, thanks a lot for your support.

[2017-06-23 10:09] armab commented on #3509
Thanks for double-checking.
Since it's not an issue anymore, closing then.

[2017-06-23 10:09] #3509 closed

[2017-06-23 10:22] armab commented on #3510
Confirming it's a bug on latest st2:

[code]

[2017-06-23 12:21] sibirajal commented on #3248
Hello Team,

It would be good if we can incorporate passing sudo password as an argument to the remote action runner.  Basically we want to be as secure as possible in the production servers. Can you please confirm when this feature would be available at least for enterprise edition?

[2017-06-23 14:02] LindsayHill commented on #3248
@sibirajal

No specific plans at the moment. But the code is open source, and if others contribute it, it will probably get merged

[2017-06-23 14:05] LindsayHill commented on #3499
@leoxhj it still seems to be a problem for other users when running Mistral workflows, as seen above. I'll leave it open a little longer - hopefully someone will be able to provide a complete workflow that reproduces this. No-one has given us a full workflow that triggers it yet. If we can get that, we can work on fixing it.

[2017-06-23 15:09] mickmcgrath13 commented on #3506
..checked my CPU this morning... it's back at 100% for `st2notifier` and `st2rulesengine`

[2017-06-23 16:40] mickmcgrath13 opened #3512 "st2ctl clean should prompt user to backup things like rules written via flow"
from: https://stackstorm-community.slack.com/archives/C066APT88/p1498235611370119

[2017-06-23 16:47] nzlosh commented on #3512
It would also be useful to be able to clean certain collections rather than all.  Such as
*  ``--action-executions``
* ``--trigger-instances``
* ``--trace``
On the assumption it doesn't break database consistence between document references.

[2017-06-23 16:59] bigmstone commented on #3506
@lakshmi-kannan @m4dcoder @arma Is this related to some of the issues we fixed just before 2.3 release? I want to say we were experiencing the same thing on st2cicd, but I don't remember the details.

[2017-06-23 18:58] mickmcgrath13 opened #3513 "Incorrect casing for log level config causes errors"
Support any case?

Example (EL6),
in `/etc/st2/logging.actionrunner.conf`
if you have
[code]
instead of
[code]

..this happens
[code]

[2017-06-23 19:04] mickmcgrath13 commented on #3506
So, this happened: https://github.com/StackStorm/st2/issues/3513
...and now our chatops is back up and running it seems...

The [aforementioned issue](https://github.com/StackStorm/st2/issues/3506#issuecomment-310535573) of the `default.sre-demo-error-notifier` is still happening, though (every 5 seconds, there's this:
[code]

[2017-06-23 19:21] mickmcgrath13 commented on #3506
What makes this happen?
[code]

[2017-06-23 19:26] mickmcgrath13 commented on #3506
[code]

[2017-06-23 19:33] mickmcgrath13 commented on #3506
Deleted those, and now my `sudo tail -f /var/log/st2/st2notifier.log` looks like this:
[code]

[2017-06-23 20:20] mickmcgrath13 commented on #3506
Prior, we also did this:
[code]
and
[code]

..which helped clear the cpu as well

[2017-06-24 02:35] cognifloyd opened #3515 "for dynamic parameters (multi-type) allow explicit casting of jinja variables"
If I have an workflow parameter like:
[code]
I don't think st2 can know what to cast the parameter as if I use it in a jinja template.

`"{{ example }}" will always be a string, even if I do something like "{{ example | int }}"

In cases where it is not clear what data type something should be, like the above contrived example, If I explicitly run it through a jinja filter that specifies a type, p

[2017-06-24 11:11] DavidJohnGee commented on #3485
dgee@st2-2:~$ st2 action get core.http -y
description: Action that performs an http request.
enabled: true
entry_point: ''
id: 591c64c8a10deb9f00000620
name: http
notify: {}
pack: core
parameters:
    auth:
        description: Auth string to be used. This can be like 'x-auth-token=XYZ'.
        type: string
    body:
        description: Body to send with the request
        type: string
    file

[2017-06-24 18:50] johnarnold opened #3516 "Missing st2reactor lib"
Ubuntu 16.04

Following install instructions for apt-get install st2 st2mistral, etc.  Packages are installed and st2 cli commands work.

I'm actually running stackstorm in docker containers, just trying to get dev environment working so I can write a pack.   It looks like st2reactor lib is not available to the python interpreter.

How is this supposed to get installed?

[2017-06-24 19:57] LindsayHill commented on #3516
If you're using Docker, it might be easier to use our ST2 Docker images - see https://github.com/StackStorm/st2-docker

If you're having trouble locating libraries, make sure you're using the right virtualenv. ST2 uses a virtualenv for core functions (sourced with `source /opt/stackstorm/st2/bin/activate`).

Note that packs also have their own virtualenv, and their own requirements.txt

[2017-06-24 19:58] johnarnold commented on #3516
Update:
I found the "Run from source" documentation:
https://docs.stackstorm.com/development/sources.html

...and tried that path as well.  Found a couple things:

1. mongodb systemd service bring-up is broken, so "launchdev.sh start"  fails.
2. "run from sources" st2 and the dockerized st2 expect different ports, so you can't run mongodb in container and then st2 from source.
3. even after doing

[2017-06-24 20:05] johnarnold commented on #3516
Thanks @LindsayHill I am up to speed on st2-docker and can bring up the whole st2 stack that way., but that doesn't help me get the required st2* python libs available (e.g. in pycharm) so I can finish my pack.

Your tip on activating and referencing the virtualenv within /opt/stackstorm/st2/bin/  actually worked!  Thanks!

I'm not sure why that's not in the docs (or if it is, I couldn't find it).

[2017-06-24 20:29] LindsayHill commented on #3516
Probably because the 'run from sources' approach is more aimed at core st2 development, rather than pack development. Normally for pack development you don't need to do much from a core libraries point of view, but it depends what you're trying to do, and how your development model works, what tooling you're using, etc.

Issues & PRs are of course welcome against github.com/StackStorm/st2docs. If

[2017-06-25 02:46] bigmstone commented on #3485
@DavidJohnGee does `st2 run core.http -h` give you what you want?

[2017-06-25 02:48] bigmstone commented on #3485
Gonna close this as I'm pretty sure I've solved it for you. Basically you were just dumping the yaml deffiniton of the action instead of looking at the compiled help which shows you all possible fields (and what the UI is build upon).

[2017-06-25 13:22] DavidJohnGee commented on #3485
Easy there speedy. Apples and apples! You getting commission on closing issues? :)

There is an issue here that needs to be solved. If I just fob people off with "Oh just run st2 run x -h" and all of the fields appear, someone (it's already happened twice) will go to the web UI and complain that the fields appear under the action tab, yet the fields from the runner do not appear on the CLI. If we'

[2017-06-25 16:25] LindsayHill commented on #3485
That "Action that performs an http request" line comes from the `description:` field in the action metadata file. It also appears in the `st2 run core.http -h` output.

How should we phrase things in the UI that is not confusing to people? Could be confusing to start talking about action vs runner parameters for each action - does that actually help understanding how to use the action, if we mark

[2017-06-26 02:24] leoxhj commented on #3499
@LindsayHill
Today, I tested our code, it's indeed a problem of unicode, please find attached rules, workflows.

you can test with below payload data:
{"pool_id": "8883", "assigned_group": "上海-OPS-APP", "assignee": "cjie2"}

code structure:

rules\pool-decommission.yaml
actions\pool-decommission.yaml
actions\workflows\pool-decommission.yaml

traceback as follows:

{
  "traceback": "  File \"/opt/s

[2017-06-26 05:34] leoxhj commented on #3499
@LindsayHill just verified in st2vagrant (st2 version 2.3), no error.
so I assume it fixed in 2.3, you can double confirm this.

[2017-06-26 07:06] leoxhj opened #3517 "Any detail docs describe how we can use result or stdout in workflow as reference"
Dear support,

Not sure if this is correct or possible way (maybe the current action_execution_id is not known to workflow?), sometimes, the python script might want to know the action execution id as its input parameters.
for instance, below action need current action_execution_id as its input parameter, can I know how to write the reference, like {{result.id}} or {{result.stdout.id}} or {{action

[2017-06-26 08:42] Kami commented on #3513
That's by design and now much we can do since it's native Python functionality.

Well, we could do some hacking around and process the logging config and manually load it but this seems unnecessary to me.

Perhaps best way to do that would just be to document that log levels need to be uppercase?

[2017-06-26 09:12] Kami commented on #3513
That's about as much as we can do - https://github.com/StackStorm/st2docs/pull/536.

I looked if we could perhaps throw a more user-friendly exception in our code, but sadly that's not easily possible. Loggign module from Python stdlib logs exception to stderr instead of throwing it which means re-throwing more friendly exception would require a lot of hacky code to determine what exception was pr

[2017-06-26 12:16] cognifloyd opened #3518 "detailed execution output does not show published vars for action-chain workflows"
Given this action-chain:
[code]

`st2 execution get -d <workflow id>` doesn't show the published vars. A mistral workflow shows 'published' entry for each task that publishes something. It would be nice if action-chains did the same.

[2017-06-26 12:24] Kami commented on #3518
You can turn displaying of published variables on by setting `display_published` action chain runner parameter to `True`. It defaults to `False`.

If Mistral defaults to true, it would perhaps also make sense for action-chain to default to true for consistency reasons.

[2017-06-26 12:33] Kami commented on #3518
See #3519 for proposed default behavior change.

[2017-06-26 13:35] cognifloyd commented on #3515
Here's another time where casting is a problem:
I just tried to publish an object in an action-chain workflow, but then that object is a string and can't be referenced in subesequent jinja templates as `some_var.some_attribute`. Publish needs the ability to specify what type a published var is.

[2017-06-26 13:43] Kami commented on #3515
Usually it's better if a variable / parameter contains only a single type (less ambiguity).

Having said that, there are probably some valid use cases for multiple-types and in that scenario what you have proposed (explicit casting) by the user makes sense.

As far as the implementation goes - would need to dig in, might be a bit complex because of the way and place where the casting is done now.

[2017-06-26 14:10] cognifloyd commented on #3515
True less ambiguity is great when possible. Merely supporting multiple types / dynamic types is probably not as important. Here are my more concrete use cases:

One use case I have is passing stuff into ansible's extra_vars which is a list of either strings or objects. I implemented a workaround for that in StackStorm-Exchange/stackstorm-ansible#14.

The other use case I have is, after running an

[2017-06-26 14:20] pietervogelaar opened #3520 "Is it possible to disable history for certain actions?"
Is it possible to disable history for certain actions? Or keep only the newest 10 executions?

[2017-06-26 14:43] LindsayHill commented on #3499
Thanks for the additional info @leoxhj. I will check it is fixed in both 2.3 (current stable) and the latest master.

[2017-06-26 19:03] #3369 closed

[2017-06-26 19:24] #3487 closed

[2017-06-26 19:26] lakshmi-kannan commented on #3487
@cwkatzmann @nmaludy Can you please test these changes? It should be in unstable repos in a few hours if our promotion workflows succeed. You can validate the SHA by checking /opt/stackstorm/st2/package.meta and comparing against https://github.com/StackStorm/st2/commits/master.

[2017-06-26 19:43] theuiz opened #3523 "Issue with TTL"
Our StackStorm config had `token_ttl = 14400`, but we got this error below:
[code]
It looks like the TTL is hardcoded in https://github.com/StackStorm/st2/blob/master/st2common/st2common/services/datastore.py#L214

[2017-06-26 21:31] bigmstone commented on #3517
@leoxhj
https://docs.stackstorm.com/mistral_yaql.html#other-yaql-functions

`<% env().st2_execution_id %>`

Please re-open issue if this isn't what you're looking for.

[2017-06-26 21:31] #3517 closed

[2017-06-26 21:39] bigmstone commented on #3520
You could craft a script that would do this against Mongo and put it on a cron timer - but the garbage collector, when configured, doesn't operate exclusively against an action name.

[2017-06-26 22:24] bigmstone commented on #3485
@DavidJohnGee Can you be more explicit on which part is confusing/inaccurate?

My understanding is that you'd like to see the runner params alongside the action parameters and, although we have a command for that, you'd like to see it with the `action get` command as well?

[2017-06-27 00:03] cognifloyd commented on #3518
Good to know! Thanks!

[2017-06-27 00:03] #3518 closed

[2017-06-27 20:03] djh2020 commented on #3298
I am having a similar issue I think.  I am using a private repo on an internal github implementation.

```git clone git@mygitserver/myrepo.git``` works fine when I execute this from the stackstorm server as either root or stanley.  (I added a deploy key to the repo for each as I am not sure which is being used)

```st2 pack install file://$PWD``` from within the cloned repo also works fine and the

[2017-06-27 20:11] djh2020 commented on #3298
Here is the traceback

[code]

[2017-06-28 11:57] pietervogelaar commented on #3426
I implemented a working standalone solution https://github.com/pietervogelaar/stackstorm-job-monitor.

[2017-06-28 11:58] nmaludy commented on #3426
+1

[2017-06-28 11:59] bjwschaap commented on #3426
+1 !!!

[2017-06-28 11:59] Kami commented on #3426
Nice - would you be willing to write a guest post on our blog post about it? :)

[2017-06-28 12:14] pietervogelaar commented on #3426
@Kami Thanks! I will think about it.... something with time management ;-)

[2017-06-28 13:22] Kami opened #3526 "Use consistent names for st2.conf config section groups"
Right now we use `_` in some places and in others we don't.

I propose that going forward, we should update all the group names to use `_` so it's consistent and easier to read.

Having said that, this change will of course also first need to be fully backward compatible (support both approaches) and eventually we can deprecate and remove old notation.

Related https://github.com/StackStorm/st2/pu

[2017-06-28 13:23] Kami commented on #3526
/cc @lakshmi-kannan

[2017-06-28 13:40] DavidJohnGee commented on #3485
@bigmstone I thought I was being specific!

If the user goes to the Web UI on the actions tab, the user sees a full list of input fields for core.http and the http-request runner. You stated previously in this thread that it was from a pre-compiled help file.

If the user runs the `st2 action get core.http` (with or without the yaml/json flags) then they get just the action inputs.

The Web UI alr

[2017-06-28 19:32] eedgar opened #3527 "ssh_config and proxycommands throw a traceback"
[ssh_runner]
remote_dir = /tmp
use_ssh_config = true
ssh_config_file_path = /home/eedgar/.ssh/config
config contains
Host na01_useast1
HostName bastion.test.com
ForwardAgent yes
Host 10.12.*
UserKnownHostsFile=/dev/null
StrictHostKeyChecking no
ProxyCommand ssh -q -W %h:%p na01_useast1
st2 run core.remote cmd=whoami hosts=10.12.29.240
2017-06-28 13:48:51,304 DEBUG [-] Runner dispatch produced resu

[2017-06-28 21:10] johnarnold opened #3528 "permissions with st2sensorcontainer"
(stackstorm running in docker container from st2-docker)

I wrote a sensor which uses an ssl cert+key for client authentication to an HTTP service.  It needs access to /etc/ssl/certs/example.pem and /etc/ssl/private/example.key

I get an error in /var/log/st2/st2sensorcontainer.log indicating that it can't read the key:

SSLError: [Errno 336265218] _ssl.c:355: error:140B0002:SSL routines:SSL_CTX_u

[2017-06-28 21:33] johnarnold commented on #3528
I believe that this is a uid/guid mismatch problem, I'm just not sure how to fix it.  The ssl-cert group's guid is the same in the host as in the container, but it doesn't "just work" as I would expect.

[2017-06-28 23:54] LindsayHill commented on #3499
In my tests, this worked on 2.3. So I think it has been fixed. *Please* do continue to let us know if you find any more Unicode issues. We do want to fix them.

Thanks!

[2017-06-28 23:54] #3499 closed

[2017-06-28 23:55] LindsayHill commented on #3485
I don't think it's pre-compiled - I think it gets created on the fly, following a similar approach to `st2 run core.http -h`.

Some marker next to each of those fields? Or a note at the top/bottom of the tab?

`st2 action get` is not really a good way of finding 'help' about an action.It's not just the runner fields, it's also the formatting - it's providing a JSON blob of parameters, rather than

[2017-06-29 02:07] LindsayHill commented on #3517
I'm not quite sure why you want to access the execution id, but you can get it using `st2_execution_id` - go to https://docs.stackstorm.com/mistral_yaql.html and search for `execution_id`

I'm not quite sure what you need it for though. What are you trying to achieve here?

[2017-06-29 02:08] #3516 closed

[2017-06-29 02:10] LindsayHill commented on #3520
I guess what you're looking to do is define different retention policies for actions? E.g. 'keep, discard, discard after <x>'?

[2017-06-29 02:13] LindsayHill commented on #3528
I think it's best to just track this in https://github.com/StackStorm/st2-docker/issues/43, since it's Docker-related, not core ST2. Closing this in favor of https://github.com/StackStorm/st2-docker/issues/43

[2017-06-29 02:13] #3528 closed

[2017-06-29 02:22] #1293 closed

[2017-06-29 02:24] #1808 closed

[2017-06-29 02:28] LindsayHill commented on #2636
Supported & documented here: https://docs.stackstorm.com/install/config/config.html#configure-mongodb

[2017-06-29 02:28] #2636 closed

[2017-06-29 02:38] leoxhj commented on #3517
It will pass to external tool as reference id to find back in stackstorm if needed.

-------- 原始信息 --------
由： Lindsay Hill <notifications@github.com>
日期: 2017/6/29 10:07 (GMT+08:00)
收件人： StackStorm/st2 <st2@noreply.github.com>
抄送： leoxhj <leo_xhj@hotmail.com>, Mention <mention@noreply.github.com>
主题： Re: [StackStorm/st2] Any detail docs describe how we can use result or stdout in workflow as refe

[2017-06-29 05:34] warrenvw opened #3529 "st2ctl says it is ignoring content in a directory, but then warns of bad content in that directory"
While running through the README for the sensu pack, I encountered the following WARNING message that confused me:

FYI, `packs_base_path` = `/opt/stackstorm/packs.dev`

[code]

I'll dig into this when I get a chance, unless someone has a ready explanation for this behavior.

[2017-06-29 05:41] leoxhj opened #3530 "pack.install display username:password as plaint txt from WebGUI"
Use st2 pack install from git, but seems the username and password will print out as plaint text from WebGUI.

For example:
st2 pack install http://abc:123@github.com/test/jump.git=dev

[2017-06-29 07:17] pietervogelaar commented on #3520
@LindsayHill Yes, exactly!

[2017-06-29 10:55] DavidJohnGee commented on #3485
I like the idea of a note next to each of the fields. There and then it's clear as to where the fields are coming from.

This under a certain light is quite a funny statement.

`st2 action help <action>` seems like a sensible approach instead of it being a side effect of `st2 run`

[2017-06-29 15:34] nmaludy opened #3532 "Feature Request - Validate/notify about duplicate parameters in action YAML"
I had a little SNAFU today when registering an action with the following YAML:

[code]

*Note* the `password` and `server` parameters are duplicated.

This caused a small issue where the second `password` definition did not have `secret: true` specified. The result was that when i executed the action the password was displayed on the command line:

[code]

*Feature Request*
It might be a good idea

[2017-06-29 16:08] #3500 closed

[2017-06-29 16:52] carbineneutral opened #3534 "st2 pack install fails unless git repo has .git suffix (SSH)"
Our private git repository has an SSH URL that does not end in ".git"

When we attempt to install a pack it fails because the git command appends a ".git" to the URL, which is not valid for our repo.

If we artificially create a new repo with ".git" in it's URL, it works as expected.

If we manually execute the git command from the cmdline excerpt (below), but remove the ".git" suffix, the clone w

[2017-06-29 17:37] armab commented on #3534
From the log, it looks like `.git` append `ssh://<user@host>/AutomationStackStorm` -> `ssh://<user@host>/AutomationStackStorm.git` is taking place which results in a wrong repo.

Mind to provide a Pull Request with a fix?

1 line to change here:
https://github.com/StackStorm/st2/blob/b3f9b547072ed0ef747a3824b147670e720cf1b3/contrib/packs/actions/pack_mgmt/download.py#L296

[2017-06-29 18:17] carbineneutral commented on #3534
Thanks for the prompt response.

Yes, that fixes my immediate problem, but a full solution is more complex than a single line change as that would result in a regression for users currently using the de facto suffix functionality.

If the intention was to add ".git" for github repos, then the following might work.
[code]

I do not know enough about the requirements to make that call, however.

[2017-06-29 20:53] eedgar commented on #3527
https://github.com/paramiko/paramiko/issues/337
https://github.com/paramiko/paramiko/issues/389

[2017-06-29 22:15] mickmcgrath13 commented on #3506
This issue happened (cpu soaring), again, and simply deleting all of these:
[code]
...resolved it.

It seems that a live_action with a status of "canceled" can cause problems?

[code]

Let me know if you need any further info

[2017-06-30 02:51] leoxhj opened #3535 "is it possible to give out each entity some examples for REST API documents"
Is it possible to give out each entity some examples for REST API documents

[2017-06-30 02:54] LindsayHill commented on #3535
One of the easiest ways to find examples is to run the command in debug mode. Try running `st2 --debug <command>`, and it will display full `curl` commands. Does that help?

[2017-06-30 05:41] leoxhj opened #3536 "infinite action executions hatched from one action"
Dear support,

Not sure whether it is designed or maybe my python script has problem.
I wrote a simple workflow with two tasks, first task will invoke python script action which actually wait 600 seconds, and during workflow execution, I noticed the action is kept reproduced which from my understanding should not (should only one action execution?).
you can see from attached screenshot below:
![im

[2017-06-30 06:15] leoxhj commented on #3535
@LindsayHill Yes, it helps. It would be better for beginners if later we can add some typical examples.
maybe we can refer to below examples :) just my personal suggestion.
https://docs.camunda.org/manual/7.5/reference/rest/case-execution/variables/get-single-variable/

[2017-06-30 10:53] armab commented on #3535
As I understand the the proposal is to add more copy-paste examples for https://api.stackstorm.com/

[2017-06-30 11:13] armab commented on #3506
As @bigmstone noted It make sense to update to latest `v2.3.0`.
In latest @lakshmi-kannan and @m4dcoder fixed a lot of CPU-related issues we hit in StackStorm infra ourselves.

It's not clear if they're related comparing to what you're experiencing, but will help to isolate it, comparing to what was already fixed.

[2017-06-30 11:19] leoxhj commented on #3535
Seems
it has been talked before. https://github.com/StackStorm/st2/issues/3332

[2017-06-30 11:25] armab commented on #3535
Good find :+1: so I'm closing this.

@leoxhj Please add your notes https://github.com/StackStorm/st2/issues/3332
That example like https://docs.camunda.org/manual/7.5/reference/rest/case-execution/variables/get-single-variable/ is good to include in that issue.

[2017-06-30 11:25] #3535 closed

[2017-06-30 11:30] leoxhj commented on #3332
example like https://docs.camunda.org/manual/7.5/reference/rest/case-execution/variables/get-single-variable/

[2017-06-30 12:53] nmaludy opened #3540 "StackStorm silently ignores incompatible python action results"
When working on this issue: https://github.com/StackStorm-Exchange/stackstorm-digitalocean/issues/2

I noticed that when this pack returns a custom `digitalocean.Droplet` object from its python action, that StackStorm silently ignores these results. See output example in the PR: https://github.com/StackStorm-Exchange/stackstorm-digitalocean/pull/3

Would it be a good idea to log a warning and/or e

[2017-06-30 12:56] Kami commented on #3540
I believe this is the same as issue (partially) fixed in https://github.com/StackStorm/st2/pull/3489.

It was recently discovered by @tonybaloney.

A while ago, when we introduced support for ability for Python runner actions to return result tuple we introduced this regression.

[2017-06-30 12:57] Kami commented on #3540
So for now, as you can see in #3489 we simply return str() version of the result (same as we did in the past), but correct long term solution, imo, would be to throw in such scenarios.

[2017-06-30 12:59] nmaludy commented on #3540
Closed, duplicate of https://github.com/StackStorm/st2/pull/3489

[2017-06-30 12:59] #3540 closed

[2017-06-30 13:02] Kami opened #3541 "Python runner should throw an exception when action result can't be serialized"
Right now if the result can't be serialized we return `str()` version of the result, but I believe the right approach would be to throw an exception in such scenario.

`str()` version of the result is usually of little use and not being able to de-serialize the result usually indicates a programmer error (action / pack developer didn't correctly implement de-serialization of the result in format w

[2017-06-30 16:52] nmaludy commented on #3541
+1

[2017-06-30 18:28] mickmcgrath13 commented on #3506
Okay, thanks.  I will look into upgrading when we have the opportunity, and I'll let you know if we run into the issue again.

[2017-06-30 18:45] eedgar commented on #3527
Workaround

diff --git a/st2common/st2common/runners/paramiko_ssh.py b/st2common/st2common/runners/paramiko_ssh.py
index 599d0af..6038619 100644
--- a/st2common/st2common/runners/paramiko_ssh.py
+++ b/st2common/st2common/runners/paramiko_ssh.py
@@ -125,6 +125,13 @@ class ParamikoSSHClient(object):
                  False otherwise.
         :rtype: ``bool``
         """
+        ssh_config_file_in

[2017-06-30 21:04] #3447 closed

[2017-07-02 18:30] armab commented on #3534
:+1:

But GitHub is not a problem, because all of the following works:
[code]

So either 1 line change removing the `.git` or something similar might be good enough to start with and continue discussion in a PR. Also other team members are there to help & think about the corner cases and request changes if needed :wink:

[2017-07-03 07:14] Kami commented on #3534
Thanks for reporting this and yeah, agree with @armab.

Feel free to open a PR and we will work from there (we already have some tests for URI handling and it looks like we need more :)).

[2017-07-03 07:22] leoxhj opened #3543 "How can we "suspend" or "wait" an action when it fails, workflow should on pause and can be resumed."
Dear support,

In our use case, we will have scenario when one of actions has failed, workflow should suspend and wait manual interaction or re-run (Is it possible to re-run current failed execution rather than to start a new one), after that, workflow can continue to execute the rest tasks/actions, is this supported by now?

I noticed below basic mentioned for mistral workflow, but there's no sam

[2017-07-03 12:37] armab commented on #3488
Addressed in https://github.com/StackStorm/st2/issues/3514, thanks to @humblearner and @Kami.

[2017-07-03 12:37] #3488 closed

[2017-07-03 14:53] armab commented on #3450
@nmaludy Caching virtualenv makes sense.

It brings ~`2mins` timing improvement, according to experiments
but has some corner cases (see https://github.com/StackStorm/st2/pull/3545/files#r125296840 comment)

[2017-07-03 15:13] #3513 closed

[2017-07-04 01:40] leoxhj commented on #3543
I googled related topic and find another once right suit to our scenarios:

We assume WF is in paused/errored state when 1) user manually pause the WF,
2) pause is specified on transition (on-condition(s) such as on-error), and
3) task errored.

The resume feature will support the following use cases.
1) User resumes WF from manual pause.
2) In the case of task failure, user fixed the problem manu

[2017-07-04 10:21] armab commented on #3543
Regarding `pause`/`resume` mistral functionality, see: https://github.com/StackStorm/st2/pull/3507 which is in progress. @m4dcoder probably will add support for mistral pause/resume in stackstorm `2.4`.

[2017-07-04 10:36] leoxhj commented on #3543
@armab, it is real good news, appreciated for the efforts and look forward to getting the upgrade.

[2017-07-04 12:27] #3523 closed

[2017-07-04 14:54] #3317 closed

[2017-07-05 11:52] sibirajal commented on #3517
I have an Ansible action in the st2 mistral workflow and would like to post the action output into chatop.post_result action. To post the action result in chatops_post_result it required execution id. Would there be possible to get the execution id for the ansible action and assign that execution id into chatops.post_result action?

I've tried to use <% env().st2_execution_id %> with chatops.post_

[2017-07-05 11:56] leoxhj commented on #3517
Have you tried
 <% env().st2_action_execution_id %>?
Just my guess, docs mentioned less details about environment()

发送自我的三星盖乐世智能手机。

-------- 原始信息 --------
由： sibirajal <notifications@github.com>
日期: 2017/7/5 19:52 (GMT+08:00)
收件人： StackStorm/st2 <st2@noreply.github.com>
抄送： leoxhj <leo_xhj@hotmail.com>, Mention <mention@noreply.github.com>
主题： Re: [StackStorm/st2] Any detail docs describe how we

[2017-07-05 12:11] sibirajal commented on #3517
That's right. I've tried <% env().st2_action_execution_id %> in my workflow and it failed with error. Basically I would like to get the execution id of the particular action and use that id for chatops.post_result action.

YaqlEvaluationException: Can not evaluate YAQL expression [expression=env().st2_action_execution_id, error=u'st2_action_execution_id', data={}]
] (execution_id=4768477e-b748-4f5

[2017-07-05 21:06] #3343 closed

[2017-07-05 22:42] LindsayHill commented on #3520
Looks like you could start by using `st2-purge-executions` with `--action-ref` parameter, to delete executions for a specific action. Combine that with cron + the timestamp option, and you can do most of what you want today.

Don't know of any short-term plans to either add 'action-ref' matching capabilities to the st2garbagecollector, or to set retention policies on a per-action basis. Suspect th

[2017-07-06 00:30] johnarnold opened #3548 "Feature Request: trigger event history"
I'm a new user, so if there's a way to do this already, please let me know!

Would be really useful to have a dashboard, similar to the actions history, that displays all the trigger events that have been emitted by all the sensors, ideally with a way to filter by sensor, and drill down to see all the event fields.

[2017-07-06 00:42] Mierdin commented on #3548
Hey @johnarnold, welcome!

I believe what you're looking for is ``trigger-instance``. These are "instances" of triggers being fired. See the below CLI output, these are all tweets matched by my search sensor configuration. Note that I'm filtering based on the name of the trigger):

[code]

In terms of "dashboard", you can't currently see any trigger instances via the WebUI.

[2017-07-06 06:21] Mierdin opened #3549 "Actions in Mistral workflow succeed, but workflow marked as failed"
I was tinkering with `mistral-basic` workflow in the `examples` pack, and converted some of it to use Jinja instead of YAQL. After running it, however, I noticed that - while my action execution succeeded, the workflow itself returned a failure:

[code]

[2017-07-06 06:24] Mierdin commented on #3549
A great place to get more information about Mistral workflows is with the mistral CLI:

[code]

The reason for this error is because when referencing tasks in a Jinja snippet, they must be quoted. This is explained in the [Jinja + Mistral](https://docs.stackstorm.com/mistral_jinja.html) doc:

So since I changed this to use Jinja instead of YAQL, a correct version of the line in question would be:

[2017-07-06 06:24] #3549 closed

[2017-07-06 11:25] armab commented on #3548
As @Mierdin noted, there is CLI & API for that.

If you want it as a WebUI feature, please submit a feature request in https://github.com/stackstorm/st2web dashboard instead for better tracking and higher chances to have it implemented.

Thanks!

[2017-07-06 11:25] #3548 closed

[2017-07-06 16:34] lakshmi-kannan commented on #3532
@nmaludy I looked into this. I added a test case etc and realized the problem is not in st2 code. It appears pyyaml swallows this error. See https://github.com/yaml/pyyaml/issues/41 and http://pyyaml.org/ticket/128 for details. I am not motivated to push a fix to pyyaml. That issue has been open for 8 years :D. I'll keep the issue open.

[2017-07-06 17:30] hagay3 commented on #3403
@lakshmi-kannan ,it can help if I could access the execution id from the action that called the notification (sort of traceback) , it's possible?

[2017-07-06 17:35] #3530 closed

[2017-07-06 17:35] lakshmi-kannan commented on #3530
Tracking here: https://github.com/StackStorm/st2web/issues/368

[2017-07-06 23:58] LindsayHill commented on #3536
Hey @leoxhj don't worry, your English is fine. A lot better than my Putonghua.

I think the problem here is that your workflow is named `async`, and so is your async.py.

When you run `st2 run leotest.async`, it looks at `actions/async.yaml`. That tells it to run the workflow at `actions/workflows/async.yaml`. Task1 in the that workflow calls `leotest.async`.

The key here is that `leotest.async`

[2017-07-07 00:05] Mierdin opened #3553 "Break up Jinja filter example chains"
https://github.com/StackStorm/st2docs/pull/542 introduced a note about using `literalinclude` in RST to directly show filter examples. However, the existing examples are grouped together in the same actionchain, and others are missing entirely

We should put all filter examples into their own directory, and make one file per example. Once each filter has an example actionchain, we can remove the i

[2017-07-07 00:59] LindsayHill commented on #2289
Let's close this one for now, re-open later if needed.

[2017-07-07 00:59] #2289 closed

[2017-07-07 00:59] #2845 closed

[2017-07-07 01:07] #2338 closed

[2017-07-07 01:07] #3120 closed

[2017-07-07 01:19] LindsayHill commented on #3446
Looks like the sensor base class supports `get_poll_interval` and `set_poll_interval`. So you could set a value in the pack config (`/opt/stackstorm/configs/<pack>.yaml`), and load that at init(), and set it. That at least gives you per-site sensor poll interval customization..

(Doesn't address the dynamic poll interval change item).

[2017-07-07 04:10] nmaludy opened #3554 "Published mistral variables are not available in context immediately"
I have a mistral workflow that returns a fairly complex data structure. In order to decompose the parsing steps i tried parsing incrementally and assigning to different `publish:` variables: Unfortunately it seems that the `publish`ed variables are not made available immediately to the context.

### Version with error:
[code]

### Error
[code]

### Version that works:
[code]

I'll see if i can get

[2017-07-07 05:48] divgwd opened #3555 "Setting Trigger criteria for Nested payload"
Hi,
I wanted to know if it's possible to apply Trigger Criteria on a nested payload such as the one shown below:
[code]
what I mean is can I check If  1st "METRIC", 2nd "METRIC", 3rd "METRIC" has come in as a part of the same payload and then execute a rule?
And also is there a way to add additional conditions on top of the first mentioned conditions  ie alone with the METRIC condition I want to t

[2017-07-07 12:35] armab commented on #3554
For me it sounds like a typical/expected Jinja-related issue, when variable is not yet published/created and you're trying to use it too early:
[code]
But I'll leave it for @m4dcoder to clarify & answer if there is a room for improvement in Mistral itself.

[2017-07-07 13:37] nmaludy commented on #3554
@armab @m4dcoder it doesn't seem to be jinja specific, the following YAQL does not work either:

[code]

I'm guessing/leaning towards this being a mistral issue not updating the context when each variable is published but only when the task is completed.

I tested this out by trying to print the published variables within the `publish` stanza.

[code]

It looks like that is empty at the time of ex

[2017-07-07 15:07] LindsayHill commented on #2202
Validated: This behavior exists on 2.3.1.

Steps to reproduce:
- Install BWC
- Login to Web UI and go to Actions tab
- Click '+' button, to launch Workflow Designer
- Drag a couple of actions onto the canvas
- Go to settings, give action a name, e.g. `test_save_to_disk`, leave it in pack `default`.
- Save workflow
- Login to BWC server via SSH, go to `/opt/stackstorm/packs/default/actions`
- Run `

[2017-07-07 17:39] LindsayHill commented on #3536
@leoxhj hopefully the above makes sense. Re-open the issue if you need to.

[2017-07-07 17:39] #3536 closed

[2017-07-07 18:40] nmaludy commented on #3554
Did a little digging on my own. If i'm looking at the code right the publish starts here:

https://github.com/StackStorm/mistral/blob/master/mistral/engine/tasks.py#L163

Which then runs the publish function here:

https://github.com/StackStorm/mistral/blob/master/mistral/workflow/data_flow.py#L187-L211

Then each publish expression is then evaluated here:

https://github.com/StackStorm/mistral/bl

[2017-07-07 18:58] nmaludy commented on #3554
Digging through mistral bug reports, looks like it's a known bug/feature request: https://bugs.launchpad.net/mistral/+bug/1680109

[2017-07-07 20:13] #3510 closed

[2017-07-08 00:32] johnarnold commented on #3548
For historical reference, yes I'm aware of the CLI, was looking for GUI dashboard.  I'll resubmit to st2web

[2017-07-10 07:45] Kami commented on #3553
Agreed :+1:

And ideally those included examples would be from examples in st2 repo which are also tested.

[2017-07-10 07:52] Kami commented on #3555
Right now you can't do that as part of the rule criteria comparison, but there are some workarounds available to handle such scenarios.

If those triggers come into the system via sensor, you could do those checks inside a sensor and if all those things match, you would dispatch this aggregate trigger from the sensor.

If those triggers come into the system via webhook, you could handle that by wr

[2017-07-10 14:31] #3534 closed

[2017-07-10 16:53] johnarnold opened #3562 "st2ctl tries to stop/start st2chatops when not loaded"
If st2chatops is not installed, st2ctl restart gives you:

Failed to stop st2chatops.service: Unit st2chatops.service not loaded

This seems to really slow down restarts.

[2017-07-10 17:02] humblearner commented on #3562
@johnarnold:

st2chatops not installed or not configured as in `/opt/stackstorm/chatops/st2chatops.env` is not configured with right adapter settings?

[2017-07-10 20:08] johnarnold commented on #3562
@humblearner

As in, I deployed using ansible-s2, and commented out the st2chatops role from the playbook == no st2chatops packages installed or config at all.

(I don't have a hubot-compatible chat service on intranet, so why bother...)

[2017-07-11 08:29] leoxhj opened #3563 "regarding st2 API /api/v1/executions parameters"
Dear support,

for below API:
GET /api/v1/executions

how can we filter out all executions which are workflows?

There's a parameter "runner" mentioned in query parameters, but no idea how to use it since the response data structure for "runner" is like below, it's not like simple a string but a json.

    "runner": {
      "runner_module": "python_runner",
      "uid": "runner_type:python-script"

[2017-07-11 08:43] leoxhj commented on #3563
figured out, I misspelled runner "mistral_v2", the correct one should be "mistral-v2", but weird since most place it uses "mistral_v2"
https://10.2.111.65/api/v1/executions?runner=mistral-v2

[2017-07-11 12:44] sibirajal opened #3564 "Add a better approach to handle big string contains special characters which are executed in shell"
Hello Team,

I have tried to use local shell command to print the long string contains special characters. However it failed with below error as the output contains non-standard characters. It would be good if we can add `shell_escape` Jinja filter: https://docs.stackstorm.com/reference/jinja.html#applying-filters-with-jinja to handle cases like that when "dangerous" string is passed to shell comm

[2017-07-11 12:45] Kami commented on #3564
I agree, shell_escape or similar Jinja filter would come handy.

[2017-07-11 12:51] armab commented on #3564
The feature will solve similar issues https://github.com/armab/st2_chatops_aliases/issues/10 and https://github.com/StackStorm/discussions/issues/184

[2017-07-11 15:10] LindsayHill commented on #3563
Looks like that filtering is based on the runner name, which is set to `mistral-v2` here https://github.com/StackStorm/st2/blob/master/contrib/runners/mistral_v2/runner.yaml#L4

I suspect there might have been a change at some point to move from `-` to `_`, but the `mistral-v2` name was retained for backwards compatibility.

[2017-07-11 15:10] #3563 closed

[2017-07-11 15:16] #3555 closed

[2017-07-12 18:59] LindsayHill commented on #3498
Need some more info on what sensors/config you're running there. Can re-open if we have that info

[2017-07-12 18:59] #3498 closed

[2017-07-13 01:55] johnarnold opened #3567 "Bug: regression on icon.png loading"
icon.png for a pack will not load if the name and ref are different in the pack.yaml

https://github.com/StackStorm/st2/issues/3128
https://github.com/StackStorm/st2/pull/3131

I just confirmed this in back-to-back testing.

[2017-07-13 10:05] leoxhj opened #3568 "re-run action didn't inherit parent execution id"
Dear support,

If we re-run failed actions in workflow, the new separated action execution didn't inherit parent execution id, means we can't find "parent" element in the new action execution which is a lot trouble for us, since we want the new one show up in the same workflow chain.
if we use api:
/api/v1/executions/{id}/children
the new one is not able to get since it doesn't has parent.

so, my

[2017-07-14 10:04] leoxhj opened #3569 "regarding st2 api response data"
Dear support,

current ST2 rest api response data has too much information, most of them is useless for user, also too much information affect system performance, propose use can specify return fields.

[2017-07-14 12:00] armab commented on #3569
Are you referring to any particular REST endpoints?
We need more real-life examples.

[2017-07-14 12:13] leoxhj commented on #3569
for example GET api/v1/executions, we might only need field status, response has bulk of information which we don't need them, the main reason is if lot of executions get retrieved, it is very slow.

[2017-07-14 12:30] armab commented on #3569
From what I see `/api/v1/executions` https://api.stackstorm.com/api/v1/executions/#/action_executions_controller.get_all has a lot of advanced filtering:
- `exclude_attributes` - List of attributes to exclude
- `status` - Execution status filter
- and so on

[![](https://i.imgur.com/yVW6CoE.png)](https://api.stackstorm.com/api/v1/executions/#/action_executions_controller.get_all)
Isn't `exclude_at

[2017-07-14 13:19] leoxhj commented on #3569
@armab my apologies, I didn't go through all parameters carefully, yes, the exculde_attributes should help.
Thanks.

[2017-07-14 13:22] bigmstone commented on #3569
Going to close this issue for now. @leoxhj feel free to open back up if you have additional issues/questions on this topic.

[2017-07-14 13:22] #3569 closed

[2017-07-14 14:37] leoxhj commented on #3569
Can we add an attribute: include_attributes, so if I only need status field , I can just add it instead of exclude_attributes which I need exclude all rest except status?

[2017-07-14 21:29] lakshmi-kannan opened #3570 "Test ``test_worker_shutdown`` is flaky"
test_worker_shutdown (tests.unit.test_worker.WorkerTestCase) ... FAILED

[2017-07-15 21:43] Mierdin opened #3571 "Add "decrypt" param to native st2kv function, deprecate "decrypt_kv" filter"
https://github.com/StackStorm/st2mistral/pull/30 modified the way that ``st2kv`` worked for encrypted values - it no longer decrypts by default, and users must explicitly ask for this via the ``decrypt`` parameter for that function. Because ``st2kv`` (within the context of mistral) natively offers decryption, the ``decrypt_kv`` filter that currently exists natively in StackStorm was not needed, an

[2017-07-17 07:29] sibirajal opened #3572 "RBAC LDAP Mapping causes rule creation to fail when the workflow is not available"
Hello Team,

We have integrated St2 authentication with enterprise LDAP and users are mapped with RBAC in AD. I've created a new rule with trigger/criteria/workflow and however the workflow is not created for the rule.

When I try to create a rule it failed with below internal error. My account is part of "admin" role and its mapped to LDAP. The same rule creation is succeeded If I disable the RBA

[2017-07-17 07:32] Kami commented on #3572
Thanks for reporting this.

It looks like a general RBAC issue on rule creation - will look into it.

[2017-07-17 07:37] Kami commented on #3572
Small thing - next time please use Github gist for code snippets, etc. - https://gist.github.com/

This way indentation, etc. is preserved so it's easier to look into it.

[2017-07-17 08:50] Kami commented on #3572
Bug fix in #3573, thanks again for reporting this.

[2017-07-17 12:44] nmaludy commented on #3379
Thinking about this a little... (not requirements, just trying to feel out what it might look like in the end)

# Location
Datastore files would live in a packs `datastore/` directory.

# Files
Each file in the `datastore/` directory will be a YAML file containing k/v information.
Files will be loaded in sorted alphabetical order. This way the k/v's are loaded in a predictable and consistent manne

[2017-07-17 12:54] nmaludy commented on #3379
Also thinking Jinja rendering support in the `value:` fields would be nice.

If we loaded the keys in order top-to-bottom, then Jinja rendering would allow us to reference previously loaded k/v's in future values

Example:
[code]

Not sure if that's the right Jinja syntax, but that's the general idea

[2017-07-17 15:08] nmaludy opened #3574 "Feature Request : Add capability to retrieve action's parameters via the YAML file in pack unit tests"
When writing unit tests i can never remember the correct combination of `default` and `required` necessary for whatever logic i'm trying to implement. Also i can never remember what values will actually be passed in with the various combinations.

To remedy this it would be handy if i could some how "pipe" parameters through the action's YAML file validation and defaults.

This would allow me to v

[2017-07-17 16:32] Kami commented on #3574
I do understand your problem, but I'm not sure if that belongs into unit tests.

Unit tests are intended to test small units of Python functionality which in actions case is indeed StackStorm specific, but scripts / actions could potentially also be used outside of StackStorm environment.

Something like this would fit better into integration tests so we should perhaps look into providing some bas

[2017-07-17 16:46] Kami opened #3575 "Improve API validation so openapi.yaml file utilizes schemas from API model Python classes"
We need to improve / fix API validation so all the inputs are correctly validated based on the schema defined in openapi.yaml / API model.

Right now we have schemas from API models copy and pasted to openapi.yaml file and that's a maintenance nightmare (things will get out of sync, etc.).

We need to decide which place we want as an authoritative source (either API model Python classes or openapi

[2017-07-17 16:48] Kami commented on #3575
I would personally prefer to use API model as authoritative source, because:

* We already have a process which generates final openapi.yaml file based on the Jinja template definition.
* API model schemas definitions are already used in other places - e.g. when content comes into the system outside API (via st2-register-content).

If we want with the other approach, we would then have multiple fi

[2017-07-17 16:54] Mierdin commented on #3574
Somewhat related: https://github.com/StackStorm/st2/pull/3183

[2017-07-17 17:17] nmaludy commented on #3574
@Kami throwing this out there, and sort of along the lines of what i believe @Mierdin was trying to show me.

What if we created a script that "resolves" the action parameters and outputs the dictionary to JSON on stdout.

This could then potentially be used to confirm/verify functionality.

Thoughts?

[2017-07-17 17:29] ytjohn opened #3576 "Feature Request: expose pack config to rules/triggers"
Today, I wanted to add an IntervalTimer trigger, and I wanted to have the delta set in configuration.

I think it would be advantageous to allow end-users of my pack to set the interval delta (and unit) in configuration instead of having to edit the pack's yaml file.

[code]

related to #3183

[2017-07-17 21:22] #3137 closed

[2017-07-18 05:42] LindsayHill opened #3578 "`st2 apikey create -k` fails when authentication disabled"
If authentication is disabled, `st2 apikey create -k` fails with this error:

[code]

st2api.log contains this:

[code]

Calling `st2 apikey create -k -u st2admin` works.

Looking at the code, this is the problem: https://github.com/StackStorm/st2/blob/master/st2api/st2api/controllers/v1/auth.py#L140

[code]

I think that code should be checking to see if `requester_user.name` exists, not just che

[2017-07-18 06:59] pietervogelaar opened #3579 "Save disabled/enabled action status (also) in the database"
I have a high available StackStorm setup that is managed with Puppet. For several batch jobs I have an action with cron timer rule. Sometimes it's desirable that a job can temporarily be quickly disabled. But at the moment it's part of the rule/action definition, so a change has to go through Bitbucket, git-flow, Puppet Master.

It would be nice if I could toggle the disabled/enabled status with t

[2017-07-18 08:24] dominikmueller commented on #2175
+1

[2017-07-18 08:51] #3431 closed

[2017-07-18 23:19] LindsayHill commented on #3579
You can enable/disable a rule by checking/un-checking the "enabled" checkbox in the rule definition in the st2web UI. See this screenshot

<img width="833" alt="rule_disable" src="https://user-images.githubusercontent.com/3607046/28343919-ffb06f8a-6c73-11e7-81b2-44c1987b88b1.png">

Changing that will update the value in MongoDB, the same as using `st2 rule disable`.

Does that not do what you want

[2017-07-19 08:00] pietervogelaar commented on #3579
Clicking that checkbox does absolutely nothing, no AJAX request is fired. The rules are put on all the StackStorm nodes with Puppet. Could it be the case that clicking the checkbox only works if you manually add a rule through the UI?

[2017-07-19 08:59] LindsayHill commented on #3579
@pietervogelaar click on "Edit", then check/un-check "enabled"

I just tested this with my system. Before doing anything, I had this:

[code]

I then went to the Rules tab, and found that rule. I clicked Edit, then checked the "enabled" box. That resulted in this:

[code]

[2017-07-19 09:14] #3572 closed

[2017-07-19 09:14] pietervogelaar commented on #3579
Ah you're right, if I click edit first and then toggle the checkbox everything works great! But I still think the checkbox should not be clickable when not in edit mode. It's counter intuitive at the moment.

[2017-07-19 09:16] LindsayHill commented on #3579
I'm not sure it is clickable if it's not in Edit mode - it is the same as clicking anywhere on a web page - nothing happens. There's no indication of the checkbox being enabled or disabled, if I'm not in Edit mode. I'm not sure what else it should do?

[2017-07-19 09:17] LindsayHill commented on #3579
Or are you seeing the check box get enabled/disabled when not in Edit mode? I've got a feeling there might have been a recent behavior change here

[2017-07-19 09:18] pietervogelaar commented on #3579
Yes exactly that. I see it change to enabled or disabled when not in edit mode.

[2017-07-19 09:19] LindsayHill commented on #3579
See https://github.com/StackStorm/st2web/pull/361 - this was resolved in 2.3.0.

[2017-07-19 09:19] #3579 closed

[2017-07-19 17:39] lakshmi-kannan opened #3585 "st2 pack install should check existing installed version and warn if new version being installed is incompatible"
This came from AWS pack discussion where we will have two branches boto2 and boto3. master branch will point to boto2 for now. When we deprecate boto2 and make boto3 the default, master will point to boto3.

If user already has boto2 aws installed and does st2 pack install aws when master points to boto3, we'd mess up the user box. We should detect the version of aws pack installed and check if in

[2017-07-19 17:41] LindsayHill commented on #3585
How will you know that new version is incompatible? What will it be incompatible with?

[2017-07-19 17:41] lakshmi-kannan opened #3586 "st2 pack install should show how many actions, rules and sensors are being installed"
This came from AWS pack discussion where AWS pack has 2000+ actions. st2 pack install aws is so slow and as a user I begin to think that there is something wrong. This happened to me personally multiple times. So if we just show the number of artifacts being registered, we mentally setup the user to expect a delay.

Apparently, pack index already has this info. Let's show it in CLI then!

[2017-07-19 17:44] armab commented on #3586
https://github.com/StackStorm-Exchange/index/blob/87d6ac55709695cb62886760ceeba304c15671b1/v1/index.json#L138 :smiling_imp:

[2017-07-19 17:50] dzimine commented on #3585
Installing the most recent version is a reasonable default.

A user can specify & pin the version of the pack (given the discipline of pack authors on versioning):

`st2 pack install cloudflare=0.1.0`

see https://docs.stackstorm.com/packs.html

Compatibility and upgrade notes are pack author responsibility IMO.
The recovery from messed up pack is easy, too: remove the pack, re-install with versio

[2017-07-19 18:00] Mierdin commented on #3585
The new version of the AWS pack will introduce some breaking changes, and we were discussing ways to make that more obvious. I think there's a reasonable expectation that users will read upgrade notes when upgrading st2 core, but this is far less emphasized for packs. So for popular packs like the AWS pack, when breaking changes are introduced, this could be as disruptive as breaking changes in st

[2017-07-19 18:19] LindsayHill commented on #3585
We've had quite a few breaking changes in configs in the past, but it hasn't been handled well. Has relied on users reading CHANGELOG, if it even exists.

In terms of breaking changes, I guess there's three categories:

1. Pack configuration change.
2. Action behavior change - e.g. changes to required parameters, or format.
3. Actions changing name, which would break workflows relying on those cha

[2017-07-19 18:49] m4dcoder commented on #3456
I'm unable to reproduce this issue. I put together two separate workflows, posted below. In both cases, the Jinja evaluation error is reported back to st2 as failure.

### Example 1 - Reference non-existent variable in Jinja
[code]

[code]

### Example 2 - Publish non-existent variable in Jinja
[code]

Please note `status: failed` below. You'll have to use `st2 execution get <id> -dj` to get the r

[2017-07-19 18:50] m4dcoder commented on #3456
I'm going to close this issue as it's not reproducible. If you come across this problem again, please feel free to open the issue again with more information (WF definition, execution details) so we can reproduce it. Thanks.

[2017-07-19 18:50] #3456 closed

[2017-07-19 18:53] warrenvw commented on #3585
@LindsayHill I personally like the idea using `pack.yaml` version. Simple. Effective.

[2017-07-20 17:13] Kami opened #3592 "Install MongoDB 3.4 by default"
Right now we install MongoDB 3.2 by default with the installer script, but for v2.4.0 release we should update the script and docs to install MongoDB 3.4 by default.

We used to have unit tests on Circle CI running with both, MongoDB 3.2 and 3.4 by default (and before that also on Travis CI) until the recent changes by @armab so things should work just fine. IIRC, some of the users already upgrade

[2017-07-20 17:26] warrenvw commented on #3586
I guess it's just coincidence that this is issue 3586, and there are 3581 AWS actions. Just off by 5. :)

[2017-07-20 17:50] armab commented on #3592
With multiple DB versions we'll need `4` containers x `N` DBs in Travis or `6` containers x `N` DBs in Circle.
With `3.2`, `3.4`, `3.6` we need `12-18` containers to run those tests + add here packaging containers.
So it's not possible without changing the CI system to something self-hosted, because that means bringing $$$ to CircleCI or TravisCI or as it was before, wait hours for the build statu

[2017-07-20 19:55] Kami commented on #3592
@armab

< Saying that, I think the minimal solution is just to run Tests on latest Mongo version we currently support.

Yeah, I agree, this should do for now. I will switch CI to 3.4 first and once the time comes for v2.4.0 update docs and installer scripts.

[2017-07-21 04:04] lingfish commented on #2532
I know this is closed, but I just wanted to 100% disagree with:

In my "25+ years of Unix" opinion, this is _not_ best practice at all.  Best practice is to run the system clock as UTC (BIOS usually), and then usually the OS timezone set locally as well.  If not done in OS, the user then decides via TZ= etc (the only downside to local user-chosen TZ is of course, most logs still output in OS set t