[2021-07-06 19:31] minsis commented on #5296
Apologies, somehow I missed this.

[2021-07-06 19:31] #5296 closed

[2021-07-06 23:37] armab commented on #5296
No worries!

[2021-07-07 14:25] Rishabhraghwendra18 commented on #4783
Hi @armab . is this issue open?

[2021-07-09 11:53] armab commented on #4783
Yes, it's still actual and Pull Requests with improvements are welcome.

[2021-07-09 14:16] techdiverdown commented on #5300
We are having this same issue.

[2021-07-09 16:28] MichaelMcClure commented on #5300
Related issue?  https://github.com/StackStorm/st2/pull/5220

[2021-07-12 20:17] lukepatrick opened #5301 "ST2 3.5 rpm not creating admin roles in mongo; other services not connecting to mongo"
## SUMMARY

Running ST 3.5 rpm’s, Centos8, Mongo 4, etc..
At startup,  `st2-apply-rbac-definitions` does not insert the `admin` role to mongo. Subsequent user assignments (`stanley`) can’t be loaded as the role doesn’t exist. I can switch back to the 3.4.1 rpm’s and it is not an issue.

In an oddly semi-related issue, the above `st2-apply-rbac-definitions` job can connect to Mongo and load all the

[2021-07-13 20:19] armab commented on #5301
Thanks for the report!

@lukepatrick for more info, what was the MongoDB version used?

I think we've tested with MongoDB 4.0 for EL8 (Py3.6) and MongoDB 4.4 for U18 (Py 3.8). For stackstorm-ha in K8s we're running on U18 with MongoDB 4.0 and it's :100: good. From the other side, EL8 build around K8s could bring some edge cases with versioning I guess. In v3.5.0 we introduced py 3.8 to support Ubu

[2021-07-13 20:51] lukepatrick commented on #5301
Ran both a Mongo 4.0 and 4.4, seemed to get the same issue.

[2021-07-13 21:42] amanda11 commented on #5301
Odd...
To check its not a general problem I just started a new ST2 vagrant box with CentOS 8, and then did the standard instructions to configure RBAC with st2admin and stanley, and all good. No problem with st2-apply-rbac-definitions, and logged in fine as st2admin etc.

[2021-07-13 23:03] arms11 commented on #5301
While this is not apple to apple, I recently updated my sandbox cluster with changing the image tag version to `3.5.0`. But, I could see no such issue regarding my K8s setup in EKS. Performed smoke testing without any issue. Please note, I have not updated my chart to the latest available `0.60.0`. I am still using `0.52.0` and I also do not have RBAC enabled. I will do my best to spin off a new c

[2021-07-14 20:26] minsis opened #5303 "st2client error when installing pack for restricted user"
## SUMMARY

I have a restricted user that should only have permissions to install packs. The pack install works fine but the client returns a python error

[code]

If I do the install with an admin level user everything is fine. The other issue here is that the pack gets installed just fine. The API logs has no errors and produces a 200 response (I do not have it in debug mode).

![image](https://

[2021-07-15 04:45] lukepatrick commented on #5301
The not-loading of rbac admin role seems transient, more times I try it does or doesn't happen - always with a fresh/empty MongoDB. Not as worried about that.

For the other mongo connectivity issue, a separate task I had updated some packages, seems the latest pymongo isn't compatible. Cleared out any (that I can tell) extraneous package updates and it works fine.

Once this got running, ran into

[2021-07-15 06:44] amanda11 commented on #5301
Orjson 3.5.2 is in the pip requirements files - did this get cleared out accidentally on deleting other packages?

[2021-07-15 13:08] lukepatrick commented on #5301
no, it's in the pip list
[code]

[2021-07-15 22:27] amanda11 commented on #5191
I can start looking at this, as familiar given problem happened in middle of last release process.

[2021-07-16 08:35] amanda11 commented on #5191
Interestingly when add to Makefile, python3 setup.py check -r - accepts README.rst with sourcecode with unknown lexer, but python2 setup.py check -r -> will find error.

[2021-07-16 15:59] amanda11 commented on #5191
rst-lint however finds the error, so will use that as well as readme-renderer

[2021-07-17 11:32] #5191 closed

[2021-07-18 10:15] #5110 closed

[2021-07-20 10:23] amanda11 commented on #5303
I tried with a 3.5dev install, and when I do the pack install with that role I get an error indicating that the user doesn't have pack view permission on the pack they tried to install.
I don't think we changed anything between 3.4.1 and 3.5 to do with rbac.

@minsis Could you see what happens if you add permissions for pack_view on the pack you are trying to install - to determine if that resolve

[2021-07-22 09:31] MrDiba opened #5308 "st2chatops Rocket.Chat hubot will not start"
## SUMMARY

This is actual a cross-post for a st2chatops issue https://github.com/StackStorm/st2chatops/issues/167

st2chatops will not start using the Rocket.Chat adapter in a VM and configured in Docker.

### STACKSTORM VERSION

`st2 --version`: `st2 3.5.0, on Python 3.8.10`
and the [stackstorm/st2chatops:3.5](https://hub.docker.com/layers/stackstorm/st2chatops/3.5/images/sha256-59cceec8fee633ab

[2021-07-23 02:29] lukepatrick commented on #5301
fyi, I've added a experimental PR with a Centos container
https://github.com/StackStorm/st2-dockerfiles/pull/50

[2021-07-23 16:31] nzlosh commented on #5308
As a workaround to your problem, you can try using err-stackstorm.  https://err-stackstorm.readthedocs.io/en/latest/

[2021-07-24 00:51] cognifloyd commented on #4216
I'm standing up a new stackstorm-ha (k8s) cluster. It is supposed to have ldap-based auth and I can't add `st2admin` and similar service accounts to ldap. For a cluster that's already up and running, I can create api keys for the relevant service accounts with something like `st2 apikey create -u st2admin` and then those service accounts only ever auth via api key.

But a fresh st2 install does no

[2021-07-25 13:12] armab commented on #4216
@cognifloyd You can prepare the API keys beforehand and import them in the actual prod deployment.
https://docs.stackstorm.com/authentication.html#api-key-migration
This is supported by the Helm chart itself too.

[2021-07-25 14:32] cognifloyd commented on #4216
Yes, but the apikey load job needs to authenticate with st2 to load the apikeys, so it's a bit of a catch 22.

[2021-07-26 06:58] nzlosh commented on #4216
Isn't the auth enable/disable a simple config switch with reload?  Why not just disable auth during the api-key deployment then enable it once the key is deployed.

Alternative option, export the mongo collection before hand and import it as part of the deployment which would then depend on mongo security.

[2021-07-27 11:53] armab commented on #4216
Yeah, all these are workarounds.
The fallback auth backend for "local" st2 operation makes more sense to me.

[2021-07-27 15:08] wingiti opened #5310 "Using a different python version for a pack is no longer working. actionrunner.python_binary"
## SUMMARY
Using a different python version (in my case 3.7) for packs instead of the default system one (3.6) is not working.
Till Stackstorm 3.4 this worked like described in the docs:
https://docs.stackstorm.com/latest/packs.html?highlight=python_binary#python-versions-in-pack-python-virtual-environment

### STACKSTORM VERSION

Paste the output of ``st2 --version``:
st2 3.5.0, on Python 3.6.8

[2021-07-27 15:49] armab commented on #5301
Thanks @lukepatrick.
Looks like running st2 on python 3.7 and building python from sources is something that might hit you there.
We currently support and test with py 3.6 and 3.8 at the moment.

[2021-07-27 17:57] nzlosh commented on #5310
@Kami What were the alternatives for `udatetime`?

[2021-07-27 18:02] amanda11 commented on #5310
The pip version we have used is 20.3.3. There were some errors reported that were similar, that I think were resolved by moving to 20.3.3. It wasn't trying to use python 3.7, but checking pip version might help.

[2021-07-27 22:41] lukepatrick commented on #5301
Thanks for looking @armab

I'm hoping the alternative python does not conflict with Stackstorm's py3.6; it has not been an issue in the past versions.

We only due this to a bunch of home-grown packs we created at py3.7.

[2021-07-28 15:25] wingiti commented on #5310
I have now tried the package installation after upgrade to pip version 20.3.3 and reinstalled the requirements as well. Same result, no progress.
In addition I tried to use python 3.9 instead of 3.7 for actionrunner which showed the same errors.
Can maybe someone verify on his installation if the same errors occur?

[2021-07-28 20:17] jschoewe opened #5312 "Decrypting K/V values in action parameters causing misleading errors if the keys don't exist and another K/V parameter needs to be converted to bool, array, or object"
## SUMMARY

In an action's parameters, decrypting an encrypted value in the K/V store results in a misleading error message if that key either doesn't exist or is not encrypted

### STACKSTORM VERSION

3.5.0

##### OS, environment, install method

RHEL 8, Python 3.6.8

## Steps to reproduce the problem

st2 key set test_bool "true"

test_action.yaml
[code]

st2 run test_pack.test_action username="

[2021-07-29 16:16] amanda11 commented on #5310
To confirm whether its the specific python version its probably worth setting the alernate python library to 3.8 if that's possible (on a system whereby the defualt ST2 python is 3.6).

[2021-07-29 16:24] cognifloyd commented on #4939
I added #4924 to `v3.6.0` roadmap. Looks like all it needs is a rebase and register the config options. Hopefully that can be done before 3.6.0.

[2021-07-30 11:48] amanda11 commented on #5310
I just tried with on an CentOS 8 system running 3.6dev, adding python3.8, installing openldap-devel rpm, pip3.8 install of ST2 requirements, and then pointing the python_binary to 3.6.

Then installed new pack and ran a python action...

Getting similar problem, though I'm always getting the complaint about missing orjson...
1.
[code]
2. Got same problem when I used --system-site-packages as well.

[2021-07-30 12:30] amanda11 commented on #5310
Looking in the st2actionrunner then we can find the python path and python exe that it uses, e.g.
`sudo grep "Running command" /var/log/st2/st2action*2225320.log `

and if I set PYTHONPATH to that value, and then run the python exe, and import orjson then I get the same problem:

[code]

I think the problem is that the orjson that is under ST2 is for python3.6 only, as it's a C library...

[code]

[2021-07-30 12:31] amanda11 commented on #5310
So I think @wingiti your copy of the system-site-packages was the right thing to do. The question then is why that didn't copy over the udatetime, so make sure that you had the udatetime and in particular that you are getting the:
rfc3339.cpython-38-x86_64-linux-gnu.so
file in the path.

[2021-07-30 14:24] wingiti commented on #5310
@amanda11 Thank you for your effort. I can confirm, if I copy the udatetime python3.7 file`rfc3339.cpython-37m-x86_64-linux-gnu.so` to `/opt/stackstorm/st2/lib/python3.6/site-packages/udatetime/` the action is running.

What I don't understand for now is why I need to do this? I installed orjson package on a systemlevel for python3.7 and it is used by stackstorm since I added `--system-site-packag

[2021-07-30 15:44] amanda11 commented on #5310
Yes - I don't understand why orjson c library got picked up but udatetime didn't. The problem is effectively the same, so I couldn't figure that out.

you could try uninstalling the pack and making sure udatetime python 3.7 c library was in place in the system site packages first, and trying again - to ensure it's not from the virtual environment being partially created first.

There's no special

[2021-08-02 14:30] wingiti commented on #5310
If I directly compare the situation of these two packages, the issue might be that the search path for packages points to `/opt/stackstorm/st2/lib/python3.6/site-packages/`.
orjson is only one compiled c library which should be imported. As python 3.7 can not import the compiled version for 3.6 it searches afterwards in the `python3.7/site-packages/`.

udatetime.rfc3339 is also a compiled c librar

[2021-08-02 14:33] #5260 closed

[2021-08-02 17:30] minsis opened #5314 "Old version of pip is installed into pack's virtualenv"
## SUMMARY

It seems that when the virtualenv's are built that some weird version of pip gets installed and I'm not sure where this is coming from. I even upgraded the system pip version to latest with no avail.

Because such an old version of pip gets installed it doesn't have support for some of the libs that get installed for things like st2client. Specifically orjson as it tries to build from

[2021-08-02 17:39] minsis commented on #5303
@amanda11 I did what you asked but I still get the same error. Unless my user is an admin I can't properly install packs using my limited roles.

I am able to execute `st2 pack get bitbucket` and view the pack after its been installed.

Overall the RBAC system seems unnecessarily complicated and the lack of documentation for it makes it really difficult to navigate and configure. Probably a discus

[2021-08-02 20:00] amanda11 commented on #5314
Orjson I think was only used in st2 3.5.0.

St2 3.4.1 used pip 19.1.1
St2 3.5 uses pip 20.3.3.

I wonder if you are using the st2client version that was built for 3.5?

[2021-08-02 22:37] blag commented on #5303
As another user of the RBAC backend, I agree wholeheartedly.

Not trying to shut you down here, I'm just trying to point you to the right place to discuss RBAC - it's the [RBAC backend repo](https://github.com/StackStorm/st2-rbac-backend).

The RBAC backend desperately needs some love/updating/improvements/features, but I honestly think that RBAC isn't really the best fit for an authorization back

[2021-08-03 14:20] minsis commented on #5314
Locally I'm using what came with the st2 package.

The orjson install issue comes from a pack install failing, specifically Zabbix which installs the st2client no pinning. So its trying to the latest version of st2client while my local version is 3.4.1.

I guess this now makes sense was to why my package install is failing. But I still dont understand how 19.1.1 is being installed when the base vi

[2021-08-03 14:24] amanda11 commented on #5314
@minsis If I remember correctly I think its because of the version of virtualenv itself. So virtualenv comes with a pip version bundled with it. So the version of virtualenv used in ST2 3.4.1 comes with pip 19.1.1, and we upgraded virtualenv in ST2 3.5, to use the version that comes bundled with 20.3.3.

[2021-08-03 14:28] minsis commented on #5303
@blag I have an [similar feature opened](https://github.com/StackStorm/st2/issues/5204) which I guess goes along this lines of changing the RBAC system.

So I guess my issue here is some obscure RBAC issue. I'm going to upgrade to 3.5.0 today if I can as I'm having some other issues in another ticket with pack installs dependency conflicts. Hopefully the upgrade can fix this issue as well.

[2021-08-03 15:35] minsis commented on #5303
@amanda11 I upgraded to 3.5 and am still having this issue. So I'm not sure where the issue is at this point. Is it with RBAC or is it something with st2client, something missing on my end?

I'm guessing its RBAC related since admin role works, but I have no clue what permissions are missing here to make this work.

[code]

[2021-08-03 15:52] amanda11 commented on #5303
When you login as that user and try to do a pack install, do you get any errors? When I did it on 3.5 I got a clear error about what permission was reported.

Can you:

- Check that the user has the pack view permission on the pack they are trying to install, and re-apply the rbac permissions
- Login as user on command line, and just do a st2 client install as that user - and post the results. I g

[2021-08-03 16:57] minsis commented on #5303
So here I dont login I use an API key for this user - not sure if that makes a difference or not. doing `st2 install bitbucket` gives the traceback output as in my OP `AttributeError: 'Execution' object has no attribute 'result''

This has been done many times. See below example.

With permissions
[code]

Without permissions
[code]

The error is the same one outlined in the OP. The st2client fails

[2021-08-03 17:56] amanda11 commented on #5303
So it still states they don't have pack view permission:
[code]

Has that definitely been added to the role, and the role definition reapplied without any errors?

If it has been then the only thoughts I have are:
a. did I applied that permission AFTER I had installed the specific pack, and did I uninstall and test install? So perhaps that's the difference - but I wouldn't have thought it would ma

[2021-08-03 18:10] amanda11 commented on #5303
I will try and give it a go with the APIKEY to see if I can reproduce the error, but I wouldn't expect that to make a difference - but I can't see any issues if the pack_view is now in place as you demonstrated above.

If I go into the stackstorm UI and I look at the output of clicking on a pack install, then I can see that the output has a field packs_list (on my success runs), see image...
![Scr

[2021-08-03 18:51] amanda11 commented on #5303
I've managed to reproduce it...
[code]

[2021-08-03 19:01] amanda11 commented on #5303
I don't think its related to the apikey or the login, as I managed to reproduce today without others. Looking when I add in debug, it looks like its not waiting for the pack to be installed, as its trying to get the result when the execution result is in Requested state.
'''
Installation may take a while for packs with many items.
<Execution status=requested,action={'tags': [], 'uid': 'action:pack

[2021-08-03 19:05] amanda11 commented on #5303
@minsis Found something in the st2stream logs:

[code]

So can you try adding stream_view permission, and see if that resolves the issue.

[2021-08-03 19:29] minsis commented on #5303
@amanda11 Looks like this was it. I guess that explains why I didn't see any errors in the API log since it was in the st2stream. I didn't think about it switching to st2stream for this. Thanks and appreciate your help in this!

The global stream_view permission isn't documented.

I would imagine this should still be a bug though as st2stream doesn't report a permissions error back to st2client so

[2021-08-03 19:34] minsis commented on #5303
Oh, also to note this will still fail if the user doesn't have the pack_view permissions for the pack itself. This makes it counterintuitive as this user is free to install packs but obviously not allowed to edit its own role. This makes my automation process of keeping our clusters in sync across our datacenters more tricky to deal with.

[2021-08-03 20:03] minsis commented on #5314
@amanda11  Upgrading to 3.5.0 fixed the issue. The new virtualenv's that get created are running 20.3.3 now which will now install the correct wheel for orjson instead of trying to build the core with rust. I guess some of the packs are not backwards compatible if they're requiring some sort of build from source for certain libraries. In this case if the pack needs to have st2client installed with

[2021-08-03 20:14] amanda11 commented on #5303
Glad we found the problem, so sounds like this has shown a few things:
1) we can rephrase or raise a new bug to state that we don't see the error from st2stream in this case
2) we should document stream_view
3) the usability in terms of it not stopping you installing but still returning an error - not sure if that should go into the general rbac discussion or we rephrase this for that.

Anything e

[2021-08-03 21:53] minsis opened #5317 "st2stream doesn't return errors to st2client"
## SUMMARY

This is specific to a pack install and I'm not sure if anything else is affected by st2stream not returning errors to st2client.

Carrying part of the conversion over from https://github.com/StackStorm/st2/issues/5303#issuecomment-892134776

The scenario here is when installing a pack without having the global stream_view permissions st2stream errors out, but never sends that error bac

[2021-08-03 22:16] minsis commented on #5303
1. I raised a new bug report so that thread can go in the right direction: https://github.com/StackStorm/st2/issues/5317
2. I raised a bug report in st2doc for this: https://github.com/StackStorm/st2docs/issues/1083 Overall, global permission types aren't documented.
3. Not sure here either. I feel the RBAC repo gets overlooked in general since everything lives in st2. Also, while the core of RBAC

[2021-08-03 22:21] minsis commented on #5303
Actually re-reading what I wrote for point 3, I guess the answer would be RBAC since that's where it the effective permission would be resolved.

I guess another discussion would spawn out of this as to whether or its even supposed to do that. It seems like stream view shouldn't be a blocker for running actions. If you have those permissions defined in your role then it wouldn't make sense to erro

[2021-08-04 15:26] DavidMeu opened #5318 "pack.yaml dependencies not working for gt\lt only for eq"
Trying to install a pack with one dependency:
dependencies in `pack.yaml`:
[code]

Full output:
[code]

[2021-08-04 17:01] blag commented on #5318
Do we support version operators other than equality? I thought we did but I'm not finding any tests for that, and I'm digging through the code and haven't yet found where we parse individual dependency specifiers. My search is ongoing.

[2021-08-04 17:06] blag commented on #5318
Nope, it looks like we only support equality operators for specifying pack dependencies:
* https://github.com/StackStorm/st2/blob/911e2e16d7a356df1bb3992bb9d06829db36ab05/st2common/st2common/constants/pack.py#L48
* https://github.com/StackStorm/st2/blob/911e2e16d7a356df1bb3992bb9d06829db36ab05/contrib/packs/actions/pack_mgmt/get_pack_dependencies.py#L113

@DavidMeu Sorry for misleading you!

I'm n

[2021-08-05 17:21] amanda11 commented on #5303
Point 3 is an odd one. I originally was thinking it was about rbac, but its not its about st2 client doing an async call but then not having the permissions to check the stream. So in hindsight perhaps 1) would cover this, as if we got the error back it would be clear.

But the fact that for pack install you have to have the <pack>:pack_view permission to be able to install, is probably another po

[2021-08-06 15:14] minsis commented on #5303
While RBAC in the end blocks the stream_view on the backend, it doesn't prevent any other actions in the workflow from breaking as long as you have the permissions. Looking at my debug output you can see the failed call is made to `https://<redacted>/api/v1/executions/60ef415ea91f4aa725e83776` so it tries pull from the api over stream. So I'm not sure where the switch happens as that particular pa

[2021-08-06 15:28] guzzijones commented on #4588
I found this undocumented feature to upload an ascii file at least.  It solves my use case.  use a @ in front of the parameter name. [](https://github.com/StackStorm/st2/blob/911e2e16d7a356df1bb3992bb9d06829db36ab05/st2client/st2client/commands/action.py#L831)

[2021-08-06 16:47] amanda11 commented on #5310
Your explanation of the difference sounds plausible. And therefore related to the order it imports packages.

CC @blag have you got any thoughts from when you looked at last looked in this area. Be interested in your thoughts.

With different python versions, then the problem looks like with udatetime is that it finds it in the ST2 python path - but that has the python3.6 C library. As in this ins

[2021-08-09 18:36] relishcolouredhat commented on #1651
I also agree this set of variables would be useful.

Specifically something that can be used to reference the pack working directory, and ideally which would work regardless of if the pack is installed into `/packs` or is being worked on via `/packs.dev`

It seems I could set this in a way that would work for one or the other by using
` /opt/stackstorm/pack/{{ ST2_ACTION_PACK_NAME }} ` or
` /opt/s

[2021-08-09 19:56] mjtice commented on #4641
Any thoughts on this?  We're getting ready to upgrade to 3.5 and I was hoping I wouldn't have to keep pulling down our custom `inject_trigger` action.

[2021-08-10 11:52] Rishabhraghwendra18 commented on #4783
Hi @armab . First timer this side . May you guide me how to solve this issue ?

[2021-08-10 16:57] amanda11 commented on #5312
@jschoewe The error being reported is correct, as it is not about the value of test_encrypt that is the problem.

Test_bool is being set as a string value of "true", and therefore ST2 complains that is not of type boolean. Hence the error you see.

If I change the action so test_bool is a string, and dont' have test_encrypt specified then I get an error:
[code]

[2021-08-10 17:28] jschoewe commented on #5312
@amanda11 ```it is not about the value of test_encrypt that is the problem```
Yes it is because when I add a correct test_encrypt value to the k/v store the action runs fine.
```Test_bool is being set as a string value of "true", and therefore ST2 complains that is not of type boolean. Hence the error you see.```
This is not right, stackstorm is smart enough to convert strings from the k/v store i

[2021-08-10 18:15] amanda11 commented on #5312
The error message in the example is about the test_bool parameter, not test_encrypt.

If I took test_bool out of the problem, then I couldn't reproduce the problem you are seeing. And got a clear error when test_encrypt was not in the store.

Could you perhaps provide an example that just has the encrypted parameter and provide the error you get?

As from my attempts to reproduce with the informat

[2021-08-10 18:23] amanda11 commented on #5312
I am wondering as well if it's a combination of the two things, test_bool and test_encrypt.

I will try and confirm that if I keep the set on the test_bool as a Boolean and put the encrypted string in for test_encrypt if it works for me.

I am wondering if the action has just a parameter that is encrypted, and nothing else from the key value store - do you get the right error?

But if have both a

[2021-08-10 18:35] jschoewe commented on #5312
Sorry, I probably could have been more descriptive but I do think it's an issue with a combination of the 2. I am getting the correct error if I don't have to convert anything and I'm also getting bad type errors trying to pass arrays and objects from the k/v store too.

[2021-08-10 18:39] amanda11 commented on #5312
I've verified it on my system, and agree it's a combination of the two that causes the error.

1. Action expects test_bool as string, and test_encrypt as encrypted.
Send in no value for test_encrypt get error:
[code]

2. Action expects test_bool as boolean, and test_encrypt as encrypted.
Send in no value for test_encrypt get error:
[code]

So I think we agree that it's the combination of both that

[2021-08-11 18:30] armab commented on #4641
@mjtice We're accepting Pull Requests, if you'd like to take a deeper look and fix this issue. That would be very welcome!

[2021-08-12 10:50] rrahman-nv opened #5326 "Unable to install multidict, yarl"
## SUMMARY

I am attempting to add code to wrap ST2 actions to authorize against Azure AD and Slack Channel Memberships. As such there are some py dependencies required for it to work, that do not install in the ST2 virtualEnv due to the below error message.

{{ ERROR: Failed building wheel for yarl
ERROR: Could not build wheels for multidict, yarl which use PEP 517 and cannot be installed directl

[2021-08-12 14:16] Moradf90 opened #5327 "Sensor raises Error when using sensor_service.list_values"
## SUMMARY

when the sensor tries to read from the datastore (st2KV) with `self.sensor_service.list_values(prefix'something')`, it raises this Error:

[code]

### STACKSTORM VERSION

v3.5.0

##### OS, environment, install method

using docker version

## Steps to reproduce the problem

1. create a new pack with sensor class :
[code]

2. install the pack
3. enable the sensor and look at the logs of

[2021-08-12 17:32] amanda11 commented on #5326
I presume yarl and multidict are in the requirements.txt file for the pack?

I tried on ST2 3.5.0 with a pack that just had the requirements.txt in it (no actions), and with yarl and multidict in the requirements.txt then the virtualenv created successfully had those modules. But I didn't do any further testing...
[code]

ST2 3.5.0 does use a newer version of pip, and this looks to be a similar pr

[2021-08-13 09:14] rrahman-nv commented on #5326
Hi @amanda11
thanks for the reply. I had updated the requirements.txt with the dependencies and hence got the error.
So we use EFS as the backend storage for the pack / virtualenv and it is not possible to update the virtualenv locally, unless you have a suggestion on how I can?

[2021-08-13 10:34] amanda11 commented on #5312
@jschoewe "Prior to 3.5, if test_encrypt does not exist in the K/V store then a None value would be used for that parameter. If that can't be done then an error message about the test_encrypt parameter would be expected".

I've just tried on 3.4.1, and I see the same problem (on a CentOS 8 machine), i.e. I'm getting the error about "test_bool" not being a boolean, when I don't set test_encrypt.

I

[2021-08-13 11:12] amanda11 commented on #5312
I've gone through the code, and it looks like it's always (or for a very long time, at least since 2019) treated it as an error to decrypt a Key/Value that doesn't exist.

However if you had set the value to ""  with --encrypt, then it would return success.

So I am proposing that the fix required is to make sure we get the correct error back, instead of the misleading one about the test_bool when

[2021-08-18 10:04] amanda11 commented on #5310
@wingiti We welcome PR contributions, if you would be interested in working on a resolution instead of the workaround.
I believe that if we add into the class I highlighted above similar code to what we had when --puthon3 was used it would resolve the issue you are seeing.
I.e. that if an alternative python exe is specified then we amend the pythonpath to add the library path for that python versi

[2021-08-18 14:18] minsis opened #5334 "st2actionrunner doesn't respect system user when doing private repo pack installs"
## SUMMARY

I have a special user on my st2 machines that has permissions for installing packs. This is also the same user listed in the st2.conf file as the system user (replacing stanley). When doing an install from a private repo the st2actionrunner is continues to run as root and therefore none of the ssh keys are setup for this.

### STACKSTORM VERSION

Paste the output of ``st2 --version``:

[2021-08-18 17:01] ericreeves commented on #4705
Was this issue truly resolved?  The current behavior is still quite vague to the end user.

If by some mechanism an object of >16M is generated and the Mongo insert fails, the execution is perpetually stuck in the "running" state, until gc_max_idle_sec is reached, at which point it is simply "canceled".

When this happens, shouldn't Stackstorm immediately mark the execution as "failed"?

[2021-08-19 14:26] armab commented on #4588
@guzzijones Could you please document your findings at https://docs.stackstorm.com/ ?

[2021-08-21 12:36] armab commented on #5266
Closing as we don't support U16 anymore.

[2021-08-21 12:36] #5266 closed

[2021-08-21 12:37] #5113 closed

[2021-08-21 13:15] armab commented on #5222
Closing. Looks like it was fixed in the https://github.com/StackStorm/st2/pull/5293

[2021-08-21 13:15] #5222 closed

[2021-08-22 13:46] armab commented on #4798
I really think we can close this now with the https://github.com/StackStorm/st2/pull/4846 performance improvements by @Kami.

@jdmeyer3 Feel free to re-open it if you're still seeing an unacceptable performance with the st2 v3.5.0.

[2021-08-22 13:46] #4798 closed

[2021-08-22 19:27] shellHell opened #5337 "SSL Error with st2 sensor connection redis"
Getting these errors while connecting to redis with SSL. A normal action runs fine, sensor seems to be having problem. I did try to use the fixes mentioned in https://github.com/eventlet/eventlet/issues/371 but none of the different combinations of library versions seem to work form my case.
[code]

[2021-08-28 09:22] blag opened #5346 "Usage of udatetime causing CI failures for Exchange packs"
## SUMMARY

The weekend CI tests for all 100+ StackStorm Exchange packs failed again this weekend:

[code]

I believe that this time it is related to [this Debian issue](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=954305) where the udatetime library calls out to a C library, which does not properly link to the `libm` library, as detailed in freach/udatetime#30 and fixed in freach/udatetime#3

[2021-08-28 14:52] Kami commented on #5346
I'm fine with switching to ``ciso8601`` or a similar alternative which is (actively) maintained and support.

In fact, as you said cisto8601, may even be better choice for multiple reasons.

1. Based on their benchmarks, it's faster
2. It supports  ISO 8601 or RFC 3339 date strings. IIRC, ``udatetime`` only supports RFC 3339 so we have a catch-all fallback in case we try to parse date string udate

[2021-08-28 19:31] S-T-A-R-L-O-R-D commented on #5137
I am working on it.

[2021-08-29 05:02] S-T-A-R-L-O-R-D commented on #5137
is this issue still open, or @wfgydbu resolved it?

[2021-09-01 08:19] nzlosh opened #5348 "API: Rework PR #5304 support for action file deletion."
## SUMMARY

PR #5304 added the ability to delete file content from disk for the action API.  By altering the underlying behaviour of the `action` endpoint, we are breaking the contract with existing St2 installations.  People using this endpoint will be confused by the new behaviour and potentially loose unsaved work in worst case scenarios.  Beyond API contracts, the code is currently broken in t

[2021-09-01 16:43] m4dcoder commented on #5348
@mahesh-orch Can you address the issues here? Please prioritize item 2 first and submit PR where there's error when deleting the files (due to permission error) and rollback the operation so the action isn't in an inconsistent state (database entry deleted but files are still on the filesystem). As for item 1, I think needs to finalize what the solution is and can address in a separate PR.

[2021-09-01 21:44] m4dcoder opened #5349 "Hash auth tokens like API keys"
Currently, auth tokens are stored in the database as is and unencrypted.  If the st2 database is compromised, all the auth tokens connected to the users can be misused. Instead of storing the actual value of the auth tokens in the database, hash the auth tokens like we do with the API keys. The st2 API can validate the auth token in the request by generate the signature and matching the hash value

[2021-09-02 13:05] anurag-bug opened #5350 "st2 execution list cmd doesn't work as expected"
## SUMMARY
[code]
doesn't work

### STACKSTORM VERSION

st2 3.5.0, on Python 3.6.9

##### OS, environment, install method

Docker on MacOs Catalina Following the quick start guide.

## Steps to reproduce the problem

Just run this command after authentication
[code]

## Expected Results

Last Execution

## Actual Results
[code]

[2021-09-02 15:29] armab commented on #5348
Thanks, @nzlosh for raising this and @m4dcoder for the reaction! :heart:

[2021-09-02 18:34] nzlosh commented on #5348
@m4dcoder I'd be OK with the `--remove-files` option to keep backward compatibilty.  @cognifloyd and @amanda11 we're discussing the use of `st2.conf` so I'll let them step in here if they wish to.

[2021-09-02 19:59] amanda11 commented on #5348
So with --remove-files are we proposing:

1) st2 delete on cli will by default only delete in db - therefore same as previous st2 version?

2) st2 delete --remove-files will delete db and database?
New option for 3.6 so no issue of backwards compatible.

3) new delete from UI will always delete from db and files? (As new to st2 3.5 no backwards compatiblity issues).

Would mean this would fail on

[2021-09-02 21:08] nzlosh commented on #5348
Points 1 & 2 are what I had in mind.
`st2 action delete <pack>.<action>` - delete database entry only
`st2 action delete --remove-files <pack>.<action>` - delete database entry and files.

Point 3: There will need to be a way for the user to communicate the expected behaviour when they click the delete button via the WebUI.  Perhaps a delete confirmation form with a check box `[] remove action fil

[2021-09-03 19:08] m4dcoder commented on #5348
3. We will change UI to prompt user if they want to delete the files as well. If no, then only database entry will be removed.
4. The additional argument (i.e. `{"remove_files": true}`) will be passed in the JSON body of the DELETE method.
5. We can return 403 Forbidden if the files cannot be deleted.

[2021-09-05 17:42] bkk-bcd opened #5352 "please support redis + tls (rediss)"
## SUMMARY

Redis with TLS not supported (rediss)

### STACKSTORM VERSION

Paste the output of ``st2 --version``:

[code]

##### OS, environment, install method

Post what OS you are running this on, along with any other relevant information/

- e.g. Docker, Vagrant, Kubernetes, etc. Describe how you installed ST2
- e.g. one-line install, custom install, etc -->
Custom/Ansible

[code]

## Steps to

[2021-09-06 08:17] nzlosh commented on #5352
From what I can tell, TLS is already support with the tooz redis backend.

There is no protocol `rediss`, which is why you're getting the above error.  To enable TLS with the tooz redis driver you can pass redis client arguments as part of URL query string.

The available client arguments are documented in [CLIENT_ARGS](https://docs.openstack.org/tooz/latest/reference/index.html#tooz.drivers.redis

[2021-09-07 19:52] guzzijones commented on #5337
You can accomplish the same use case with a rule using the cron trigger as you can with a polling sensor.  I recommend refactoring into an action - rule if possible.

[2021-09-07 20:06] #5273 closed

[2021-09-07 20:06] guzzijones commented on #5273
The user needs to run the `st2 pack config`

[2021-09-07 21:36] #5124 closed

[2021-09-10 20:44] winem commented on #2961
Just verified with st2 v3.5.0 that this is still up-to-date and the rule / action name is not part of the log output.

Example:
[code]

[2021-09-10 20:53] winem commented on #2889
This is no longer an issue with st2 & st2web 3.5.0. Defaults are shown in the UI and populated in the model. Same for #3205

[2021-09-10 20:53] #2889 closed

[2021-09-10 21:12] winem commented on #2776
Still the case for st2 v3.5.0

[2021-09-10 21:19] winem commented on #3191
This is no longer the case.

The new ha-setup is based on kubernetes and the installation of (custom) packs is described well.
https://docs.stackstorm.com/install/k8s_ha.html#custom-st2-packs
https://github.com/stackstorm/stackstorm-ha#install-custom-st2-packs-in-the-cluster

[2021-09-11 03:27] tonybaloney commented on #2066
Might close this as it's been 6 years ;-)

[2021-09-11 03:27] #2066 closed

[2021-09-11 20:12] cognifloyd commented on #3191
We just released v0.70.0 of our official [stackstorm-ha](https://github.com/stackstorm/stackstorm-ha) helm chart (to run StackStorm in Kubernetes). This version makes it possible to use `st2 pack install` with the HA setup by leveraging shared volumes (like NFS) for `/opt/stackstorm/packs` and `/opt/stackstorm/virtualenvs`.

There are a few things mentioned in this issue that have not been impleme

[2021-09-11 20:12] #3191 closed

[2021-09-11 20:24] winem commented on #3876
@Kami do you agree that this one can be closed as U16 is no longer supported and our current systemd service files use `PrivateTmp=true`?

[2021-09-11 20:28] winem commented on #3961
This is no longer an issue with st2 3.5.0

Now the logs look like this:
[code]

So the stacktrace is gone and the remaining log lines should be ok. I'll close this issue.

[2021-09-11 20:28] #3961 closed

[2021-09-11 21:56] winem commented on #4214
This issue is no longer reproducable. Tested with 3.5 on U18 and U20. Defaults and optional parameters work as expected now.

[2021-09-11 21:56] #4214 closed

[2021-09-11 22:37] winem commented on #4620
I just verified that this issue still persists on st2 3.5.0

There is a slight difference in the output depending on the position of the non-existing pack.

1. non-existing pack as the last argument:
[code]

2. if there is any existing pack after the non-existing one:
[code]

So the number of actions, rules, ... to be registered is only shown if the non-existing pack is not the last one in the lis

[2021-09-11 22:55] winem commented on #4631
I just verified that this is no longer an issue with st2 v3.5.0.

The cli output of a midified examples.python_runner_print_python_version execution with `version` being defined as secret in the output_schema:
[code]

And the corresponding UI output:
![Selection_287](https://user-images.githubusercontent.com/1457899/132963501-e65c01b5-6765-4b74-90ef-c8d6fc9e4ab3.png)

[2021-09-11 22:55] #4631 closed

[2021-09-11 22:58] winem commented on #4639
I'm just checking issues reported for Ubuntu Xenial and tried to reproduce this issue.

It's is still around with st2 v3.5.0. Tested on U18 and U20. So I won't close it.

[2021-09-11 23:01] winem commented on #4670
Reported for Ubuntu Xenial but also reproducable on more recent OS and st2 v3.5.0

[2021-09-11 23:12] winem commented on #4676
Reported for Ubuntu Xenial but still applies to later and currently supported OS.

[2021-09-11 23:18] winem commented on #4702
Reported for U14 and still applies to U18/U20 and st2 v3.5.0

[2021-09-11 23:35] winem commented on #4756
I just reproduced the issue.

To answer the question from @blag
Removing / commenting out the remote does not help to fix the issue.

[2021-09-11 23:40] winem commented on #4789
A PR to fix this issue which is still around is very welcome, @RaviTezu :)

[2021-09-12 00:00] winem commented on #4908
No longer reproducible with st2 v3.5.0

[2021-09-12 00:00] #4908 closed

[2021-09-12 00:07] winem commented on #4920
@GuiTeK 3.5.0 is released and U20 support was added with this release. Happy testing!

[2021-09-12 00:07] #4920 closed

[2021-09-12 02:52] cognifloyd commented on #3320
If you are still experiencing this with version 3.5, please file a new issue.
Thanks!

[2021-09-12 02:52] #3320 closed

[2021-09-12 03:01] cognifloyd commented on #4710
StackStorm no longer supports python 2 for anything. Please file a new issue of you are still experiencing any issues like this.
Thanks!

[2021-09-12 03:01] #4710 closed

[2021-09-12 03:05] cognifloyd commented on #4893
Are you still experiencing this issue with version 3.5? If you are, please comment and I can reopen.
Thanks!

[2021-09-12 03:05] #4893 closed

[2021-09-12 14:16] armab commented on #3876
I don't think it's relevant to U16. It's just `systemd` specific setting.

[2021-09-13 07:03] #5312 closed

[2021-09-14 05:52] wfgydbu commented on #5137
@S-T-A-R-L-O-R-D  Hello, being stuck in other things, feel free to submit a pr, thanks.

[2021-09-15 17:08] rush-skills commented on #5254
puppet-st2 as of v2.3 installs node v14 for stackstorm v3.5+, so we can consider this closed too

[2021-09-15 17:39] armab commented on #5254
Thanks @rush-skills !

[2021-09-15 17:39] #5254 closed

[2021-09-15 18:39] rush-skills commented on #4588
I am not sure it serves the original purpose, but being able to have ETL like connection + query at the start of a workflow would also add the possibility of doing initial data lookups (to get the list of action-items for the workflow) from external databases, which would then reduce the overall data handled in input/output of actions/workflows (if people decide to offload the heavy bits), thus mi

[2021-09-16 17:31] m4dcoder commented on #5348
Reopen issue because it was closed automatically when we pushed the partial fix.

[2021-09-17 17:34] m4dcoder commented on #5348
The second part of the rework is located at https://github.com/StackStorm/st2/pull/5360.

[2021-09-19 12:07] DorAbu opened #5364 "Update json schema validation"
### SUMMARY

Feature request, to support actions/triggers input/output validation with JSON schema draft v7.
Currently, StackStorm supports JSON schema draft v4, a very old version of JSON schema.

Most of the tools today support JSON schema draft v7, and specifically [Pydantic](https://pydantic-docs.helpmanual.io/).
We use Pydantic to generate our StackStorm actions/triggers input and output, and

[2021-09-24 13:36] bkk-bcd commented on #5352
@nzlosh thanks! Some drivers use `rediss` to signify TLS so I assumed that was a standard. Thanks for the clarification! /cc

[2021-09-24 13:37] #5352 closed

[2021-09-24 13:40] bkk-bcd opened #5370 "Support YAML anchors"
[code]

However when I run the workflow I get:

[code]

[2021-09-26 22:19] amanda11 commented on #5348
@nzlosh  Can this be closed now, after the second PR was merged?

[2021-09-27 07:43] nzlosh commented on #5348
Yes, all the issues have been addressed according to the points mentioned here.

[2021-09-27 15:32] #5348 closed

[2021-09-28 22:40] dylan-bitovi opened #5375 "Allow processing of additional object types by regex function in Rules"
## Summary

I had posted a discussion topic about an issue I was running into with creating a regex rule function:
https://github.com/StackStorm/st2/discussions/5363

tl;dr - You can't utilize the `regex` function in a rule to check against `list` type objects. This means there's no way to check a single list type object for two or more values as Rule criteria is a dictionary which means you can't

[2021-09-30 19:57] wisecs commented on #4532
This would be INCREDIBLY useful for workflow debugging.

[2021-10-01 23:16] winem commented on #4816
This is not just related to U16.

[2021-10-01 23:20] winem commented on #4943
This still applies and is not specific to U16.

[2021-10-02 04:08] #3356 closed

[2021-10-02 12:12] armab commented on #4816
Closing as it's not an issue.

[2021-10-02 12:12] #4816 closed

[2021-10-07 21:08] cognifloyd commented on #4998
#5038 is ready to merge with the `trigger.headers_lower` solution.

[2021-10-09 17:26] minsis commented on #5370
Poking around it looks like this is more of schema enforcement than a yaml issue.

https://github.com/StackStorm/orquesta/blob/master/orquesta/specs/native/v1/models.py#L614

I think the challenge here is that anchors can be defined as anything and per the yaml spec the definition of the anchor is not removed afterwards. Because of this it would probably make it more difficult to clean up the rend

[2021-10-09 17:41] minsis commented on #5350
The error `[Errno 111] Connection refused` is pretty self explanatory. The st2client is unable to connect to your st2web container.

* Whats the quick start guide you used?
* Is the st2web container running?
* Are you running inside the st2client container?
  * If you're running outside st2client did you set the ST2_*_URL environment variables and/or set the url params inside ~/.st2/config?

In th

[2021-10-11 14:28] ytjohn commented on #5327
Introduced in #5176

[2021-10-11 16:48] nathanherrmann opened #5386 "Chatops cannot authenticate"
### Discussed in https://github.com/StackStorm/st2/discussions/5385

<div type='discussions-op-text'>

<sup>Originally posted by **nathanherrmann** October 11, 2021</sup>
Somehow one of our StackStorm servers lost it's configuration.  The st2chatops.service couldn't start, and I found that the st2chatops.env file appeared to have been overwritten with a default file with nothing configured.  I was

[2021-10-11 17:00] nathanherrmann commented on #5386
D'oh.  Should have run as `sudo`.

[2021-10-12 16:59] mjtice opened #5387 "Coordinator errors when installing packs and using Consul backend"
## SUMMARY

Using Consul as a coordinator backend, installing packs fails with errors.

### STACKSTORM VERSION

[code]

##### OS, environment, install method

RockyLinux 8.4 installed per https://docs.stackstorm.com/install/rhel8.html
Consul v1.5.2 (I've also tried the latest 1.10.3 with the same errors).
python-consul2-0.1.5 (python-consul is no longer maintained).

## Steps to reproduce the prob

[2021-10-17 06:24] DavidMeu opened #5394 "Receiving mongodb error (appear in st2workflow logs) sending a 2MB content How it reached ~18MB?"
Receiving mongodb error (appear in st2workflow logs) sending a 2MB file How it reached ~18MB?
[code]

I assume part of this issue is because ST store also the whole context for each task.

Although I saw my object is ~13MB in mongo:
![image](https://user-images.githubusercontent.com/35102691/138091580-eb23f4d5-3c4e-408f-9f72-7ac831362566.png)

ST 3.1\3.4

[2021-10-19 14:39] DavidMeu opened #5397 "Engaging sensor ImportError: cannot import name 'TypeGuard'"
Recieving the following error while trying to engage sensor:

[code]
Saw the source of the module is: `/opt/stackstorm/st2/lib/python3.6/site-packages/typing_extensions.py`
But not sure who is responsible for installing it.

`st2 3.4.0, on Python 3.6.9`

[2021-10-20 09:10] #5397 closed

[2021-10-20 16:06] cydergoth opened #5400 "Support Dynamic Enums in the Actions UI"
Rundeck allows for an input type using a dynamically generated enum, e.g. list of kubernetes clusters. It would be nice to see an equivalent in ST2

* Ability in action specs to specify a source of enum data, e.g. a REST call or python call
* Server side API to bridge UI to information source (with RBAC) - all lookups should happen serverside
* Triggers on other input fields to regenerate enums ba

[2021-10-20 16:11] cydergoth opened #5401 "Support Vault as a backend for st2kv"
Vault is an easy sell as a verified secure KV store in high security environments. It would be nice to be able to use a Vault deployment as a backend for st2kv.

[2021-10-29 07:26] yypptest opened #5419 "Upgrade python 3.6 -> 3.8 on CentOS/RedHat 8"
## SUMMARY

I installed st2-3.5.0-1.x86_64 on RedHat 8, the python version included in st2 is 3.6.8.

[code]

But Python 3.6 is going to EOL in December 2021   https://www.python.org/dev/peps/pep-0494/#lifespan, is there plan to upgrade the dependent python to 3.7+ ?

### STACKSTORM VERSION

[code]

##### OS, environment, install method
OS: RedHat 8.4
Installed: online install

## Steps to reprodu

[2021-10-30 07:24] yypptest commented on #5419
My OS is RedHat 8.4, and below are the existing python packages on the system before st2 install, there are `python38-devel.x86_64` and `python39-devel.x86_64` available.
[code]

Then installed StackStorm, the st2 version showed `python 3.6.8` with `/opt/stackstorm/st2/lib/python3.6`
[code]

[2021-10-30 11:27] armab commented on #5419
Thanks for more info @yypptest!

`python38-devel.x86_64` is looking like a suitable package and it's available in CentOS 8 as well.

[code]

Nothing is blocking us on this. Sounds like a good upgrade candidate for the next release @StackStorm/tsc?

[2021-11-01 03:40] yypptest commented on #5419
@armab Glad to see the python is to be upgraded in 3.7.0, thanks.

Before the 3.7.0 is released, could you suggest how should I upgrade the python in my local environment?

[2021-11-01 11:33] armab commented on #5419
@yypptest You need to modify the rpm packaging process to rely on the new `python38-devel` python package as a requirement and build your own st2 packages.
The starting point is: https://github.com/StackStorm/st2-packages/blob/master/packages/st2/rpm/st2.spec#L17 .

How about opening a Pull Request there?

[2021-11-02 01:07] chris3081 commented on #5401
I agree a plugin is a good way to cover this and allow for more then just hashi vault, though I think it would be simpler to leave it to the plugin to organise its own token be that from a file like st2kv or from an instance profile/Azure MSI or any other trust system. I think this will allow for an easier implementation.

[2021-11-02 03:33] yypptest commented on #5419
@armab I'm afraid we could not wait for the st2 3.7.0, we need to upgrade the python in st2 ASAP. How should we upgrade python in an existing installed st2 env?

[2021-11-02 13:17] cydergoth opened #5423 "Request feature to set background color for ST2Web"
I should like to be able to set different background colors for ST2web for our different environments like dev, prod etc. to make it easier to see which on we're working in

[2021-11-02 21:31] erceth commented on #2656
Any update on this? I would like to do something like the following:
[code]
Sort of a geo-fence. I get the same problem described above, only the latest key is kept.

[2021-11-03 07:19] nzlosh commented on #5423
This is an https://github.com/StackStorm/st2web request.  @armab are you able to move it, I don't have the required permissions.

[2021-11-03 09:38] rush-skills commented on #5400
@armab I also like this proposal and can help in contributing it (if I get enough understandings of the internals 😅)
I think it will need adding a new type of field for actions or adding some new meta for enum fields to allow them to read the keys from a specified key in a KV store.

This also helps put a required check with values validated by this list as a source of truth, instead of checking a

[2021-11-03 13:42] cydergoth commented on #5400
Some good thoughts there. I was envisioning a new service on the API server to call a new type of user defined object, like an action but designed to pull values for the forms. That could also be extended to validate values before submit.

[2021-11-03 13:43] cydergoth commented on #5400
Grafana does a good job of this too.

[2021-11-04 13:54] F15sinden opened #5425 "情報伝達業をしています。"

[2021-11-05 12:33] amanda11 commented on #3973
Coming back to this one again...

I'm not too sure on the global idea applying to all packs. Presumably with the global the precedence would have been:

1. Enabled/disabled from the pack definitions are taken first
2. Then apply any overrides from configs/global.yaml
3. Then apply any pack specific overrides

But if I'm using community packs and my own, then if I want to disable all pack sensors a

[2021-11-05 17:32] nzlosh commented on #3973
A single `global.yaml` seems like it'd get messy to maintain as it grew.  The more packs StackStorm has installed the more encumbered editing becomes.  A more modular approach would be to mirror the `pack` directory structure in the `config` directory structure and parse both for pack values and configuration overrides.

The order of evaluation (last value set wins) would be the following:
1st. de

[2021-11-08 04:02] CaesarC commented on #3952
any news about `st2.get_inquiry` action or similar way like api ？In my case i need it badly

[2021-11-08 16:46] amanda11 commented on #3973
Interesting point above.
I think I agree on preference to have the overrides as pack files rather than global, but I prefer the structure that was originally suggested by @nmaludy

@nzlosh The  drawback I see with mirroring the whole structure makes it a bit more difficult to do wildcard overrides. e.g. I quite often want to install a pack but disable all its sensors.

If I have to mirror the stru

[2021-11-08 18:17] #5425 closed

[2021-11-08 21:09] mjtice commented on #5401
We've written a custom vault function within our deployment that makes secret retrieval from Vault a breeze.  IIRC, @xorso brought it up a while back (maybe in the Slack channel?) but because it requires upgrading Oslo it was turned down.

[2021-11-08 21:13] chris3081 commented on #5401
How easy is it to add to the jinja filters? So at the moment you have {{ st2kv.* }}  is it difficult to add jinja filters to the engine for say {{ hashivault.* }} or {{ mycustomsecretengine.* }} ?

[2021-11-08 21:17] mjtice commented on #5370
Not sure if this is helpful or not, but this very simple workflow makes use of anchors and seems to work ok.

[code]

[2021-11-08 21:27] mjtice commented on #5401
I'm not sure I understand, but here's an example of a task:

[code]
Where the first param is the secret path (in this case it's a kv2 secret), the second parameter is the st2.kv entry that holds the approle, and the last parameter is the secret mount.

[2021-11-08 21:35] cydergoth commented on #5401
This is good, but doesn't address the case of using a thirdparty pack which uses` st2kv` and transparently mapping that to vault.

[2021-11-09 08:35] amyasnikov opened #5433 "WORKER TIMEOUT in logs, st2 not working"
### Discussed in https://github.com/StackStorm/st2/discussions/5422

<div type='discussions-op-text'>

<sup>Originally posted by **amyasnikov** November  1, 2021</sup>
I'm trying to make HA st2 setup without k8s.
My setup:
- 3 "cluster" nodes with rabbitmq, redis and mongodb on board
- 2 app nodes with st2 components. 1 node is active (st2 is in running state) and 1 node in standby (st2 is in stop

[2021-11-10 07:18] nzlosh commented on #3973
I see what you mean about having global overrides being more convenient.  I had a simple shell script in mind to do bulk changes which gives an approximation to global behaviour: e.g.

[code]

Perhaps a small Python script could be developed as a helper for managing the override settings?  Or even integrated into the st2client.
[code]
This would create the config override in the right place for al

[2021-11-10 12:38] sankojus commented on #5303
Same issue for me
[root@xxxxx ~]#st2 pack install linux
ERROR: 'Execution' object has no attribute 'result'

Not able to install basic packs like linux email observing above error.

[2021-11-10 16:00] jamesdreid commented on #3973
This one is near and dear to my heart as we have been bit by the issue of sensors being enabled/disabled in different environments by a pack install.  We started working on a solution to this that used a workflow to enable/disable sensors after packs were loaded and I think it may solve all these issues in a simpler, more accessible manner than processing it in the code with the global configs wit

[2021-11-11 05:30] #5350 closed

[2021-11-11 15:08] Mierdin commented on #3952
@CaesarC https://api.stackstorm.com/api/v1/inquiries/#/inquiries_controller.get_one

[2021-11-12 17:06] cydergoth opened #5439 "Question: Application of RBAC to actions in a workflow"
Hi

We should like to have an RBAC group which prevents random users from seeing all but a small set of "top level" workflows. In the case that we hide all the actions used by those workflows from those users, does the workflow implement some sort of RBAC bypass to allow _it_ to call those actions? If so, is there a setting to control it.

Thanks!

[2021-11-12 17:11] #5439 closed

[2021-11-17 04:12] yypptest opened #5446 "Connection to rabbitmq with SSL doesn't work"
## SUMMARY

We have stackstorm v3.2.0 on openshift and the connection to rabbitmq with SSL worked normally. Now we would like to upgrade stackstorm to v3.5.0, but the connection to the rabbitmq with SSL seems not work.

##  STACKSTORM VERSION

st2: 3.5.0

##  OS, environment, install method

**OCP**: 4.8.13
**Docker image OS**: redhat 8.5
**Certificate**: self signed certificate
**Rabbitmq version

[2021-11-19 16:47] amanda11 commented on #5446
It looks like a certificate problem

You could try and connect over SSL but remove some of the verify steps, to help identify where the problem is, e.g.

1. If your rabbitMQ uses verify_none instead of verify_peer can your StackStorm instance connect?
2. If your ST2 doesn't verify the certificate from rabbitMQ can you connect (ssl_cert_reqs = None in st2.conf)

I'd also double check that the certi

[2021-11-20 20:17] armab commented on #3973
I get the idea is to manage the state of pack content in the workflow level behind the pack install.
That's an interesting workaround for a single isolated use (though `st2-register-content` may override content from the previous st2 pack install workflow), but it's not sufficient as a serious core st2 implementation where Infrastructure as a Code is the key design approach behind the StackStorm a

[2021-11-22 12:51] csecsi opened #5451 "filter function on the history page does not work"
## SUMMARY

the filter function on the history page does not do anything

### STACKSTORM VERSION

st2 3.6.0, on Python 3.6.8

##### OS, environment, install method

Centos 8 / ansible-st2

## Steps to reproduce the problem

just try to filter the history

## Expected Results

filtering the history

## Actual Results

not filtering the history

Thanks!

[2021-11-23 09:37] amanda11 commented on #3973
@armab What's your opinion on @nzlosh proposal of mimicing the structure as a override.

This has the benefit of making it easier to update config as well as enabled/disabled, but has the disadvantage of harder to do global overrides.

I'm quite tempted by @nzlosh's proposal @ https://github.com/StackStorm/st2/issues/3973#issuecomment-962084656

[2021-11-23 10:34] yypptest commented on #5446
@amanda11, thanks your suggestions.

I re-generated the certificate files, but the stackstorm still can not connect to rabbitmq.

I tried to connect to Rabbitmq using openSSL client with the command below, and it can connect normally with verify return code 0
`openssl s_client -connect 172.30.93.200:5671 -cert cert.pem -key key.pem -CAfile cacert.pem  -tls1_2 -cipher ALL`

Then I tried to set the

[2021-11-23 11:30] amanda11 commented on #5446
Is RabbitMQ configured to trust the signing authority of the certificate that StackSotmr is sending?

[2021-11-23 11:39] yypptest commented on #5446
The rabbbitmq is configured as below, what's the configuration you mean to trust the signing authority of the certificate that StackStorm?
[code]

[2021-11-23 12:43] amanda11 commented on #5446
So StackStorm will send a client certificate which will be signed by a certificate authority. That certificate authority needs to be trusted by RabbitMQ. The ssl_options.cacertfile is the trusted CA bundle path - so needs to include the certificate authority that signed the certificate that StackStorm sent.
See: https://www.rabbitmq.com/ssl.html#peer-verification-how-it-works

[2021-11-24 01:29] yypptest commented on #5446
The provided cacertfile `/etc/cert/cacert.pem` is the file with certificate authority, and has been configured and provided to RabbitMQ for authentication.

[2021-11-24 14:13] DavidMeu opened #5453 "openapi.yaml not standing in specifications."
The openapi.yaml not standing in https://github.com/OAI/OpenAPI-Specification/blob/main/schemas/v2.0/schema.json specifications.

`[{\"code\":\"ValidationError\",\"target\":\"representation\",\"message\":\"Parsing error(s): JSON is valid against no schemas from 'oneOf'. Path 'paths['/{connectionId}/api/v1/executions/{id}/result'].get.responses.200', line 806, position 18.\"},{\"code\":\"Validation

[2021-11-24 15:34] DavidMeu commented on #4488
@TunaYagci
Can ypu please post your fixed version?

[2021-11-24 17:28] jacksona2-git opened #5456 "stuck job that I can't kill"
I have a dangling jobs that is stuck and I can't kill.

st2 execution cancel 619c2f7a2706d3133e2b6a0f
ERROR: 500 Server Error: Internal Server Error
MESSAGE: Execution object missing link to liveaction 619c2f7a2706d3133e2b6a0e. for url: http://127.0.0.1:9101/v1/executions/619c2f7a2706d3133e2b6a0f

It shows it still running but also has and end timestamp

| id                       | action.ref

[2021-11-24 19:08] armab commented on #5453
Thanks for the report.
Sounds like a bug indeed.

If you see any low-hanging fruits to fix the validation here and there, - contributions would be very welcome!

[2021-11-24 19:50] wingiti opened #5455 "Github actions broken after yesterdays commit"
## SUMMARY
Github actions for st2 are broken because the wrong quotation marks are used in a commit which was done yesterday:
https://github.com/StackStorm/st2/commit/722f5079e42ed0228e4f50aa3c542a7abdc7bd71

Black fails because of single quotes. Maybe some automation to update the st2 version needs to be fixed to use double quotes.

Last time it was also done "manually" (I guess it was after blac

[2021-11-24 20:08] armab commented on #5455
Good find! :+1:  @wingiti Could you please submit a quick PR to fix this?

Extra bonus points for fixing it here as well to prevent from happening in the future: https://github.com/StackStorm/st2cd/search?q=__version__

[2021-11-24 20:13] #5456 closed

[2021-11-25 07:11] DavidMeu commented on #5453
@armab
I also saw this relevant issue:
[#4488](https://github.com/StackStorm/st2/issues/4488)

I'm not sure from where to start.
For example I got:
[code]
For:
[code]
But I'm not sure what type is required for `items` (In other words what the type the tasks array should contain):
[code]

[2021-11-25 22:04] wingiti commented on #5455
PR provided.

I think the issue in st2cd was already detected and fixed in: https://github.com/StackStorm/st2cd/tree/Fix-st2_prep_dev-action-to-use-double-quotes

But looks like it was not merged to master and is therefore not used.
Nevertheless there are more files in st2cd which are related to this version strings.

[2021-11-25 22:10] armab commented on #3973
@amanda11 I think there's too much nesting and messing with the dirs/files if we go that way with mimicking the full pack structure.
It looks too verbose to me, and may also have some leftover and untracked configs in the case when pack content is changed/removed/renamed/moved.

Another point, this duplication might lead to confusion which dir to edit really for content overrides:

[code]

---

An

[2021-11-25 22:15] #5455 closed

[2021-11-25 22:17] armab commented on #5455
Indeed, we overlooked the https://github.com/StackStorm/st2cd/pull/464. Merged it now.

Thanks for the pointers @wingiti and PR!

[2021-11-26 16:38] kingsleyadam opened #5460 "Include PySocks package in st2client module."
## SUMMARY

By default, the st2client cli doesn't support SOCKS proxy connection using `HTTP_PROXY`, `HTTPS_PROXY` because it lacks the `pysocks` pypi package.

### STACKSTORM VERSION

[code]

### OS, environment, install method

Client: MacOS Big Sur, Python 3.8
Stackstorm: Ubuntu 18.04, Python 3.6

## Steps to reproduce the problem

Attempt to use the st2 cli with `HTTP_PROXY`, `HTTPS_PROXY` set

[2021-11-26 19:21] armab commented on #5460
Makes sense!

How about composing a PR to support this?

[2021-11-26 19:56] kingsleyadam commented on #5460
Yep, I can do that.

[2021-11-29 16:37] guzzijones opened #5466 "if action log_level == DEBUG and config python_runner_log_level is INFO cannot debug log"
https://github.com/StackStorm/st2/blob/007beed8325b397d540d97905af8f2edb14b925f/contrib/runners/python_runner/python_runner/python_runner.py#L128

Cannot log DEBUG from python action if the config setting for `python_runner_log_level` under actions in st2.log is set to something other than DEBUG.

The reason is the above line checks if the log_level = DEBUG and if so it just uses the config settin

[2021-11-29 16:50] guzzijones commented on #5466
A possible solution is to just remove the default setting in this yaml file so that `log_level=None` on initialization.  It should then default to using what is in the config (due to it being set in the constructor) and skip this line altogether.

[2021-11-30 20:08] ytjohn commented on #4880
I too would like to change this behavior. I understand the ttl will not decrement, but if my code is already setting a ttl, raising this makes it impossible to truly test.  It should work just like encryption. You can pass in encrypt or decrypt arguments and even though there's no encryption, it doesn't raise that as an issue.

I've modified my local installed copy as such:

[code]

And this is th

[2021-12-01 05:05] yypptest commented on #5446
@amanda11, could you pls have a look at above comment? what's the tls protocal available from StackStorm side? Any thoughts for the error message from you?

[2021-12-01 08:47] kingsleyadam commented on #5460
PR opened: https://github.com/StackStorm/st2/pull/5469

[2021-12-02 03:34] minsis opened #5470 "Action policy "action.concurrency.attr" doesn't respect default values"
## SUMMARY

Action policy for attr doesn't respect when it has default values for the attribute.

### STACKSTORM VERSION

Paste the output of ``st2 --version``: st2 3.6.0, on Python 3.6.8

##### OS, environment, install method

OL7 all-in-one st2 server installed on bare VM

## Steps to reproduce the problem

Created a simple local action with a default value of `sleep 60` for the cmd

[code]

Cre

[2021-12-02 03:43] minsis opened #5471 "st2ctl reload --register-policies doesn't remove stale policies"
## SUMMARY

When registering polices with `st2ctl reload --register-policies`  while you have removed the actual policy file are still registered.

### STACKSTORM VERSION

Paste the output of ``st2 --version``: st2 3.6.0, on Python 3.6.8

##### OS, environment, install method

OL7 all-in-one st2 server installed on bare VM

## Steps to reproduce the problem

Created an attr policy to cancel with a

[2021-12-02 09:59] nzlosh commented on #5401
`+1` with @cognifloyd.  Vault or any external secret provider would require a new API.

[2021-12-02 10:02] nzlosh commented on #5471
This behaviour is intentional, if the policy is created by hand it needs to be deleted by hand.

`st2 policy delete ...`

[2021-12-02 15:08] armab commented on #5471
Right. Closing in favor of existing aggregated issue: https://github.com/StackStorm/st2/issues/3313

[2021-12-02 15:08] #5471 closed

[2021-12-02 15:24] minsis commented on #5471
What do you mean if a policy is created by hand?

In my mind creating a policy by hand is `st2 policy create ...` not when done via yaml files. The yaml files are supposed to be the source of truth for managing a pack as they will always overwrite any changes made with the CLI tool or the UI.

Anyways, I guess it doesn't matter as I didn't see #3313 when searching for this issue.

Thanks.

[2021-12-02 15:48] nzlosh commented on #5471
For people that find this issue through searches:

"creating by hand" is any process used to modify pack content that is not `st2 pack install ...` / `st2 pack remove ...`

[2021-12-02 19:43] minsis commented on #5471
So why are polices required to be shipped with packs if its still considered by hand? Shouldn't the pack install also include the policies?

[2021-12-02 22:10] guzzijones commented on #4939
bump

[2021-12-03 20:05] minsis opened #5479 "remove kwarg_op from remote-shell-cmd runner?"
## SUMMARY

Documentation shows that remote-shell-cmd accepts the `kwarg_op` parameter leading one to believe that its supposed to work like remote-shell-script runners. After some time of fighting this I finally dug into source and noticed that remote-shell-cmd doesn't even attempt to build an args list like the shell runner does.

I dont know if this is a bug or if it was never intended to build

[2021-12-06 18:07] amanda11 commented on #5446
I don't think we specify the tls version, so I think it is dependant on your O/S. I had a good look around and I think its just up to the python version on your distribution. I believe with RH8  then that's tls v1.2 and v1.3. (I think the exception trace is not related to the version - the name of the exception class doesn't change between tls versions).

I would suspect though that if you managed

[2021-12-07 02:17] yypptest opened #5483 "Executions can not be proceeded with errors in st2actionrunner and st2scheduler"
## SUMMARY

We picked up stackstorm v3.6.0 and deployed on kubernetes, the pods can started normally but execution always stuck at requested status. The st2scheduler pod showed below log messages, and st2actionrunner also showed similar error exceptions.

[code]
### STACKSTORM VERSION

st2: **3.6.0**

##### OS, environment, install method

Deployed helm chart to **OCP 4.8**
Coordinator: etcd

## S

[2021-12-07 02:17] yypptest commented on #5483
The exception seems from the new codes in v3.6.0 from the file `/opt/stackstorm/st2/lib/python3.6/site-packages/st2common/services/executions.py`, when calling `with coordination.get_coordinator().get_lock(liveaction_db.id)`:

[2021-12-07 03:49] cognifloyd commented on #5483
I'm not in a position to test this, but I'll take a glance at the code.
Here's the line you identified:
https://github.com/StackStorm/st2/blob/20045dc009f9168373e73e08d3e242985c5c45ed/st2common/st2common/services/executions.py#L199
Which was modified in:
 - https://github.com/StackStorm/st2/pull/5358

What version of mongo are you using?

[2021-12-07 05:11] yypptest commented on #5483
db version is v4.0.27, thanks

[2021-12-07 08:22] cyberkov commented on #5400
I am not entirely sure whether it's worth its own issue or belongs to this one, but it would alse be great to load enums with data from the configuration. For instance the "sql" or the "foreman" pack do hold configuration for connections in a hash, whose keys would be perfect to be used in the given actions enums.
I imagine it to be something like:
[code]
[code]

[2021-12-07 10:28] lnguyendl commented on #4864
I believe we encounter this issue on
st2 3.5.0, on Python 3.6.8, on centos 7,

When running a core.ask action using the with items method.
Happens both in a subworkflow, where the parent workflow stays paused indefinitely or as a standalone workflow, where the workflow gets stuck resuming.

sometimes the workflow continues without issues but at least half the times it gets stuck in a paused state.

[2021-12-07 18:51] #5483 closed

[2021-12-08 15:30] Handziuk opened #5486 "st2client always returns 403"
## SUMMARY

st2client always returns 403 while trying to read from Datastore.

### STACKSTORM VERSION

st2 3.6.0, on Python 3.6.9

### OS, environment, install method

https://github.com/StackStorm/st2-docker
Up and running behind enterprise proxy.

## Steps to reproduce the problem

Inside any Python action.
[code]

## Expected Results

Value from Datastore, if it exists

## Actual Results

403 C

[2021-12-08 20:41] minsis opened #5488 "ctx in workflow seems to assign null after task execution"
## SUMMARY

I have a simple workflow with a core.remote action to execute a shell script. The workflow input has a few variables and those are all accessible in the task itself, however, after the task is executed all these input variables are set to null values. It makes it difficult to get the hostname output from the results of the task. Even the vars are assigned null values if they're not bei

[2021-12-08 20:54] nzlosh commented on #5488
Can you show how this `<my pack>.<my action>` is being called?

[2021-12-08 21:36] minsis commented on #5488
Its listed below, but after looking at it I think I realize what's happening.

The parent action executing the workflow doesn't have defaults set for those inputs so they're being set as null by default in the context. My assumption here was that `<my pack>.<my action>` defaults were being set in the context which isn't the case and makes sense that it isn't.

Is it Friday yet?

[code]

[2021-12-08 21:49] armab commented on #5483
@yypptest Could you please also try with `Redis` as a coordination backend if the same error persists?

[2021-12-09 13:10] xxtaoqi opened #5495 "webUI Can't open"
**Vm Configuration：Centos7**

[code]

**Why does the MAC browser fail to open the WEB address by typing the VM hostname？**
![image](https://user-images.githubusercontent.com/49810599/145402168-30cf5c2b-a57c-4029-b2fc-563befdf4025.png)

[2021-12-09 14:00] armab opened #5496 "CI should run st2-self-check for every PR"
Apart from Unit and Integration tests, we should also run the `st2-self-check` script for every PR as part of the CI pipeline.
Something we do in e2e and manual testing.

It should be possible with the Github Actions and would help us to catch bugs before merging into `master`.
Ex #5489.

[2021-12-09 17:32] #5488 closed

[2021-12-09 17:40] minsis commented on #5495
Seems like maybe nginx isn't configured correctly? Did you try to use the sample nginx config file as a base?

https://github.com/StackStorm/st2/blob/master/conf/nginx/st2.conf

[2021-12-09 22:11] minsis opened #5497 "no_proxy is not respected during index searches"
## SUMMARY

This isn't exactly a bug (kinda?) but maybe a solution to consider in how implement this.

Basically no_proxy is ignored during pack index searches.
https://github.com/StackStorm/st2/blob/15dcd3b3642e3a6af0dc82f2b746d98fa46467fa/st2common/st2common/services/packs.py#L74-L84

This makes obvious sense because if you're behind a proxy you want to be able to search the st2 Exchange Index.

[2021-12-10 02:56] xxtaoqi commented on #5495
@minsis I configured Nginx according to the official StackStorm documentation, it is already configured.
[install-webui](https://docs.stackstorm.com/install/rhel7.html#install-webui-and-setup-ssl-termination)
[code]

[2021-12-10 03:43] minsis commented on #5495
@xxtaoqi You probably need to look in default.conf because what you're seeing is the default nginx web page.

[2021-12-10 04:25] xxtaoqi commented on #5495
@minsis Thank you so much for helping me track this problem.  I don't see anything wrong with it.
[code]

[2021-12-10 06:29] xxtaoqi opened #5499 "what is ‘$ssl_protocol’?I"
**background**
Vm Configuration：Centos7，IP：10.224.56.238
I had stackstrom installed in centos7 and wanted to use the WEB UI.
Why does the MAC browser fail to open the ‘https://10.224.56.238’ by typing the VM hostname？
### issue
**In Vm:**
[code]
### Guess and doubt
There is a code in https://github.com/stackstorm/st2/blob/master/conf/nginx/st2.conf, what is ‘$ssl_protocol’?Is it because of this?
[

[2021-12-10 09:36] amanda11 commented on #5499
The curl localhost, will just do a curl to http://localhost. Then the code you mentioned states that if you don't have ssl_protocol, i.e. you are accessing via http not https, then redirect to the https URL. That's why when you do a curl localhost,  you get back a response telling you to redirect and use the https URL.

This is nothing to do with why https:// doesn't work from your MAC browser. Fo

[2021-12-10 13:04] amanda11 commented on #3973
I'll see if I can start working on this in the background, going to start at the pack level first, also thinking perhaps would be more clear to put the overrides into a configs/overrides sub-directory so its clear the point of them.

[2021-12-11 00:28] minsis commented on #5495
As suspected your nginx config is incorrect. I suggest you read up on how to configure nginx.

[2021-12-11 01:02] blackstrip commented on #5495
Try to rename the `default.conf` to `default.conf.orig` then restart Nginx.

[2021-12-13 09:09] DorAbu commented on #4865
We found a solution.

We resolved the problem by checking the parent workflow of the inquiry, waiting until it will reach a stable state, and then we initiate the inquiry.

We are getting the parent ID of the inquiry with the inquiry ID and https://api.stackstorm.com/api/v1/executions/#/action_executions_controller.get_one API call, taking the “parent” attribute.
Then we are checking if the parent

[2021-12-13 18:22] minsis commented on #5497
#5500

[2021-12-14 07:20] xxtaoqi commented on #5495
@minsis @blackstrip
I changed a virtual machine to reinstall, use[One-line Install](https://docs.stackstorm.com/install/index.html).After the installation is complete, the webUI still cannot be opened. One-line install is not a problem with the nginx configuration.
Install command：`curl -sSL https://stackstorm.com/packages/install.sh | bash -s -- --user=st2admin --password=Ch@ngeMe`

![image](http

[2021-12-14 07:40] xxtaoqi commented on #5499
@amanda11  Thank you for your answer, I viewed the log information.
Find browser access once, `st2webui.access.log` generates some logs, just as browser opens WebUI, display err_too_many_redirects.I still can't figure out why.

[code]

[2021-12-14 21:28] winem commented on #5496
I am currently working on it. Should be ready for christmas. :)

[2021-12-15 09:29] bestwishCT commented on #5495
firewall-cmd --zone=public --add-service=http --add-service=https
firewall-cmd --zone=public --permanent --add-service=http --add-service=https
laotie  try this command

[2021-12-15 09:37] bestwishCT commented on #5499
laotie  try  curl -k https://localhost

[2021-12-15 10:59] xxtaoqi commented on #4355
@LindsayHill @nmaludy
I have the same problem and want to ask, what is the way to share python code now？

[2021-12-15 15:45] xxtaoqi commented on #5499
The problem has been solved.
modified `nginx/st2.conf `file （https://github.com/stackstorm/st2/blob/master/conf/nginx/st2.conf），amend as below:
1. Comments by 15 ~ 17
2. copy 59 ~ 166 lines to 24 lines

[2021-12-15 15:47] xxtaoqi commented on #5495
https://github.com/StackStorm/st2/issues/5499#issuecomment-994915859

[2021-12-15 15:48] xxtaoqi commented on #5495
@bestwishCT Thank you, I have tried it, I have not resolved.Finally solved as follows:
https://github.com/StackStorm/st2/issues/5499#issuecomment-994915859

[2021-12-15 15:49] #5495 closed

[2021-12-15 15:49] #5499 closed

[2021-12-15 16:41] xxtaoqi opened #5502 "shared code between actions and sensorser answer in the docs I found this https://docs.stackstorm.com/reference/sharing_code_sensors_actions.html. So I guess I have my answer!"
Well searching for another answer in the docs I found this https://docs.stackstorm.com/reference/sharing_code_sensors_actions.html. So I guess I have my answer!

_Originally posted by @minsis in https://github.com/StackStorm/st2/discussions/5461#discussioncomment-1709636_

[2021-12-15 16:42] xxtaoqi commented on #5502
https://github.com/StackStorm/st2/discussions/5461#discussioncomment-1813983

[2021-12-15 20:38] jamesdreid commented on #5446
The error message seems to imply that the client is trying to connect using SSLv3 and the RabbitMQ server no longer supports SSLv3 as it is now considered "Insecure" and it use has been discouraged since the POODLE attacks compromised it.  You could try forcing the SSL Version to TLS 1.2 by adding the following to the config along with the other config options set above:
`ssl_version=ssl.PROTOCOL_

[2021-12-16 02:34] #5502 closed

[2021-12-16 07:37] DavidMeu opened #5504 "Can't see my pack actions logs in any pod"
I was trying to look if I can find my custom action logs in one of K8s pods.
But couldn't find them.
My logs looks as in the docs:
https://docs.stackstorm.com/actions.html#logging

Assuming they should have been in: `st2actionrunner` pod

I use the logger that in:
https://github.com/StackStorm/st2/blob/master/st2common/st2common/runners/base_action.py#L54
Although I see that actionrunner logger lo

[2021-12-16 09:20] neoascetic opened #5505 "Workflow inspect does not check input parameters agains action's schema"
## SUMMARY

The docs for [action](https://docs.stackstorm.com/actions.html#action-metadata) say about action parameters: "If metadata is provided, input args are validated on action execution. Otherwise, validation is skipped."

This all works well. At the same time, when a workflow is inspected, [it validates just the existence of parameters, but not their type](https://github.com/StackStorm/st2/

[2021-12-16 10:11] bestwishCT commented on #5499
good

[2021-12-16 10:13] bestwishCT commented on #5495
good good

[2021-12-16 16:42] minsis commented on #5486
Maybe the user that the API key is for doesn't have permissions to access `anykey`?

[2021-12-17 16:44] #5505 closed

[2021-12-20 11:12] userlocalhost opened #5511 "(Feature request) Enable to set "ServerAliveInterval" configuration for ParamikoSSHClient"
I hope ParamikoSSHClient would be expanded to be able to set following configurations from the SSH client's configuration file, which is specified at `ssh_runner.ssh_config_file_path` in the st2.conf.

1. ServerAliveInterval
2. ServerAliveCountMax (But, unfortunately, Paramiko hasn't implemented feature that is equivalent with this option yet, according to [this issue](https://github.com/paramiko/

[2021-12-20 18:16] sravs-dev opened #5512 "st2 POST API with content type= "application/x-www-form-urlencoded" not working"
## SUMMARY

Provide a quick summary of your bug report.

### STACKSTORM VERSION
3.5

##### OS, environment, install method

Post what OS you are running this on, along with any other relevant information/

Running on Mac OS, installed using Docker. Issue is related to the rest api handling, nothing to do with host environment.

## Steps to reproduce the problem

Make a post api to /sso/callback wi

[2021-12-27 14:00] yardengumai opened #5518 "Failed to connect stackstorm to MongoDB atlas"
Receiving that err for mongo atlas connection:
2021-12-27 12:39:16,014 INFO [-] Patching sys.stdout and re-opening it with utf-8 encoding (originally opened with UTF-8 encoding)...
2021-12-27 12:39:16,016 INFO [-] Using Python: 3.6.9 (/opt/stackstorm/st2/bin/python)
2021-12-27 12:39:16,016 INFO [-] Using fs encoding: utf-8, default encoding: utf-8, locale: en_US.UTF-8, LANG env variable: en_US.UTF

[2021-12-28 20:52] xxtaoqi opened #5523 "webUI ，Unable to reach auth service. [auth:true] #5522"
I did the following：
1. Modify the vagrantFile file
[code]
2. vi /opt/stackstorm/static/webui/config.js
[code]

Problem:
`https://127.0.0.1:8443/#/history `
Unable to reach auth service. [auth:true]
![image](https://user-images.githubusercontent.com/49810599/147529656-f3733453-431a-4501-87e5-964ea8601848.png)

[2022-01-02 22:28] winem commented on #5496
Still working on it but I have more challenges than expected with the tests in the GHA. So stay tuned. :)

[2022-01-04 21:31] armab commented on #5419
FYI we're building RHEL8-compatible packages in a [CentOS8 environment](https://github.com/StackStorm/st2packaging-dockerfiles/blob/master/packagingbuild/centos8/Dockerfile).
Based on @StackStorm/tsc maintainers meeting today https://github.com/StackStorm/community/issues/96#issuecomment-1005180964 and https://github.com/StackStorm/community/issues/88 plan as CentOS8 has reached its EOL in Decembe

[2022-01-04 22:21] stevemuskiewicz commented on #5419
@armab I can definitely help with testing and feedback on this one

[2022-01-05 10:18] sravs-dev opened #5525 "ST2 garbage collector is not cleaning up records in task_execution_d_b"
## SUMMARY

Garbage collector is not cleaning up records in task_execution_d_b

### STACKSTORM VERSION

st2 3.5.0, on Python 3.6.8

##### OS, environment, install method

Issue is related to DB

## Steps to reproduce the problem

Show how to reproduce the problem, using a minimal test-case. Make sure to include any content
(pack content - workflows, actions, etc.) which are needed to reproduce the

[2022-01-05 13:11] DavidMeu opened #5527 "[Feature] API endpoints for ST sync execution"
Saw that issue:
https://forum.stackstorm.com/t/is-it-possible-to-execute-an-action-synchronously-with-the-api/99

So thought a good Async to sync ST execution can be in the following for.

Asynchronous Pattern:

So Once we are creating an execution (Should return `202 status code` with the `location `URL):
`curl -X POST -H  'Connection: keep-alive' -H  'Accept-Encoding: gzip, deflate' -H  'Accept:

[2022-01-05 16:35] armab commented on #5527
Creating a new execution via `POST` https://api.stackstorm.com/api/v1/executions/#/action_executions_controller.post will return the execution ID for later polling so you can construct an URL, as you want. We don't want to hint or redirect to a new `Location` via HTTP header as a response to REST request.

For the `GET` https://api.stackstorm.com/api/v1/executions/#/action_executions_controller.ge

[2022-01-05 16:47] armab commented on #5525
Thanks for the report.

So the `task_execution_d_b` is left unclened. But do you see the other history records are cleaned? eg. if the garbage collector works at all.
Could you also attach the logs from the garbage collection service?

[2022-01-05 20:17] #4880 closed

[2022-01-06 00:36] armab commented on #4939
@guzzijones do you plan to work on this?

[2022-01-06 00:37] armab commented on #5525
Found that the issue was raised in the past: https://github.com/StackStorm/st2/issues/4939.
And there was a PR which wasn't finished yet: https://github.com/StackStorm/st2/pull/4924

@sravs-dev If you'd like to continue the effort of finishing the feature in a fresh new PR, - that would be awesome! Looks like the majority of the implementation is there #4924.

[2022-01-06 00:42] armab commented on #5419
@stevemuskiewicz Thanks! The main discussion is happening in the https://github.com/StackStorm/community/issues/88

[2022-01-06 07:43] DavidMeu commented on #5527
@armab
Agreed.
Very good prespective thanks!
BTW I think you meant this endpoint :
`GET` https://api.stackstorm.com/api/v1/executions/#/action_executions_controller.get_one
Instead of:

[2022-01-06 09:30] amanda11 commented on #5419
@armab - are we covering the python 3.6->3.8 upgrade in the CentOS8 -> Rocky etc discussion? I think the upgrade to python3.8 was going to be handled separately?

[2022-01-06 13:24] armab commented on #5419
¯\_(ツ)_/¯ Indeed, different topics, but tightly coupled.

@amanda11 I guess, it makes little sense to release Rocky st2.rpm with the python3.6 as a dependency which came EOL at the same time as CentOS8 (Dec 2021).
Otherwise, we could just use the old EOL'ed CentOS8 for generating the `.rpm` packages.

[2022-01-06 13:55] armab commented on #5527
This would duplicate the existing API operations and provide confusion as a result.

First, you need to create an execution:
* `POST http://127.0.0.1:9101/v1/executionProcessing` -> request the execution. Will return the execution ID.
But it's the same as https://api.stackstorm.com/api/v1/executions/#/action_executions_controller.post

Having the execution ID, you have to poll its status:
* `GET h

[2022-01-06 14:20] amanda11 commented on #5419
@armab May still be worth first testing Rocky with python 3.6, as if we have issues we wont know if it was move to python 3.8 on EL8 in general, or to do with moving towards Rocky.
I agree both need to be in 3.7.0 release, but the python 3.8 move will require a lot more changes than moving to Rocky from CentOS8...

[2022-01-09 04:40] satellite-no opened #5530 "Add CertificateFile option to core.remote and other ssh configs"
It would be nice to be able to authenticate using SSH CA functionality with the ssh config `CertificateFile` setting along with the `privatekey` setting provided natively per action.

[2022-01-09 16:05] satellite-no opened #5531 "SSH Config being ignored"
## SUMMARY

using the core.remote module the /home/stanley/.ssh/config is being ignored.  Not sure if I missed something.

### STACKSTORM VERSION

[code]

##### OS, environment, install method

New install, a beginner using shell script to get it up and running.

## Steps to reproduce the problem

Configured `/etc/st2/st2.conf` with the below per "ssh troubleshooting" guide.

[code]

## Expected R

[2022-01-10 14:44] xiaofan-linux opened #5533 "helm installs stackstorm-ha, mongo prompts the following error"
#### System version and kubernetes version
[code]
#### helm installs stackstorm-ha, mongo prompts the following error
[code]

[2022-01-10 15:07] arms11 commented on #5533
Just curious did you check if `mongodb` with its volume(s) already active/provisioned and ready to accept connections? Also, was this one off or it prevents successful completion of StackStorm deployment process every time?

[2022-01-10 23:09] armab commented on #5531
Try to use the full path for `ssh_config_file_path` instead of `~`
[code]

[2022-01-11 01:19] satellite-no commented on #5531
That partially worked.. It appears to work except for the hostname.  Meaning it works as long as I have `salt` in the hosts file otherwise it still says "no address found".

[code]

[2022-01-11 05:23] xiaofan-linux commented on #5533
#### mongo logs and pod status
[code]

[code]
[code]

[2022-01-11 16:53] arms11 commented on #5533
I do not have access to `1.19` kubernetes to be able to verify this. But could you please verify the `service` has the headless service created and configured correctly. Since this looks to be a connectivity issue, I wonder if that is not configured correctly.
1. Ensure the headless service is exists/enabled
2. Ensure 3 endpoints are showing IP and Ports

`kubectl get services`

[code]

`kubectl d

[2022-01-12 00:18] armab commented on #5460
Closed via https://github.com/StackStorm/st2/pull/5469

[2022-01-12 00:18] #5460 closed

[2022-01-12 13:19] xiaofan-linux commented on #5533
[code]

[2022-01-14 13:39] amanda11 opened #5540 "Chatops hubot slack adapter can't connect."
### Discussed in https://github.com/StackStorm/st2/discussions/5501

<div type='discussions-op-text'>

<sup>Originally posted by **gableb** December 13, 2021</sup>
st2 version: st2 3.6.0, on Python 3.8.10

OS version: Ubuntu 20.04

Python version: Python 3.8.10

Journalctl output upon startup:
https://gist.github.com/gableb/da31c3d97d2b9795ae21259676759a42

When starting the st2chatops service, th

[2022-01-20 01:46] zhouyuansheng0618 opened #5545 "Source code installation startup error"
I deployed it using native source code after local modifications
Whether edits cannot be deployed locally

The error message is
[root@i********** tools]# source launchdev.sh  start
Current user:group = root:root
Using virtualenv:
Using python: /bin/python (Python 2.7.5)
Using st2 config file:
Config file  does not exist.

[2022-01-20 09:36] jiangxianfu opened #5547 "orquesta with-items-model for dict is error"
## SUMMARY

orquesta with-items-model for dict is error

i compare two version ,data class type is different

stackstorm 3.5
yaql: $.items() type is:
<class 'generator'> <generator object ItemsView.__iter__ at 0x7f5146a85d58>

stackstorm 3.6
yaql: $.items() type is:
class collections.abc.ItemsView

### STACKSTORM VERSION

stacstorm 3.6 is error
stackstorm 3.5 is ok

##### OS, environment, install

[2022-01-20 09:41] jiangxianfu commented on #5547
but when i  change source at stackstorm 3.6  yaql/language/utils.py :
engine.options.get('yaql.convertSetsToLists', False)===>engine.options.get('yaql.convertSetsToLists', True)
then is work ok.
why?

[2022-01-24 18:15] #2656 closed

[2022-01-28 15:41] #4998 closed

[2022-02-01 21:32] MarlonHeiber opened #5563 "st2 trace list does not have the correct execution ID."
## SUMMARY

st2 trace list does not have the correct execution ID.  When an execution is made using the trace-tag, in the list of traces "st2 trace list" the execution ID is wrong in the last character, you can see that Stackstorm is adding the last character +1.

Example:
If the id of the execution is 61f98e7f0bd5ceba623a05c**6**, in the command "st2 trace list" the id of this execution is  61f98

[2022-02-08 00:50] Sanootch opened #5567 "Powershell 7 support"
WIth Powershell 7 being multiplatform, can support be added? We are primarily Windows so being able to run scripts (hit an API being one big one) would negate the need to take the time to switch everything to python.

[2022-02-10 09:05] #5545 closed

[2022-02-11 03:40] zhouys618 opened #5576 "ldap"
Error running when I use LDAP authentication
St2auth is not running

[2022-02-11 06:08] #5576 closed

[2022-02-18 20:08] minsis commented on #5563
The ID listed isn't the ID of the execution its the ID of the trace.

[code]

[2022-02-20 22:41] chris3081 commented on #5401
I was looking at this over the weekend, would anyone object if we left st2kv as it was? Then created a new class called st2secret and then an abstract class you can write backends to? Doing this would mean st2kv users wouldn't have a breaking change, the community could then make a decision to move st2kv into the new framework if there is a desire.

[2022-02-20 22:43] cydergoth commented on #5401
Is there any reason we can't make st2kv a shim to different backends?

How do we ensure that third-party packs using st2kv get appropriately
redirected to vault to get their secrets?

On Sun, Feb 20, 2022, 4:41 PM chris3081 ***@***.***> wrote:

[2022-02-22 00:45] chris3081 commented on #5401
The main concern I have is looking at the references to the st2kv code there seems to be a lot of dependencies on it. The st2 Key Vault also has a wider scope of use cases it can host unencrypted keys as well. Whilst I'm not opposed personally and in the past have suggested exactly what you have I do think there is some difference between the 2.

For example st2kv uses mongo to hold the keys and p

[2022-02-27 20:01] sandesvitor commented on #5518
I'm currently having a similar issue in my release when trying to connect with MongoDB Atlas (we debug the VPC peering between Atlas and our subnet and we were able to connect to Atlas cluster using `mongosh`). My st2.config regarding the [database] is similar to @yardengumai.

Checking st2 requirements.txt and fixed-requirements.txt, maybe the issue lies in installing also pymongo[srv] driver? Li

[2022-02-28 13:49] nzlosh commented on #5518
What is preventing you from listing the mongodb nodes as per the official St2 documentation
https://docs.stackstorm.com/install/config/config.html?highlight=mdb_node_1#configure-mongodb rather than depending on DNS records to resolve them?

[2022-03-02 15:43] sandesvitor commented on #5518
Wow! I've just resolve it by setting the "ssl" key to true, this way the srv driver was able to work (thanks for the doc @nzlosh, I was able to find it here https://docs.mongodb.com/manual/reference/connection-string/#:~:text=string%20of%20options.-,DNS%20Seed%20List%20Connection%20Format,-New%20in%20version). My st2.config:

[code]

The `host` is the same when you click connect to your MongoDB At

[2022-03-03 10:51] zsmanjot opened #5585 "Rules/triggers not getting updated while using register-rules or register-all"
Whenever we are updating any rules or triggers and loading changes via st2ctl reload --register-all or st2ctl reload --register-rules/triggers it is not getting updated.
Have to manually delete the rule and again have to create it and then changes are taking place. This is not particular to rules only,it is happening while loading triggers/actions also.

Stackstorm version: st2 3.5.0, on Python 3.

[2022-03-03 18:45] nzlosh commented on #3225
@zsmanjot This issue is from 2017 and marked as closed after confirmation that it was no longer a problem in version 2.2.1.  Please create a new issue with any relevant logs and details to the issue you're seeing as the code base has evolved considerably over the last 4.5 years.

[2022-03-03 22:33] amanda11 commented on #5585
What deployment type? Is this docker, K8 or standalone install?

When you do the st2ctl reload then when it states the number of rules/triggers loaded, does the number look correct?
Is there any errors reported when you do the reload in the stdout/stderr of the st2ctl reload, or in the ST2 log files? (Sometimes there can be some errors at the start of the output on a reload - that can be missed.

[2022-03-04 11:15] zsmanjot commented on #3225
Sure @nzlosh I am opening a new issue for this.

[2022-03-04 11:56] zsmanjot opened #5587 "Workflow executions running out of order when delayed."
I have a workflow with a concurrency policy that only allows 1 instance of the Action to run at a time.  But i could see that the sequence followed here is LIFO(Last in first out) sometimes.
The logs states that the trigger happened in the sequence of 6220edd5a3eb83216afd4cd5 first and then 6220ee28a3eb83216afd4ce3 , also the delay sequence is same ,but the execution sequence is 6220ee28a3eb83216a

[2022-03-07 17:41] minsis commented on #5587
Can you share your policy, workflow, and action files? Its not easy to understand this without context of your configurations.

[2022-03-07 17:44] zsmanjot commented on #5585
Hi @minsis
No i am not bumping the version.

[2022-03-07 17:49] zsmanjot commented on #5587
Wont be able to share the workflow though but i have the copy of policy. Here you go:
Policy

`---
name: zsi_smavd.concurrency
pack: zsnagios
description: Limits the concurrent executions
enabled: true
resource_ref: zsnagios.smavd_mem
policy_type: action.concurrency
parameters:
    action: delay
    threshold: 1
`

Wont be able to share the workflow though but i have the copy of policy.

[2022-03-07 18:38] minsis commented on #5587
Ok I think I'm misunderstanding the initial issue you're having. Again, its difficult to assist when there's a lack of configuration information.

Anyhow, I'm assuming `zsnagios.smavd_mem` is the action that references your actual workflow. I don't think there's any specific order to how workflows are executed. The policy just manages how many named actions can execute at any one given time. When

[2022-03-08 08:20] ShimingLee opened #5589 "when I install pack in stackstorm, how to let python's requirement.txt file installed in order?"
Hi, This is the installation process:

<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAABbYAAAD7CAYAAAC2YcL0AAAgAElEQVR4Aez9gZIrSQ6bjfpp/U5+2nVwZ74dDA6ZlVUqqSU1FNFDEgCRWVDbt0/dP9b/5z8/8Pm//+//tKc67nO79CD4ijMevOJD69PzTfhDhy2WHznvkd3uSu7nc7ezg93l42d1vh3me791XmUDR93N6Kx+1/dOnd9RZ+39TOd01r72mKnu9dPz3fd6xG+1u+J+OsOc/8/v+Z1ZvNN3/shdHtmd8rzb88jviO/ueWWn8wF7xO+RXc4/W1915qPnPLp/Npd30R899xF/5jnu9Dpz7

[2022-03-08 08:51] nzlosh commented on #5589
It looks like the pandas version being pinned doesn't support Python3.6.  Downgrade the pandas requirement or run St2 on a distribution that provides Python3.8 such as Ubuntu 20.04.

[2022-03-08 15:44] #3973 closed

[2022-03-08 15:47] zsmanjot commented on #5587
HI @minsis

So basically, it is a single workflow on which concurrency has been applied. And when we get triggers then workflow is invoked. Because we donot want to take actions on all the triggers at the same time for the same workflow , so we have put concurrency. Now at a time only on one trigger the workflow runs and rest all gets queued up because of concurrency. But now it is seen that the o

[2022-03-08 17:24] minsis commented on #5587
Without digging into code I'm not sure why it would be going LIFO, normally MQ goes FIFO. I dont know what was intended here, if anything at all.

[2022-03-08 17:36] zsmanjot commented on #5587
This is what i am wondering. It should be FIFO. But its not the case. The intention is to not interrupt the functioning of the production services. So, basically the workflow is restarting a critical service if we get the alert that it requires restart and because we can not afford to restart all the services at the same time, we are leveraging concurrency to proceed with the executions one at a t

[2022-03-08 17:54] minsis commented on #5587
Your need makes sense, but what doesn't make sense is the need for order of operation by relying on queued messages. You shouldn't be relying on a trigger system to queue a bunch of services to restart and pray that it goes in order. It should be a single trigger to execute a workflow that executes a handful of tasks (in order) of the services that need to be restarted.

Yours:
Trigger "restart se

[2022-03-08 18:10] zsmanjot commented on #5587
Yes, makes sense. But the thing is, we never know when any service will require restart. It might be 2 or 3 alerts together or it might be the case that 1 alert came at some time and then the next consecutive alert came 20 minutes later.

and second case :

Anyhow whatever approach is followed but the sequence shouldn't vary,. It should be FIFO

[2022-03-09 07:53] anrajme opened #5590 "Action execute failure for "local-shell-script" runner on stackstorm-ha helm based deployment"
## SUMMARY

While using the action runner type "local-shell-script", the action always try to set execute permission for the action script before the execution.

For example, action runner logs for the core.sendmail action

[code]
This "chmod +x " operation cause failure when you are using stackstorm-ha helm chart based deployment with an immutable file system for packs.

https://docs.stackstorm.c

[2022-03-09 07:53] anrajme opened #5591 ""local-shell-script" does not work on read only file systems"
## SUMMARY

While using the action runner type "local-shell-script", the action always try to set execute permission for the action script before the execution.

For example, action runner logs for the core.sendmail action

[code]
This "chmod +x " operation cause failure when you are using stackstorm-ha helm chart based deployment with an immutable file system for packs.

https://docs.stackstorm.c

[2022-03-09 15:42] cognifloyd commented on #5591
This may present itself in HA, but the bug cannot be addressed in the helm chart. The action runner needs to be modified to support read only file systems and skip chmod in that case.

[2022-03-09 23:24] anrajme commented on #5591
@cognifloyd - absolutely..! @armab - yeah, tried that approach. Though the scripts already have exec permission enabled,  the runner tries to "chmod +x" every time it executes.

Maybe we can add a condition to the action runner code to verify the permission and try chmod only if the exec bits are not enabled. In that case, we can set the file permission in advance before creating st2 pack image an

[2022-03-10 02:11] ShimingLee commented on #5589
Yes, I noticed the problem.  But how can i do this without changing the Python version of st2?  So I would like to ask how to ensure that the dependency packages in the requirement.txt file can be executed without changing the order.  @nzlosh

[2022-03-10 06:49] nzlosh commented on #5589
I don't understand what you mean by changing the order.  As far as I can tell there's a versioning problem rather than an ordering problem.

Since `pandas===1.3` is specified in `requirements.txt` and isn't available for Python3.6, the version of pandas must be set to one that supports Python3.6 so that pip can install it into the packs virtual environment.

[2022-03-10 11:34] armab commented on #5591
@anrajme The condition to skip chmod +x when the executable bit is already set makes perfect sense :+1:

[2022-03-11 03:39] ShimingLee commented on #5589
![图片](https://user-images.githubusercontent.com/22612182/157797164-5fbca8c1-4735-43e3-b387-8eebcef6557e.png)
For example, I defined the requirement.txt , but when executed, pip is not installed first.  This will cause the installation to fail.
I wonder if there is a way to install the packages defined in the current file sequentially in st2 without changing the environment.
@nzlosh

[2022-03-11 03:40] ShimingLee commented on #5589
The reason for not changing the environment is that I'm using stackStorm HA and I'm not sure if changing the base environment will affect other actions or functions

[2022-03-11 06:45] nzlosh commented on #5589
pip should not be arbitrarily be upgraded, the latest version of pip doesn't support Python3.6.  I don't know the specific reasons for pinning pip to 20.3.3 but it is tested by St2  and is known to support Py3.6 and Py3.8.

The situation you're facing appears to be mainly caused by the latest versions of module dependencies not supporting Python3.6.  Python3.6 is end of life already, so you'd be b

[2022-03-17 18:46] DavidMeu opened #5592 "Can't see 3-rd party modules logs in sensor pod"
I've configured urllib3 retries,
But can't see those in sensor container pod logs.

Also tried configure urllib3 log level in sensor, but no good.

[code]

[2022-03-23 22:44] vaibhavkumar049 commented on #4039
@Kami can you giude me how to write a multi line python code and send it as a request ?

[2022-03-29 08:40] nzlosh commented on #5133
Closing this issue.  Unable to reproduce and unable to diagnose further due to lack of response from the OP.

[2022-03-29 08:40] #5133 closed

[2022-04-01 09:40] sanjeev02saraswat opened #5604 "Getting error while creating restart service rule in Stackstorm"
## SUMMARY

We tried to restart linux service using stackstorm and created linux.service. When we tried to run that getting below error.

**Error:**: Traceback (most recent call last):\n  File \"/tmp/6244491ccb55c0f4c7922066/service.py\", line 32, in <module>\n    from st2common.util.shell import quote_unix\nImportError: No module named st2common.util.shell

Command to restart service was: systemc

[2022-04-01 10:05] nzlosh commented on #5604
Duplicate of https://github.com/StackStorm/st2/issues/5004

[2022-04-01 10:05] #5604 closed

[2022-04-01 15:15] #4939 closed

[2022-04-01 15:18] cognifloyd commented on #5525
#4924 was just merged in #5605, so this will be available in 3.7.0

[2022-04-01 15:18] #5525 closed

[2022-04-01 22:15] winem commented on #5496
So I made some good progress on this topic I think.

I applied a bunch of changes mainly to the environment handling and to check if the scripts are executed in the context of GITHUB actions.

Now, all tests pass except for the remote and http actions (4 in total).

Honestly, I could not find a solution to pass these, yet.

So I have 2 questions:
1) does anyone have an idea how a solution where th

[2022-04-02 00:36] cognifloyd commented on #5496
Remote tests are going to be an interesting solution to deal with. It would probably involve having it ssh into a docker container with sshd running...

But, I think we should disable those tests for now under GHA and move forward with the rest.

[2022-04-02 11:53] armab commented on #5496
@winem Could you open a draft PR for the https://github.com/StackStorm/st2/tree/5496-self-check-in-gh-actions ?
that would be easier for the team to find it, including the code diff, CI status, and progress.

BTW we have containers with sshd running. They're used for e2e package testing in `st2-packages`.

Could be a good fit here:
See https://github.com/StackStorm/st2packaging-dockerfiles/tree/ma

[2022-04-02 20:52] winem commented on #5496
@cognifloyd I agree and it would be fine for me, too. We could handle the remaining tests in a dedicated PR.

But I'll take a look at @armab s link as well and see if we can re-use it here. A PR was created and linked.

[2022-04-05 09:56] sanjeev02saraswat commented on #5604
$ st2 --version
st2 3.6.0, on Python 3.6.8

Installed on Linux server and it was one line install.

[2022-04-07 09:59] sanjeev02saraswat commented on #5604
@nzlosh  we look into the error 5004 , we still did not find any resolution regarding our issue. We are getting same error while running linux.service. Kindly provide any detail , what changes we should do for running this service. I have provided error logs below:
{
  "hostname**": {
    "stdout": "",
    "stderr": "Traceback (most recent call last):\n  File \"/tmp/6244491ccb55c0f4c7922066/servic

[2022-04-11 02:25] chris3081 commented on #4588
Not sure where this has gone, but I can see a use case for installing packs, in fact I have that exact use case myself. Is anyone working on this currently? If so I'd been keen to assist so I can retire the current hack I have for installing from s3/https in stackstorm k8s with shared volumes.

[2022-04-12 09:01] vicgb opened #5617 "HTTP Requests logs for rules"
Hello everyone.

There is some option to follow on streaming events of the type CREATE, DELETE, PUT, etc for a rule, by pointing to.. /stream/v1/stream? I mean, some options for listening into HTTP Requests that affect rules such as a rule has been created or updated or deleted.

What I would like is to see something similar to what you can see with /stream/v1/stream/events=st2.executions... but w

[2022-04-12 11:03] nzlosh commented on #5617
Not that I'm aware of, you'll need to poll the api https://api.stackstorm.com/api/v1/ruleenforcements/

[2022-04-13 10:15] chris3081 opened #5619 "Feature request - Extend packs pack functions"
I would like to extend the packs pack and the backing code under st2common

Thinking of splitting out the git code into its own py file (class) to make way for non git based installs (http(s), s3 buckets, etc), I want to make it easier for folks to write in new download code. Also looking to support more than directories for my use case which is to pull a tar file from either s3 bucket or http by

[2022-04-14 08:13] DrazenkoS opened #5620 "Develop patch from pack"
I wish I could develop a patch (expansion) for an existing packs. For example, if I have installed a Jira package and are creating some workflows with Jira actions, I want to export those workflows to a separate package that users can install as a patch for an existing Jira package. ie after installing the patch package, all actions/workflows from it should be under the Jira package, without losin

[2022-04-18 08:59] vicgb commented on #5617
Agreed. I was looking for a way to push from the stackstorm API any HTTP Request instead of doing periodic pulls, so as not to overload the system.
In any case, I'll take a look at it.

Thank you very much :)

[2022-04-18 12:33] DrazenkoS opened #5622 "REST API return incorrect data"
Endpoint GET `/api/v1/actions` returns actions with parameters but some parameters are missing or incomplete.

Examples:
-  action `HTTP ` from `core` package in parameters that return the API endpoint doesn't have `url` parameter which is required.
- action `announcement` from `core` package doesn't have all data for parameters (eg. type). Look at the pictures

![Expected announcement](https://us

[2022-04-20 21:19] pimguilherme opened #5625 "SSO/SAML support"
Hi dear stackstorm maintainers/community!

I've been working on a PR to implement SSO/SAML using whatever we currently have as a base (st2-auth-backend-sso-saml2) and some other bits and pieces of SSO through the main st2 repository.

I asked around in slack if this had any traction and apparently not, so I just went ahead and started implementing some of it because we need that for our strategy a

[2022-04-21 21:12] jensenja commented on #5146
is there any update on this? I have a slightly different configuration but the outcome is still the same. Essentially we're storing AWS credentials encrypted in the KV store. These credentials are used for Terraform actions where we store the Terraform state in an S3 bucket:

[code]

If this workflow fails at any point, I'm unable to retry it in the Web UI without manually inputting the supposed d

[2022-04-22 04:57] khushboobhatia01 commented on #5146
@jensenja @minsis Are you seeing this issue only through Web UI? Does re-run work fine through CLI?

[2022-04-22 13:03] pimguilherme commented on #5625
thanks for the input @rush-skills !

1 - not yet... i have not looked into the RBAC handling on stackstorm, but if it is as simple as I think it might be, it would just be a matter of mapping groups to roles from the SSO backend (so just a config in the backend should do it)

2 - it should work in parallel to ldap but I am not sure.. the SSO backend as it's currently implemented is parallel to the

[2022-04-25 05:05] minsis commented on #5146
I don't think the CLI has a rerun?

[2022-04-25 15:51] minsis commented on #5146
@jensenja What version of StackStorm are you using?

I've tested this again in 3.6 and it seems like everything is now working as expected.

[2022-04-25 16:06] jensenja commented on #5146
I'm running 3.6 via the one-liner install on an Ubuntu 20.04 VM:

[code]

[2022-04-25 16:18] minsis commented on #5146
@jensenja When the workflow fails, are you trying rerun the entire workflow or just the specific task that failed?

I'm my case I'm just testing a very simple `core.remote` execution. Also, as suggested have you tried to test the rerun on the CLI?

[2022-04-26 11:16] zsmanjot opened #5630 "We are using curl command in one of our projects. Since curl is not that secure so we thought to leverage the core.http method of stackstorm. But the issue is we are unable to pass the cookie using it. We have cookie stored in a file and it is a Netscape HTTP Cookie File. Do we have any method of how we can pass this file as cookie in the core.http runner."

[2022-04-26 15:34] jschoewe commented on #5620
It sounds like you want to fork the Jira pack and then add your new actions to that forked repo. And then instead of running `st2 pack install jira` you and your users can run `st2 pack install https://github.com/yourusername/stackstorm-jira`

[2022-04-27 12:22] Anz14 opened #5633 "validate raise error jsonschema.exceptions.ValidationError: 'triggers' is a required property"
I did the stackstorm Installation in Ubuntu VM with the one line installation. I'm integrating this with the prometheus. So from prometheus the alert is sent to alertmanager and from there its posting to stackstorm webhook. When the alert triggers, its able to push the data to stackstorm and the webhook instance is getting triggered, however the rule is not getting executed. Please find below the

[2022-04-27 15:50] rush-skills commented on #5625
@pimguilherme These steps seem good to me.

Can you open your PR(s) and I can review the code/test the feature and come back at you better

[2022-04-28 08:31] amanda11 commented on #5633
You have specified in your action definition that you want a parameter called triggers to be passed to it:
[code]

 But when you call your action from your rule you don't pass a parameter called triggers to it, you are passing a parameter called payload to it:
[code]

 So you need to make sure you use the same parameter name in your action definition and the name of the parameter you are passing t

[2022-04-28 11:21] Anz14 commented on #5633
Thanks @amanda11 It worked

[2022-04-28 11:22] #5633 closed

[2022-05-02 11:08] Anz14 opened #5635 "SSH to remote host not working"
I have stackstorm configured in Ubuntu VM. And I'm integrating stackstorm with alert-manager for auto remediation. When the alert triggers it matches the rule and trigger the action given. So my action is trying to login to the remote host which is triggering the alert and perform some actions. However SSH to remote host is not working. What needs to be done here to get the SSH working.

 I'm gett

[2022-05-02 12:16] Moradf90 commented on #4636
I face the same problem with my orquesta workflows, does st2 have an option to disable the deep evaluation of jinja and yaql?
the WA doesn't work for me :(
@Kami @m4dcoder plz help

[2022-05-02 22:40] chris3081 commented on #5620
Your other option is to write a new pack and set the original jira pack as a dependency in the pack.yaml (https://docs.stackstorm.com/packs.html#pack-dependencies).

[2022-05-03 01:09] aaronkyriesenbach opened #5637 "Unable to install pack from local directory"
## SUMMARY

Upon trying to install a [known working pack](https://github.com/aaronkyriesenbach/test_pack) from a local directory within the StackStorm Docker client container, the installation fails with `ValueError: Local pack directory "/opt/stackstorm/test_pack" doesn't exist`.

### STACKSTORM VERSION

st2 3.6.0, on Python 3.6.9

##### OS, environment, install method

Docker container, using th

[2022-05-03 10:28] pimguilherme commented on #5625
Hi @rush-skills ! Thanks for getting back to me :)

I will create the PR in the code this week and let you know! Cheers

[2022-05-04 00:31] Kami commented on #5637
You need to copy the pack content to the st2actionrunner container - that's where the actions run on. In addition to that, you also need to run st2-register-content in that container to register resources from that pack.

Or even better, copy it into the ``stackstorm-packs`` volume which is mounted and available in all the containers where that is necessary - https://github.com/StackStorm/st2-dock

[2022-05-04 05:44] harishgopalan opened #5639 "Stackstorm compatiblity with Mongo 4.4"
Hello Stackstorm Experts,

It seems Mongo 4.0 is EOL by April 2022, Is it possible to upgrade with support for Mongo 4.2 or 4.4 ?

https://www.mongodb.com/support-policy/lifecycles

Regards
Harish

[2022-05-04 10:19] armab commented on #5637
@aaronkyriesenbach Just to confirm, per your message, does the `pack install` from github work?
It's just the `st2 pack install file://` that has issues.

[2022-05-04 10:34] aaronkyriesenbach commented on #5637
@armab That’s correct.

Thanks @Kami - makes sense. When installing a pack from the packs volume, how are paths handled? I’ve copied the pack to `/opt/stackstorm/packs`, which is where the volume is mounted on `st2client`, but have the same issue when installing from `file:///opt/stackstorm/packs/test_pack`.

[2022-05-04 11:18] nzlosh commented on #5639
The latest version of StackStorm is known to work with MongoDB v4.2 and v4.4, older versions may not have been tested against these minor versions of MongoDB.

[2022-05-04 11:26] armab commented on #5637
Do you have a `.git` dir in the pack? If no, run `git init` inside the pack and try to re-install the pack again with `file:///`.

[2022-05-04 12:12] armab commented on #5639
Good call about 4.0 EOL.
Looks like there are some places where we still install MongoDB v4.0.

There's an issue that MongoDB 4.0 is installed in some older distros where v4.4 wasn't available in the official MongoDB repositories. This also affects Puppet and Ansible deployment relying on deb/rpm packages.

As I remember it's MognoDB `4.4` for `Ubuntu 20`, `4.0` for `Ubuntu 18`, `EL7/8`.
Do these

[2022-05-04 13:57] aaronkyriesenbach commented on #5637
There is a `.git` directory within the pack.

[2022-05-05 12:48] Anz14 opened #5641 "Actionchain failing"
I have stackstorm configured in Ubuntu VM. And I'm integrating stackstorm with alert-manager for alert auto remediation.
I'm getting the below error while executing the actionchain.

Error:

"error": "Failed to run task \"kafka_demo_disk_action\". Parameter rendering failed.. Failed rendering value for action parameter \"triggers\" in task \"kafka_demo_disk_action\" (template string={{trigger}}):

[2022-05-07 06:01] Anz14 commented on #5641
@amanda11 I tried changing the action chain parameter from  trigger to triggers and it worked.

[code]

[2022-05-07 06:01] #5641 closed

[2022-05-09 00:29] PLPRASU commented on #4696
Failed to retrieve config for pack <Mock name='mock.pack' id='140714291121680'> and user digitalxcadmin: expected string or bytes-like object
 i am getting error like this give me a sollution for this.

[2022-05-10 06:50] DrazenkoS commented on #5620
@chris3081 I can't put new actions in the Jira pack without losing/spoiling existing actions.

[2022-05-10 09:34] Anz14 opened #5645 "how to get dynamic varible in action chain"
I've integrated  stackstorm with alertmanager and opsgenie. I want to fetch the host name dynamically in the action chain for slack and opsgenie action. How can I achieve this, so that it fetch the  hostanames dynamically and send it to slack/opsgenie ?

Rules:

[code]

Action-chain:

[code]

Achin-chain meta:

[code]

Action:

[code]

when triggering the above action chain, I'm getting below erro

[2022-05-11 07:33] amanda11 commented on #5645
I presume you are wanting the host thay the alert came from.
You will need to investigate what is in the body of the alert from alert manager, to see if it has the hostname as part of its alert.

[2022-05-11 08:32] Anz14 commented on #5645
@amanda11  Yes Exactly.

Below is the trigger payload.

{
  "trigger": "core.949b9434-4b8d-4716-951a-13b3889b850c",
  "occurrence_time": "2022-05-11T06:58:13.594000Z",
  "status": "processed",
  "id": "627b5e8520e3d021ee8d8f84",
  "payload": {
    "headers": {
      "Host": "stackstorm-uat.groww.in,stackstorm-uat.groww.in",
      "X-Real-Ip": "<IP>",
      "X-Forwarded-For": "<IP>",
      "Content

[2022-05-12 11:37] Bindu-yadav8 opened #5647 "How to migrate existing Rules/Actions/Worklfows from StackStorm running in a Azure VM to Kubernetes HA Cluster?"
### Discussed in https://github.com/StackStorm/st2/discussions/5618

<div type='discussions-op-text'>

<sup>Originally posted by **Bindu-yadav8** April 12, 2022</sup>
Hello,

We are using StackStorm version st2 3.4.1, deployed on a VM and are managing and running Actions & workflows on the VM.

Now we have deployed Highly Available StackStorm cluster based on Kubernetes and wanted to migrate all t

[2022-05-12 11:54] armab commented on #5647
Github Issues are best suitable for bug reports, while Discussions for questions.
Please don't open new duplicated issues if there's already a Discussion opened.

Thanks.

[2022-05-12 11:54] #5647 closed

[2022-05-16 11:47] zsmanjot commented on #5585
Again today we faced the same issue. I made a change in rules file and reloaded the configuration by running 'st2ctl reload --register-configs' but it did not update the rules. Then i even restarted the services of st2 to see if it helps but no luck.

Then i deleted the rule and again created it and then to my surprise it started working fine after that.

[2022-05-16 14:13] zsmanjot commented on #5585
yes @amanda11  i followed everything and that was mentioned to just tell that i followed whatever steps i could.

Initially i followed 'sudo st2ctl reload --register-rules' this only. But it does not work.

[2022-05-16 14:23] amanda11 commented on #5585
I've just verified this functionality on a 3.7dev machine and can see it is working as expected.

Please can you provide the following:
1. Location of the rule file you are altering - and show the permissions on that file
2. Change you are making to the rule file - e.g. are you changing it's name, parameters etc
3. Output from running reload --register-rules
4. Check in the st2api.log at the time

[2022-05-16 15:29] amanda11 commented on #5585
What is the full path to the rules file that you are editing?

In the st2api.log did you see a GET entry for the rule that you had altered?

Can you try with verbose mode, e.g.
st2ctl reload --register-rules --verbose

In the output of the verbose can you check for your rule at the location of the file that it says it is loading, is the same as the one you are editing. And that it reports that it

[2022-05-16 16:27] zsmanjot commented on #5585
**st2api.log has a get entry for the rule that i altered.**

`[root@sjc4-stackstorm1 st2]# grep -i zsnagios.smavd st2api.log
2022-05-16 08:59:01,088 140476116999664 INFO logging [-] e2a2cf1b-945a-4af4-8bb7-9ba948f5d3b0 - GET /v1/actions/zsnagios.smavd_mem with query={} (method='GET',path='/v1/actions/zsnagios.smavd_mem',remote_addr='127.0.0.1',query={},request_id='e2a2cf1b-945a-4af4-8bb7-9ba948f5d

[2022-05-17 08:35] amanda11 commented on #5585
I am not sure you are editing the file in the correct location.
When you do a reload it will reload the rules from /opt/stackstorm/packs/packname/rules/*.yaml.

Where is your rule_smavd_mem_crit.yaml?
Given the information above it seems to be in a directory called zsi, so that's not in the packname directory - if your pack is zsnagios.

When you do a reload it only reloads from the directory wher

[2022-05-17 13:29] zsmanjot commented on #5585
Thanks for pointing it out @amanda11 . Indeed this was the reason that why rules were not getting updated but then this is strange that it does pick it from other directory though and the only concerning thing is that they dont get updated when we make any change . Should not it have the provision that if under rules directory there are subdirectories it should work fine?

In an environment where

[2022-05-19 16:08] amanda11 opened #5651 "EL8 install fails with issues reported in regard to Erlang 25"
## SUMMARY

Provide a quick summary of your bug report.

### STACKSTORM VERSION

3.7.0

##### OS, environment, install method

Post what OS you are running this on, along with any other relevant information/

Seen on bash and ansible installation

## Steps to reproduce the problem

Perform an installation of StackStorm on EL8 variants, from 18th May 2022 onwards.

## Expected Results

Install to s

[2022-05-19 16:12] amanda11 commented on #5651
We have seen installations failing on EL8 since Erlang 25 was added to the RabbitMQ-Erlang repository.
RabbitMQ 3.10 only has preview support for Erlang 25, but the installers default to installing the latest version. If erlang 24.* is used then the installation succeeds.

See PR https://www.rabbitmq.com/which-erlang.html](https://github.com/StackStorm/ansible-st2/pull/311 for the ansible fix.
See

[2022-05-19 19:44] #5651 closed

[2022-05-23 03:38] #5446 closed

[2022-05-23 11:47] amanda11 commented on #4928
Is this issue still relevant? My polling sensors that get key/values still manage to get a token when it's expired. From what I can see the sensor service's get_api_key will get a new key if its expired: https://github.com/StackStorm/st2/blob/419b25da9f45a92fb72549d9c4094e4cb7c6d729/st2common/st2common/services/datastore.py#L341

[2022-06-01 22:14] chris3081 commented on #5401
My thoughts on this is we repeat the design pattern used in st2auth, but yes that's essentially what I would like to do too.

[2022-06-03 09:12] Anz14 opened #5657 "how to get the "incident_key" in pagerduty integration"
Hi Team, I have the stackstorm setup on Ubuntu VM for alert automation. I have integrated stackstorm with pagerduty.

Action chain workflow below:

chain:

name: "jenkins_disk_action"
ref: "jenkins.jenkins_disk_action"
parameters:
triggers: "{{ triggers }}"
on-success: "post_success_to_slack"
on-failure: "pagerduty_escalation"

name: "post_success_to_slack"
ref: "slack.post_message"
parameters:
ch

[2022-06-03 10:31] nzlosh commented on #5657
Duplicate https://github.com/StackStorm/st2/discussions/5656

[2022-06-03 10:31] #5657 closed

[2022-06-03 10:56] nzlosh commented on #5622
This is is not an API bug per se, but "feature" of the webui.  The webUI will resolve the *action* metadata and, for completeness, the *runner* metadata and present it.  The `st2` cli tools doesn't resolve runner metadata automatically, so you get the same output as a raw API call.

**st2 action get -j core.announcement**
[code]
**st2 runner get -j announcement**
[code]

I don't think altering the

[2022-06-20 12:56] anrajme commented on #4716
Hi there - Checking whether this is still on the road map for any releases near soon? This requirement has real significance in the stackstorm-ha world especially when the nodes/pods get killed/restarted often in the k8s world compared to the traditional deployment model.

[2022-06-29 09:29] datapanda91 opened #5663 "Icons for pack content not loading"
## SUMMARY

Icons for packs content is not loading. Icon wants to get loaded over the api but gets an unauthorized error. E.g. /api/v1/packs/views/file/rabbitmq/icon.png with result {"faultstring":"Unauthorized - One of Token or API key required."}.

### STACKSTORM VERSION

st2 3.7.0, on Python 3.8.10

##### OS, environment, install method

Docker installation

## Steps to reproduce the problem

B

[2022-07-02 13:28] pimguilherme commented on #5625
Hey @rush-skills ! Thanks for reaching out.. unfortunately I did not make any progress as there were other internal priorities in the company.. many of them involved in internal stackstorm automations but this PR got a bit of a halt.. gladly we should be putting more effort into it starting this week.. hopefully to resolve and finish it :)

I will now try to open the PR to get things going and upd

[2022-07-03 05:01] lehuythangit opened #5665 "The built-in "st2.action.file_written" trigger is not working."
## SUMMARY

The "st2.action.file_written" trigger is not working when creating a new action.

### STACKSTORM VERSION

3.7

##### OS, environment, install method

- Window 10, WSL 2: Ubuntu 22.04
- Docker

## Steps to reproduce the problem

- Create a new rule with "st2.action.file_written" trigger and "core.echo" for output the payload of the trigger.
- Create a new action by st2client or st2web.

[2022-07-09 09:06] rush-skills commented on #5625
Hey @pimguilherme

That looks great and a lot of effort. Thanks for the contribution!

If you can start adding more docs and descriptions to the PR, I can try setting them up next week and testing the changes.

[2022-07-10 16:11] #5137 closed

[2022-07-11 21:37] pimguilherme commented on #5625
hey @rush-skills , I am starting by trying to make tests here:
https://github.com/StackStorm/st2-auth-backend-sso-saml2/pull/16

are you familiar with this code? it looks like the makefile is broken and it doesn't look like other st2-auth-backend modules use a Makefile in general.. I just wanted to check before doing any changes, otherwise I will just try to tinker around and make it work

cheers!

[2022-07-12 07:35] rush-skills commented on #5625
Haven't got much experience, but indeed the tests are broken for the repo. From what I see, it still uses CircleCI (we are migrating to GitHub Actions now) with Please ython 2 build (which again is deprecated). I can try creating an issue and picking it up later, but that won't be soon I guess.

Feel free to tinker around and change the tests however you want in the meanwhile.

[2022-07-12 13:07] pimguilherme commented on #5625
awesome, thanks for confirming! I will try to make the Makefile make sense and use python3.6, and will leave the circleci part for later.. after working a bit on this I will try to document steps for you to be able to manually try the SSO flow

cheers!

[2022-07-14 20:36] pimguilherme commented on #5625
hey @rush-skills ! i have concluded a somewhat "big" part of the saml2 backend.. would you be able to take a quick look? tests seem OK.. just want to have some input to have a feel of how it looks

thanks!

[2022-07-14 21:12] pimguilherme commented on #5625
also, would you be able to confirm if this is an OK approach to assigning user roles? https://github.com/StackStorm/st2/pull/5664/commits/c9d3f4396197572425cac3f112191b34a84e40fe

at the moment, we are deleting all roles for as pecific user and recreating them based on each SSO login.. I remember seeing some alternative to this but just wanted to check before committing more time to it

cheers!

[2022-07-20 07:43] hgjsj opened #5680 "Stacktorm UI can't go further than page 3"
## SUMMARY

Stackstorm web UI can't go further than page4

### STACKSTORM VERSION

st2 3.7.0   st2web 3.7.0    mongodb 4.0.0

##### OS, environment, install method

RHEL7, upgrade to 3.7.0 from 3.4.1 by RPM

## Steps to reproduce the problem

Show how to reproduce the problem, using a minimal test-case. Make sure to include any content
(pack content - workflows, actions, etc.) which are needed to

[2022-07-22 11:36] amanda11 opened #5684 "RBAC on unstable fails to load"
## SUMMARY

Provide a quick summary of your bug report.

### STACKSTORM VERSION

Paste the output of ``st2 --version``:

##### OS, environment, install method

Ansible CI/CD has been failing for 3 days on the smoke tests at the RBAC apply defintions

## Steps to reproduce the problem

Perform a ansible install with environment -e st2_rbac_enable=True. At the point it loads the rbac definition file

[2022-07-22 11:38] amanda11 commented on #5684
@cognifloyd  Could this be related to the output schema changes that went in via: https://github.com/StackStorm/st2/pull/5319

It's around the right time, as these tests were reliable before. And it looks like similar area of code. Wondering if the RBAC schema is incorrect as per the updates to the schema checking?

[2022-07-22 17:31] cognifloyd commented on #5684
@amanda11 wow. So, it looks like this bug was present before, BUT by fixing a different bug, I uncovered this bug.

Looks like:
- schema for an array of objects
    - a property in the items schema is also an array
        - :boom:

Before, it was only applying defaults to each of the items schema properties if, and only if, the property's schema included `properties` which effectively meant it on

[2022-07-22 18:46] cognifloyd commented on #5684
OK. I think the best way to fix this is to merge these to assign_default_values implementations:
- https://github.com/StackStorm/st2/blob/3e1a052f27d8deb2d53402ee60e75126e10f6c69/st2common/st2common/util/schema/__init__.py#L202-L205
- https://github.com/StackStorm/st2/blob/7110c75cd362c1fcc3ba9dd8174ecb655d54b662/st2common/st2common/util/config_loader.py#L297-L305

I've spent a lot of time revisin

[2022-07-22 21:56] pimguilherme commented on #5625
hi @rush-skills ! I have deleted some old comments and compiled the latest status:

To implement this change I had to update the following repositories:

- st2 (https://github.com/StackStorm/st2/pull/5664)
  - everything basically ready
  - still need to fully validate generic changed files / their tests
  - still need to implement CSRF protection
  - still need to work on the st2client
  - most t

[2022-07-23 13:05] rush-skills commented on #5625
@pimguilherme Wow, this is a lot of work. Thanks for the update!

I haven't got the chance to test these changes yet, will try to follow the instructions and test them next week.

Cheers,
Ankur

[2022-07-24 04:51] cognifloyd commented on #5684
It looks like the schema handling in `ContentPackConfigLoader` is not compatible with the schema handling in `st2common.util.schema`. I tried to combine them in a couple of different ways without success. They each make very different assumptions about:
- what the `type` keyword can be (a simple type in pack config, but it might be a list of types in other schemas),
- how to handle `None` values (

[2022-07-24 05:34] cognifloyd commented on #5684
Cool. I have a reproducer test that fails on master and passes with my changes. Now pushing the commits one at a time to show the progression in CI.

[2022-07-24 17:35] #5295 closed

[2022-07-25 17:17] pimguilherme commented on #5625
sounds good @rush-skills , thanks! :)

I was able to validate the steps worked, and I will keep on working further on this and should very soon be fully done.. in any case the testing steps should be working in the meantime

cheers!

[2022-07-28 15:08] #5684 closed

[2022-07-28 16:41] amanda11 commented on #5346
We also need to switch as udatetime won't build for python 3.9 - https://github.com/freach/udatetime/issues/32.

[2022-08-02 03:35] kgrvamsi commented on #3613
So Stackstorm supports Csomosdb as backend for Mongodb......do we have any tests that confirms its working?

[2022-08-02 06:09] nzlosh commented on #3613
No Cosmos is not supported.  MongoDB is the only database tested with StackStorm.  The fact it was compatible with MongoDB in 2018 was fortunate for those that used it.  If you want to use it today, you'll need to test it for yourself.

[2022-08-03 15:04] dreyna01 opened #5698 "authentication trouble to remote host"
### Discussed in https://github.com/StackStorm/st2/discussions/5694

<div type='discussions-op-text'>

<sup>Originally posted by **dreyna01** August  1, 2022</sup>
Hello all,

I'm new to Stackstorm, I'm getting this error when trying to run linux.check_loadavg from the Stackstorm server to a remote host or to itself. Any advice would be greatly appreciated. Thanks in advance

st2 --version
st2 3.7

[2022-08-03 20:35] armab commented on #5698
Perhaps try to also ask in the Slack community, maybe someone would be able to help you.
But this is an Open Source community and people are helping you as they can.

There is no need to create a duplicate issue. Closing this one.

[2022-08-03 20:35] #5698 closed

[2022-08-05 13:15] zsmanjot opened #5700 "Can we have conditions in a rule to match for multiple values for a trigger type?"
I am using below trigger in my rule. In my environment we have different types of servers serving different role. It can be SME, SMBA , SMCA , SMCDS. So whenver the alert comes for any of these roles the pattern should get matched and the rule should be invoked.

`  trigger.role:
    pattern: ".*_SME$"
    type: matchregex

`
Currently i have it defined for one of the role and it is working fine,

[2022-08-05 13:28] nzlosh commented on #5700
Regex provides `or` logic operator or class character and quantifiers that should meet your needs.  Use https://regex101.com/ to test your syntax and read up about how to use regex.

[2022-08-05 16:09] zsmanjot commented on #5700
i am using regex only but it does not pick up.  But i am using it like below all together in one line. If i mention only one role, it works fine. I think this is not the correct way of using it.

`trigger.role:
pattern: (.*_SME$)(.*_SMBA$)
type: matchregex`

[2022-08-06 19:44] nzlosh commented on #5700
The site provided above has documentation to help write regular expressions as well as evaluate if the regex functions as expected.  If writing regular expressions is not your thing, another approach would be to write 1 rule file per pattern.

[2022-08-08 22:27] nzlosh commented on #5700
Great to hear you've got a working solution :+1:

[2022-08-08 22:27] #5700 closed

[2022-08-11 16:55] jonathangull commented on #5680
Hi Team facing the same issue. please advise how to get rid of this.

[2022-08-12 10:13] banciuadrian commented on #3096
Hello, it's been a few more years on this. Is this in development by anyone and/or has anything been posted regarding it?

[2022-08-18 02:28] donkopotamus commented on #5087
I have also encountered this issue.  It is due to the way `requests` handles environment variables specifying proxies, and those that are directly given to the `requests.Session` constructor itself, via the `pip install --proxy ...`  argument.

In short, `requests` does the following in `requests.Session.merge_environment_settings`

- uses the environment variables `https_proxy` and `no_proxy` to

[2022-08-18 22:10] armab commented on #5087
@donkopotamus Looks like you drilled down the problem really deep with the root-cause analysis. That's exactly the approach needed here.

If you could open a PR with a bugfix and test cases that would cover this issue, - we'd be happy to review the solution. Contributions are always welcome to StackStorm!

[2022-09-01 23:50] AlexChung1995 opened #5720 "NoneType object has no attribute runner"
## SUMMARY

Receiving a "'NoneType' object has no attribute 'runner'" error on some step executions.

### STACKSTORM VERSION

3.6

##### OS, environment, install method

Running stackstorm on azure k8s with the provided helm charts.

## Steps to reproduce the problem

A minimal yaml definition that we've seen this error from is below:

"""
version: 1.0

description: A basic workflow that demonstra

[2022-09-02 15:52] igcherkaev opened #5721 "YAQL dict's keys() and items() methods are broken in orquesta workflows"
## SUMMARY

Two YAQL's methods for dict type are broken: `keys()` and `items()`.

### STACKSTORM VERSION

Paste the output of ``st2 --version``:
[code]

##### OS, environment, install method

Standard installation on Centos 7. The issue confirmed on a test instance by Carlos. His test instance is running st2 3.7.0.

## Steps to reproduce the problem

Meta:

[code]

Orquesta workflow:
[code]

## Ex

[2022-09-06 16:46] igcherkaev commented on #5721
There's an existing issue that's been already reported: https://github.com/StackStorm/orquesta/issues/247
Let me know if you'd like to close this one or that one to avoid duplicates.

[2022-09-06 18:47] igcherkaev commented on #5721
Another report for the same issue: https://github.com/StackStorm/st2/issues/5547

[2022-09-06 20:12] igcherkaev commented on #5721
@cognifloyd suggested using this and it seems to be working, in case other YAQL expressions are broken:
[code]

[2022-09-08 14:35] amanda11 commented on #5720
Unfortunately more information would be needed on the scenario to help debug.

When it fails what action was being run? And what route through the workflow had it taken?
When it fails, is in a particular chain through the workflow that causes it to fail? e.g. what value was retries, what was chosen as the inquiry response, what step in the workflow was it at when it failed?
Can you reproduce the p

[2022-09-10 05:28] Akshat977 commented on #4853
Hi @jamesdreid  ,
This issue seems to be a good initiation of my journey towards contribution to FOSS projects.
Can you please assign this to me?

[2022-09-12 11:56] #5419 closed

[2022-09-19 06:28] nzlosh commented on #5346
The swtiched to `ciso8601` has been made https://github.com/StackStorm/st2/pull/5692

[2022-09-19 06:28] #5346 closed

[2022-09-20 20:58] pimguilherme commented on #5625
hi @rush-skills @cognifloyd @armab  (tagging some people I see are quite active around here :)

I just wanted to follow up on this PR.. would you be able to help us merge it? I think it's basically ready, pending basically some docs, and some help on getting the CI to pass

Please let me know if there's anything I can do to help

thanks!

[2022-09-21 09:45] rush-skills commented on #5625
Hey @pimguilherme. Apologies, I had been on leave during the summer and didn't get a chance to test it out.
Ideally, we will need the docs updated and CI passing to merge the PRs, while at least one person from @StackStorm/tsc doing hands-on testing with the same. I can try to dedicate some effort to it, but that involves building and including the packages from the PRs and using that in our test

[2022-09-21 12:47] pimguilherme commented on #5625
Hey @rush-skills , thanks! I will work on updating the docs and the CI, and also make myself available to help on whatever you guys need to test it out (perhaps following the instructions on one of the last posts could be a starting point for some initial tests)

The CI was passing a few weeks ago, so it is probably related to some recent changes.. probably also not something very big.. I will try

[2022-09-22 13:18] pimguilherme commented on #5625
Hi @rush-skills ! Further updates.. I think things are 100% ready for the merge :)

CIs are passing and DOC has been updated

I have updated the summary comment a few comments back with all the PRs

Please let me know if theres any further help I can provide

Cheers!

[2022-09-22 14:34] denizalpaslan opened #5740 "Passing an external trace-id to mistral workflows via ST2 API"
**ST2 Version :** 3.2.0

I know mistral is deprecated but have to maintain a codebase on this version for a while. I have a backend making API calls to ST2 to trigger mistral workflows. I'm in the process of implementing a distributed tracing mechanism where I forward the logs emitted from several sources (stackstorm being one of them) via fluentd. I was able tail some logs from /var/log/mistral/m

[2022-09-22 14:43] denizalpaslan commented on #5740
It's exactly what I'm looking for and I have went through this doc as well. I think I just couldn't figure out how to pass trace-id via API. Tried passing such a header with no luck. API doc for /executions POST request doesn't tell much about that.

[code]

[2022-09-22 21:25] denizalpaslan commented on #5740
Ok, I was able to pass the trace_tag successfully as you suggested and saw the value I'm passing in the UI, also in some of the logs but not the ones that I'm interested in. I ended up passing my own trace id explicitly as parameters to workflow and its actions. It means I'll have to change the signature of my actions but I'll do that unless I find anything else.

Thanks anyway.

[2022-09-22 21:25] #5740 closed

[2022-09-27 08:55] #4756 closed

[2022-10-04 23:07] leonardo-zorzi opened #5750 "Jinja templating does not work for data parameter (Notifications)"
## SUMMARY

While the _message_ parameter works fine with jinja templating, the jinja syntax will stay as is in the _data_ parameter. The docs describe that this should work (https://docs.stackstorm.com/chatops/notifications.html#jinja-templating-in-message-and-data).

### STACKSTORM VERSION
st2 3.7.0, on Python 3.8.10

##### OS, environment, install method
Docker-compose

## Steps to reproduce th

[2022-10-05 12:00] ManuGeodis opened #5754 "Default user stanley to be changed"
I'm planning to integrate stackstorm in my monitoring infrastructure. I have my monitoring infrastructre in Azure VM'S. Satckstorm instance is also running on azure vm. Is it possible to change the default user stanley to any custom name?

[2022-10-05 12:06] jamesdreid commented on #5750
Not 100% certain on this, but it appears the variables you are attempting to extract in your Jinja ("{{action_parameters.cmd}}",{{action_results.stdout}}") are available when running an Action but are not part of the standard "orquesta" context.  This may explain why they are not getting resolved correctly, but it does not explain why the entire Jinja statement is rendered as text including the br

[2022-10-05 15:27] rush-skills commented on #5625
Hey @pimguilherme

So I am finally having a look at this and starting to test the PR(s). I will do the docker testing followed by testing the core packages later.

For now, the first issue I face is when I run

I get
[code]

[2022-10-05 16:28] #5754 closed, assigned to nobody

[2022-10-05 19:02] bishopbm1 opened #5759 "MongoDB Certificate Authentication"
## SUMMARY

MongoDB Certificate authentication seems to be broken. The core issue seems to be that with MongoDB 4.0 and greater you have to explicitly pass the following params:
[code]

We have the ability to pass `authentication_mechanism` from the config but the auth source is missing.

Looking into the code a bit i think other values need updated due to deprecations.
https://github.com/mongodb/

[2022-10-06 13:46] amanda11 commented on #5750
The example in the doc that shows the jinja templating on data, is for a notify rule for an action rather than an orquesta workflow. So the example uses data that is available after an action fails, rather than an orquesta failure - so for instance is the type of notification rule you'd have for a core.local failure for example - where the action has a cmd parameter.
Your orquesta workflow doesn't

[2022-10-07 15:37] leonardo-zorzi commented on #5750
Thanks for your answer @jamesdreid @amanda11 !

I did run some new tests and it works now!

Orquesta meta file
[code]

rule payload
[code]

'asdf' was indeed the parameter of the orquesta workflow!

[2022-10-10 18:41] #5750 closed

[2022-10-12 12:43] ManuGeodis opened #5766 "Stackstorm Authentication using proxy mode in HA"
I have configured an ha infrastructure in stackstorm as mentioned in the docs. To set proxy auth it is said that CGI variable needs to be set. REMOTE_ADDR and REMOTE_USER. Can you suggest how to set these variables to set proxy auth?

[2022-10-12 18:29] rickogg opened #5767 "Where are "Rules" saved?"
## SUMMARY

When editing a new "Rule" within the StackStorm GUI we define the "Name" of the Rule and the "Pack" that the rule is defined under along with associated "Triggers"; however, when checking the /pack/<pack name>/rules/ directory we would expect to see an associated yaml file defined but the rules directory is entirely empty??

### STACKSTORM VERSION

st2 3.7.0, on Python 3.8.13

##### OS

[2022-10-12 21:12] arms11 commented on #5767
I do not believe this is a correct expectation with respect to Infrastructure as Code that Stackstorm promotes. The rule you see survive is stored in the MongoDB (persistence). The yaml file change/creation on the disk is never expected. That as far as I know must come from the rule definition yaml and registration of the pack.

[2022-10-13 10:49] amanda11 commented on #5767
@arms11 is correct. When creating rules in the UI then they are stored into MongoDB directly and do not create yaml files on disk. The only case where the UI would create the yaml files is in the workflow composer which creates the associated workflow yaml files.

[2022-10-13 12:02] rickogg commented on #5767
Thanks, I suspected as much but thank you for confirming.

[2022-10-13 12:02] #5767 closed

[2022-10-13 13:37] AmbiguousYeoman opened #5772 "Add query type to linux.dig action"
## SUMMARY

I would like the ability to query TXT records and noticed there is no way to specify a query type to the dig action.

### STACKSTORM VERSION

`st2 3.6.0, on Python 3.6.8`

## Steps to reproduce the problem

I attempted a few ways to add "TXT" to the query by adding to queryopts or try appending to the string hostname. Upon looking at the code I realized nothing like that would work.

#

[2022-10-13 22:21] armab commented on #5772
Good stuff, thanks for sharing!
How about opening a PR with that addition?

[2022-10-14 01:55] AmbiguousYeoman commented on #5772
Sure, I created https://github.com/StackStorm/st2/pull/5775

[2022-10-16 08:58] chain312 opened #5779 "core.st2.CronTimer : A scheduled task cannot be executed at a given time"
## Problem description
![image](https://user-images.githubusercontent.com/30886624/196026877-30f0c718-559b-411f-a175-1a4750e98aee.png)
When I used core.st2.CronTimer to create a scheduled task, I found that I could not specify the start time and end time

## Solution

As can be seen from the source code, the scheduled task is implemented by aspscheduler and the parameters of the scheduled task are

[2022-10-18 18:20] pimguilherme commented on #5625
Hi guys! Checking to see if there was any luck here and anything I can do to help

Cheers!

[2022-10-20 09:42] garadar opened #5781 "Paramiko error: encountered RSA key, expected OPENSSH key"
## SUMMARY

I succeed to run core.remote (ssh conf is okay) but action linux.wait_for_ssh provided by st2 installation  return error:

`
Paramiko error: encountered RSA key, expected OPENSSH key
`
### STACKSTORM VERSION

[code]

##### OS, environment, install method

[code]

- installation :  one-line install

## Steps to reproduce the problem

### Requirement:

- Pack core   (provided by st2 inst

[2022-10-20 11:08] armab commented on #5781
Thanks for reporting this, sounds like a bug!

The code for `linux.wait_for_ssh` action is here: https://github.com/StackStorm/st2/blob/master/contrib/linux/actions/wait_for_ssh.py
and contributions to fix the issue are welcome!

[2022-10-26 03:13] ShimingLee opened #5787 "Concurrency issues with workflow or action"
Scene:
     Receive and consume messages in bulk using kafka

issue:

![图片](https://user-images.githubusercontent.com/22612182/197924935-5fd6fd72-7b5c-4928-878a-cdbe0e52f8cf.png)
![图片](https://user-images.githubusercontent.com/22612182/197925993-6629ce8c-2883-40b2-85c4-90e12c408824.png)

The workflow is simple, printing messages from kafka, but the action creation process is very slow. If you have

[2022-10-26 03:22] ShimingLee opened #5788 "ISSUE: Try to compile source code in windows"
Looking in indexes: https://pypi.tuna.tsinghua.edu.cn/simple
Collecting st2-auth-ldap
  Cloning https://gitee.com/mirrors_StackStorm/st2-auth-ldap.git (to revision v3.7) to c:\users\lism12\appdata\local\temp\pip-install-7afp9ewd\st2-auth-ldap_2a958b35cc6643e9acf4e601f09f88f2
  Resolved https://gitee.com/mirrors_StackStorm/st2-auth-ldap.git to commit a4dc11b040e4a833a5499d579fb83e99c695ac09
  Prepa

[2022-10-26 08:24] nzlosh commented on #5788
StackStorm is developed and tested against the x86_64 architecture on the Linux platform, specifically Ubuntu and CentOS.  The error you're getting is related to your complier environment, for which we can't provide support.

My personal opinion would be to not attempt to get StackStorm running natively on Windows as there is no guarantee that StackStorm will function correctly even if you get pas

[2022-10-28 11:17] zsmanjot opened #5790 "Provision to disable the workflows from UI/CLI so that ST2 can stop taking actions when we want it to."
There are certain occasions where in we do not want ST2 to take actions on production servers.  Tried to find out some options and could see that we can disable the rules individually , but that is something manuall enough that going to every single rule and disabling it. Can we have the provision of disabling a single workflow or all workflows at one go according to our requirement from shell/UI?

[2022-10-28 12:42] nzlosh commented on #5790
You can override pack settings as per the documentation https://docs.stackstorm.com/packs.html#overriding-pack-defaults

[2022-10-28 13:55] zsmanjot commented on #5790
Thanks @nzlosh i will take a look into it. But i believe there should be an option on UI as well where a button should be there where in we can go to that particular workflow and and can disable it . Infact additionally there can be an option to select the time period as well till when we want to disable it.

Our main requirement is to stop ST2 from taking actions on some occassions when we have s

[2022-10-28 14:36] cognifloyd commented on #5790
To restrict an action from running, you could use policies. Today, you'll need one policy per action.

So, you could write a workflow/action that runs on a cron schedule at one time to remove all the policies and at another time to add the policies again.

I have an action that does something similar. To distinguish between the dynamically created policies and policies created via files distribute

[2022-10-31 05:16] ManuGeodis opened #5792 "Stackstorm SSO uisng keycloak"
From the docs its clear that stackstorm supports LDAP and PAM. Is it possible to use keycloak for authentication?

[2022-10-31 12:15] zsmanjot commented on #5790
Thanks @cognifloyd

I will give a try to both the mentioned options, but i still feel the need to have this option available in GUI wherein we can set the time frame for which we want to disable the workflow on demand basis.

[2022-10-31 17:34] zsmanjot commented on #5790
Have just thought upon these idea but these are not going to help as i am having a lot of different workflows in place. I would really want this feature where in we can go ahead and disable the workflow entirely for sometime that we want.

[2022-11-01 14:17] garadar opened #5797 "sensor cleanup function"
## context
[code]

## Issue
_Sensor_
I'm using a flask server to listen my events and when I turn off st2 or disable the sensor, the function cleanup is never called.

The cleanup function is called when there is an issue with stackstorm main entity.

Do you have an idea ?

[2022-11-02 14:40] cydergoth commented on #5625
Our org is migrating to Okta for SSO, and this is a critical feature for our continued use of Stackstorm. Is there an ETA for this feature becoming available?

[2022-11-03 13:51] pimguilherme commented on #5625
Hi @cydergoth ! happy to see interested parties here :)

we have been using this branched implementation of SSO in our company and it's been working well.. we still need the stackstorm maintainers to help us merge this into the main code to get it all worked out.. @rush-skills is helping us on that but I think he has a bit on his plate now

I would requested you to try it out following the steps a

[2022-11-03 20:12] usulkies commented on #5533
Any solution for this?

[2022-11-03 22:06] thozook commented on #5625
@pimguilherme I'm definitely interested in testing out this SSO/SAML implementation. It should be a lot smoother than the solution I hacked together with OAuth2-Proxy.

I should have some time next week to set this up in our development environment and do some thorough testing. Thank you and your team for getting this together.

[2022-11-04 06:56] ShimingLee commented on #5788
@nzlosh @armab But I still think there will be a lot of people using windows for learning and development work, so I recommend supporting compilation on windows

[2022-11-04 13:50] nzlosh commented on #5788
StackStorm is open source and supported by volunteers with limited time and resource.  Unless there is an overwhelming demand to run StackStorm natively on Windows, I doubt anyone will be willing to invest in it.

The main demand is to run StackStorm in Kubernetes at cloud providers like Azure/Google/Amazon.  They all run Linux containers.  Windows has WSL and supports both virtual machines and co

[2022-11-04 17:16] pimguilherme commented on #5625
that's great to hear @thozook ! initially we also hacked something together just to get it working and now we were able to dedicate some time to get it into the community :)

your help testing will be of great value, cheers! if you have any questions please let me know \o

[2022-11-04 17:21] cydergoth commented on #5625
Hi all, nice to see this has.kicked off some interest as we like ST2 :-)

I am busy dealing with a certain OpenSSL issue but I will try to carve out some time next week to test this. Not sure what ingress controller we will be using, possibly Istio

[2022-11-05 20:07] armab commented on #5792
You can create your own auth plugin as the system allows that.
Here is the list of known auth plugins for stackstorm: https://github.com/search?q=org%3AStackStorm+auth

[2022-11-06 19:16] armab commented on #5625
:100:  More testing and feedback would be highly appreciated.

At this moment the release team is preparing the `v3.8` https://github.com/orgs/StackStorm/projects/29
and we definitely want to plan this big feature for the next `v3.9`.

[2022-11-07 13:09] miconx opened #5800 "3.8 release"
is there any release date for 3.8?

[2022-11-07 13:51] #5800 closed

[2022-11-08 15:46] thozook commented on #5625
I was able to test this out yesterday. After getting everything setup(had to adjust the web port to 8080 due to things already setup on my machine), I was able to run the SSO authenticating against Keycloak without issues.

I then tried to setup SSO with Azure AD(Adjusted metadata_url but kept entity_id the same), but I get an error page with the message:
`{"faultstring":"Internal Server Error"}`

[2022-11-09 13:55] pimguilherme commented on #5625
thanks for the very valuable test @thozook !!

could you try with
[code]

as these are supposedly json?

if not, could you give it a second try settingt he AzureAD setting to sign responses?
![image](https://user-images.githubusercontent.com/1406885/200848111-b669291a-9556-4b9e-9e54-9777c734341a.png)

ideally just setting the pysaml2 settings should resolve this situation.. the implementation of e

[2022-11-10 12:46] garadar opened #5802 "keyvalue deleted by ttl but not triggered"
## SUMMARY

When a keyvalue is deleted by the ttl, no `core.st2.key_value_pair.delete`  is generated
### STACKSTORM VERSION

st2 version: `st2 3.7.0, on Python 3.6.8
`
### OS, environment, install method

Post what OS you are running this on, along with any other relevant information/
OS:` CentOS Linux 3.10.0-1160.76.1.el7.x86_64`
Installation: one-line install

## Steps to reproduce the problem

[2022-11-10 16:53] pimguilherme commented on #5625
Thanks @thozook ! that's something I have nevery come across.. I will try to replicate it using AD as well

Would you be able to try the second approach, where you would sign the responses on AD?

Cheers!

[2022-11-10 17:02] pimguilherme commented on #5625
Perhaps you could also give this configuration a try?
[code]
or
[code]
I'm wondering if your assertions are signed.. It's strange that it's trying to validate signature because you have defined you want neither signatures

[2022-11-10 17:03] armab commented on #5802
This is a really nicely composed bug report, thanks a lot @garadar :+1:

[2022-11-10 17:03] armab commented on #5802
If someone is willing to contribute a fix, - this looks like a good first issue

[2022-11-10 18:10] garadar commented on #5802
I search in /opt/stackstorm/st2 tree, I find where the trigger are created but did not find how the instance called/generated. Do you have an idea? I will try to fix it :)

[2022-11-10 20:46] thozook commented on #5625
@pimguilherme Thank you for those screenshots, they helped me find out what was incorrect in my settings.

I had left the Attributes and Claims section to the default settings on Azure. After adjusting it to match what you have setup, the SSO flow worked perfectly for me.

I was even able to remove the settings for "want_response_signed" and "want_assertions_signed" after setting the SAML signing

[2022-11-10 20:48] pimguilherme commented on #5625
that's great to hear! :) if you have any other issues please report them \o

[2022-11-11 10:20] yypptest opened #5803 "Able to export/import objects for easy migration"
To easy to deploy across regions or backup/restore, suggest to add feature to be able to export and import the rules/actions/triggers etc for easy migration.

We know that StackStorm uses packs as deployment unit and objects are loaded to MongoDB, but it's good to provide export/import capability to migrate objects instead of depending on MongoDB migration.

Thanks.

[2022-11-11 12:25] pimguilherme commented on #5625
I think it's worth adding as we find out some of these examples, but in the end we provide a bit of a "generic" interface to saml configuration and the tweaking / adjusting of particular setups is more in the hands of the admin (hoping these generic configs are enough to provide any tweaking needed)

Some things are definitely worth documenting like the need of the claim being Username.. I will up

[2022-11-11 18:39] armab commented on #5803
MongoDB dump makes sense if you want to preserve the execution history.

For everything else we'd recommend following the Infrastructure as Code principles and storing your configuration in git:
StackStorm configs, pack configs, RBAC rules, and with each pack residing in a dedicated repository, you can re-deploy your StackStorm from scratch anytime and keep the same deployment configuration.

[2022-11-14 14:35] fdrab opened #5804 "st2-api-key not obfuscated when using core.http?"
## SUMMARY

I have 2 ST2 instances (independent of each other and in different networks) and want them to communicate with each other via API using API keys. However, when providing st2-api-key to headers of action core.http, the API key is visible in plain-text in both st2web and in CLI. This is not desirable, as I want the users to be able to use the keys, but not unintentionally share them duri

[2022-11-15 05:09] chain312 opened #5805 "Mongodb slow query"
## SUMMARY

Mongodb slow query

### STACKSTORM VERSION

st2 3.7.8, on python 3.8.10

##### OS, environment, install method

docker deployment

## Steps to reproduce the problem

When I input 20,000 pieces of data at a time in a short time, the problem of slow query by mongodb occurs. It takes more than ten seconds to read a piece of data. The cpu of the host where the mongodb container is located

[2022-11-15 09:46] c0mraAde opened #5806 "why my st2 workflows always assign null value on action output even my action can give the output?"
## SUMMARY
Hello, I already create the sample workflow to make sure that I can get the output from action output. But when the workflow run successfully. It doesnt show any output. Anyone know how to set the value of the output?

### STACKSTORM VERSION
st2 3.7.0, on Python 3.8.10

##### OS, environment, install method
linux

## Steps to reproduce the problem
Show how to reproduce the problem, usin

[2022-11-15 13:10] armab commented on #5804
Looking at some logging tests here:
https://github.com/StackStorm/st2/blob/007beed8325b397d540d97905af8f2edb14b925f/st2common/tests/unit/test_logging_middleware.py#L51
https://github.com/StackStorm/st2/blob/007beed8325b397d540d97905af8f2edb14b925f/st2common/tests/unit/test_logging_middleware.py#L60-L70

the api key is expected to be hidden, at least in the logs.

Yes, that sounds like a bug if the

[2022-11-16 03:52] yypptest opened #5809 "The secrets are shown in plain text in Rules/Enforcements tab on WebUI"
## SUMMARY

The action parameter with `secret: true` is shown in plain text on Rules/Enforcements section on WebUI

### STACKSTORM VERSION
3.7.0

##### OS, environment, install method

Post what OS you are running this on, along with any other relevant information/
RedHat 8.6

## Steps to reproduce the problem

[code]

[code]
## Expected Results

The parameter `mongodb_password` should be masked o

[2022-11-16 12:23] armab commented on #5802
I see now, the TTL expiration in K/V is handled by the MongoDB itself.

That explains why K/V delete by TTL doesn't trigger an event.

https://www.mongodb.com/docs/manual/tutorial/expire-data/#expire-documents-at-a-specific-clock-time

The MongoDB index is created with the expiration type:
https://github.com/StackStorm/st2/blob/007beed8325b397d540d97905af8f2edb14b925f/st2common/st2common/models/db

[2022-11-16 13:16] fdrab commented on #5804
This is semi-correctly (I think) masked in the logs:
`2022-11-16 08:11:20,487 139745041997888 INFO base [-] Dispatching Action to a runner (liveaction_db={'action': 'core.http', 'action_is_workflow': False, 'callback': {}, 'context': {'pack': 'core', 'user': 'fdrab', 'parent': {'execution_id': '63748d17adef072e5e7dac26', 'user': 'fdrab', 'pack': 'default'}, 'orquesta': {'workflow_execution_id': '6

[2022-11-16 23:07] armab commented on #5804
https://docs.stackstorm.com/reference/secrets_masking.html
Based on that, sounds like the secrets masking for that specific `st2_auth_token` works semi-correctly in the logs, but fails in the API responses.

[2022-11-18 02:06] simonli866 opened #5812 "how to judge the workflow is over"
I read the source code and saw a lot of status updates. But how does the system know if workflow or action is complete, and where is the code for this part?

[2022-11-18 05:52] nirutgupta commented on #5781
@garadar where are you keeping the ssh files ?

[2022-11-18 12:48] #5812 closed, assigned to nobody

[2022-11-18 15:48] garadar commented on #5781
@nirutgupta for the user stanley in  $PWD/.ssh

[2022-11-22 07:42] chain312 commented on #5805
I changed mongodb to fix this problem

[2022-11-22 07:47] nzlosh commented on #5805
Would you mind sharing what you changed to resolve this issue so that other people who encounter the same problem have an hint on how to resolve it?

[2022-11-22 07:56] #5805 closed

[2022-11-22 08:04] #5779 closed

[2022-11-22 08:05] chain312 commented on #5805
I have optimized the mongo sql index by creating an index in the [sort] field

[2022-11-22 12:54] armab commented on #5805
@chain312 Good to hear! Is it something you could contribute to StackStorm as a PR?

It would save you from doing the same operation for every new st2 installation and also make the community benefit from the enhancement.

[2022-11-23 12:16] jk464 opened #5814 "Have st2 pack install checkout git submodules when cloning a pack repo"
When a Pack is installed on Stackstorm using `pack install` - stackstorm performs a clone on the Repo ([Code](https://github.com/StackStorm/st2/blob/dfab25aab0468f330a635db55f01286523217135/st2common/st2common/util/pack_management.py#L205)) - however this results in any submodules present in the repo not being checked out and only being an empty directory.

It would be useful if the `clone_repo` f

[2022-11-23 12:44] armab commented on #5814
Thanks for the feature request. It would be a helpful addition.

This sounds like a `good first issue` if someone is willing to contribute the enhancement.

[2022-11-23 13:17] chain312 commented on #5805
Hello, mongodb tuning is not written code. Can I write it in https://github.com/StackStorm/st2docs project?

[2022-11-23 13:51] rdevries-capland opened #5815 "Stackstorm commands via HuBot - Operation not Permitted"
Hi Guys,

I'm trying to start with the basics on StackStorm, and got stuck with the basic Ping command.
I have Hubot integrated into Slack, and communications here work as intended.

When I post "ping google.com", or "ping localhost", or anything for that matter, i get a response as follows:

Here's the results of your ping:
status: failed
output:
-------------------------------
ping: socket: Oper

[2022-11-23 20:35] #5815 closed, assigned to nobody

[2022-11-23 20:57] armab commented on #5805
The index creation in MongoDB is part of StackStorm initialization.
See examples of the past PRs adding DB schema/index changes:
- https://github.com/StackStorm/st2/pull/5568
- https://github.com/StackStorm/st2/pull/4690

What was the index you've added?

[2022-11-24 10:46] chain312 commented on #5805
Thank you. I will submit the merge request later

[2022-11-24 12:51] chain312 commented on #5805
I have submitted the code for your review
[Add a federated index to resolve mongo slow queries](https://github.com/StackStorm/st2/pull/5818)

[2022-11-28 18:31] jamesdreid commented on #5814
I know it is does not address the feature enhancement directly, but this function can be addressed with a workflow and rule that is triggered whenever the pack is loaded.  The workflow task would look something like:
![image](https://user-images.githubusercontent.com/6311944/204353457-a60c7c71-f258-4144-93a4-c98035e2dc61.png)

Then add a rule to the pack that will run this workflow any time the pa

[2022-11-29 16:43] khine-shwezin opened #5825 "PersistentVolumeClaim : Unable to attach or mount volumes: unmounted volumes"
## SUMMARY

"Unable to attach or mount volumes" error when adding persistentVolumeClaim config.

### STACKSTORM VERSION

ST2 3.8

##### OS, environment, install method

OS: MacOS Monterey , v12.6
minikube version: v1.28.0

Docker Mac Desktop > Minikube > ST2 v 3.8

## Steps to reproduce the problem

updated in Chart.yaml for PVC.

[code]

## Expected Results

ST2 should be launched and PVC is succ

[2022-11-30 04:35] FileMagic opened #5826 "Add pty Support for core.remote action."
I want to be able to request a pty for the core.remote action. I can not currently get a pty through the core.remote though ssh config changes due to paramiko not honoring [OpenSSH config files](https://docs.paramiko.org/en/stable/api/config.html).

I also tried using the `ssh_runner`'s `use_ssh_config ` and `ssh_config_file_path` with `RequestTTY force`. This lead me to realize that the OpenSSH c

[2022-11-30 06:47] ManuGeodis opened #5827 "Stackstorm BigFix Integration"
I have installed stackstorm in my environment. I'm able to execute  actions on my linux dev machines with username and paasword.
In production environment, due to security reasons username password is not allowed. We use a tool called Bigfix as configuration management tool for Linux. Is it possible to execute actions from stackstorm to big fix through api?

@armab Can you please suggest on this?

[2022-11-30 22:03] mickmcgrath13 commented on #4916
Helm handles this with `aliases` ([link](https://helm.sh/docs/topics/charts/#alias-field-in-dependencies)).

I wonder what it'd take to implement "aliases" for st2 packs 🤔

[2022-11-30 22:13] mickmcgrath13 commented on #4916
You maybe could create a custom pack install procedure to do it for you:
1. duplicate the st2 [pack install workflow](https://github.com/StackStorm/st2/blob/master/contrib/packs/actions/workflows/install.yaml)
2. add an "alias" input
3. in the workflow, if the alias is provided, download the pack to a directory that included the alias, and modify the pack.yaml to include the alias
4. install modif

[2022-11-30 23:50] guzzijones commented on #3298
why does actionrunner needs root permissions? I dived into the links here and all I see is because another user without a password and all the permissions is just as bad. I would argue that a non root user wouldnt have full is access. Please point me to the specific requirement thanks

[2022-11-30 23:56] guzzijones commented on #3298
It looks like the sudo action runner is the holdup. I would argue that we should document a systemd conf fix and note sudo could then be disabled